.xmenu{
font: normal 12px Arial;
background-color: transparent;
font-family: Verdana, Arial, sans-serif;
}
.xmenu ul{
	list-style: none;
	margin:0;
	padding: 0;
	display:inline;
	z-index: 100;
}
.xmenu ul li{
	font-family: inherit;
	position: relative;
	display: inline-block;
	background-color: transparent;
	color:#037095;
	padding: 6px 9px;
	/*height: 24px;*/
}
.xmenu ul li a{
	font-family: inherit;
	color: inherit;
}
.xmenu ul li ul li{
	font-family: inherit;
	display: inline-block;
	width:230px;
	background-color:#037095;
}
.xmenu ul li ul li a{
	font-family: inherit;
	color: #fff;
}
.xmenu li ul{
	display: none;
	position: absolute;
	top: 25px;
	left: 0;
}	
.xmenu li ul li ul{
	display: none;
	position: absolute;
	top: 0px;
	left: 180px;
}
.xmenu li:hover ul { display: block; } 
.xmenu li:hover ul li ul{ display: none; }
.xmenu li ul li:hover ul { display: block; }
.xmenu ul li ul li:hover {background-color: #0c7da4;}

.xmenu form {display: inline;}