body{
/*background:url('../imagens/topo_bg.gif') repeat-x;*/
background:url('../imagens/bg_corpo.jpg') repeat-x #DCDCDC;
font:11px verdana;
  /*  background:#EFEFEF;*/
}
*{
        margin: 0;
        padding: 0;
}
#Topo{
/*height:200px;  */
padding:0px;
font:bold 44px arial;
margin-bottom:20px;
    color:#8F8F8F
}
#Topo h4{
    font:bold 42px arial;

    
}
#Global{
margin:0 auto;
width:1000px;
}
#Logo{
width:240px;
height:58px;
margin:0 auto;
padding:0;
margin-top:15px;
border:0px solid #c0c0c0;
background: url('../imagens/topo_logo.gif') no-repeat;
}
#Conteudo{
clear:both;
padding:20px;
padding-top:0px;
font:11px tahoma;
}
.ComScreen{
  top:90px;
  left:0px;
  position:fixed;
  width:1000px;
  background:#fff;

  padding-left:-20px;

}
table{
    font:10px verdana;
}

.tab{
width:100px;
padding:10px;
cursor:pointer;
text-align:center;
float:left;
}
.itab{
height:70px;

}




.atalho{
clear:both;
font-weight:bold;

}
#load{
display:none;
position: fixed;
bottom:10px;
background:#fff;
left:10px;
z-index:9999999999;

padding:3px;
border:1px solid #B2B2B2;
width:120px;
/*background:#FFFF99;
padding:3px;
border:1px solid #FFCC33;  */
text-align:center;
}

#title2{
width:auto;
/*background:url('../imagens/bar1.png');*/
text-align:left;
font:18px Tahoma;
color:#000;
margin:0;
margin-bottom: 5px;
border-bottom:1px solid #c0c0c0;
padding:4px;
margin-bottom:10px;

}
#erro{
background: #FF3333;
border:1px solid #FF0000;
padding:4px;
width:auto;
}

#TPedido{
margin:10px;
border:1px solid #c0c0c0;
width:100%;
}
#TPedido td{
padding:4px;
}
.query-error{
background: url('../imagens/del.png') no-repeat #FF3333;

border:1px solid #FF0000;
padding:4px;
width:auto;
padding-left:60px;
}
.query-msg{
background:#fff;
margin:4px;
padding:4px;
}



.TVVSGrid{
/*border-collapse: collapse;*/
border-spacing: 0px;

 width:950px;
 background:url('../imagens/topo_bg.gif') repeat-x #fff;
 /*  background:#E9E9E9;  */
 height:auto;
 -moz-border-radius:4px 4px 0px 0px;
 margin:0px;
 padding:2px;
  border:1px solid #c0c0c0;
}
.TVVSGrid thead{
  border:1px solid #c0c0c0;
/*  background:url('imagens/bar1.png') repeat-x ;    */
}
.TVVSGrid th{
  padding:6px;
  border-bottom:1px solid #c0c0c0;
  text-align:left;
  font:bold 10px arial;
}
.TVVSGrid tbody{
  height:350px;
  overflow-x: auto; 
  background:#fff;
}
.TClientebody{
   padding:0px;
  margin:0px;
  color:#333333;
  overflow: scroll;
  height:300px;
}
.TVVSGrid tbody td{
  padding:2px;
  margin:0px;
  height:20px;
  border-bottom:1px solid #EFEFEF;
  width:auto;

}
.TVVSGrid tbody{

}

.TVVSGrid tbody tr{
background: #FFF;/*  #DDECFE;*/
cursor:auto;
height:20px;
-moz-border-radius:4px 4px 4px 4px;
width:auto;

clear:both;

}
.TVVSGrid tfoot{
  background:#f6f6f6;
  height:20px;
  border-top:1px solid #c0c0c0;
}
.TVVSGrid .page{
  width:30px;
}
.TVVSGrid td.grid_action{
    width:40px;
    border:1px solid #F7F7F7;
 /*   float:right;     */
    -moz-border-radius:4px 4px 4px 4px;
    text-align:center;
    background: #fff; float:left;
}
.TVVSGrid th.grid_title_action{
   

   /* float:right;*/
}
.TVVSGrid .VVSGridLoad{

width:770px;
height:100%;
background: #000;
opacity: 0.4;
}

#TVVSGrid-Pesq{
  background:none;
  width:auto;
  height:auto;
  padding:0px;
}

.TVVSGrid .delitem{
  background:url(../imagens/delete.png)no-repeat center ;
  width:20px;
  height:20px;
  /*padding-left:15px; */
  border-left:0px solid #c0c0c0
}
.TVVSGrid tr td .grid_edit, .TVVSGrid tr td .grid_remove{
    cursor:pointer
}

.TVVSGrid input[type="submit"],.TVVSGrid input[type="button"],.TVVSGrid button  {
-moz-border-radius:4px 4px 4px 4px;
font:10px verdana;
}
.TVVSGrid input[type="submit"]:hover,.TVVSGrid input[type="button"]:hover,.TVVSGrid button:hover  {
-moz-border-radius:4px 4px 4px 4px;
font:10px verdana;
border:1px solid #6F6F6F;

}

input[type="text"], input[type="password"],button,textarea,select {
-moz-border-radius:4px 4px 4px 4px;
font:10px verdana;
border:1px solid  #DBDBDB;
}
input[type="text"]:hover, input[type="password"]:hover,button:hover,textarea:hover,select:hover {
border:1px solid #4D4D4D;
}

.TVVSGrid tbody tr:hover{
    -moz-border-radius:4px 4px 4px 4px;
    background:  #D7EBFF /* #9FCFFF */
}







.detail-exibicao{
 /* background:url('imagens/topo_bg.gif') repeat-x;*/
  background:#E9E9E9;
  font:12px Tahoma;
  padding:20px;
  border:1px solid #c0c0c0
}
.detail-title{
  background: #c0c0c0;
  padding:10px;
  font:bolder 48px arial;
  letter-spacing:-0.1em;
  color:#00A2FF;
  /*letter-spacing: -2px;*/
  text-align:left
}
input.link{
 padding:3px;
 font: 12px tahoma;
 margin:3px
}



/* CADASTRO                 */
.CadBarra{
    background:#c0c0c0;

    /*#d5d5d5;*/
    padding:10px
}
.CadBarra img{
  border:1px solid #A0A0A0;
   background: url(../imagens/bar1.png)repeat-x;
}
.CadBarra img:hover{
   background: #DDDDDD;
   border:1px solid #6F6F6F;
}

.Cad{
  border:1px solid #c0c0c0;
 background: url(../imagens/bar1.png)repeat-x #fff;

  padding:10px;

}
.Cad input,.Cad checkbox,.Cad select{
  border:1px solid #A0A0A0;
  font:13px tahoma;
  padding:3px;
  text-transform: uppercase;
  
}

.Cad table{
  margin-top:10px;
}
.errocampo{
  border:1px solid red;
  background:#FF7F7F;
}
#errosCad{
  display:none;
  padding:10px;
  background:#FF7F7F;
  border:1px solid #FF0909;
}
#result{
  padding:10px;
  margin:0px;
  font:12px tahoma;
  background: #00C13F;
  border: 1px solid #2D862D ;
}
.PesqBox{
  position:fixed;
  /*top:20%;*/
  top:200px;
  left:30%;
  border:1px solid #646464;
  background: url(../imagens/bar1.png)repeat-x #fff;
  width:500px;
  height:300px;

}



.boxTitle{
  font:bold 14px tahoma;
  margin:0px;
  padding:5px;
  color:#00A2FF;
  background: url(../imagens/bar1.png);
  border-bottom:1px solid #c0c0c0;
  cursor:move;
  padding:5px;
}
.PesqBox table{
  width:300px;
  background:#fff;
}
.PesqBox table tbody{
  overflow: scroll;
  height:200px;
}
.PesqBox table thead{
  background: #c0c0c0;
}
.PesqBox table{
  width:100%;
  border:1px solid #c0c0c0
}
.PesqBox table tbody tr{
  cursor: pointer;
  height:20px;
}
.PesqBox td table tbody td{
 padding:2px;
}
.boxScroll{
  width:100%;
  height:350px;
  overflow: scroll;
}



#Pesquisa_search{
  background: #c0c0c0;
  padding:5px;
}
.advMultiLabel{
  font:12px tahoma;
  float:right;
  margin-left:10px;
}
#advItens{
border:1px solid #c0c0c0
}

/* AdvEdt   - Advence Edit */
  .advEdt{
   clear:both;
   float:left;
   border:1px solid #c0c0c0;
   background:#EFF7FF;
   width:80px;
  }
  .advBtnEdt{
  margin-left:4px;
  cursor:pointer;
   float:left;
  }
  .advBtnEdt img{
    width:25px;

  }
  .AdvDescr{
  float:left;
  margin-left:4px;
  padding:2px;
  height:20px;
  width:150px;
  font:bold 10px tahoma;
  color:#1450E7;
  color:#000;
  line-height:1;
  width:200px;
  /*border:1px solid #99CCFF;*/
  overflow:hidden;
  background: #99CCFF;
  border:1px solid #c0c0c0;
  }
  .advEdtGlobal{

    float:left;
    padding:2px;
    margin:2px;
    width:auto;
  }
  .boxClose{
    float:right;
    width:20px;
    height:10px;
    cursor:pointer
  }
  .selectEdtGlobal{
    float:left;
    padding:2px;
    margin:2px;

    width:auto;
  }


/*  Label EDIT */
.LabelEdtGlobal{
  float:left;
  width:auto;
  padding:2px;
  margin:2px;
}
.sysButtom{
  float:left;padding:2px;margin:4px;
  margin-top:14px;
}
.insertGrid{
  clear: both;
  border:1px solid #c0c0c0;
  background: url(../imagens/bar1.png)repeat-x #fff;
}
.insertGrid tbody td{
   text-align:left
}
.insertGrid th{
  text-align:left;
  padding:10px;
  border-bottom:1px solid #c0c0c0
}
.insertGrid tfoot{

    background: url(../imagens/bar1.png)repeat-x #fff;
}
.insertGrid tfoot td{
   border-top:1px solid #c0c0c0;

}
.insertGrid tbody .delItem{
  background: url('../imagens/delete.png') no-repeat center;
  width:25px;cursor:pointer
}
#adc{
  background:url('../imagens/Next.png');
  width:26px;
  height:26px;
}

table thead tr .headerSortUp {
	background-image: url(../imagens/asc.gif)no-repeat right;
}
table thead tr .headerSortDown {
	background-image:url(../imagens/desc.gif)no-repeat right ;
}
table thead tr .header {
	background-image: url(../imagens/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.deletando{
  border:1px dotted red;
}
#close_mail{
    float:right;
    cursor:pointer;
    font:BOLD 14px arial;
    border:1px solid #c0c0c0;
    padding:5px;
}
#texto_mail{
    display: none;
    position:absolute;
    top:150px;
    left:40px;
    right:40px;
    bottom:10px;
    padding:20px;
    background:#fff;/*#EFEFEF;*/
    border:1px solid #c0c0c0;
    color:#4389C0
}

input[type=text],input[type=password],textarea, select{
    font:13px verdana;
    border:1px solid #9D9D9D;
    padding:4px;
    margin:2px;
    background: #f4f4f4
}
.msgErro{
    font: 11px arial;
    color:#FF3535;
    padding:3px;
    margin:5px;
}
.msgSuccess{
    font: 11px arial;
    color:green;
    padding:3px;
    margin:3px;    
}
#texto_mail_retorno{
    font: 11PX ARIAL;
    width: 1000px;
    border:1px solid #B3BBBF;
    padding:10px;
    background:#EFF9FF;
    margin-top:30px;
    margin-bottom:30px;
}
input[type="submit"],input[type="button"],button  {
-moz-border-radius:4px 4px 4px 4px;
background:url("../imagens/topfundo.png") repeat-x scroll 0 0 transparent;
border:1px solid #6F6F6F;
padding:5px;font-weight:bold;cursor:pointer;

}
input[type="submit"]:hover,input[type="button"]:hover,button:hover  {
-moz-border-radius:4px 4px 4px 4px;
background:url("../imagens/topfundo.png") repeat-x 1px;
border:1px solid #6F6F6F;
font-weight:bold;
padding:5px;
}


.bar1{
    width:790px;
    float:left;
    -moz-border-radius:4px 4px 4px 4px;
background:url("../imagens/topfundo.png") repeat-x scroll 0 0 transparent;
border:1px solid #C0C0C0;
padding:5px;
}/*
#menu{
    width:132px;
    height:200px;
    float:left;
    padding:10px;
    margin:10px;
    margin-top: 0px;
    border:1px solid #c0c0c0;
    
}
#menu a{
    font:14px verdana;
    color:#000;
   
    text-decoration: none;
}
#menu ul{
    list-style: none;
}
#menu ul li{
     padding:3px;
     margin:3px
}
#menu ul li:hover{
    background:#99CCFF;
    
}*/
#corpo{
    width:990px;
    float:left;
    font: 11px verdana;
    
}
h4{
    font:bold 16px verdana;
}
#import_log{
    padding:4px;
    margin:10px;
   /* background: #EAF5D3*/
}
#import_log b{
    font:bold 14px verdana;
    margin-bottom:10px;
}
#navSuperior{
    clear:both;
    margin-top:0px;
    padding-bottom:30px;
    height:50px;
}
#box_sinc{
  padding:10px; 
  clear:both;
  
}
.sincbox{
    float:left;
    width: 200px;
    padding:10px;
}
#fielsetsinc{
    background:url("../imagens/topfundo.png") repeat-x scroll 0 0 transparent;
     background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x  #CCCCCC;
}
#fielsetsinc legend{
    font:bold 22px arial;
    color:#0069BF
}
#box_grid_entrada{
    clear:both;
    padding:10px;
}
.TVVSGridBox{
   /* position: fixed;
    top:50px;
    left:50px;
    right:50px;
    bottom:50px;*/
    /*
    top:220PX;
    left:10%;
    width:auto;
    margin:0 auto;
    padding:0;*/
    background:#fff;
    border:1px solid #c0c0c0;
        overflow-y: scroll;
    /* background:url('../imagens/topo_bg.gif') repeat-x #fff;
    background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x  #CCCCCC;*/

    
/*    bottom:20px;
left:16px;
overflow:hidden;

right:16px;
top:2px;*/
z-index:1;
position:absolute;

width:600px; 
height:auto;   

}
.TVVSGridBox:hover{
    border:1px solid #000;
}

.barGB{
   /* background: #c0c0c0;
    background:url("../imagens/topfundo.png") repeat-x scroll 0 0 transparent; */
    background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCCCCC;
    font:13px verdana;
    border: 1px solid #c0c0c0;
    display:none;
    padding:5px;
    cursor:move;
}
.titleGB{
    font:bold 14px verdana;
    COLOR:#FFF;color:#000
}
.closeGB{
    padding:2px;
    border:1px solid #c0c0c0;
    /*background:url("../imagens/topfundo.png") repeat-x scroll 0 0 transparent;*/
    font:bold 11px verdana;
    float:right;
    width: 80px;
    cursor:pointer;
    color:#000;
}
.contentGB{
    display: none;
    padding:10px;
    font:11px verdana;
    width:auto;
    min-width: 470px;
    min-height: 200px;
}
h4{font:22px trebuchet ms;padding-bottom:2px;border-bottom:1px dashed #000;}
.boxprod{
    width:250px;
    border:1px solid #c0c0c0;
    margin:5px;
    padding:5px;
    float:left;
    font:12px arial;
    height:80px;
    text-align:center;
}
#placar{
    display: none;
    padding:5px;
    font:14px verdana;
}
#qtd_sucesso, #qtd_erro, #qtd_marcado, #qtd_duplicado, #somatotal{
    font: 18px trebuchet ms;
}
#qtd_erro{color:red}
#qtd_sucesso{color:green}
#qtd_duplicado{color:blue}

.novisible{
    display:none;
}
fieldset{
    padding:10px;
}
#group_select{
    display:none;
    padding:20px;
    background:#fff;
    border:2px solid #c0c0c0
}
.boxAniversario{
    width:450px;
    padding:10px;
    background:#f6f6f6;
    margin-top:5px;
    -moz-border-radius:4px 4px 4px 4px;
}
.boxconteudoAniversario{
    padding:10px;
    
}
.data{width:100px;}
.maladireta-nome{
    width:700px;
    padding:3px;
    font:bold 19px arial;
}
#change_tipo{
    margin:0 auto;
    padding:0;
}
#change_tipo span{
    cursor:pointer;
    font:16px trebuchet ms; 
    padding:4px;
    background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCCCCC;
     -moz-border-radius:4px 4px 4px 4px;  
     margin:2px;
}
#change_tipo span a{
    text-decoration: none;
    color:#000;
}
    
#change_group{
    padding:5px;
    margin-left: 20px;
    display:none;
    width:240px;
    
}
#change_group a{
    text-decoration:none;
    font:bold 13px arial;
    color:#000
}

#change_maladireta{
    
}
#change_maladireta div{
-moz-border-radius:4px 4px 4px 4px;
background:url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCCCCC;
cursor:pointer;
font:bold 14px verdana;
margin:6px;
padding:6px;width: 450px;
}
#change_maladireta div a{
    text-decoration: none;
    color:#4389C0;
 
}

#change_maladireta div:hover{
background:url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCCCCC;
}

#TEntrada tbody tr{
   cursor:pointer 
}
#box_boxes{
    width:520px;
    float:left;
}
#grafico_grupo{
    float:left;
    width:400px;
}
#grafico_publico_alvo{
    display: none;
}
.enhanced_toggleResult{
    display: none;
}
.box_content{
-moz-border-radius:4px 4px 4px 4px;
background:none repeat scroll 0 0 #F6F6F6;
margin-top:5px;
padding:10px;

}

/*.ui-progressbar-value { background-image: url(jquery/images/pbar-ani.gif); }*/
