*{
/*	font-family: Verdana;*/
  margin:0px;
  padding:0px

}
body
{
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	margin:0;
	padding:0;
}
#cabheader {
	background: url(../img/bg-header.png) 0 -42px repeat-x;
	margin-bottom:10px;
	border-top: 5px solid #037095;
	color:#fff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: auto;
}
#cabheader .subheader {
    padding:0 5px;
    border: solid 1px transparent;
}
#logo {
	height:67px;
	text-align: center;
	float: left;
}
#logo img{
	padding: 16px 0 8px 0;
	width: 120px;
}
/*#header .nav  {	height: 25px; }*/

#cabheader .nav {
                position: absolute;
                bottom: 0;
    margin-left: 150px; margin-top: 39px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }


img{
  border:none
}


select{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid;
	background-color: rgb(247,247,247);
	font-size:8pt;
	color:#3969A5;
	padding-left:4px;
	padding-right:4px;
	padding-top:1px;
	padding-bottom:1px;
   width:250px;
}


input[type=text],input[type=password],textarea, select{
    font:13px verdana;
    border:1px solid #9D9D9D;
    padding:4px;
    margin:2px;
    background: #f4f4f4
}

input[type="text"],input[type="password"],textarea{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#F7F7F7;
	border:1px solid;
	color:#3969A5;
}



.textformtopo {
	font-family: "Segoe UI","MS Sans Serif", Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;

}
a {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	text-decoration: none;
	line-height: normal;
}

a.img {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	text-decoration: none;
	line-height: normal;
    border:none;
}

/*
input[type="submit"]
,input[type="button"]
,input[type=reset]
,button
,div.barraBotoesTitulo a
{
    background : url('../imagens/topfundo.png') repeat-x;
	padding:5px;
	cursor:pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font:13px arial;
	color:#4389C0;
	border: 1px solid #C0C0C0;
}

input[type="submit"]:hover
, input[type=reset]:hover
,input[type="button"]:hover
,button:hover
,div.barraBotoesTitulo a:hover
{
	background : url('../imagens/topfundo.png') repeat-x 10px;
}
*/

div.logo {
	width:100%;
	float:none;
	display:block;
	margin-top:0px;
	padding:0px;
    border-bottom: 0px solid  #c0c0c0 ;
    /* background: url("../imagens/topfundo.png") repeat-x 150px ;*/
    text-align:center;
	clear:both;
}
div.logo img{
    text-align:center
}

.boxform {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	border: 1px solid #b7c8e1;
	font-size: 10px;

}
.textobasico {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	line-height: normal;

}
.textoazulPeq {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
	line-height: normal;
}

table.textoazulPeq {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width:95%;
	margin:0px auto;
	font-size:11px;
/*	border:1px solid #00296B; */
	border-collapse: collapse;
}
table.textoazulPeq tr th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	height:25px;
	color: #FFF;
	background-color: #00296B;
	text-align: center;
	padding-left:5px;
	font-weight:bold;
}
table.textoazulPeq tr {
	background-color:#ffffff;
}
table.textoazulPeq tr.highlight {
	background-color:#dfe4ff;
}
table.textoazulPeq tr td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border:none;
	border-bottom:solid 1px #00296B;
	color:#000;
	font-weight:normal;
}
table.textoazulPeq tr td a
, table.textoazulPeq tr td a.textoazulPeq
, table.textoazulPeq tr td a.textoazulPeq:hover
, table.textoazulPeq tr td a.textoazulPeq:visited
, table.textoazulPeq tr td a.textoazulPeq:link
, table.textoazulPeq tr td a.textoazulPeq:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border:none;
	color:#1b70e3;
	font-weight:normal;
	text-decoration: underline;
}
table.textoazulPeq tr td a
, table.textoazulPeq tr td a.textoazulPeq{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border:none;
	color:#000;
	font-weight:normal;
}

a.linkVisivel{
	text-decoration:underline;
	color: #003366;
}

.textoPretoPeq {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	line-height: normal;

}
.textoazul {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	line-height: normal;

}
.textovermelho {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
	line-height: normal;

}
.textoPreto {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	line-height: normal;

}
.formtitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}
.formtexto {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
.formtextoitalico {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: italic;

}
.formtituloitalico {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	font-style: italic;

}
.formtexto2 {

	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
.formtextoitalico2 {

	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: italic;
}
textarea
{
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

/*
div.menu { width: 160px; float: left; height: 420px;}
div.menu ul, div.menu ul li ul { list-style: none; margin:0;padding:0;font-size:10pt; }
div.menu ul li { border-bottom: 1px solid #999; border-right: 1px solid #138bc3; }
div.menu ul li a {
	font: 80% "Verdana", Arial;
	color: #FFFFFF;
	display: block;
	background: #138bc3;
	border-left: 8px solid #002163;
	padding: 5px;
	height: auto;
	font-weight:bold;
}
div.menu ul li a.lkPrinc { background: #138bc3 url(../imagens/tree-node.gif) right center no-repeat;}
div.menu ul li a:hover { text-decoration: none; background: #008080;}
div.menu ul li a.lkPrinc:hover { background: #4866a2 url(../imagens/tree-node.gif) right center no-repeat; }
div.menu ul li ul li { border-right: 1px solid #f5f5f5;background-color:#dfe3e8;}
div.menu ul li ul li a {
	background-color: transparent;
	color:#002163;
	font-weight:normal;
}
div.menu ul li ul li.current {
	border-right:none;
	background-color:#ffffff;
}

div.menu ul li ul li a:hover {
	background: #4866a2;
	color: #FFFFFF;
}
.on { display: block; }
.off { display: none; }
*/
div.titulo {
	font-family: Verdana, Arial, sans-serif;
	font-size: 24px;
	/*background-color:#fff;*/
	/*border-bottom: solid 1px #E1E1E1;*/
	/*color:#676767;*/
	color:#037095;
	padding:8px;
	margin:0;
	margin-bottom:3px;
    letter-spacing: -0.5px;
	/*position:relative;*/
	min-height:28px;
}

div.nc {
	float:right;
	margin-left:10px;
}
div.subTitulo{
	padding:5px;
	font-weight:bold;
	font-size:12px;
	color:#f0f0f0;
	background-color:#999;
	border:none;
	border-left:solid 1px #999;
	border-right:solid 1px #999;
	border-top:solid 1px #999;
}
div.conteudoCercado{
	border:none;
	border-left:solid 1px #999;
	border-right:solid 1px #999;
	border-bottom:solid 1px #999;
	margin-bottom:5px;
	padding:5px;
}
div.conteudo{
	float:none;
        margin-top:75px;
}
div.conteudoInterno{
	margin:auto;
	padding:12px;
	padding-top:0px;
}
/*=========================================================*/
/* Menu                                                    */
/*=========================================================*/
div#menu {
	width:100%;
	height:24px;
	background:url(/imagens/fundoMenu.gif) top left repeat-x transparent;
	margin:0;
	padding:0;
	position:fixed;
	top:0px;
	z-index:100;
}
#menu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 100px;
	white-space: nowrap  ;
	float: left;
	text-align:left;
}

#menu ul li ul li
,#menu ul li ul li ul li
,#menu ul li ul li ul li ul li
{
	width:200px;
	margin:0px;
	padding:0px;
	float:left;
	box-sizing:border-box;
}

#menu ul ul
,#menu ul ul ul {
	float: left;
}

#menu a, #menu h2 {
	font: normal 11px/16px  Verdana, Arial, Helvetica, sans-serif;
	display: block;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc #888 #555 #bbb;
	margin: 0px;
}

#menu h2 {
	color: #003366;
	background: transparent;
	text-align:center;
	border-style: none;
	border-color: #ccc #888 #555 #bbb;
	padding-top:2px;
	padding-bottom:5px;
	padding-left:15px;
	padding-right:15px;
	margin:0px;
	cursor:pointer;
}

#menu a {
	font-weight:normal;
	color: #003366;
	background: #efefef;
	text-decoration: none;
	padding:2px;
	padding-left:10px;
	padding-right:10px;
	box-sizing:border-box;
	-ms-box-sizing: border-box;
}
#menu a:hover {
	color: #fff;
	background: #003366;
}

#menu h2 a,  #menu h2 a:hover {
	font: normal 11px/16px  Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	background: transparent;
	text-decoration: none;
	padding:0;
	border:none;
	cursor:pointer;
	margin:0px;
}
#menu li {
	position: relative;
	margin:0px;
	padding:0;
}
#menu ul ul {
	position: absolute;
	z-index: 500;
	margin:0px;
}
#menu ul ul ul {
	position: absolute;
	top: 0;
	left: 100%;
	margin:0px;
}

div#menu ul ul,
div#menu ul ul ul,
div#menu ul li:hover ul ul,
div#menu ul ul li:hover ul ul
{display: none;}

div#menu ul li:hover ul,
div#menu ul li a:hover ul,
div#menu ul ul li:hover ul,
div#menu ul ul li a:hover ul,
div#menu ul ul ul li:hover ul
{display: block;	}

table.edicao {
/*	font-family: "Segoe UI","MS Sans Serif", Verdana, Arial, Helvetica, sans-serif;*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	width:100%;
	margin:0px;
	font-size:11px;
	border:none;
	border-collapse: collapse;
	/*border-top:solid 1px #cccccc;*/
	table-layout:fixed;
}
table.edicao tr td {
/*	font-family: "Segoe UI","MS Sans Serif", Verdana, Arial, Helvetica, sans-serif;*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: left;
	padding:0;
	margin:0;
}
table.edicao tr th {
/*	font-family: "Segoe UI","MS Sans Serif", Verdana, Arial, Helvetica, sans-serif;*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	height:25px;
	text-align: left;
	font-weight:bold;
	padding:0;
	margin:0;
	border-bottom:solid 1px #cccccc;
}
table.edicao tr th.obr {
	background-image:url(/imagens/icons/bullet_red.png);
	background-repeat:no-repeat;
	background-position:right center;
}


table.edicao tr td {
/*	font-family: "Segoe UI","MS Sans Serif", Verdana, Arial, Helvetica, sans-serif;*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border:none;
/*	border-bottom:solid 1px #00296B; */
	color:#000;
	font-weight:normal;
	vertical-align:middle;
	border-bottom:solid 1px #cccccc;
}
table.edicao tr.limpa td
, table.edicao tr.limpa th
{
	border-bottom:none;
}
table.edicao tr td a
, table.edicao tr td a.textoazulPeq{
/*	font-family: "Segoe UI","MS Sans Serif", Verdana, Arial, Helvetica, sans-serif;*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border:none;
	color:#000;
	font-weight:normal;
	text-decoration:underline;
}
table.edicao tr td a.btn{
/*	font-family: "Segoe UI","MS Sans Serif", Verdana, Arial, Helvetica, sans-serif;*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border:none;
	color:auto;
	font-weight:normal;
	text-decoration:none;
}
table.edicao tr td input {
/*	font-family: "Segoe UI","MS Sans Serif", Verdana, Arial, Helvetica, sans-serif;*/
	font-size: 10px;
	padding-left:4px;
	padding-right:4px;
	padding-top:2px;
	padding-bottom:2px;
	margin-left:2px;
	width:100%;
	margin:0;
	box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -khtml-box-sizing: border-box;
}
table.edicao tr td input[type="checkbox"] {
	width:auto;
}

table.edicao tr td textarea {
/*	font-family: "Segoe UI","MS Sans Serif", Verdana, Arial, Helvetica, sans-serif;*/
	font-size: 10px;
	width:100%;
	margin:0;
	box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -khtml-box-sizing: border-box;
}
table.edicao tr td select{
/*	font-family: "Segoe UI","MS Sans Serif", Verdana, Arial, Helvetica, sans-serif;*/
	font-size: 10px;
	padding-left:4px;
	padding-right:4px;
	padding-top:2px;
	padding-bottom:2px;
	margin-left:2px;
	width:100%;
	margin:0;
	box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -khtml-box-sizing: border-box;
}

table.edicao tr td select[disabled="disabled"]{
	color:#000;
	border: none;
	background: none;
	margin:0;
	padding:0;
}

table.edicao tr td input[disabled="disabled"]{
	color:#000;
	border: none;
	background: none;
	margin:0;
	padding:0;
}

table.edicao tr td textarea[disabled="disabled"]{
	color:#000;
	border: none;
	background: none;
	margin:0;
	padding:0;
}

table.edicao tr td div ul{
	list-style: none;
	list-style-type:  none;
	list-style-image: none;
}
table.edicao tr td ul li{
	list-style-image: none;
}
table.edicao tr td input.cmpDat
{
	width:80px;
}
table.edicao tr td input.cmpVal
, table.edicao tr td input.cmpReal
, table.edicao tr td input.cmpDolar
, table.edicao tr td input.cmpEuro
{
	width:120px;
	text-align:right;
}

table.edicao tr td input.cmpMte
{
	width:150px;
}


table.textoazulPeq tr.nova td{
	border-top: solid 1px #666;
}
table.textoazulPeq tr.cont td{
	border-top: none;
}
table.edicao tr td div select.formulario
, table.edicao tr td select
, table.edicao tr td div select
, table.edicao tr td select.formulario
, select.formulario
, select.filtro_chave
{
	border: 1px solid #9D9D9D;
	background-color: rgb(247,247,247);
	font-size:8pt;
	color:#3969A5;
	padding-left:4px;
	padding-right:4px;
	padding-top:1px;
	padding-bottom:1px;
	width:100%;
}
table.edicao tr td select.auto{
	width:auto;
}

/*===================================*/
/* Estilo para tabela de duas colunas
/*===================================*/
div.duplasubTitulo {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#000;
	margin-top:15px;
	background-color:#DADADA;
	font-weight:bold;
	padding-left:3px;
	padding-top:15px;
}
table.dupla tr.subTitulo {
	height:20px;
}
table.dupla tr.subTitulo td {
	background-color:#DADADA;
	font-weight:bold;
	padding-left:3px;
	padding-top:15px;
	border-top: solid 20px #ffffff;
}
table.dupla tr td input{
	width:100%;
	margin:0;
	box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -khtml-box-sizing: border-box;
}
table.dupla tr td input.data
, table.dupla tr td input.cmpDat
, input.cmpDat{
	width:80px;
}

table.dupla tr td input.radio{
	width:auto;
	margin:0;
	box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -khtml-box-sizing: border-box;
}
table.dupla tr td input[type=checkbox]{
	width:auto;
	margin:0;
}

table.dupla tr td textarea{
	width:100%;
	margin:0;
	box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -khtml-box-sizing: border-box;
}
table.dupla tr td select{
	width:100%;
	margin:0;
	box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -khtml-box-sizing: border-box;
}
/*===================================*/
/* Novo estilo das consultas */
table.grid {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:auto;
	font-size:11px;
	border-collapse: collapse;
	border-spacing:0px;
	border:none;
	background-color:transparent;
	width:100%;
	color:#686868;
}

table.grid thead{
	color:#878787;
	background-color:#fff;
}
table.grid tbody{
	color: #000;
}

table.grid tbody tr { background:#f5f5f5;}
table.grid tbody .even { background:#fff;}

table.grid tr {
	border:none;
	/*border-bottom:solid 1px #00296B;*/
}
table.grid tr td {
	font-family: inherit;
	font-size: 11px;
	border:none;
	color:inherit ;
	font-weight:normal;
	border-left: solid 1px #9D9D9D  ;
	padding: 9px 3px;
}
table.grid tr td:first-child {
	border-left: none;
}

table.grid tr td span{
	display: inline-block;
	color: #fff;
	padding:6px 10px;
	font-size:20px;
}
table.grid tr td span.N{
	background-color: #999999;
}
table.grid tr td span.C{
	background-color: #DA9694;
}
table.grid tr td span.L{
	background-color: #CCC0DA;
}
table.grid tr td span.B{
	background-color: #090;
}
table.grid tr td span.P{
	background-color: #1b70e3;
}
table.grid tr td span.E{
	background-color: #7aba7b;
}



table.grid tr th {
	font-family: inherit;
	font-size: 11px;
	color:#000;
	/*background-color:#DADADA;*/
	text-align: center;
/*	padding-left:5px;*/
	font-weight: normal;
	border:none;
	border-bottom: solid 1px #ccc;
	padding: 3px 3px;
	vertical-align: bottom;
}

table.grid tr.sep th{
	padding-top:10px;
}
table.grid tr{
	border-top:solid 1px #ccc;
}

table.grid tr.bloco{
	border-top:solid 2px #ccc;
}

table.grid tr td a
, table.grid tr td a.textoazulPeq
, table.grid tr td a.textoazulPeq:hover
, table.grid tr td a.textoazulPeq:visited
, table.grid tr td a.textoazulPeq:link
, table.grid tr td a.textoazulPeq:active
{
	font-family: inherit;
	font-size: 11px;
	border:none;
	color:inherit;
	font-weight:normal;
	text-decoration: underline;
}
table.grid tr td.button a{
	border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #333;
	padding:2px 4px;
	border: solid 1px #666;
	background-image: linear-gradient(top, rgb(245,245,245) 40%, rgb(224,224,224) 70%, rgb(217,217,217) 85%);
	background-image: -o-linear-gradient(top, rgb(245,245,245) 40%, rgb(224,224,224) 70%, rgb(217,217,217) 85%);
	background-image: -moz-linear-gradient(top, rgb(245,245,245) 40%, rgb(224,224,224) 70%, rgb(217,217,217) 85%);
	background-image: -webkit-linear-gradient(top, rgb(245,245,245) 40%, rgb(224,224,224) 70%, rgb(217,217,217) 85%);
	background-image: -ms-linear-gradient(top, rgb(245,245,245) 40%, rgb(224,224,224) 70%, rgb(217,217,217) 85%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.4, rgb(245,245,245)),
		color-stop(0.7, rgb(224,224,224)),
		color-stop(0.85, rgb(217,217,217))
	);
	text-decoration: none;
	display: inline-block;
	margin-bottom: 1px;
	margin-top: 1px;
}

table.grid tr td.acoes a{
	text-decoration: none;
}
table.grid tr td a img{
	margin-right: 2px;
	margin-top:1px;
	margin-bottom:1px;

}
table.grid tr th a{
	font-family: inherit;
	font-size: inherit;
	border:none;
	font-weight:inherit;
	color: inherit;
	text-decoration:  none;
}

 table.grid tr th a.textoazulPeq
, table.grid tr th a.textoazulPeq:hover
, table.grid tr th a.textoazulPeq:visited
, table.grid tr th a.textoazulPeq:link
, table.grid tr th a.textoazulPeq:active{
	color:#1b70e3;
}
table.grid tr.impar{
	background-color: #dfe4ff;
}
table.grid thead th img{
	vertical-align: middle;
}
table tr th.esq
,table tr td.esq{
	text-align:left;
}
table tr th.dir
,table tr td.dir{
	text-align:right;
}
table tr th.cen
,table tr td.cen{
	text-align:center;
}
table.grid tr td.erro{
	color:red;
	font-weight:bold;
}

table.grid tr.alerta td{
    background-color: #d9534f !important;
    color:#fff !important;
    font-weight: bold !important;
}

table.grid tr.destaque td{
    background-color: #e5ce4b !important;
}

table.grid tr.fora td{
	background-color: #fad6d6 ;
}

table.grid tbody td select{
	width:100%;
	color: inherit;
	background: transparent;
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	margin:0;
	padding: 1px;
}

table.grid tbody td input{
	color: inherit;
	background: transparent;
	border: 1px solid transparent;
	font-size: inherit;
	text-align: inherit;
	margin:0;
	padding: 1px;
}
table.grid tbody td input.cmpDat{
	width: 80px;
}
table.grid tbody td input.focus{
	background: #f5f5f5;
	border: 1px solid #e8e8e8;
}

table.grid tbody td select.focus{
	background: #f5f5f5;
	border: 1px solid #e8e8e8;
}

table.grid tbody td input.cmpTxt{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	width:100%;
}


table.grid tbody td textarea{
	font-family: inherit;
	font-size: inherit;
	color: #000;
	background: transparent;
	border: 1px solid transparent;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	height: 45px;
	width:100%;
	margin:0;
	padding: 1px;
}
table.grid tbody td textarea.focus{
	background: #f5f5f5;
	border: 1px solid #e8e8e8;
}


table.grid tr.inativo td{
	/*background-color: #ccc;*/
	color: #999;
}

table.grid tr.total td{
    font-weight: bold !important;
    border-bottom: solid 1px #ccc;
}



table.candidatos tr td{
	padding: 3px 3px;
	background-color: #fff;
}

table.candidatos tr td span{
	padding:0px;
}
table.candidatos tr.cinza td{
	background-color: #f0f0f0;
}

h3.interno{
padding-left:25px;
}
.pancontainer{
position:relative; /*keep this intact*/
overflow:hidden; /*keep this intact*/
width:300px;
height:300px;
border:1px solid black;
}
input.NC_ON{
	border-style:solid;
	border-width:2px;
	border-color:black;
	background-color:red;
	color:white;
	font-weight:bold;
	padding:3px;
	cursor:pointer;
}
input.NC_OFF{
	border-style:solid;
	border-width:2px;
	border-color:#999;
	background-color:#cccccc;
	color:white;
	font-weight:bold;
	padding:3px;
	cursor:pointer;
}

textarea.expProf{
    height: 100px;
}
input.botaoLink{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	font-weight:bold;
	width:auto;
	padding:0px;
	padding-left:1px;
	padding-right:1px;
	margin-top:0;
	margin-bottom:0;
}
/*  POR FABIO */
#TEmpresa td{
    padding:8px;
}
h4{
	font-family: 'Trebuchet MS', sans-serif;
    font-size:16px ;
}

.btn_menu{
  border:none;margin:0px;padding:0px;
}

h4#title{
	font-family: 'Trebuchet MS', sans-serif;
    font-size:18px ;
    border-bottom:1px dotted #313131
}
.success{
     background: #25782C;
     color: #FFF;
     -moz-border-radius:4px 4px 4px 4px;
     padding:10px;
     margin:10px;
     border:1px solid #003C00;
}
.success a{
    color: silver;
    text-decoration: underline;
}
.error{
    background: #FA7A7A;
    border: 1px solid #E10000;
    color: #590000;
    -moz-border-radius:4px 4px 4px 4px;
    padding:10px;
    margin:10px;
}

.boxer{
    -moz-border-radius:4px 4px 4px 4px;
background:none repeat scroll 0 0 #F6F6F6;
margin-top:5px;
padding:10px;
width:450px;
}
.boxer h4{
    border-bottom:1px dashed #000000;
	font-family: 'Trebuchet MS', sans-serif;
    font-size:22px ;
padding-bottom:2px;
}

/* Usuario acesso */
#TEditUsuario{           margin:10px; width: 98%;}
#TEditUsuario th{        color:#000;}
#barMain{                font:16px verdana; margin:10px;padding:10px; background: #F3F3F3; height: 30px;}
#TUsuarioEmpresa tbody{  overflow: visible;height:auto; }

.relatorio{
    font:10px verdana;
    border-style: solid;
    border-collapse: collapse;
    border:  none;
    width:100%;
    color:#000

}
.relatorio tbody td{
    border-bottom: 1px solid #D8D8D8
}
.grade tbody td{
    border: 1px solid #D8D8D8
}

.destaque tbody tr.alerta td{
	color:red;
}
.destaque tbody tr:hover{
   background: #E7F3F8;
}



table.orderby {
	font-family:verdana, arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 10px;
	width: 100%;
	text-align: left;
}
table.orderby a{
    font:10px verdana;
}
table.orderby thead tr th
, table.orderby tfoot tr th {
	border: 1px solid #FFF;
/*	font-weight: normal;*/
	padding: 2px;
    background: #003366 ;


}
table.orderby thead tr .header {
	background-image: url('/imagens/bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
       margin-right:10px ;
}

table.orderby tbody tr.odd td {
	background-color:#F0F0F6;
}
table.orderby thead tr .headerSortUp {
	background-image: url('/imagens/asc.gif');
}
table.orderby thead tr .headerSortDown {
	background-image: url('/imagens/desc.gif');
}
table.orderby thead tr .headerSortDown, table.orderby thead tr .headerSortUp {
background-color: #C9C9C9;
color: #000;
}
table.orderby tbody td {

	padding: 2px;
	/*background-color: #FFF;*/
	vertical-align: top;
}
table.orderby tbody{
    background-color: #FFF;
}
table.relatorio tbody tr td a {text-decoration:underline; font-size:10px }

table.colunas {
	margin-left:10px;
	text-align: left
}
table.colunas tr td {
	font-size:8pt;
}
table.colunas tr td input {
	margin-left:5px;
	font-size:8pt;
}

.Tfieldset{
    padding:5px;
    -moz-border-radius:4px 4px 4px 4px;
    float: left;
}
.content{
    padding: 15px;
}
.dolar,.real{
    text-align: right;
}
div.processoFaltando{
	padding:9px;
	border-style:dashed;
	border-width: 1px;
	border-color: #cccccc;
	background-color:#999999;
}
div.detalheProcesso{
	border-bottom-style:dashed;
	border-bottom-width: 1px;
	border-bottom-color: #cccccc;
	border-left-style:dashed;
	border-left-width: 1px;
	border-left-color: #cccccc;
	border-right-style:dashed;
	border-right-width: 1px;
	border-right-color: #cccccc;
	padding-left:2px;
	padding-right:2px;
	padding-bottom:2px;
}

div.erro{
	background-color: #ed7b7b;
}

div.atual{
	background-color: #FAF2BE;
}
div.subprocesso{
	margin-left:20px;
}


div.tituloProcesso{
	text-align:left;
	padding: 9px;
	margin-top: 5px;
	font-weight: bold;
	color:#fff;
/*	margin-bottom:10px; */
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color: #ecbc29  !important;
}
div.tituloProcesso a {
	color:#333;
	padding: 6px;
	background-color: #ccc;
}
div.titulopendente{
	background-color: #d9534f  !important;

}

div.titulofaturada{
	background-color: #45b6af !important;
}

div.cpf{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

div.tituloProcesso span.alerta{
	color: white;
	background-color: #ff6666;
	padding:2px;
	font-size:10px;
	padding-top: 9px;
	padding-right: 9px;
	padding-bottom: 9px;
	padding-left: 9px;
	margin-top: 5px;
}

div.barraBotoesTitulo{
	float:right;
	margin-top:0;
}
div.titulo div.barraBotoesTitulo{
	margin-top:6px;
	font-size: 14px;
}

div.barraBotoesTitulo input
,div.barraBotoesTitulo a
{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;

	padding-top:4px;
	padding-bottom:4px;
	padding-left: 6px;
	padding-right:6px;
	border: 1px solid #C0C0C0;
    color: #4389C0;
    cursor: pointer;
}

div.barraBotoesTitulo input:first-child
,div.barraBotoesTitulo a:first-child
{
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;

	border: 1px solid #C0C0C0
}

div.barraBotoesTitulo input:last-child
,div.barraBotoesTitulo a:last-child
{
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

div.tituloProcesso div.barraBotoesTitulo {
	font-size:11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

div.tituloProcesso div.barraBotoesTitulo input[type="button"]
, div.tituloProcesso div.barraBotoesTitulo a
{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
    padding: 2px;
	padding-left:5px;
	padding-right:5px;
	margin:0;
	font-family:inherit;
	font-size:inherit;
	font-weight:normal;
	letter-spacing: -0.5px;
	background-color:#cccccc;
	background: url("../imagens/topfundo.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #C0C0C0;
	border-left:none;
}

div.tituloProcesso div.barraBotoesTitulo input:first-child[type="button"]
, div.tituloProcesso div.barraBotoesTitulo a:first-child
{
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
    border: 1px solid #C0C0C0;
}

div.tituloProcesso div.barraBotoesTitulo input:last-child[type="button"]
, div.tituloProcesso div.barraBotoesTitulo a:last-child
{
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

div.barraBotoesRodape{
	text-align:center;
	margin-top:10px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}

div.barraBotoesRodape a
,div.barraBotoesRodape button
,div.barraBotoesRodape input[type="submit"]
,div.barraBotoesRodape input[type="button"]
{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-family: inherit;
	font-size: inherit;
	padding:8px 12px;
	border: solid 1px #C0C0C0;
	background-image: linear-gradient(top, rgb(245,245,245) 40%, rgb(224,224,224) 70%, rgb(217,217,217) 85%);
	background-image: -o-linear-gradient(top, rgb(245,245,245) 40%, rgb(224,224,224) 70%, rgb(217,217,217) 85%);
	background-image: -moz-linear-gradient(top, rgb(245,245,245) 40%, rgb(224,224,224) 70%, rgb(217,217,217) 85%);
	background-image: -webkit-linear-gradient(top, rgb(245,245,245) 40%, rgb(224,224,224) 70%, rgb(217,217,217) 85%);
	background-image: -ms-linear-gradient(top, rgb(245,245,245) 40%, rgb(224,224,224) 70%, rgb(217,217,217) 85%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.4, rgb(245,245,245)),
		color-stop(0.7, rgb(224,224,224)),
		color-stop(0.85, rgb(217,217,217))
	);
	color: #4389C0;
	text-decoration: none;
	display: inline-block;
	margin: 1px;
}

div.barraBotoesRodape a:hover
,div.barraBotoesRodape button:hover
,div.barraBotoesRodape input[type="submit"]:hover
,div.barraBotoesRodape input[type="button"]:hover
{
	background-image: none;
}

p.alerta{
	font-weight: bold;
	color: white;
	background-color: #ff6666;
	padding:4px;
	margin-bottom:4px;
}

.travaTela {
  position: absolute;
  top: 0px;
  left:0px;
  width: 100%;
  height: 300%;
  z-index: 99999;
  background:url('imagens/fundo.png') top lefT repeat transparent;
  display: none;
}

.travaTela div{
    background-color: #FFF;
    width: 80%;
    margin: 0 auto;
    border: 2px solid #CCC;
    min-height: 150px;
    padding: 10px;
}
table.filtro{
	background-color:rgb(243, 243, 243);
	border-style: dashed;
	border-color: #FAF2BE;
	border-width:1px;
	width:100%;
}
table.filtro tr td{
	font-size: 8pt;
	margin:0;
	padding:0;
}
table.filtro tr td select{
	margin:0;
	padding:0;
	font-size: 8pt;
	height:auto;
    color: #3969A5;
}
table.filtro tr td input{
	font-size: 8pt;

}
table.TFiltro{

}
table.TFiltro tr td{
	font-size: 8pt;
}
table.TFiltro tr td input {
	font-size: 8pt;
}
input.botao{
	padding:0;
	padding-top : 10px;
	padding-left : 5px;
}
/*--- filtros*/
div.filtros{
	width:auto;
	padding:0px;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;

	background-color:transparent ;
	white-space: normal;
	margin: 10px;
}

div.filtros input[type=button]{
	padding:2px;
	padding-left:4px;
	padding-right:4px;
	height: auto;
	border-width:2px;
	font-weight:bold;
	margin-left:4px;
	color: #7a7a7a;
	font: 1em Arial, sans-serif;
	background: #f5f5f5;
	border: 1px solid #e8e8e8;
}

div.filtros select{
	color: #7a7a7a;
	font: 1em Arial, sans-serif;
	background: #f5f5f5;
	border: 1px solid #e8e8e8;
}

div.filtros div.label{
    font-family: Verdana,Arial,sans-serif;
    font-size: 8pt;
	color: rgb(122, 122, 122);
}

div.filtros div.filtro{
	/*display:inline;*/
	padding-right:10px;
	white-space: nowrap;
	float:left;
	clear:none;
}
div.filfiltros{
	margin: auto;
	padding-left:0px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
}

table.filtros {
	width:100%;
}
table.filtros tr td div.filtro{
	/*display:inline;*/
	padding-right:10px;
	white-space: nowrap;
	float:left;
	clear:none;
	width: 364px;
	min-height: 24px;
}
table.filtros tr td div.filtro div.label{
	min-width:150px;
	text-align:right;
	margin-top:5px;
	/*padding-top:5px;*/
    font-family: Verdana,Arial,sans-serif;
    font-size: 8pt;
	color: rgb(122, 122, 122);
	float:left;
}
.filtros div.filtro input{
	height:auto;
	padding:2px;
    color: #3969A5;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 8pt;
    padding: 2px 6px;
	font: 1em Arial, sans-serif;
	background: #f5f5f5;
	border: 1px solid #e8e8e8;
}
.filtros div.filtro input[type=checkbox]{
	margin-top:5px;
}
.filtros div.filtro div{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 8pt;
}
.filtros div.filtro select{
	width:auto;
	max-width: 200px;
	width: 100%;
	color: #7a7a7a;
	font: 1em Arial, sans-serif;
	background: #f5f5f5;
	border: 1px solid #e8e8e8;
	padding: 1px;
}

.filtros div.emUso input
, .filtros div.emUso select{
	background: #f5f5f5;
}
div.titulo div.texto{
	/*float:left;*/
	/*position: absolute;*/
	/*bottom: 0; left: 0;*/
	/*border-bottom: solid 3px #E1E1E1;*/
	display: inline-block;
	margin-left:10px;
}
div.titulo div.acoes{
	float:right;
}
table.log{
	margin-top:10px;
}
table.log tr td{
	border-collapse: collapse;
	border-spacing:0;
	margin:0;
	padding:0;
	border-bottom: solid 1px #4389C0;
	vertical-align: top;
	text-align: left;
	font-size:0.8em;
	padding-bottom:5px;
}
table.log tr.recente td{
	color:#ffffff;
	background-color: #F00;
	font-weight:bold;
}
div.espacoProcesso{
	border:none;
	height: 10px;
	display:block;
}
div.over{
	border-style: dashed;
	border-width:3px;
	border-color:#C0C0C0;
	height:70px;
}
div.msgInicial{
	padding-top:10px;
	font-weight: bold;
}
.ui-tabs {
    padding: 0px;
}
.ui-tabs-nav {
    background: transparent;
    border-width: 0px 0px 1px 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.ui-tabs-panel {
    margin: 0em 0.2em 0.2em 0.2em;
}
form.editInPlace {vertical-align:top;}
form.editInPlace select{width:60px;}
form.editInPlace button{font-family: inherit;font-size: 11px; padding:1px;padding-left:5px;padding-right:5px;}
form.editInPlaceText {position:relative;padding-right:43px}
form.editInPlaceText textarea{padding:1px; font-size:9px;width:100%;}
form.editInPlaceText button{font-size: 10px; position:absolute;top:2px;padding:2px;right:0;margin-right: 2px;}
form.editInPlaceTextoSimples {position:relative;padding-right:23px}
form.editInPlaceTextoSimples input{padding:1px; font-size:10px;width:100%;}
form.editInPlaceTextoSimples button{font-size: 10px; position:absolute;top:0;padding:0px;right:0;margin-right: 0px;}
span.detalheParente{
	font-size:12px;
	color:#999;
}
span.detalheParente a{
	font-size:inherit;
	color: inherit;
	text-decoration: underline;
}
td.bold a {
	font-weight: bold;
}
div.paginacao
{
	margin-top: 5px;
	font-family: Verdana,Arial,sans-serif;
	font-size: 8pt;
	color: rgb(122, 122, 122);
}
div.paginacao input[type=text]
{
	margin-top: 5px;
	font-family: Verdana,Arial,sans-serif;
	font-size: 8pt;
	color: rgb(122, 122, 122);
	color: #7a7a7a;
	font: 1em Arial, sans-serif;
	background: #f5f5f5;
	border: 1px solid #e8e8e8;
}
div.paginacao input[type=image]
{
	vertical-align: middle;
}
a.disabled{ color: gray; background-image: none;}

table.padded  tr td{
    padding:3px;
}

table.floaThead thead tr{
    background-color: #fff;
}

input.processo{
    width:180px !important;
}

.btn, .btn-group-xs > .btn, .btn-xs,  .btn-group-xs > .btn, .btn-sm{
	border-radius: 0 !important;
}

table.table a {
	font-family: inherit;
	font-size: inherit;
	text-decoration: underline;
}
table.table a.btn {
	text-decoration: none;
}
