<ul class="slot-0">
    <li><a href="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_USUARIO&amp;metodo=editarInfo" id="INFO" onclick="EnvieAcao(this);" class="{% if ativa == 'INFO'%}active{% endif%}" target="_self">Information</a></li>
    <li><a href="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_USUARIO&amp;metodo=getEditarDocumentos" id="DOCS" onclick="EnvieAcao(this);" class="{% if ativa == 'DOCS'%}active{% endif%}" target="_self">Documents</a></li>
    <li><a href="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_USUARIO&amp;metodo=getEditarExperiencia" id="EXPE" onclick="EnvieAcao(this);" class="{% if ativa == 'EXPE'%}active{% endif%}" target="_self">Experience</a></li>
    <li><a href="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_USUARIO&amp;metodo=visaDetails" id="VISA" onclick="EnvieAcao(this);" class="{% if ativa == 'VISA'%}active{% endif%}" target="_self">Visa Details</a></li>
    <li><a href="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_USUARIO&amp;metodo=getEditarArquivos" id="FILE" onclick="EnvieAcao(this);" class="{% if ativa == 'FILES'%}active{% endif%}" target="_self">Files</a></li>
    {% if candidato.id_status_edicao == 2 %}
    <li><a href="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_USUARIO&amp;metodo=getEnviar" id="ENVIAR" onclick="EnvieAcao(this);" class="{% if ativa == 'ENVIAR'%}active{% endif%}" target="_self">Send changes</a></li>
    {% endif %}
</ul>
