<ul class="slot-0">
    <li><a href="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_CLIENTE&amp;metodo=editarInfo&NU_CANDIDATO={{nu_candidato}}&nu_candidato_tmp={{nu_candidato_tmp}}" id="INFO" onclick="EnvieAcao(this);" class="{% if ativa == 'INFO'%}active{% endif%}" target="_self">Information</a></li>
    <li><a href="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_CLIENTE&amp;metodo=getEditarDocumentos&NU_CANDIDATO={{nu_candidato}}&nu_candidato_tmp={{nu_candidato_tmp}}" id="DOCS" onclick="EnvieAcao(this);" class="{% if ativa == 'DOCS'%}active{% endif%}" target="_self">Documents</a></li>
    <li><a href="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_CLIENTE&amp;metodo=getEditarExperiencia&NU_CANDIDATO={{nu_candidato}}&nu_candidato_tmp={{nu_candidato_tmp}}" id="EXPE" onclick="EnvieAcao(this);" class="{% if ativa == 'EXPE'%}active{% endif%}" target="_self">Experience</a></li>
    {% if candidato.NU_CANDIDATO > 0  %}
    <li><a href="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_CLIENTE&amp;metodo=visaDetails&NU_CANDIDATO={{nu_candidato}}&nu_candidato_tmp={{nu_candidato_tmp}}" id="VISA" onclick="EnvieAcao(this);" class="{% if ativa == 'VISA'%}active{% endif%}" target="_self">Visa Details</a></li>
    {% endif %}
    <li><a href="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_CLIENTE&amp;metodo=getEditarArquivos&NU_CANDIDATO={{nu_candidato}}&nu_candidato_tmp={{nu_candidato_tmp}}" id="FILE" onclick="EnvieAcao(this);" class="{% if ativa == 'FILES'%}active{% endif%}" target="_self">Files</a></li>
    {% if candidato.id_status_edicao == 2 %}
    <li><a href="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_CLIENTE&amp;metodo=getEnviar&NU_CANDIDATO={{nu_candidato}}&nu_candidato_tmp={{nu_candidato_tmp}}" id="ENVIAR" onclick="EnvieAcao(this);" class="{% if ativa == 'ENVIAR'%}active{% endif%}" target="_self">Send changes</a></li>
    {% endif %}
</ul>
