{% extends "cliente/base.html" %}

{% block cabecalho %}
    {% include "cliente/cabecalho_commenu.html" %}    
{% endblock %}    

{% block conteudo %}
    <div id="content" class="grid">
        <div class="row">
            <div id="main" class="slot-0-1-2-3-4">
                {% include 'cliente/candidato/cabecalho.twig' with{'titulo': '', 'link': true} %}

                <div id="content_main" class="row">
                    <div class="row tab">
                        {% include "cliente/candidato/abas_cliente.twig" %}
                        <form action="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_CLIENTE&metodo=postEditarArquivos" name="{{ template.nome }}" id="{{ template.nome }}" method="post" enctype="multipart/form-data" accept-charset="ISO-8859-1">
                            <input type="hidden" name="nu_candidato" value="{{nu_candidato}}"/>
                            <input type="hidden" name="nu_candidato_tmp" value="{{nu_candidato_tmp}}"/>
                            <div class="slot-1-2-3-4">
                                <div class="box">
                                    <h3>New file</h3>
                                    <ul>
                                        {% include "public/CAMPO_FILE.twig" with {'label': "File", 'nome': 'arquivo'} %}
                                    {% if not readonly or nu_candidato_tmp == '' %}
                                        <li>
                                            <input type="submit" value="Send"/>                                            
                                        </li>
                                    {% endif %}
                                    </ul>
                                    <br/>
                                    <br/>
                                    <h3>Files</h3>
                                    <div id="listaarquivos" style="min-height: 150px;">
                                        <ul class="file_box">
                                            {% for arquivo in arquivos %}
                                                <li class="iten">
                                                    <p class="name">
                                                        <span title="Download" class="action_button download"><a href="/paginas/carregue.php?controller=cCTRL_CANDIDATO_CLIENTE&metodo=download&NU_SEQUENCIAL={{ arquivo.NU_SEQUENCIAL }}" target="_blank"></a></span>
                                                            {{ arquivo.NO_TIPO_ARQUIVO }}
                                                    </p>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% include 'cliente/barra_direita.html' %}
        </div>
    </div>
{% endblock %}
