{% extends "cliente/base.html" %}

{% block cabecalho %}
    {% include "cliente/cabecalho_commenu.html" %}    
{% endblock %}    

{% block conteudo %}
    <form action="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_USUARIO&metodo=postEditarArquivos" name="{{ template.nome }}" id="{{ template.nome }}" method="post" enctype="multipart/form-data" accept-charset="ISO-8859-1">
        <div id="content" class="grid">
            <div class="row">
                <div id="main" class="slot-0-1-2-3-4">
                {% include 'cliente/candidato/cabecalho.twig' with{'titulo': 'Personal Data', 'link': false} %}

                    <div id="content_main" class="row">
                        <div class="row tab">
                            {% include "cliente/candidato/abas.twig" %}
                            <div class="slot-1-2-3-4">
                                <div class="box">
                                    <h3>New file</h3>
                                    <ul>
                                        {% include "public/CAMPO_FILE.twig" with {'label': "File", 'nome': 'arquivo'} %}
                                        <li>
                                            <input type="submit" value="Send"/>                                            
                                        </li>
                                    </ul>
                                    <br/>
                                    <br/>
                                    <h3>Files</h3>
                                    <div id="listaarquivos">
                                        <ul class="file_box">
                                        {% for arquivo in arquivos %}
                                            <li class="iten">
                                                <p class="name">
                                                    <span title="Download" class="action_button download"><a href="/operador/download.php?arq={{ arquivo.url }}&nmf={{ arquivo.NO_ARQ_ORIGINAL }}"></a></span>
                                                    {{ arquivo.NO_TIPO_ARQUIVO }}
                                                </p>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'cliente/barra_direita.html' %}
            </div>
        </div>
    </form>
{% endblock %}
