<div id="top_main" class="row">
    <div class="slot-0-1-2-3">
        <div id="title_main" class="candidate ">
            <h2><span class="title">{{candidato.mNOME_COMPLETO}}</span></h2>
        </div>
    </div>
    {% if link %}
    <div class="slot-4" style="text-align: right;">
        <div class="search">
            <div class="buttons_group">
                <input type="button" class="search" value="Back" title="Back to the list" onClick="javascript:window.location.assign('/paginas/carregueCliente.php?controller=cCTRL_CAND_CLIE_LIST&metodo=Liste');"> 
            </div>
        </div>
    </div>
    {% endif %}
    {% include "public/notificacao.html" %}
</div>
