{% extends "cliente/base.html" %}

{% block cabecalho %}
    {% include "cliente/cabecalho_commenu.html" %}    
{% endblock %}    

{% block conteudo %}
    <input type="hidden" name="postado" value="1"/>
    <div id="content" class="grid">
        <div class="row">
            <div id="main" class="slot-0-1-2-3-4-5">
                <div id="top_main" class="row">
                    <div id="title_main" class="candidate">
                        <h2><span class="title">Invite new candidate</span></h2>
                    </div>
                    {% include "public/notificacao.html" %}
                </div>

                <div id="content_main" class="row">
                    <div class="slot-0-1-2-3-4-5">
                    <div class="row">
                        <h4>Upon sending this invitation, the candidate will receive a link to log in this site and fill in his information.</h4>
                        <form action="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_CLIENTE&metodo=postEnviarconvite" name="{{ template.nome }}" id="{{ template.nome }}" method="post" accept-charset="ISO-8859-1">
                                <div class="box">
                                    <h3>Candidate info</h3>
                                    <ul>
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'First name', 'nome': 'NO_PRIMEIRO_NOME',  'valor': candidato.mNO_PRIMEIRO_NOME, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Middle name', 'nome': 'NO_NOME_MEIO',  'valor': candidato.mNO_NOME_MEIO, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Last name', 'nome': 'NO_ULTIMO_NOME',  'valor': candidato.mNO_ULTIMO_NOME, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'E-mail', 'nome': 'email_pessoal',  'valor': candidato.memail_pessoal, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Mother&#039;s full name:', 'nome': 'NO_MAE',  'valor': candidato.mNO_MAE, 'readonly': readonly} %}
                                        {% include "public/CAMPO_DATA.twig" with {'label': 'Date of birth', 'nome': 'DT_NASCIMENTO',  'valor': candidato.mDT_NASCIMENTO, 'readonly': readonly} %}
                                        {% include "public/COMBO_GERAL.twig" with {'label': "Actual Vessel", 'nome': 'NU_EMBARCACAO_PROJETO',  'valor_atual': candidato.mNU_EMBARCACAO_PROJETO,'valores': embarcacoes, 'readonly': readonly} %}
                                    </ul>
                                    {% if not disabled %}
                                        <div style="clear: both;">&nbsp;</div>
                                        <div style="display: box; margin:auto; text-align:center;">
                                            <input type="submit" name="save" value="Send invitation" title=""/>
                                        </div>        
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
