<html>
    <style>
        h2{
            font-size:24px;
            font-weight: bold;
            font-family: arial;
        }
        table{
            margin:auto;
            width:100%;
            border-collapse: collapse;
        }
        table tr td {
            border: solid 1px #000;
            font-family: arial;
            font-size: 10px;
            vertical-align: top;
        }
        table tr th {
            text-align: left;
            border: solid 1px #000;
            font-family: arial;
            font-size: 14px;
            padding-top:10px;

        }
        table tr td p{
            font-size: 10px;
            font-weight: bold;
            margin-bottom: 3px;
        }
        p.subtitulo{
            font-size: 10px;
            font-weight: bold;
            margin-bottom: 3px;
        }
    </style>
    <body>
        <table style="border:none;">
            <tr><td width="80%" style="border:none; font-family: Arial; font-weight: bold; font-size: 16px; vertical-align: middle;">{{candidato.NOME_COMPLETO}} - Personal Data</td><td style="border: none; text-align: right; vertical-align: middle;"><img align="right" src="/imagens/logo_mundivisas_PANTONE_red.jpg"/></td>
        </table>
        <div style="width:100%">
            <table>
                <colgroup>
                    <col width="50%"/>
                    <col width="50%"/>
                </colgroup>
                <tr>
                    <th colspan="2">Personal Information</th>
                </tr>
                <tr>
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'First name', 'nome': 'NO_PRIMEIRO_NOME',  'valor': candidato.NO_PRIMEIRO_NOME, 'readonly': readonly} %}
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Middle name', 'nome': 'NO_NOME_MEIO',  'valor': candidato.NO_NOME_MEIO, 'readonly': readonly} %}
                </tr>
                <tr>
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Last name', 'nome': 'NO_ULTIMO_NOME',  'valor': candidato.NO_ULTIMO_NOME, 'readonly': readonly} %}
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Contact email', 'nome': 'email_pessoal',  'valor': candidato.email_pessoal, 'readonly': readonly} %}
                </tr>
                <tr>
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Nationality', 'nome': 'CO_NACIONALIDADE', 'valor': candidato.no_nacionalidade, 'readonly': readonly} %}
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Place of birth', 'nome': 'NO_LOCAL_NASCIMENTO',  'valor': candidato.NO_LOCAL_NASCIMENTO, 'readonly': readonly} %}
                </tr>
                <tr>
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Father&#039;s full name:', 'nome': 'NO_PAI',  'valor': candidato.NO_PAI, 'readonly': readonly} %}
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Mother&#039;s full name', 'nome': 'NO_MAE',  'valor': candidato.NO_MAE, 'readonly': readonly} %}
                </tr>
                <tr>
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Father&#039;s nationality', 'nome': 'co_pais_nacionalidade_pai', 'valor': candidato.pais_pai, 'readonly': readonly}%}
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Mother&#039;s nationality', 'nome': 'co_pais_nacionalidade_mae',  'valor': candidato.pais_mae,'readonly': readonly} %}
                </tr>
                <tr>
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Marital status', 'nome': 'NO_ESTADO_CIVIL_EM_INGLES',  'valor': estado_civil.no_estado_civil_em_ingles, 'readonly': readonly} %}
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig"  with {'label': 'Date of birth (dd/mm/yyyy)', 'nome': 'DT_NASCIMENTO', 'valor': candidato.DT_NASCIMENTO_FMT, 'readonly': readonly} %}
                </tr>
                <tr>
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Highest level of education', 'nome': 'NO_ESCOLARIDADE_EM_INGLES',  'valor': candidato.no_escolaridade_em_ingles, 'readonly': readonly} %}
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Gender', 'nome': 'CO_SEXO', 'valor': candidato.NO_SEXO,  'readonly': readonly}%}
                </tr>
                <tr>
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Address', 'nome': 'NO_ENDERECO_RESIDENCIA',  'valor': candidato.NO_ENDERECO_RESIDENCIA, 'readonly': readonly} %}
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'City', 'nome': 'NO_CIDADE_RESIDENCIA',  'valor': candidato.NO_CIDADE_RESIDENCIA, 'readonly': readonly} %}
                </tr>
                <tr>
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Country:', 'nome': 'CO_PAIS_RESIDENCIA', 'valor': candidato.no_pais_estrangeiro, 'readonly': readonly} %}
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Phone #', 'nome': 'NU_TELEFONE_CANDIDATO',  'valor': candidato.NU_TELEFONE_CANDIDATO, 'readonly': readonly} %}
                </tr>
                <tr>
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Consulate where the visa will be collected', 'nome': 'NO_REPARTICAO_CONSULAR',  'valor': candidato.no_reparticao_consular, 'readonly': readonly} %}
                </tr>
                <tr>
                    <th colspan="2">Passport Information</th>
                </tr>
                <tr>
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Number', 'nome': 'NU_PASSAPORTE',  'valor': candidato.NU_PASSAPORTE, 'readonly': readonly} %}
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Issuing government', 'nome': 'CO_PAIS_EMISSOR_PASSAPORTE',  'valor': candidato.no_pais_passaporte, 'readonly': readonly} %}
                </tr>
                <tr>
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Issue date (dd/mm/yyyy)', 'nome': 'DT_EMISSAO_PASSAPORTE',  'valor': candidato.DT_EMISSAO_PASSAPORTE_FMT, 'readonly': readonly} %}
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Expiry date (dd/mm/yyyy)', 'nome': 'DT_VALIDADE_PASSAPORTE',  'valor': candidato.DT_VALIDADE_PASSAPORTE_FMT, 'readonly': readonly} %}
                <tr>
                    <th colspan="2">Seaman's book</th>
                </tr>
                <tr>
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': "Seaman's book number", 'nome': 'NO_SEAMAN',  'valor': candidato.NO_SEAMAN, 'readonly': readonly} %}
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Issue date (dd/mm/yyyy)', 'nome': 'DT_EMISSAO_SEAMAN',  'valor': candidato.DT_EMISSAO_SEAMAN_FMT, 'readonly': readonly} %}
                </tr>
                <tr>
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Expiry date (dd/mm/yyyy)', 'nome': 'DT_VALIDADE_SEAMAN',  'valor': candidato.DT_VALIDADE_SEAMAN_FMT, 'readonly': readonly} %}
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Issuing government', 'nome': 'CO_PAIS_SEAMAN',  'valor': candidato.no_pais_seaman,'readonly': readonly} %}
                </tr>
                <tr>
                    <th colspan="2">RNE</th>
                </tr>
                <tr>
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Number', 'nome': 'NU_RNE',  'valor': candidato.NU_RNE, 'readonly': readonly} %}
                </tr>
                <tr>
                    <th colspan="2">Employer</th>
                </tr>
                <tr>
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': "Employer's Name", 'nome': 'NO_EMPRESA_ESTRANGEIRA',  'valor': candidato.NO_RAZAO_SOCIAL, 'readonly': readonly} %}
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': "Vessel Name", 'nome': 'NO_EMBARCACAO_PROJETO',  'valor': candidato.NO_EMBARCACAO_PROJETO, 'readonly': readonly} %}
                <tr>
                    <th colspan="2">Employer's address</th>
                </tr>
                <tr>
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': "Address", 'nome': 'NO_ENDERECO_EMPRESA',  'valor': candidato.NO_ENDERECO_EMPRESA, 'readonly': readonly} %}
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': "City", 'nome': 'NO_CIDADE_EMPRESA',  'valor': candidato.NO_CIDADE_EMPRESA, 'readonly': readonly} %}
                </tr>
                <tr>
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': "Country", 'nome': 'CO_PAIS_EMPRESA',  'valor': candidato.no_pais_empresa, 'readonly': readonly} %}
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': "Phone #", 'nome': 'NU_TELEFONE_EMPRESA',  'valor': candidato.NU_TELEFONE_EMPRESA, 'readonly': readonly} %}
                <tr>
                    <th colspan="2">Work Information</th>
                </tr>
                <tr>
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Monthly income', 'nome': 'VA_REMUNERACAO_MENSAL',  'valor': candidato.VA_REMUNERACAO_MENSAL, 'readonly': readonly} %}
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': 'Monthly salary in Brazil', 'nome': 'VA_REMUNERACAO_MENSAL_BRASIL',  'valor': candidato.VA_REMUNERACAO_MENSAL_BRASIL, 'readonly': readonly} %}
                </tr>
                <tr>
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': "Occupation", 'nome': 'NO_FUNCAO_EM_INGLES',  'valor': candidato.no_funcao_em_ingles,'readonly': readonly} %}
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': "Profession", 'nome': 'NO_PROFISSAO_EM_INGLES',  'valor': candidato.no_profissao_em_ingles,'readonly': readonly} %}
                </tr>
                <tr>
                    {% include "cliente/candidato/camposDr/CAMPO_TEXTO.twig" with {'label': "Vessel/ project location", 'nome': 'loca_id',  'valor': candidato.loca_no_nome, 'readonly': readonly, 'colspan': 2} %}
                </tr>
                <tr>
                    {% include "cliente/candidato/camposDr/CAMPO_texto.twig" with {'label': "Provide a description of the activities you expect to carry out in Brazil",'nome': 'TE_DESCRICAO_ATIVIDADES', 'valor': candidato.TE_DESCRICAO_ATIVIDADES, 'readonly': readonly} %}
                    {% include "cliente/candidato/camposDr/CAMPO_texto.twig" with {'label': "Have you worked in Brazil before? If so, state briefly when / place / length of last stay", 'nome': 'TE_TRABALHO_ANTERIOR_BRASIL', 'valor': candidato.TE_TRABALHO_ANTERIOR_BRASIL, 'readonly': readonly} %}
                </tr>
            </table>
            <span style="font-family: Arial; font-size:11px; font-style: italic; color:#999999;">(Data request sent in {{candidato.dt_envio_edicao|date('d/m/Y H:i:s')}} (dd/mm/yyyy))</span>
        </div>
    </body>
</html>
