{% extends "cliente/base.html" %}

{% block cabecalho %}
    {% include "cliente/cabecalho_commenu.html" %}    
{% endblock %}    

{% block conteudo %}
    <input type="hidden" name="postado" value="1"/>
    <div id="content" class="grid">
        <div class="row">
            <div id="main" class="slot-0-1-2-3-4-5">
                <div id="top_main" class="row">
                    <div id="title_main" class="candidate">
                        <h2><span class="title">Invite new candidate</span></h2>
                    </div>
                    {% include "public/notificacao.html" %}
                </div>

                <div id="content_main" class="row">
                    <div class="slot-0-1-2-3-4-5">
                        <div class="row">
                            <h4>Upon sending this invitation, the email informed will receive a link to log in this site and fill in information for the candidates.</h4>
                            <form action="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_CLIENTE&metodo=postEnviarconvite" name="{{ template.nome }}" id="{{ template.nome }}" method="post" accept-charset="ISO-8859-1">
                                <input type hidden name="foipostado" value='1'/>
                                <div class="box">
                                    <h3>Please inform who will fill in the Data Request </h3>
                                    <ul>
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'E-mail', 'nome': 'email',  'valor': convidado.memail, 'readonly': false} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Name', 'nome': 'nome',  'valor': convidado.mnome, 'readonly': false} %}
                                        {% include "public/COMBO_GERAL.twig" with {'label': "Actual Vessel", 'nome': 'nu_embarcacao_projeto',  'valor_atual': convidado.mnu_embarcacao_projeto,'valores': embarcacoes, 'readonly': readonly} %}
                                        {% include "public/COMBO_GERAL.twig" with {'label': "Service request", 'nome': 'nu_servico',  'valor_atual': convidado.mnu_servico,'valores': servicos, 'readonly': readonly} %}
                                    </ul>
                                    <h3>Candidates</h3>
                                    <div id="candidatos">
                                        <div class="row" style="margin-bottom:5px;">
                                            <span class="slot-0">Full name:</span>
                                            <input type="text" name="nome_completo[]" class="slot-1-2-3-4-5"/>
                                        </div>
                                    </div>
                                    <div style="clear: both;">&nbsp;</div>
                                    <div style="display: box; margin:auto; text-align:center;">
                                        <input type="button" value="Add another" title="" onclick="javascript:novoCandidato();"/>
                                        <input type="submit" name="save" value="Send invitation" title=""/>
                                    </div>        
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        function novoCandidato() {
            var html = '<div class="row" style="margin-bottom:5px;"><span class="slot-0">Full name:</span><input type="text" name="nome_completo[]" class="slot-1-2-3-4-5"/></div>'
            $('#candidatos').append(html);
        }

    </script>
{% endblock %}
