{% extends "cliente/base.html" %}

{% block cabecalho %}
    {% include "cliente/cabecalho_commenu.html" %}    
{% endblock %}    

{% block conteudo %}
    <input type="hidden" name="postado" value="1"/>
    <div id="content" class="grid">
        <div class="row">
            <div id="main" class="slot-0-1-2-3-4">
                {% include 'cliente/candidato/cabecalho.twig' with{'titulo': 'Personal Data', 'link': true} %}

                <div id="content_main" class="row">
                    <div class="row tab">
                        {% include "cliente/candidato/abas_cliente.twig" %}
                        <form action="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_CLIENTE&metodo=postEditarInfo" name="{{ template.nome }}" id="{{ template.nome }}" method="post" enctype="multipart/form-data" accept-charset="ISO-8859-1">
                            <input type="hidden" name="nu_candidato" value="{{nu_candidato}}"/>
                            <input type="hidden" name="nu_candidato_tmp" value="{{nu_candidato_tmp}}"/>
                            <div class="slot-1-2-3-4">
                                <div class="box">
                                    <h3>Information</h3>
                                    <ul>
                                        {% if nu_candidato_tmp > 0 %}
                                            <li class="title">
                                                <h4>Service requested</h4>
                                            </li>
                                            {% include "public/COMBO_GERAL.twig" with {'label': 'Service', 'nome': 'nu_servico', 'valor_atual': candidato.mnu_servico, 'valores': servicos, 'readonly': readonly}%}
                                        {% endif %}
                                        <li class="title">
                                            <h4>Personal Information</h4>
                                        </li>
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'First name', 'nome': 'NO_PRIMEIRO_NOME',  'valor': candidato.mNO_PRIMEIRO_NOME, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Middle name', 'nome': 'NO_NOME_MEIO',  'valor': candidato.mNO_NOME_MEIO, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Last name', 'nome': 'NO_ULTIMO_NOME',  'valor': candidato.mNO_ULTIMO_NOME, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'E-mail', 'nome': 'email_pessoal',  'valor': candidato.memail_pessoal, 'readonly': readonly} %}
                                        {% include "public/COMBO_GERAL.twig" with {'label': 'Nationality', 'nome': 'CO_NACIONALIDADE', 'valor_atual': candidato.mCO_NACIONALIDADE, 'valores': nacionalidades, 'readonly': readonly} %}
                                        <li>
                                            <p class="label">Place of birth:</p>
                                            <p class="content">
                                                <input type="text" id="CMP_NO_LOCAL_NASCIMENTO" name="CMP_NO_LOCAL_NASCIMENTO" value="{{candidato.mNO_LOCAL_NASCIMENTO}}" class=" cmp" {{disabled}}>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="label">Father&#039;s full name:</p>
                                            <p class="content">
                                                <input type="text" id="CMP_NO_PAI" name="CMP_NO_PAI" value="{{candidato.mNO_PAI}}" class=" cmp" {{disabled}}>

                                            </p>
                                        </li>
                                        {% include "public/COMBO_GERAL.twig" with {'label': 'Father&#039;s nationality', 'nome': 'co_pais_nacionalidade_pai', 'valor_atual': candidato.mco_pais_nacionalidade_pai, 'valores': nacionalidades, 'readonly': readonly}%}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Mother&#039;s full name', 'nome': 'NO_MAE',  'valor': candidato.mNO_MAE, 'readonly': readonly} %}
                                        {% include "public/COMBO_GERAL.twig" with {'label': 'Mother&#039;s nationality', 'nome': 'co_pais_nacionalidade_mae',  'valor_atual': candidato.mco_pais_nacionalidade_mae,'valores': nacionalidades, 'readonly': readonly} %}
                                        <li>
                                            <p class="label">Marital status:</p>
                                            <p class="content">
                                                <input type="text" id="CMP_NO_ESTADO_CIVIL_EM_INGLES" name="CMP_NO_ESTADO_CIVIL_EM_INGLES" value="{{candidato.mNO_ESTADO_CIVIL_EM_INGLES}}" class=" cmp" {{disabled}}>

                                            </p>
                                        </li>
                                        {% include "public/COMBO_GERAL.twig" with {'label': 'Sex', 'nome': 'CO_SEXO',  'valor_atual': candidato.mCO_SEXO,'valores': sexos, 'readonly': readonly} %}
                                        {% include "public/CAMPO_DATA.twig" with {'label': 'Date of birth', 'nome': 'DT_NASCIMENTO',  'valor': candidato.mDT_NASCIMENTO, 'readonly': readonly} %}
                                        <li>
                                            <p class="label">Highest level of education:</p>
                                            <p class="content">
                                                <input type="text" id="CMP_NO_ESCOLARIDADE_EM_INGLES" name="CMP_NO_ESCOLARIDADE_EM_INGLES" value="{{candidato.mNO_ESCOLARIDADE_EM_INGLES}}" class=" cmp" {{disabled}}>
                                            </p>
                                        </li>
                                        <li class="title">
                                            <h4>Home address</h4>
                                        </li>
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Address', 'nome': 'NO_ENDERECO_RESIDENCIA',  'valor': candidato.mNO_ENDERECO_RESIDENCIA, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'City', 'nome': 'NO_CIDADE_RESIDENCIA',  'valor': candidato.mNO_CIDADE_RESIDENCIA, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Phone #', 'nome': 'NU_TELEFONE_CANDIDATO',  'valor': candidato.mNU_TELEFONE_CANDIDATO, 'readonly': readonly} %}
                                        {% include "public/COMBO_GERAL.twig" with {'label': 'Country:', 'nome': 'CO_PAIS_RESIDENCIA', 'valor_atual': candidato.mCO_NACIONALIDADE, 'valores': paises, 'readonly': readonly} %}
                                        <li class="title">
                                            <h4>Consulate Information</h4>
                                        </li>
                                        <li>
                                            <p class="label">Consulate where the visa will be collected:</p>
                                            <p class="content">
                                                <input type="text" id="CMP_NO_REPARTICAO_CONSULAR" name="CMP_NO_REPARTICAO_CONSULAR" value="{{candidato.mNO_REPARTICAO_CONSULAR}}" class=" cmp" {{disabled}}>
                                            </p>
                                        </li>
                                    </ul>
                                    {% if not disabled %}
                                        <div style="clear: both;">&nbsp;</div>
                                        <div style="display: box; margin:auto; text-align:center;">
                                            <input type="submit" name="save" value="Save" title="Save changes to continue later"/>
                                        </div>        
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% include 'cliente/barra_direita.html' %}
        </div>
    </div>
    
{% endblock %}
