{% extends "cliente/base.html" %}

{% block cabecalho %}
    {% include "cliente/cabecalho_commenu.html" %}    
{% endblock %}    

{% block conteudo %}
    <input type="hidden" name="postado" value="1"/>
    <div id="content" class="grid">
        <div class="row">
            <div id="main" class="slot-0-1-2-3-4">
                {% include 'cliente/candidato/cabecalho.twig' with{'titulo': 'Personal Data', 'link': false} %}

                <div id="content_main" class="row">
                    <div class="row tab">
                        {% include "cliente/candidato/abas.twig" %}
                        <form action="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_USUARIO&metodo=postEditarInfo" name="{{ template.nome }}" id="{{ template.nome }}" method="post" enctype="multipart/form-data" accept-charset="ISO-8859-1">
                            <div class="slot-1-2-3-4">
                                <div class="box">
                                    <h3>Personal Information</h3>
                                    <ul>
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'First name', 'nome': 'NO_PRIMEIRO_NOME',  'valor': candidato.mNO_PRIMEIRO_NOME, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Middle name', 'nome': 'NO_NOME_MEIO',  'valor': candidato.mNO_NOME_MEIO, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Last name', 'nome': 'NO_ULTIMO_NOME',  'valor': candidato.mNO_ULTIMO_NOME, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Contact email', 'nome': 'email_pessoal',  'valor': candidato.memail_pessoal, 'readonly': readonly} %}
                                        {% include "public/COMBO_GERAL.twig" with {'label': 'Nationality', 'nome': 'CO_NACIONALIDADE', 'valor_atual': candidato.mCO_NACIONALIDADE, 'valores': nacionalidades, 'readonly': readonly} %}
                                        {% include "public/CAMPO_DATA.twig"  with {'label': 'Date of birth', 'nome': 'DT_NASCIMENTO',  'valor': candidato.mDT_NASCIMENTO, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Place of birth', 'nome': 'NO_LOCAL_NASCIMENTO',  'valor': candidato.mNO_LOCAL_NASCIMENTO, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Father&#039;s full name:', 'nome': 'NO_PAI',  'valor': candidato.mNO_PAI, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Mother&#039;s full name', 'nome': 'NO_MAE',  'valor': candidato.mNO_MAE, 'readonly': readonly} %}
                                        {% include "public/COMBO_GERAL.twig" with {'label': 'Father&#039;s nationality', 'nome': 'co_pais_nacionalidade_pai', 'valor_atual': candidato.mco_pais_nacionalidade_pai, 'valores': nacionalidades, 'readonly': readonly}%}
                                        {% include "public/COMBO_GERAL.twig" with {'label': 'Mother&#039;s nationality', 'nome': 'co_pais_nacionalidade_mae',  'valor_atual': candidato.mco_pais_nacionalidade_mae,'valores': nacionalidades, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Marital status', 'nome': 'NO_ESTADO_CIVIL_EM_INGLES',  'valor': candidato.mNO_ESTADO_CIVIL_EM_INGLES, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Highest level of education', 'nome': 'NO_ESCOLARIDADE_EM_INGLES',  'valor': candidato.mNO_ESCOLARIDADE_EM_INGLES, 'readonly': readonly} %}
                                        {% include "public/COMBO_GERAL.twig" with {'label': 'Gender', 'nome': 'CO_SEXO', 'valor_atual': candidato.mCO_SEXO, 'valores': sexos, 'readonly': readonly}%}
                                        <li class="title">
                                            <h4>Home address</h4>
                                        </li>
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Address', 'nome': 'NO_ENDERECO_RESIDENCIA',  'valor': candidato.mNO_ENDERECO_RESIDENCIA, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'City', 'nome': 'NO_CIDADE_RESIDENCIA',  'valor': candidato.mNO_CIDADE_RESIDENCIA, 'readonly': readonly} %}
                                        {% include "public/COMBO_GERAL.twig" with {'label': 'Country:', 'nome': 'CO_PAIS_RESIDENCIA', 'valor_atual': candidato.mCO_PAIS_RESIDENCIA, 'valores': paises, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Phone #', 'nome': 'NU_TELEFONE_CANDIDATO',  'valor': candidato.mNU_TELEFONE_CANDIDATO, 'readonly': readonly} %}
                                        <li class="title">
                                            <h4>Consulate Information</h4>
                                        </li>
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Consulate where the visa will be collected', 'nome': 'NO_REPARTICAO_CONSULAR',  'valor': candidato.mNO_REPARTICAO_CONSULAR, 'readonly': readonly} %}
                                    </ul>
                                    {% if not disabled %}
                                        <div style="clear: both;">&nbsp;</div>
                                        <div style="display: box; margin:auto; text-align:center;">
                                            <input type="submit" name="save" value="Save" title="Save changes to continue later"/>
                                        </div>        
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% include 'cliente/barra_direita.html' %}
        </div>
    </div>
{% endblock %}
