{% extends "cliente/base.html" %}

{% block cabecalho %}
    {% include "cliente/cabecalho_commenu.html" %}    
{% endblock %}    

{% block conteudo %}
    <input type="hidden" name="postado" value="1"/>
    <div id="content" class="grid">
        <div class="row">
            <div id="main" class="slot-0-1-2-3-4">
                {% include 'cliente/candidato/cabecalho.twig' with{'titulo': 'Documents', 'link': true} %}
                <div id="content_main" class="row">
                    <div class="row tab">
                        {% include "cliente/candidato/abas_cliente.twig" %}
                        <form action="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_CLIENTE&metodo=postEditarDocumentos" name="{{ template.nome }}" id="{{ template.nome }}" method="post" accept-charset="ISO-8859-1">
                            <input type="hidden" name="nu_candidato" value="{{nu_candidato}}"/>
                            <input type="hidden" name="nu_candidato_tmp" value="{{nu_candidato_tmp}}"/>
                            <div class="slot-1-2-3-4">
                                <div class="box">
                                    <h3>Passport Information</h3>
                                    <ul>
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Number', 'nome': 'NU_PASSAPORTE',  'valor': candidato.mNU_PASSAPORTE, 'readonly': readonly} %}
                                        {% include "public/COMBO_GERAL.twig" with {'label': 'Issuing government', 'nome': 'CO_PAIS_EMISSOR_PASSAPORTE',  'valor_atual': candidato.mCO_PAIS_EMISSOR_PASSAPORTE,'valores': paises, 'readonly': readonly} %}
                                        {% include "public/CAMPO_DATA.twig" with {'label': 'Issue date', 'nome': 'DT_EMISSAO_PASSAPORTE',  'valor': candidato.mDT_EMISSAO_PASSAPORTE, 'readonly': readonly} %}
                                        {% include "public/CAMPO_DATA.twig" with {'label': 'Expiry date', 'nome': 'DT_VALIDADE_PASSAPORTE',  'valor': candidato.mDT_VALIDADE_PASSAPORTE, 'readonly': readonly} %}
                                        <li class="title">
                                            <h4>Seaman's book</h4>
                                        </li>
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': "Seaman's book number", 'nome': 'NO_SEAMAN',  'valor': candidato.mNO_SEAMAN, 'readonly': readonly} %}
                                        {% include "public/CAMPO_DATA.twig" with {'label': 'Issue date', 'nome': 'DT_EMISSAO_SEAMAN',  'valor': candidato.mDT_EMISSAO_SEAMAN, 'readonly': readonly} %}
                                        {% include "public/CAMPO_DATA.twig" with {'label': 'Expiry date', 'nome': 'DT_VALIDADE_SEAMAN',  'valor': candidato.mDT_VALIDADE_SEAMAN, 'readonly': readonly} %}
                                        {% include "public/COMBO_GERAL.twig" with {'label': 'Issuing government', 'nome': 'CO_PAIS_SEAMAN',  'valor_atual': candidato.mCO_PAIS_SEAMAN,'valores': paises, 'readonly': readonly} %}
                                        <li class="title">
                                            <h4>RNE</h4>
                                        </li>
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Number', 'nome': 'NU_RNE',  'valor': candidato.mNU_RNE, 'readonly': readonly} %}
                                    </ul>
                                    {% if not disabled %}
                                        <div style="clear: both;">&nbsp;</div>
                                        <div style="display: box; margin:auto; text-align:center;">
                                            <input type="submit" name="save" value="Save" title="Save changes to continue later"/>
                                        </div>        
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% include 'cliente/barra_direita.html' %}
        </div>
    </div>
{% endblock %}
