{% extends "cliente/base.html" %}

{% block cabecalho %}
    {% include "cliente/cabecalho_commenu.html" %}    
{% endblock %}    

{% block conteudo %}
    <form action="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_CLIENTE&metodo=postEnviar" name="{{ template.nome }}" id="{{ template.nome }}" method="post" enctype="multipart/form-data" accept-charset="ISO-8859-1">
        <input type="hidden" name="nu_candidato" value="{{nu_candidato}}"/>
        <input type="hidden" name="nu_candidato_tmp" value="{{nu_candidato_tmp}}"/>
        <input type="hidden" name="postado" value="1"/>
        <div id="content" class="grid">
            <div class="row">
                <div id="main" class="slot-0-1-2-3-4-5">
                    <div id="top_main" class="row">
                        <div id="title_main" class="candidate">
                            <h2><span class="title">{{candidato.mNOME_COMPLETO}} - Personal Data</span> </h2>
                        </div>
                        {% include "public/notificacao.html" %}
                    </div>

                    <div id="content_main" class="row">
                        <div class="row tab">
                            {% include "cliente/candidato/abas_cliente.twig" %}
                            <div class="slot-1-2-3-4">
                                <div class="box">
                                    <h3>Send changes do Mundivisas</h3>
                                <br/>
                                <br/>
                                    <h2 style="font-size:16px;">This will send all the saved changes you made to Mundivisas. You won't be able to make further changes until someone review the information you are sending them now.</h2>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                    <div style="clear: both;">&nbsp;</div>
                                    <div style="display: box; margin:auto; text-align:center;">
                                        <input type="submit" name="send" value="I understand, send now" title="Save changes and send them to Mundivisas"/>
                                    </div>        
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
