{% extends "cliente/base.html" %}
{% block style %}
<style>
    table.interna{ font-size:10px;}
    table.interna tr th{
        font-weight: bold;
        border-bottom: solid 1px #7a7a7a;
    }
    table.interna tr:last-child td{
        border-bottom: solid 1px #7a7a7a;   
    }
    table.interna tr td{
        border-top: solid 1px #F5F5F5;   
    }

</style>
{% endblock %}    


{% block cabecalho %}
    {% include "cliente/cabecalho_commenu.html" %}    
{% endblock %}    

{% block conteudo %}
    <input type="hidden" name="postado" value="1"/>
    <div id="content" class="grid">
        <div class="row">
            <div id="main" class="slot-0-1-2-3-4">
                {% include 'cliente/candidato/cabecalho.twig' with{'titulo': '', 'link': false} %}

                <div id="content_main" class="row">
                    <div class="row tab">
                        {% include "cliente/candidato/abas.twig" %}
                        <form action="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_USUARIO&metodo=postEditarExperiencia" name="{{ template.nome }}" id="{{ template.nome }}" method="post" enctype="multipart/form-data" accept-charset="ISO-8859-1">
                            <input type="hidden" value="{{candidato.mNU_CANDIDATO}}" id="NU_CANDIDATO" name="NU_CANDIDATO"/>
                            <input type="hidden" value="{{candidato.mnu_candidato_tmp}}" id="nu_candidato_tmp" name="nu_candidato_tmp"/>
                            <div class="slot-1-2-3-4">
                                <div class="box">
                                    <h3>Current job</h3>
                                    <ul>
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': "Employer's Name", 'nome': 'NO_EMPRESA_ESTRANGEIRA',  'valor': candidato.mNO_EMPRESA_ESTRANGEIRA, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': "Vessel Name", 'nome': 'NO_EMBARCACAO_PROJETO',  'valor': candidato.mNO_EMBARCACAO_PROJETO, 'readonly': readonly} %}
                                        <li class="title">
                                            <h4>Employer's address</h4>
                                        </li>
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': "Address", 'nome': 'NO_ENDERECO_EMPRESA',  'valor': candidato.mNO_ENDERECO_EMPRESA, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': "City", 'nome': 'NO_CIDADE_EMPRESA',  'valor': candidato.mNO_CIDADE_EMPRESA, 'readonly': readonly} %}
                                        {% include "public/COMBO_GERAL.twig" with {'label': "Country", 'nome': 'CO_PAIS_EMPRESA',  'valor_atual': candidato.mCO_PAIS_EMPRESA,'valores': paises, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': "Phone #", 'nome': 'NU_TELEFONE_EMPRESA',  'valor': candidato.mNU_TELEFONE_EMPRESA, 'readonly': readonly} %}
                                        <li class="title">
                                            <h4>Work Information</h4>
                                            <h2 style="font-size:13px;">Note: This does NOT mean you will be subject to tax. Please state your GLOBAL monthly salary.</h2>
                                        </li>
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Monthly income', 'nome': 'VA_REMUNERACAO_MENSAL',  'valor': candidato.mVA_REMUNERACAO_MENSAL, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Monthly salary in Brazil', 'nome': 'VA_REMUNERACAO_MENSAL_BRASIL',  'valor': candidato.mVA_REMUNERACAO_MENSAL_BRASIL, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': "Occupation", 'nome': 'NO_FUNCAO_EM_INGLES',  'valor': candidato.mNO_FUNCAO_EM_INGLES,'readonly': readonly} %}
                                        {% include "public/COMBO_GERAL.twig" with {'label': "Vessel/ project location", 'nome': 'loca_id',  'valor_atual': candidato.mloca_id,'valores': locais, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': "Profession", 'nome': 'NO_PROFISSAO_EM_INGLES',  'valor': candidato.mNO_PROFISSAO_EM_INGLES,'readonly': readonly} %}
                                    </ul>
                                    {% if not disabled %}
                                        <div style="clear: both;">&nbsp;</div>
                                        <div style="display: box; margin:auto; text-align:center;">
                                            <input type="submit" name="save" value="Save" title="Save changes to continue later"/>
                                        </div>        
                                    {% endif %}
                                    <h3>Previous experience</h3>
                                    {% if not readonly %}
                                    <ul>
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': "Company", 'nome': 'epro_no_companhia',  'valor':''} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': "Occupation", 'nome': 'epro_no_funcao',  'valor':''} %}
                                        {% include "public/CAMPO_DATA.twig" with {'label': 'From (dd/mm/yyyy)', 'nome': 'epro_dt_inicio',  'valor': ''} %}
                                        {% include "public/CAMPO_DATA.twig" with {'label': 'Until (dd/mm/yyyy)', 'nome': 'epro_dt_fim',  'valor': ''} %}
                                        {% include "public/CAMPO_MEMO.twig" with {'label': "Description of activities", 'nome': 'epro_tx_atribuicoes', 'valor':''} %}
                                    </ul>
                                        <div style="clear: both;">&nbsp;</div>
                                        <div style="display: box; margin:auto; text-align:center;">
                                            <input type="button" name="add" id="btnAdicionarExperiencia" value="Add" title="Add experience" onclick="javascript:adicionarExperiencia();"/>
                                        </div>
                                    {% endif %}
                                    <div id="experiencias" style="text-align: center; font-size:14px;">
                                        {% include 'cliente/candidato/experiencia_list.twig' %}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% include 'cliente/barra_direita.html' %}
        </div>
    </div>
<script>
    function adicionarExperiencia(){
        var msg;
        msg = '';
        if ($('#CMP_epro_no_companhia').val() == ''){
            msg = msg +"\n- the company name must be informed";
        }
        if ($('#CMP_epro_no_funcao').val() == ''){
            msg = msg +"\n- the occupation must be informed";
        }
        if ($('#CMP_epro_dt_inicio').val() == ''){
            msg = msg +"\n- the from date must be informed";
        }
        if ($('#CMP_epro_tx_atribuicoes').val() == ''){
            msg = msg +"\n- the activities must be informed";
        }
        if (msg != ''){
            msg = 'Please review the errors below and try again:'+msg;
            alert(msg);
            return ;
        }

        $('#btnAdicionarExperiencia').attr('disabled', 'disabled');
        $('#btnAdicionarExperiencia').val('(please wait...)');
        $( "#experiencias" ).html('<i class="icon-spin icon-spinner"></i>');
        var url = '/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_CLIENTE&metodo=postAdicionarExperiencia';
        var data = {
            nu_candidato_tmp: $('#CMP_nu_candidato_tmp').val(),
            NU_CANDIDATO: $('#nu_candidato').val(),
            no_companhia: $('#CMP_epro_no_companhia').val(),
            no_funcao: $('#CMP_epro_no_funcao').val(),
            dt_inicio: $('#CMP_epro_dt_inicio').val(),
            dt_fim: $('#CMP_epro_dt_fim').val(),
            tx_atribuicoes: $('#CMP_epro_tx_atribuicoes').val()
        };
        $( "#experiencias" ).load( url, data , function() {
            $('#btnAdicionarExperiencia').removeAttr('disabled');
            $('#btnAdicionarExperiencia').val('Add');
            $('#CMP_epro_no_companhia').val('');
            $('#CMP_epro_no_funcao').val('');
            $('#CMP_epro_dt_inicio').val('');
            $('#CMP_epro_dt_fim').val('');
            $('#CMP_epro_tx_atribuicoes').val('');
        });
    }
    function excluirExperiencia(epro_id){
        $( "#experiencias" ).html('<i class="icon-spin icon-spinner icon-3x"></i>');
        var url = '/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_CLIENTE&metodo=postExcluirExperiencia';
        var data = {
            epro_id: epro_id,
            nu_candidato_tmp: $('#CMP_nu_candidato_tmp').val(),
        };
        $( "#experiencias" ).load( url, data );
    }
</script>
{% endblock %}
