{% extends "cliente/base.html" %}

{% block style %}
<style>
	div.results table tbody tr td, div.results table thead tr th{
		text-align: left;
	}
	div.results table tbody tr td.cen, div.results table thead tr th.cen{
		text-align: center;
	}
	div.results table tbody tr td.dir, div.results table thead tr th.dir{
		text-align: right;
	}

</style>
{% endblock %}

{% block cabecalho %}
    {% include "cliente/cabecalho_commenu.html" %}
{% endblock %}

{% block conteudo %}
<form id="listarCandidatos" method="post" enctype="multipart/form-data" accept-charset="ISO-8859-1">
	<input type="hidden" value="1" name="foipostado"/>
    {% for campo in template.controles %}
    <input type="hidden" id="CMP_{{ campo.mCampoBD }}" name="CMP_{{ campo.mCampoBD }}" value="{{ campo.mValor }}"/>
    {% endfor %}
    <div id="content" class="grid">
        <div class="row">
            <div id="main" class="slot-0-1-2-3-4-5">
                <div id="top_main" class="row">
                    <div id="title_main" class="candidate">
                        <h2><span class="title">{{ titulo_tela }}</span></h2>
                    </div>
                    {% include "public/notificacao.html" %}
                </div>
                <div id="content_main" class="search">
                	<div class="filtros">
					    <ul>
						    <li>
								<p class="label">Vessel/project name:</p>
								<p class="content">
									{% include 'intranet/campos/campo_combo.html' with {'valor': nu_embarcacao_projeto, 'nome':'nu_embarcacao_projeto', 'regs': embarcacoes }%}
								</p>
							</li>
							<li>
								<p class="label">Name:</p>
								<p class="content"><input type="text" id="CMP_nome_completo" name="CMP_nome_completo" value="{{nome_completo}}" class=" cmp"></p>
							</li>
						</ul>
					    <div class="buttons_group">
					        <input type="button" class="clear" value="Clear form" title="Clear form">
					        <input type="button" class="search" value="Search" title="Search candidates" onclick="$('#listarCandidatos').submit();"> 
						</div>
					</div>


                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block conteudofull %}
<div class="results" style="padding:10px;">
    <h3>Results</h3>
    <table >
        <thead>
            <tr>
            {% for painel in paineis %}
            	{% if painel.visiveis > 0 %}
                    {% for campo in painel.campos %}
                        {% if campo.visivel %}
                            <th class="{{ campo.classe }}" data-class="expand" data-hide="" data-type="" data-sort-ignore="">{{ campo.label | raw }}</th>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for candidato in candidatos %}
            <tr class="">
            {% for painel in paineis %}
            	{% if painel.visiveis > 0 %}
                    {% for campo in painel.campos %}
                        {% if campo.visivel %}
                            <td class="">{{ attribute(candidato, campo.campo) | raw }}</td>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
