<html>
	<head>
		<style>
			div.results table tbody tr td, div.results table thead tr th{
				text-align: left;
			}
			div.results table tbody tr td.cen, div.results table thead tr th.cen{
				text-align: center;
			}
			div.results table tbody tr td.dir, div.results table thead tr th.dir{
				text-align: right;
			}

		</style>
	</head>
	<body>
	    <table border='1'>
	        <thead>
	            <tr>
	            	<td colspan="{{totalVisivel}}" style="font-size:22pt; font-weight: bold; font-style: italic;">Mundivisas -- Candidates report</td> 
	            </tr>
	            <tr>
	            	<td colspan="{{totalVisivel}}" style="font-weight: bold; font-size:15pt;">{{empresa.mNO_RAZAO_SOCIAL}}</td>
	            </tr>
	            {% for painel in paineis %}
	            	{% if painel.visiveis > 0 %}
	                    {% for campo in painel.campos %}
	                        {% if campo.visivel %}
	                            <th class="{{ campo.classe }}">{{ campo.label | raw }}</th>
	                        {% endif %}
	                    {% endfor %}
	                {% endif %}
	            {% endfor %}
	            </tr>
	        </thead>
	        <tbody>
	        {% for candidato in candidatos %}
	            <tr class="">
	            {% for painel in paineis %}
	            	{% if painel.visiveis > 0 %}
	                    {% for campo in painel.campos %}
	                        {% if campo.visivel %}
	                            <td class="">{{ attribute(candidato, campo.campo) | raw }}</td>
	                        {% endif %}
	                    {% endfor %}
	                {% endif %}
	            {% endfor %}
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	</body>
</html>
