{% extends "cliente/base.html" %}

{% block cabecalho %}
    {% include "cliente/cabecalho_commenu.html" %}    
{% endblock %}    

{% block conteudo %}
<form name="{{ template.nome }}" id="{{ template.nome }}" method="post" enctype="multipart/form-data" accept-charset="ISO-8859-1">
    <div id="content" class="grid">
        <div class="row">
            <div id="main" class="slot-0-1-2-3-4-5">
                <div id="top_main" class="row">
                    <div id="title_main" class="candidate">
                        <h2><span class="title">{{candidato.mNOME_COMPLETO}} - PIT</span></h2>
                    </div>
                    {% include "public/notificacao.html" %}
                </div>
                <div id="content_main" class="search">
                    <div class="filtros">
                        <ul>
                            <li>
                                    <p class="label">Year:</p>
                                            <img class="tip" title="Select the year" src="../img/help.png"/>
                                    <p class="content">
                                        <select id="ano" name="ano" >
                                            <option value="2015">2015</option>
                                            <option value="2014">2014</option>
                                        </select>
                                    </p>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="results">
                        <h3>Info</h3>
                        <table class="footable">                            
                            <colgroup>
                                <col width="">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore="" rowspan="2" style="text-align: center;">Month</th>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore="" colspan="3" style="text-align: center;">Carnê-Leão Income</th>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore="" colspan="" style="text-align: center;">&nbsp;</th>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore="" colspan="4" style="text-align: center;">Carnê-Leão Deductions</th>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore="" colspan="">&nbsp;</th>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore="" colspan="2" style="text-align: center;">Carnê-Leão</th>
                                </tr>
                                <tr>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore=""  style="text-align: right;">Trabalho<br/>não<br/>assalariado</th>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore="" style="text-align: right;">Rent</th>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore="" style="text-align: right;">Others</th>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore="" style="text-align: right;">Exterior</th>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore="" style="text-align: right;">Previdência<br/>oficial</th>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore="" style="text-align: right;">Dependentes</th>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore="" style="text-align: right;">Pensão<br/>alimentícia</th>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore="" style="text-align: right;">Livro<br/>caixa</th>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore="" style="text-align: right;">Imposto<br/>pago no<br/>exterior a<br/>compensar</th>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore="" style="text-align: right;">Imposto<br/>devido</th>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore="" style="text-align: right;">Imposto<br/>pago</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="">
                                    <td>JAN</td>
                                    <td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td>
                                </tr>
                                <tr class="">
                                    <td>FEB</td>
                                    <td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td>
                                </tr>
                                <tr class="">
                                    <td>MAR</td>
                                    <td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td>
                                </tr>
                                <tr class="">
                                    <td>APR</td>
                                    <td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td>
                                </tr>
                                <tr class="">
                                    <td>MAY</td>
                                    <td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td>
                                </tr>
                                <tr class="">
                                    <td>JUN</td>
                                    <td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td>
                                </tr>
                                <tr class="">
                                    <td>JUL</td>
                                    <td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td>
                                </tr>
                                <tr class="">
                                    <td>AUG</td>
                                    <td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td>
                                </tr>
                                <tr class="">
                                    <td>SEP</td>
                                    <td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td>
                                </tr>
                                <tr class="">
                                    <td>OCT</td>
                                    <td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td>
                                </tr>
                                <tr class="">
                                    <td>NOV</td>
                                    <td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td>
                                </tr>
                                <tr class="">
                                    <td>DEC</td>
                                    <td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td><td style="text-align: right;">0.00</td>
                                </tr>
                            </tbody>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    
