<h4>{{ processo.mNO_SERVICO_RESUMIDO }}</h4>
<ul>
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'nu_processo', 'valor': processo.mnu_processo, 'label': 'Número do Processo', 'readonly': true} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'dt_processo', 'valor': processo.mdt_processo, 'label': 'Data de Processo', 'readonly': true} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'dt_cancel', 'valor': processo.mdt_cancel, 'label': 'Data de Cancelamento', 'readonly': true} %}
</ul>
