<h4>{{ processo.mNO_SERVICO_RESUMIDO }}</h4>
<ul>
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'nu_protocolo', 'valor': processo.mnu_protocolo, 'label': 'Número do Protocolo CIE', 'readonly': true} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'dt_requerimento', 'valor': processo.mdt_requerimento, 'label': 'Data de Requerimento', 'readonly': true} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'depf_no_nome', 'valor': processo.mdepf_no_nome, 'label': 'Delegacia PF', 'readonly': true} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'dt_validade', 'valor': processo.mdt_validade, 'label': 'Validade do Protocolo CIE', 'readonly': true} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'dt_prazo_estada', 'valor': processo.mdt_prazo_estada, 'label': 'Prazo Estada Atual', 'readonly': true} %}
</ul>
