<h4>{{ processo.mNO_SERVICO_RESUMIDO }}</h4>
<ul>
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'nu_protocolo', 'valor': processo.mnu_protocolo, 'label': 'Número do Protocolo', 'readonly': true} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'dt_requerimento', 'valor': processo.mdt_requerimento, 'label': 'Data de Requerimento', 'readonly': true} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'dt_validade', 'valor': processo.mdt_validade, 'label': 'Validade do Protocolo', 'readonly': true} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'dt_prazo_pret', 'valor': processo.mdt_prazo_pret, 'label': 'Prazo Pretendido', 'readonly': true} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'dt_publicacao_dou', 'valor': processo.dt_publicacao_dou, 'label': 'Data publicação DOU', 'readonly': true} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'NO_STATUS_CONCLUSAO', 'valor': processo.NO_STATUS_CONCLUSAO, 'label': 'Status', 'readonly': true} %}
    {% if processo.mnu_protocolo != '' %}
        <li><a href="#" style="border: 1px solid #E8E8E8; color: #7A7A7A; background-color: #F5F5F5; padding: 5px; margin-left: 0px; font-size:1.5em; text-align: center;" onClick="javascript:abreCertidao('{{ processo.mnu_protocolo }}');">Click here for "Certidão de trâmite" (if available)</a></li>
    {% endif %}
</ul>
    
