<h4>{{ processo.mNO_SERVICO_RESUMIDO }}</h4>
<ul>
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'NO_RAZAO_SOCIAL', 'valor': processo.mNO_RAZAO_SOCIAL, 'label': 'Company', 'readonly': true} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'NO_EMBARCACAO_PROJETO', 'valor': processo.mNO_EMBARCACAO_PROJETO, 'label': 'Vessel/project name', 'readonly': true} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'nu_processo', 'valor': processo.mnu_processo , 'label': 'Process #', 'readonly': true} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'dt_requerimento', 'valor': processo.mdt_requerimento , 'label': 'Requested on', 'readonly': true} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'NO_FUNCAO_EM_INGLES', 'valor': processo.mNO_FUNCAO , 'label': 'Occupation', 'readonly': true} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'NO_REPARTICAO_CONSULAR ', 'valor': processo.mNO_REPARTICAO_CONSULAR , 'label': 'Consulate', 'readonly': true} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'nu_oficio', 'valor': processo.mnu_oficio , 'label': 'MRE #', 'readonly': true} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'NO_SERVICO_RESUMIDO', 'valor': processo.mNO_SERVICO_RESUMIDO, 'label': 'Visa type', 'readonly': true} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'dt_deferimento', 'valor': processo.mdt_deferimento , 'label': 'Deffered on', 'readonly': true} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'prazo_solicitado', 'valor': processo.mprazo_solicitado , 'label': 'Prazo solicitado', 'readonly': true} %}
</ul>
