<h4>{{ processo.titulo }}</h4>
<ul>
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'nu_cie', 'valor': processo.mnu_cie, 'label': 'Número RNE'} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'dt_emissao', 'valor': processo.mdt_emissao, 'label': 'Data de expedição'} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'dt_validade', 'valor': processo.mdt_validade, 'label': 'Validade da CIE'} %}
    {% include "public/CAMPO_TEXTO.twig" with {'nome': 'CO_CLASSIFICACAO_VISTO', 'valor': processo.NO_CLASSIFICACAO_VISTO, 'label': 'Classificação'} %}
</ul>
