{% extends "cliente/base.html" %}

{% block cabecalho %}
    {% include "cliente/cabecalho_commenu.html" %}    
{% endblock %}    

{% block conteudo %}
        <div id="content" class="grid">
            <div class="row">
                <div id="main" class="slot-0-1-2-3-4">
                {% include 'cliente/candidato/cabecalho.twig' with{'titulo': '', 'link': true} %}
                    <div id="content_main" class="row">
                        <div class="row tab">
                            {% include "cliente/candidato/abas_cliente.twig" %}
                            <form name="{{ template.nome }}" id="{{ template.nome }}" method="post" enctype="multipart/form-data" accept-charset="ISO-8859-1">
                                <input type="hidden" name="nu_candidato" id="nu_candidato" value="{{nu_candidato}}"/>
                                <input type="hidden" name="nu_candidato_tmp" id="nu_candidato_tmp" value="{{nu_candidato_tmp}}"/>
                                <div class="slot-1-2-3-4">
                                    <div class="box">
                                        {% include "cliente/candidato/processo_mte.twig" with {'processo': autorizacao} %}
                                        {% for processo in processos %}
                                            {% if processo.mnomeTabela == 'mte' %}
                                                {% include "cliente/candidato/processo_mte.twig" with {'processo': processo} %}
                                            {% endif %}
                                            {% if processo.mnomeTabela == 'regcie' %}
                                                {% include "cliente/candidato/processo_regcie.twig" with {'processo': processo} %}
                                            {% endif %}
                                            {% if processo.mnomeTabela == 'emiscie' %}
                                                {% include "cliente/candidato/processo_emiscie.twig" with {'processo': processo} %}
                                            {% endif %}
                                            {% if processo.mnomeTabela == 'cancel' %}
                                                {% include "cliente/candidato/processo_cancel.twig" with {'processo': processo} %}
                                            {% endif %}
                                            {% if processo.mnomeTabela == 'prorrog' %}
                                                {% include "cliente/candidato/processo_prorrog.twig" with {'processo': processo} %}
                                            {% endif %}
                                        {% endfor %}    
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% include 'cliente/barra_direita.html' %}
            </div>
        </div>
{% endblock %}
