{% extends "cliente/base.html" %}

{% block cabecalho %}
    {% include "cliente/cabecalho_commenu.html" %}
{% endblock %}

{% block conteudo %}
    <form name="{{ template.nome }}" id="{{ template.nome }}" method="post" enctype="multipart/form-data">
        <div id="content" class="grid">
            <div class="row">
                <div id="main" class="slot-0-1-2-3-4">
                {% include 'cliente/candidato/cabecalho.twig' with{'titulo': '', 'link': false} %}

                    <div id="content_main" class="row">
                        <div class="row tab">
                            {% include "cliente/candidato/abas.twig" %}
                            <div class="slot-1-2-3-4">
                                <div class="box">
                                    {% include "cliente/candidato/processo_mte.twig" with {'processo': autorizacao} %}
                                    {% for processo in processos %}
                                        {% if processo.mnomeTabela == 'mte' %}
                                            {% include "cliente/candidato/processo_mte.twig" with {'processo': processo} %}
                                        {% endif %}
                                        {% if processo.mnomeTabela == 'regcie' %}
                                            {% include "cliente/candidato/processo_regcie.twig" with {'processo': processo} %}
                                        {% endif %}
                                        {% if processo.mnomeTabela == 'emiscie' %}
                                            {% include "cliente/candidato/processo_emiscie.twig" with {'processo': processo} %}
                                        {% endif %}
                                        {% if processo.mnomeTabela == 'cancel' %}
                                            {% include "cliente/candidato/processo_cancel.twig" with {'processo': processo} %}
                                        {% endif %}
                                        {% if processo.mnomeTabela == 'prorrog' %}
                                            {% include "cliente/candidato/processo_prorrog.twig" with {'processo': processo} %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'cliente/barra_direita.html' %}
            </div>
        </div>
    </form>
{% endblock %}
