	<div style="font-weight:bold;">
		RELAT&Oacute;RIO DE COBRAN&Ccedil;A
	</div>
	</div>
	<div>
		COBRAR
	</div>
	<div>
		{{{empresa.empr_tx_razao_social_cobranca}}} - CPF/CNPJ:{{empresa.empr_tx_cnpj_cobranca}}<br/>
		{{{empresa.empr_tx_endereco_cobranca}}} - {{{empresa.empr_tx_complemento_endereco_cobranca}}}<br/>
		{{{empresa.empr_tx_bairro_cobranca}}} - {{{empresa.empr_tx_municipio_cobranca}}} - {{{empresa.co_uf_cobranca}}}<br/>
		CEP {{{empresa.empr_tx_cep_cobranca}}}<br/>
	</div>
	<table class="combordas">
		<tr>
			<td style="text-align:center;">&nbsp;
			</td>
			<td style="text-align:center; width:100px;">
			<strong>M&ecirc;s ref.:</strong><br/>
			{{resc_tx_mes_referencia}}
			</td>
			<td style="text-align:center;">
			<strong>Centro de Custo:</strong><br/>
			{{{NO_EMBARCACAO_PROJETO}}}
			</td>
			<td style="text-align:center;">
			<strong>Autorizado Por:</strong><br/>
			{{{resc_tx_solicitante_cobranca}}}
			</td>
		</tr>
	</table>
	<table class="sembordas">
