<style>
	*{font-family:Arial;}
	div {font-family:Arial;}
	table{width:100%; border-collapse: collapse;}
	table tr td{vertical-align:top;font-family:Arial;font-size:9pt;}
	table.combordas tr td{border:solid 1px black;}
</style>
<body>
	<div style="font-weight:bold;">
		RELAT&Oacute;RIO DE COBRAN&Ccedil;A
	</div>
	</div>
	<div>
		COBRAR
	</div>
	<div>
		{{{empresa.NO_RAZAO_SOCIAL}}} - CPF/CNPJ:{{empresa.NU_CNPJ}}<br/>
		{{{empresa.NO_ENDERECO}}} - {{{empresa.NO_COMPLEMENTO_ENDERECO}}}<br/>
		{{{empresa.NO_BAIRRO}}} - {{{empresa.NO_MUNICIPIO}}} - {{{empresa.CO_UF}}}<br/>
		CEP {{{empresa.NU_CEP}}}<br/>
	</div>
	<table class="combordas">
		<tr>
			<td style="text-align:center;">&nbsp;
			</td>
			<td style="text-align:center; width:100px;">
			<strong>M&ecirc;s ref.:</strong><br/>
			{{resc_tx_mes_referencia}}
			</td>
			<td style="text-align:center;">
			<strong>Centro de Custo:</strong><br/>
			{{{NO_EMBARCACAO_PROJETO}}}
			</td>
			<td style="text-align:center;">
			<strong>Autorizado Por:</strong><br/>
			{{{resc_tx_solicitante_cobranca}}}
			</td>
		</tr>
	</table>
	<table>
	{{#candidatos}}
		<tr>
			<td colspan="3" style="border-top: solid 1px black;">
			<strong>{{{NOME_COMPLETO}}}</strong>
			</td>
		</tr>
		<tr>
			<td style="padding-left:30px;width:90px;"><strong>Item</strong></td>
			<td><strong>Descri&ccedil;&atilde;o</strong></td>
			<td style="text-align:right;"><strong>Valor</strong></td>
		</tr>
		{{#solicitacoes}}
			<tr>
				<td style="padding-left:30px;">{{{soli_tx_codigo_servico}}}</td>
				<td>{{{soli_tx_descricao_servico}}}</td>
				<td style="text-align:right;">R$ {{soli_vl_cobrado_fmt}}</td>
			</tr>
		{{/solicitacoes}}
		<tr>
			<td colspan="3" style="text-align:right;padding-top:5px;"><strong>Sub-total: </strong>R$ {{subtotal_fmt}}</td>
		</tr>
	{{/candidatos}}
	<tr>
		<td style="border-top:solid 2px black;font-weight:bold;">Total de candidatos: {{total_cand}}</td>
		<td colspan="2" style="text-align:right; border-top:solid 2px black;font-weight:bold;">TOTAL GERAL: R$ {{total_geral_fmt}}</td>
	</tr>
	</table>
	<div style="padding-top:10px;">
	<strong>Observa&ccedil;&otilde;es</strong><br/>
		{{{resc_tx_observacoes}}}
	</div>
</body>
