<style>

	.grid td input[type=image]{padding-left:2px;}
	.grid td input[type=image]:first-of-type{padding-left:0px;}
	td.r {text-align:right;}
	td.c {text-align:center;}
	label{cursor: pointer;}
</style>
<div class="titulo">Acompanhamento de revisões por usuário</div>
<div style="margin:10px;">
	<table id="TRelat" class="orderby destaque relatorio grade grid" style="margin-top:0;">
		<colgroup>
				<col style="width:80px;"/>
				<col style="width:auto;"/>
				{{#colunas.paineis}}
				{{#campos}}
					{{#mColunaAtiva}}<col class="{{mClasse}}" />{{/mColunaAtiva}}
				{{/campos}}
				{{/colunas.paineis}}
		</colgroup>

		<thead>
			<tr>
				{{#campos}}
					{{#visivel}}<th class="header">{{{Label}}}</th>{{#visivel}}
				{{/campos}}
			</tr>
		</thead>
		<tbody>
		{{#candidatos}}
			<tr>
				{{#campos}}
					<td>{{{valor}}}</td>
				{{/campos}}
			</tr>
		{{/candidatos}}
		</tbody>
	</table>
	<br/>
</div>
<div id="dialog" title="{{titulo_mensagem}}"  style="display: none;">{{{mensagem}}}</div>
<div id="edit" title="Edite" style="display: none;">
	<form id="formEdit" name="formEdit">
		<input type="hidden" id="id" name="id" value=""/>
		<textarea id="value" name="value" style="box-sizing:border-box;width:100%;height:70px;"></textarea>
		<br/>
		<div style="margin:auto;text-align:center;"><button onclick="javascript:AtualizarCampo(this);return false;">Atualizar</button></div>
	</form>
	<div id="resultado" style="margin-top:5px;margin-bottom:5px;"></div>
</div>
<script>
//	$('#FRMRelat').submit(function() {
//		if ($('#tipoOutput').val() == 'excel'){
//			window.open('', 'download', '');
//			this.action = 'carregueComMenu.php?controller=cCTRL_CANDIDATO&metodo=RelatorioPorProjetoExcel';
//			this.target = 'download';			
//		}
//		else{
//			this.action = '';
//			this.target = '_self';
//		}
//    });

	msg = '{{mensagem}}';
	if (msg != ''){
		$('#dialog').dialog({minWidth:500}) ;
	}
$(document).ready(function() {
	$('.editavel').click(
		function() {
			var tokens = $(this).attr("id").split(":");
			var nome = '#NOME_COMPLETO'+tokens[0];
			var titulo = $(nome).val();
			titulo = titulo+": Alterar observação do visto";
			$('#edit #value').val();
			$('#edit #value').val($(this).html());
			$('#edit #id').empty().val($(this).attr("id"));
			$('#edit').dialog({minWidth:500, title:titulo}) ;
			$('#edit #resultado').empty();
			
		}
	);

	$('#selecionar_todos').click(
		function() {
			$("#filtros input[type=checkbox]").attr("checked",true);
			return false;
		}
	);

	$('#deselecionar_todos').click(
		function() {
			$("#filtros input[type=checkbox]").attr("checked",false);
			return false;
		}
	);
	
});

function AtualizarCampo(pCampo){
	$.post("atualize.php", $('#formEdit').serialize(), function( data ) {
		var msg = $(data).filter('#msg').html();
		var classe = $(data).filter('#msg').attr("class") ;
		$( "#edit #resultado" ).empty().html( msg);
		$( "#edit #resultado" ).removeClass();		
		$( "#edit #resultado" ).addClass(classe);
		
		var id = $('#formEdit #id').val();
		id = id.replace(/:/g, '\\:');
		$('#'+id).empty().html($('#formEdit #value').attr("value"));
      });
	return false;
}

</script>
	
