	<div style="border-top:solid 1px black;border-bottom:solid 1px black;">
		<table>
			<tr>
				<td style="width:160px;vertical-align:middle;">
					<img src="../imagens/logo_mundivisas_PANTONE.jpg" style="width:150px;"/>
				</td>
				<td>
				<strong>MUNDIVISAS LEGALIZATION OF FOREIGNERS</strong><br/><br/>
				<strong>Endere&ccedil;o:</strong> RUA S&Atilde;O PEDRO, 154 SALA 1005 a 1008<br/>
				CENTRO - NITER&Oacute;I - RJ - CEP 24230-200<br/>
				<strong>Telefone:</strong> (21) 2719-1709<br/>
				<strong>E-mail:</strong> <br/>
				<strong>CNPJ:</strong> 04.343.544/0001-33
				</td>
				<td style="width:100px;text-align:right;">
				Data:{{data}}<br/>
				Hora:{{hora}}<br/>
				Pag.:{PAGENO}<br/>
				{{resc_nu_numero_mv}}

				</td>
			</tr>
		</table>
	</div>
