		<tr>
			<td colspan="3" style="border-top: solid 1px black;" class="candidato">
			<hr style="color:#000;"><strong>{{{NOME_COMPLETO}}}</strong>
			</td>
		</tr>
		<tr>
			<td style="padding-left:30px;width:90px;"><strong>Item</strong></td>
			<td><strong>Descri&ccedil;&atilde;o</strong></td>
			<td style="text-align:right;"><strong>Valor</strong></td>
		</tr>
		{{#solicitacoes}}
			<tr>
				<td style="padding-left:30px;">{{{item}}}</td>
				<td>{{{soli_tx_descricao_servico}}}</td>
				<td style="text-align:right;">R$ {{soli_vl_cobrado_fmt}}</td>
			</tr>
		{{/solicitacoes}}
		<tr>
			<td colspan="3" style="text-align:right;padding-top:5px;"><strong>Sub-total: </strong>R$ {{subtotal_fmt}}</td>
		</tr>
