	</table>
	<table>
	<tr>
		<td colspan="2"><hr style="color:#000;">&nbsp;</td>
	</tr>
	<tr>
		<td style="border-top:solid 2px black;font-weight:bold;">Total de candidatos: {{total_cand}}</td>
		<td style="text-align:right; border-top:solid 2px black;font-weight:bold;">TOTAL GERAL: R$ {{total_geral_fmt}}</td>
	</tr>
	</table>
	<div style="padding-top:10px;">
	<strong>Observa&ccedil;&otilde;es</strong><br/>
		{{{resc_tx_observacoes}}}
	</div>
