<style>
	td{ border: thin solid black;}
</style>
<body>
<table id="TRelat" class="grid" style="margin-top:0;">
	<tr>
		<td style="font-size:14pt;font-weight:bold; border:0px;" colspan="{{qtd_colunas}}">Dataweb - Mundivisas ({{datahora}})</td>
	</tr>
	<tr>
		<td style="font-size:14pt;font-weight:bold;" colspan="{{qtd_colunas}}">{{NO_RAZAO_SOCIAL}}
		</td>
	</tr>
	{{#NO_EMBARCACAO_PROJETO}}
	<tr>
		<td style="font-size:14pt;font-weight:bold;" colspan="{{qtd_colunas}}">
			Embarcação: {{NO_EMBARCACAO_PROJETO}}{{descricao_filtros}}
		</td>
	</tr>
	{{/NO_EMBARCACAO_PROJETO}}
	<tr>
		<td style="font-size:14pt;font-weight:bold;" colspan="{{qtd_colunas}}">
			FIltros: {{descricao_filtros}}
		</td>
	</tr>
	<tr>
		{{#colunas.paineis}}
		{{#campos}}
			{{#mColunaAtiva}}<th class="header">{{{Label}}}</th>{{/mColunaAtiva}}
		{{/campos}}
		{{/colunas.paineis}}
	</tr>
	{{#candidatos}}
		<tr>
			{{#colunas.camposAtivos.NO_RAZAO_SOCIAL}}<td>{{NO_RAZAO_SOCIAL}}</td>{{/colunas.camposAtivos.NO_RAZAO_SOCIAL}}
			{{#colunas.camposAtivos.NO_EMBARCACAO_PROJETO}}<td>{{NO_EMBARCACAO_PROJETO}}</td>{{/colunas.camposAtivos.NO_EMBARCACAO_PROJETO}}
			{{#colunas.camposAtivos.NO_EMBARCACAO_PROJETO_processo}}<td>{{NO_EMBARCACAO_PROJETO_processo}}</td>{{/colunas.camposAtivos.NO_EMBARCACAO_PROJETO_processo}}
			{{#colunas.camposAtivos.empt_tx_descricao}}<td>{{empt_tx_descricao}}</td>{{/colunas.camposAtivos.empt_tx_descricao}}
			{{#colunas.camposAtivos.NU_ORDEM_CREWLIST}}<td>{{NU_ORDEM_CREWLIST}}</td>{{/colunas.camposAtivos.NU_ORDEM_CREWLIST}}
			{{#colunas.camposAtivos.FL_EMBARCADO}}<td>{{FL_EMBARCADO}}</td>{{/colunas.camposAtivos.FL_EMBARCADO}}
			<td>{{NOME_COMPLETO}}</td>
			{{#colunas.camposAtivos.situacao_cadastral}}<td>{{situacao_cadastral}}</td>{{/colunas.camposAtivos.situacao_cadastral}}
			{{#colunas.camposAtivos.revisado}}<td>{{{revisado}}}</td>{{/colunas.camposAtivos.revisado}}
			{{#colunas.camposAtivos.NO_NACIONALIDADE}}<td>{{NO_NACIONALIDADE}}</td>{{/colunas.camposAtivos.NO_NACIONALIDADE}}
			{{#colunas.camposAtivos.NU_CPF}}<td style="text-align:center;">{{NU_CPF}}</td>{{/colunas.camposAtivos.NU_CPF}}
			{{#colunas.camposAtivos.NU_RNE}}<td style="text-align:center;">{{NU_RNE}}</td>{{/colunas.camposAtivos.NU_RNE}}
			{{#colunas.camposAtivos.NU_CTPS}}<td class="c">{{NU_CTPS}}</td>{{/colunas.camposAtivos.NU_CTPS}}
			{{#colunas.camposAtivos.DT_EXPIRACAO_CTPS}}<td class="c">{{DT_EXPIRACAO_CTPS}}</td>{{/colunas.camposAtivos.DT_EXPIRACAO_CTPS}}
			{{#colunas.camposAtivos.NU_CNH}}<td class="c">{{NU_CNH}}</td>{{/colunas.camposAtivos.NU_CNH}}
			{{#colunas.camposAtivos.DT_EXPIRACAO_CNH}}<td class="c">{{DT_EXPIRACAO_CNH}}</td>{{/colunas.camposAtivos.DT_EXPIRACAO_CNH}}
			{{#colunas.camposAtivos.NO_ENDERECO_ESTRANGEIRO_COMPLETO}}<td>{{NO_ENDERECO_ESTRANGEIRO_COMPLETO}}</td>{{/colunas.camposAtivos.NO_ENDERECO_ESTRANGEIRO_COMPLETO}}
			{{#colunas.camposAtivos.NO_FUNCAO}}<td>{{NO_FUNCAO}}</td>{{/colunas.camposAtivos.NO_FUNCAO}}
			{{#colunas.camposAtivos.NU_PASSAPORTE}}<td style="text-align:center;">{{NU_PASSAPORTE}}</td>{{/colunas.camposAtivos.NU_PASSAPORTE}}
			{{#colunas.camposAtivos.DT_VALIDADE_PASSAPORTE}}<td style="text-align:center;">{{DT_VALIDADE_PASSAPORTE}}</td>{{/colunas.camposAtivos.DT_VALIDADE_PASSAPORTE}}
			{{#colunas.camposAtivos.TIPO_VISTO}}<td>{{TIPO_VISTO}}</td>{{/colunas.camposAtivos.TIPO_VISTO}}
			{{#colunas.camposAtivos.VA_RENUMERACAO_MENSAL}}<td style="text-align:right;">{{VA_RENUMERACAO_MENSAL}}</td>{{/colunas.camposAtivos.VA_RENUMERACAO_MENSAL}}
			{{#colunas.camposAtivos.NO_EMAIL_CANDIDATO}}<td>{{NO_EMAIL_CANDIDATO}}</td>{{/colunas.camposAtivos.NO_EMAIL_CANDIDATO}}
			{{#colunas.camposAtivos.NU_TELEFONE_ESTRANGEIRO}}<td style="text-align:center;">{{NU_TELEFONE_ESTRANGEIRO}}</td>{{/colunas.camposAtivos.NU_TELEFONE_ESTRANGEIRO}}
			{{#colunas.camposAtivos.DT_NASCIMENTO}}<td style="text-align:center;">{{DT_NASCIMENTO}}</td>{{/colunas.camposAtivos.DT_NASCIMENTO}}
			{{#colunas.camposAtivos.NO_ESCOLARIDADE}}<td>{{NO_ESCOLARIDADE}}</td>{{/colunas.camposAtivos.NO_ESCOLARIDADE}}
			{{#colunas.camposAtivos.TE_OBSERVACAO_CREWLIST}}<td>{{TE_OBSERVACAO_CREWLIST}}</td>{{/colunas.camposAtivos.TE_OBSERVACAO_CREWLIST}}
			{{#colunas.camposAtivos.fl_tem_copia_passaporte}}<td>{{fl_tem_copia_passaporte}}</td>{{/colunas.camposAtivos.fl_tem_copia_passaporte}}
			{{#colunas.camposAtivos.fl_tem_form1344}}<td>{{fl_tem_form1344}}</td>{{/colunas.camposAtivos.fl_tem_form1344}}
            {{#colunas.camposAtivos.situacao_prazo_estada}}<td class="c">{{{situacao_prazo_estada}}}</td>{{/colunas.camposAtivos.situacao_prazo_estada}}
            {{#colunas.camposAtivos.situacao_texto}}<td class="c">{{{situacao_texto}}}</td>{{/colunas.camposAtivos.situacao_texto}}
            {{#colunas.camposAtivos.situacao_origem}}<td>{{{situacao_origem}}}</td>{{/colunas.camposAtivos.situacao_origem}}

            {{#colunas.camposAtivos.NU_PROCESSO_MTE}}<td style="mso-number-format:\@;text-align:center;">{{NU_PROCESSO_MTE}}</td>{{/colunas.camposAtivos.NU_PROCESSO_MTE}}
            {{#colunas.camposAtivos.dt_solicitacao}}<td class="c">{{dt_solicitacao}}</td>{{/colunas.camposAtivos.dt_solicitacao}}
            {{#colunas.camposAtivos.DT_REQUERIMENTO}}<td style="text-align:center;">{{DT_REQUERIMENTO}}</td>{{/colunas.camposAtivos.DT_REQUERIMENTO}}
            {{#colunas.camposAtivos.CONSULADO}}<td>{{CONSULADO}}</td>{{/colunas.camposAtivos.CONSULADO}}
            {{#colunas.camposAtivos.PRAZO_SOLICITADO}}<td style="text-align:center;">{{PRAZO_SOLICITADO}}</td>{{/colunas.camposAtivos.PRAZO_SOLICITADO}}
            {{#colunas.camposAtivos.DT_DEFERIMENTO}}<td style="text-align:center;">{{DT_DEFERIMENTO}}</td>{{/colunas.camposAtivos.DT_DEFERIMENTO}}
            {{#colunas.camposAtivos.DIAS_EXPIRACAO_DEFERIMENTO}}<td>{{DIAS_EXPIRACAO_DEFERIMENTO}}</td>{{/colunas.camposAtivos.DIAS_EXPIRACAO_DEFERIMENTO}}
            {{#colunas.camposAtivos.OBSERVACAO_VISTO}}<td>{{OBSERVACAO_VISTO}}</td>{{/colunas.camposAtivos.OBSERVACAO_VISTO}}
            {{#colunas.camposAtivos.NO_RAZAO_SOCIAL_COBRANCA}}<td>{{NO_RAZAO_SOCIAL_COBRANCA}}</td>{{/colunas.camposAtivos.NO_RAZAO_SOCIAL_COBRANCA}}

            {{#colunas.camposAtivos.DT_EMISSAO}}<td style="text-align:center;">{{DT_EMISSAO}}</td>{{/colunas.camposAtivos.DT_EMISSAO}}
            {{#colunas.camposAtivos.DT_ENTRADA}}<td style="text-align:center;">{{DT_ENTRADA}}</td>{{/colunas.camposAtivos.DT_ENTRADA}}
            {{#colunas.camposAtivos.no_validade}}<td>{{no_validade}}</td>{{/colunas.camposAtivos.no_validade}}
            {{#colunas.camposAtivos.no_local_emissao}}<td>{{no_local_emissao}}</td>{{/colunas.camposAtivos.no_local_emissao}}
            {{#colunas.camposAtivos.nu_visto}}<td style="text-align:center;">{{nu_visto}}</td>{{/colunas.camposAtivos.nu_visto}}

            {{#colunas.camposAtivos.NU_PROTOCOLO_REG}}<td style="mso-number-format:\@;text-align:center;">{{NU_PROTOCOLO_REG}}</td>{{/colunas.camposAtivos.NU_PROTOCOLO_REG}}
            {{#colunas.camposAtivos.DT_PRAZO_ESTADA}}<td style="text-align:center;">{{DT_PRAZO_ESTADA}}</td>{{/colunas.camposAtivos.DT_PRAZO_ESTADA}}
            {{#colunas.camposAtivos.DT_REQUERIMENTO_CIE}}<td style="text-align:center;">{{DT_REQUERIMENTO_CIE}}</td>{{/colunas.camposAtivos.DT_REQUERIMENTO_CIE}}
            {{#colunas.camposAtivos.dt_validade_proreg}}<td style="text-align:center;">{{dt_validade_proreg}}</td>{{/colunas.camposAtivos.dt_validade_proreg}}
            {{#colunas.camposAtivos.depf_no_nome}}<td>{{depf_no_nome}}</td>{{/colunas.camposAtivos.depf_no_nome}}

            {{#colunas.camposAtivos.NU_PROTOCOLO_PRO}}<td style="mso-number-format:\@;text-align:center;">{{NU_PROTOCOLO_PRO}}</td>{{/colunas.camposAtivos.NU_PROTOCOLO_PRO}}
            {{#colunas.camposAtivos.DT_REQUERIMENTO_PRO}}<td style="text-align:center;">{{DT_REQUERIMENTO_PRO}}</td>{{/colunas.camposAtivos.DT_REQUERIMENTO_PRO}}
            {{#colunas.camposAtivos.DT_PRAZO_PRET_PRO}}<td style="text-align:center;">{{DT_PRAZO_PRET_PRO}}</td>{{/colunas.camposAtivos.DT_PRAZO_PRET_PRO}}
            {{#colunas.camposAtivos.dt_publicacao_dou}}<td style="text-align:center;">{{dt_publicacao_dou}}</td>{{/colunas.camposAtivos.dt_publicacao_dou}}
            {{#colunas.camposAtivos.NO_STATUS_CONCLUSAO_PRO}}<td>{{NO_STATUS_CONCLUSAO_PRO}}</td>{{/colunas.camposAtivos.NO_STATUS_CONCLUSAO_PRO}}

            {{#colunas.camposAtivos.nu_protocolo_rest}}<td style="mso-number-format:\@;text-align:center;">{{nu_protocolo_rest}}</td>{{/colunas.camposAtivos.nu_protocolo_rest}}
            {{#colunas.camposAtivos.dt_requerimento_rest_fmt}}<td style="text-align:center;">{{dt_requerimento_rest_fmt}}</td>{{/colunas.camposAtivos.dt_requerimento_rest_fmt}}
            {{#colunas.camposAtivos.dt_prazo_estada_rest_fmt}}<td style="text-align:center;">{{dt_prazo_estada_rest_fmt}}</td>{{/colunas.camposAtivos.dt_prazo_estada_rest_fmt}}
            {{#colunas.camposAtivos.dt_validade_rest}}<td style="text-align:center;">{{dt_validade_rest}}</td>{{/colunas.camposAtivos.dt_validade_rest}}
		</tr>
	{{/candidatos}}
</table>
</body>
