<style>
/*	col.cand{background-color:#ccccff;}
	col.mte{background-color:#ead1f3;}
	col.cand{background-color:#ccccff;}
	col.mte{background-color:#ead1f3;}
	col.coleta{background-color:#ead1f3;}
	col.registro{background-color:#74dbc6}
	col.prorrog{background-color:#c5da29}
	col.restab{background-color:#98ead2}*/
	col.destaque{ background-color: #F7E741; text-align:center;}
	col.branco{ background-color: #999; text-align:center;}

	td.destaque{ background-color: #F7E741; text-align:center;border-bottom:#ccc}

	.grid td input[type=image]{padding-left:2px;}
	.grid td input[type=image]:first-of-type{padding-left:0px;}
	form.editInPlace {vertical-align:top;}
	form.editInPlace select{width:60px;}
	form.editInPlace button{font-family: inherit;font-size: 11px; padding:1px;padding-left:5px;padding-right:5px;}
	form.editInPlaceText {position:relative;padding-right:43px}
	form.editInPlaceText textarea{padding:1px; font-size:9px;width:100%;}
	form.editInPlaceText button{font-size: 10px; position:absolute;top:2px;padding:2px;right:0;margin-right: 2px;}
	form.editInPlaceTextoSimples {position:relative;padding-right:23px}
	form.editInPlaceTextoSimples input{padding:1px; font-size:10px;width:100%;}
	form.editInPlaceTextoSimples button{font-size: 10px; position:absolute;top:0;padding:0px;right:0;margin-right: 0px;}
	form.dir input{text-align:right;}
	td.r {text-align:right;}
	td.c {text-align:center;}
	label{cursor: pointer;}
	ul.menubar li button{border:none;padding:0;color:#676767;background-image: none; background-color: transparent; font-family: Arial; }
	input.filtro_valor[type="checkbox"]{margin-top:4px;margin-bottom:3px;margin-left:2px}
	input.filtro_valor[type="text"]{padding: 2px;padding-left: 8px; font-size:8pt; width:239px;}
	div.filtros div{display:inline;}
	div.filtros div.bloco{display: inline-block; min-width: 500px;}
	div.filtros div.label{display: inline-block; width: 150px;}
	div.filtros div.campo{display: inline-block; max-width: 170px;}
</style>
<form method="post" id="cTMPL_REL_ESTRANGEIROS_PROJETO"  name="cTMPL_REL_ESTRANGEIROS_PROJETO" >
<div class="titulo">
	<div style="float:right;">
		<ul id="menubar" class="menubar">
			<li><button onclick="$('#tipoOutput').val('normal');ConfirmaAcao(this, 'LISTAR','','','');">Pesquisar</button></li>
			<li><button onclick="$('#tipoOutput').val('normal');ConfirmaAcao(this, 'REVISAR_EMBARCACAO','','','');" title="Assinala que a embarcação está revisada">Embarcação revisada</button></li>
			<li><button onclick="$('#tipoOutput').val('excel');ConfirmaAcao(this, 'LISTAR','','','');">Exportar para Excel</button></li>
		</ul>
	</div>
	<div class="texto">Relatório Estrangeiros por projeto</div>
</div>
	<input type="hidden" name="enviado" id="enviado" value="1"/>
	<input type="hidden" name="tipoOutput" id="tipoOutput" value=""/>
	<input type="hidden" name="CMP___nomeTemplate" id="CMP___nomeTemplate" value="{{nome_template}}"/>
	<input type="hidden" name="CMP___acao" id="CMP___acao" value="{{acao}}"/>
	<input type="hidden" name="CMP___parametros" id="CMP___parametros" value="{{oarametros}}"/>
	<input type="hidden" name="CMP___ordenacao" id="CMP___ordenacao" value="{{ordenacao}}"/>

	<div class="filtros">
	{{#filtros}}
		{{#.}}
		<div class="bloco">
			<div class="label">{{{label}}}</div>
			<div class="sep">:</div>
			<div class="campo" id="td{{td}}">
			{{#cpCHAVE_ESTRANGEIRA}}
				<select name="CMP_FILTRO_{{nome}}" id="CMP_FILTRO_{{nome}}">
					{{#valores}}
						{{#.}}
						<option value="{{valor}}" {{#selected}}selected{{/selected}}>{{{descricao}}}</option>
						{{/.}}
					{{/valores}}
				</select>
			{{/cpCHAVE_ESTRANGEIRA}}
			{{#cpTEXTO}}
				<input type="text" id="CMP_FILTRO_{{nome}}" name="CMP_FILTRO_{{nome}}" value="{{valor}}" class="filtro_valor"/>
			{{/cpTEXTO}}
			{{#cpSIMNAO}}
				<input type="checkbox" id="CMP_FILTRO_{{nome}}" name="CMP_FILTRO_{{nome}}" value="{{valor}}" {{checked}} class="filtro_valor"/>
			{{/cpSIMNAO}}
			</div>
		</div>
		{{/.}}
	{{/filtros}}
	</div>
	<div style="margin:10px;background-color: #ccc;">
                <select name="cfgr_idx" id="cfgr_idx">
                        {{#configuracao}}
                            {{#.}}
                            <option value="{{valor}}" {{#selected}}selected{{/selected}}>{{{descricao}}}</option>
                            {{/.}}
                        {{/configuracao}}
                </select>
                <button onclick="$('#tipoOutput').val('normal');ConfirmaAcao(this, 'USAR_COLUNAS','','','');">Usar configuração</button>
                <button onclick="$('#tipoOutput').val('normal');ConfirmaAcao(this, 'SALVAR_COLUNAS','','','');">Alterar configuração</button>
                <button onclick="$('#tipoOutput').val('normal');ConfirmaAcao(this, 'CRIAR_CONFIGURACAO','','','');">Criar configuração</button>
		<input type="text" name="nome_configuracao" class="cmp" placeholder="informe o nome" />
		<!--<input type="checkbox" name="selecionar_todos" id="selecionar_todos" value="1" class="cmp" checked="false"/><label for="selecionar_todos">selecionar todas as colunas</label>-->
<!--		<button name="selecionar_todos" id="selecionar_todos" ><img src="/imagens/action_encerrado.png" />selecionar todas as colunas</button>
		<button name="deselecionar_todos" id="deselecionar_todos" ><img src="/imagens/action_finalizado.png" />deselecionar todas as colunas</button>-->
		<table id="filtros" >
			<tr>
				<td>Geral:</td>
				<td><input type="checkbox" name="selecionar_todos" id="selecionar_todos" value="1" class="cmp" /><label for="selecionar_todos">todos</label></td>
			</tr>
			{{#colunas.paineis}}
			<tr>
				<td>{{nome}}:</td>
				<td>
					{{#campos}}
						{{#.}}
						{{#mVisivel}}
						{{#mColunaSelecionavel}}
						<input type="checkbox" name="CMP_SEL_{{mCampoBD}}" id="CMP_SEL_{{mCampoBD}}" value="1" class="cmp" {{#mColunaAtiva}}checked="checked"{{/mColunaAtiva}}/><label for="CMP_SEL_{{mCampoBD}}">{{Label}}</label>
						{{/mColunaSelecionavel}}
						{{/mVisivel}}
						{{/.}}
					{{/campos}}
				</td>
			</tr>
			{{/colunas.paineis}}
		</table>
	</div>
<div style="margin:10px;">
{{#temcandidatos}}
<div style="background-color:#DADADA;padding:5px;background-image:url(/imagens/icons/seta_esquerda_baixo.png);background-repeat: no-repeat;background-position: center left 5px;padding-left:25px;">
	Marcar selecionados como <select id="acao_selecionados" name="acao_selecionados" style="width:auto;"><option value="">(não mexer)</option><option value="DESEMBARCAR_SELECIONADOS">desembarcados</option><option value="EMBARCAR_SELECIONADOS">embarcados</option><option value="EXCLUIR_SELECIONADOS">excluídos</option><option value="INATIVAR_SELECIONADOS">inativos</option><option value="REVISAR_SELECIONADOS">revisados</option><option value="PENDENTE_SELECIONADOS">pendentes</option></select>
	<button  onclick="$('#tipoOutput').val('normal');ConfirmaAcao(this, $('#acao_selecionados').val(),'','','');">Alterar</button>
</div>
<table id="TRelat" class="tablesorter relatorio grid" style="margin-top:0;">
	<colgroup>
			<col style="width:20px;"/>
			<col style="width:80px;"/>
			<col style="width:auto;"/>
			{{#colunas.paineis}}
			{{#campos}}
				{{#mColunaAtiva}}<col class="{{mClasse}}" />{{/mColunaAtiva}}
			{{/campos}}
			{{/colunas.paineis}}
	</colgroup>

	<thead>
		<tr>
			<th class="c"><input type="checkbox" id="seletorAll" name="seletorAll"/></th>
			<th>Ações</th>
			<th>#</th>
			{{#colunas.paineis}}
			{{#campos}}
				{{#mColunaAtiva}}<th class="header">{{{Label}}}</th>{{/mColunaAtiva}}
			{{/campos}}
			{{/colunas.paineis}}
		</tr>
	</thead>
	<tbody>
	{{#candidatos}}
		<tr>
			<input type="hidden" id="NOME_COMPLETO{{i}}" name="NOME_COMPLETO{{i}}" value="{{NOME_COMPLETO}}"/>
			<td class="c"><input type="checkbox" class="seletor" id="seletor[]" name="seletor[]" value="{{NU_CANDIDATO}}"/></td>
			<td class="c">{{{acoes}}}</td>
			<td class="r">{{{i}}}</td>

			{{#colunas.camposAtivos.NO_RAZAO_SOCIAL}}<td>{{NO_RAZAO_SOCIAL}}</td>{{/colunas.camposAtivos.NO_RAZAO_SOCIAL}}
			{{#colunas.camposAtivos.NO_EMBARCACAO_PROJETO}}
				<td class="editavelEmbarcacao" id="{{i}}:CANDIDATO:AtualizaNU_EMBARCACAO_PROJETO:{{NU_CANDIDATO}}:{{NU_EMPRESA}}">{{NO_EMBARCACAO_PROJETO}}</td>
			{{/colunas.camposAtivos.NO_EMBARCACAO_PROJETO}}
			{{#colunas.camposAtivos.NO_EMBARCACAO_PROJETO_processo}}<td>{{NO_EMBARCACAO_PROJETO_processo}}</td>{{/colunas.camposAtivos.NO_EMBARCACAO_PROJETO_processo}}
			{{#colunas.camposAtivos.empt_tx_descricao}}<td>{{empt_tx_descricao}}</td>{{/colunas.camposAtivos.empt_tx_descricao}}
			{{#colunas.camposAtivos.NU_ORDEM_CREWLIST}}
				<td class="editavelTextoSimples r" id="{{i}}:CANDIDATO:AtualizaNU_ORDEM_CREWLIST:{{NU_CANDIDATO}}">{{NU_ORDEM_CREWLIST}}</td>
			{{/colunas.camposAtivos.NU_ORDEM_CREWLIST}}
			{{#colunas.camposAtivos.FL_EMBARCADO}}
				<td class="editavelCheck" id="{{i}}:CANDIDATO:AtualizaFL_EMBARCADO:{{NU_CANDIDATO}}" >{{FL_EMBARCADO}}</td>
			{{/colunas.camposAtivos.FL_EMBARCADO}}
			<td><a href="/operador/detalheCandidatoAuto.php?NU_CANDIDATO={{NU_CANDIDATO}}" target="_blank">{{NOME_COMPLETO}} ({{NU_CANDIDATO}})</a></td>
			{{#colunas.camposAtivos.situacao_cadastral}}<td class="c">{{situacao_cadastral}}</td>{{/colunas.camposAtivos.situacao_cadastral}}
			{{#colunas.camposAtivos.revisado}}<td class="c">{{{revisado}}}</td>{{/colunas.camposAtivos.revisado}}
			{{#colunas.camposAtivos.NO_NACIONALIDADE}}<td>{{NO_NACIONALIDADE}}</td>{{/colunas.camposAtivos.NO_NACIONALIDADE}}
			{{#colunas.camposAtivos.NU_CPF}}<td class="c">{{NU_CPF}}</td>{{/colunas.camposAtivos.NU_CPF}}
			{{#colunas.camposAtivos.NU_RNE}}<td class="c">{{NU_RNE}}</td>{{/colunas.camposAtivos.NU_RNE}}
			{{#colunas.camposAtivos.NU_CTPS}}<td class="c">{{NU_CTPS}}</td>{{/colunas.camposAtivos.NU_CTPS}}
			{{#colunas.camposAtivos.DT_EXPIRACAO_CTPS}}<td class="c">{{DT_EXPIRACAO_CTPS}}</td>{{/colunas.camposAtivos.DT_EXPIRACAO_CTPS}}
			{{#colunas.camposAtivos.NU_CNH}}<td class="c">{{NU_CNH}}</td>{{/colunas.camposAtivos.NU_CNH}}
			{{#colunas.camposAtivos.DT_EXPIRACAO_CNH}}<td class="c">{{DT_EXPIRACAO_CNH}}</td>{{/colunas.camposAtivos.DT_EXPIRACAO_CNH}}
			{{#colunas.camposAtivos.NO_ENDERECO_ESTRANGEIRO_COMPLETO}}<td>{{NO_ENDERECO_ESTRANGEIRO_COMPLETO}}</td>{{/colunas.camposAtivos.NO_ENDERECO_ESTRANGEIRO_COMPLETO}}
			{{#colunas.camposAtivos.NO_FUNCAO}}<td>{{NO_FUNCAO}}</td>{{/colunas.camposAtivos.NO_FUNCAO}}
			{{#colunas.camposAtivos.NU_PASSAPORTE}}<td class="c">{{NU_PASSAPORTE}}</td>{{/colunas.camposAtivos.NU_PASSAPORTE}}
			{{#colunas.camposAtivos.DT_VALIDADE_PASSAPORTE}}<td class="c">{{DT_VALIDADE_PASSAPORTE}}</td>{{/colunas.camposAtivos.DT_VALIDADE_PASSAPORTE}}
			{{#colunas.camposAtivos.TIPO_VISTO}}<td>{{TIPO_VISTO}}</td>{{/colunas.camposAtivos.TIPO_VISTO}}
			{{#colunas.camposAtivos.VA_RENUMERACAO_MENSAL}}<td class="r">{{VA_RENUMERACAO_MENSAL}}</td>{{/colunas.camposAtivos.VA_RENUMERACAO_MENSAL}}
			{{#colunas.camposAtivos.NO_EMAIL_CANDIDATO}}<td>{{NO_EMAIL_CANDIDATO}}</td>{{/colunas.camposAtivos.NO_EMAIL_CANDIDATO}}
			{{#colunas.camposAtivos.NU_TELEFONE_ESTRANGEIRO}}<td>{{NU_TELEFONE_ESTRANGEIRO}}</td>{{/colunas.camposAtivos.NU_TELEFONE_ESTRANGEIRO}}
			{{#colunas.camposAtivos.DT_NASCIMENTO}}<td class="c">{{DT_NASCIMENTO}}</td>{{/colunas.camposAtivos.DT_NASCIMENTO}}
			{{#colunas.camposAtivos.NO_ESCOLARIDADE}}<td>{{NO_ESCOLARIDADE}}</td>{{/colunas.camposAtivos.NO_ESCOLARIDADE}}
			{{#colunas.camposAtivos.TE_OBSERVACAO_CREWLIST}}
				<td class="editavelText" id="{{i}}:CANDIDATO:AtualizaTE_OBSERVACAO_CREWLIST:{{NU_CANDIDATO}}" style="min-width:200px;">{{TE_OBSERVACAO_CREWLIST}}</td>
			{{/colunas.camposAtivos.TE_OBSERVACAO_CREWLIST}}
			{{#colunas.camposAtivos.fl_tem_copia_passaporte}}
				<td class="editavelCheck" id="{{i}}:CANDIDATO:AtualizaCopiaPassaporte:{{NU_CANDIDATO}}" >{{fl_tem_copia_passaporte}}</td>
			{{/colunas.camposAtivos.fl_tem_copia_passaporte}}
			{{#colunas.camposAtivos.fl_tem_form1344}}
				<td class="editavelCheck" id="{{i}}:CANDIDATO:AtualizaForm1344:{{NU_CANDIDATO}}" >{{fl_tem_form1344}}</td>
			{{/colunas.camposAtivos.fl_tem_form1344}}
                        {{#colunas.camposAtivos.situacao_prazo_estada}}<td class="c">{{{situacao_prazo_estada}}}</td>{{/colunas.camposAtivos.situacao_prazo_estada}}
                        {{#colunas.camposAtivos.situacao_texto}}<td>{{{situacao_texto}}}</td>{{/colunas.camposAtivos.situacao_texto}}
                        {{#colunas.camposAtivos.situacao_origem}}<td>{{{situacao_origem}}}</td>{{/colunas.camposAtivos.situacao_origem}}

			{{#colunas.camposAtivos.NU_PROCESSO_MTE}}<td>{{NU_PROCESSO_MTE}}</td>{{/colunas.camposAtivos.NU_PROCESSO_MTE}}
                        {{#colunas.camposAtivos.dt_solicitacao}}<td class="c">{{dt_solicitacao}}</td>{{/colunas.camposAtivos.dt_solicitacao}}
                        {{#colunas.camposAtivos.DT_REQUERIMENTO}}<td class="c">{{DT_REQUERIMENTO}}</td>{{/colunas.camposAtivos.DT_REQUERIMENTO}}
                        {{#colunas.camposAtivos.CONSULADO}}<td>{{CONSULADO}}</td>{{/colunas.camposAtivos.CONSULADO}}
                        {{#colunas.camposAtivos.PRAZO_SOLICITADO}}<td class="c">{{PRAZO_SOLICITADO}}</td>{{/colunas.camposAtivos.PRAZO_SOLICITADO}}
                        {{#colunas.camposAtivos.DT_DEFERIMENTO}}<td class="c">{{DT_DEFERIMENTO}}</td>{{/colunas.camposAtivos.DT_DEFERIMENTO}}
                        {{#colunas.camposAtivos.DIAS_EXPIRACAO_DEFERIMENTO}}<td class="r">{{{DIAS_EXPIRACAO_DEFERIMENTO}}}</td>{{/colunas.camposAtivos.DIAS_EXPIRACAO_DEFERIMENTO}}
                        {{#colunas.camposAtivos.OBSERVACAO_VISTO}}
				<td class="editavelText" id="{{i}}:processo_mte:Atualizaobservacao_visto:{{codigo_mte}}" style="min-width:200px;">{{OBSERVACAO_VISTO}}</td>
			{{/colunas.camposAtivos.OBSERVACAO_VISTO}}
			{{#colunas.camposAtivos.NO_RAZAO_SOCIAL_COBRANCA}}<td>{{NO_RAZAO_SOCIAL_COBRANCA}}</td>{{/colunas.camposAtivos.NO_RAZAO_SOCIAL_COBRANCA}}


            {{#colunas.camposAtivos.DT_EMISSAO}}<td class="c">{{DT_EMISSAO}}</td>{{/colunas.camposAtivos.DT_EMISSAO}}
            {{#colunas.camposAtivos.DT_ENTRADA}}<td class="c">{{DT_ENTRADA}}</td>{{/colunas.camposAtivos.DT_ENTRADA}}
            {{#colunas.camposAtivos.no_validade}}<td>{{no_validade}}</td>{{/colunas.camposAtivos.no_validade}}
            {{#colunas.camposAtivos.no_local_emissao}}<td>{{no_local_emissao}}</td>{{/colunas.camposAtivos.no_local_emissao}}
            {{#colunas.camposAtivos.nu_visto}}<td class="c">{{nu_visto}}</td>{{/colunas.camposAtivos.nu_visto}}

            {{#colunas.camposAtivos.NU_PROTOCOLO_REG}}<td class="c">{{NU_PROTOCOLO_REG}}</td>{{/colunas.camposAtivos.NU_PROTOCOLO_REG}}
            {{#colunas.camposAtivos.DT_PRAZO_ESTADA}}<td class="destaque c">{{DT_PRAZO_ESTADA}}</td>{{/colunas.camposAtivos.DT_PRAZO_ESTADA}}
            {{#colunas.camposAtivos.DT_REQUERIMENTO_CIE}}<td class="c">{{DT_REQUERIMENTO_CIE}}</td>{{/colunas.camposAtivos.DT_REQUERIMENTO_CIE}}
            {{#colunas.camposAtivos.dt_validade_proreg}}<td class="c">{{dt_validade_proreg}}</td>{{/colunas.camposAtivos.dt_validade_proreg}}
            {{#colunas.camposAtivos.depf_no_nome}}<td>{{depf_no_nome}}</td>{{/colunas.camposAtivos.depf_no_nome}}

            {{#colunas.camposAtivos.NU_PROTOCOLO_PRO}}<td class="c">{{NU_PROTOCOLO_PRO}}{{#NU_PROTOCOLO_PRO}}&nbsp;<input type="button"																												value="MJ" onClick="javascript:AbrePagina('MJ', 'http://portal.mj.gov.br/EstrangeiroWEB/resultado_prorrogacao.asp?CodigoProcesso={{NU_PROTOCOLO_PRO}}');" class="botaoLink"  style="width:auto;padding:0;padding-top:0;margin:0;padding-left:1px;padding-right:1px;" title="Clique para ver o processo no Minist&eacute;rio da Justiça" />{{/NU_PROTOCOLO_PRO}}</td>{{/colunas.camposAtivos.NU_PROTOCOLO_PRO}}
            {{#colunas.camposAtivos.DT_REQUERIMENTO_PRO}}<td class="c">{{DT_REQUERIMENTO_PRO}}</td>{{/colunas.camposAtivos.DT_REQUERIMENTO_PRO}}
            {{#colunas.camposAtivos.DT_PRAZO_PRET_PRO}}<td class="c">{{DT_PRAZO_PRET_PRO}}</td>{{/colunas.camposAtivos.DT_PRAZO_PRET_PRO}}
            {{#colunas.camposAtivos.dt_publicacao_dou}}<td  class="c">{{dt_publicacao_dou}}</td>{{/colunas.camposAtivos.dt_publicacao_dou}}
            {{#colunas.camposAtivos.NO_STATUS_CONCLUSAO_PRO}}<td class="c">{{NO_STATUS_CONCLUSAO_PRO}}</td>{{/colunas.camposAtivos.NO_STATUS_CONCLUSAO_PRO}}

            {{#colunas.camposAtivos.nu_protocolo_rest}}<td class="c">{{nu_protocolo_rest}}</td>{{/colunas.camposAtivos.nu_protocolo_rest}}
            {{#colunas.camposAtivos.dt_requerimento_rest_fmt}}<td class="c">{{dt_requerimento_rest_fmt}}</td>{{/colunas.camposAtivos.dt_requerimento_rest_fmt}}
            {{#colunas.camposAtivos.dt_prazo_estada_rest_fmt}}<td class="c">{{dt_prazo_estada_rest_fmt}}</td>{{/colunas.camposAtivos.dt_prazo_estada_rest_fmt}}
            {{#colunas.camposAtivos.dt_validade_rest}}<td class="c">{{dt_validade_rest}}</td>{{/colunas.camposAtivos.dt_validade_rest}}
		</tr>
	{{/candidatos}}
	</tbody>
</table>
<br/>Fim do relatório ({{qtdtotal}} candidatos apresentados)
{{/temcandidatos}}
{{^temcandidatos}}
Os filtros informados selecionam mais de 1.000 candidatos. Por favor refine os critérios de pesquisa.
{{/temcandidatos}}
</div>
</form>
<div id="dialog" title="{{titulo_mensagem}}"  style="display: none;">{{{mensagem}}}</div>
<div id="edit" title="Edite" style="display: none;">
	<form id="formEdit" name="formEdit">
		<input type="hidden" id="id" name="id" value=""/>
		<textarea id="value" name="value" style="box-sizing:border-box;width:100%;height:70px;"></textarea>
		<br/>
		<div style="margin:auto;text-align:center;"><button onclick="javascript:AtualizarCampo(this);return false;">Atualizar</button></div>
	</form>
	<div id="resultado" style="margin-top:5px;margin-bottom:5px;"></div>
</div>


<div id="dialog-form" title="Salvar colunas">
  <form>
    <fieldset>
      <label for="email">Criar novo</label>
      <input type="text" name="nome" id="nome" class="text ui-widget-content ui-corner-all">
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>
<script>
    dialog = $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 300,
      width: 350,
      modal: true,
      buttons: {
        "Create an account": addUser,
        Cancel: function() {
          dialog.dialog( "close" );
        }
      },
      close: function() {
        form[ 0 ].reset();
        allFields.removeClass( "ui-state-error" );
      }
    });
function ExecutarAcao(campo, pController, pMetodo, pParametros, pColuna, pNovoValor){
// Alterar para post...
// Alterar informacoes para array json
	var url = "carregueSemMenu.php?controller="+pController+"&metodo="+pMetodo+"&"+pParametros;
	$.post(url,
		"",
		function( data ) {
			ExibirRetornoAjax(data);
			if(data.codRet == 0){
				$(campo).parent().parent().addClass('fora');
			}
		},
		'json'
	);
	return false;
}

	$('#cTMPL_REL_ESTRANGEIROS_PROJETO').submit(function() {
		if ($('#tipoOutput').val() == 'excel'){
			window.open('', 'download', '');
			this.action = 'carregueComoExcel.php?controller=cCTRL_CANDIDATO&metodo=RelatorioPorProjetoExcel';
			this.target = 'download';
		}
		else{
			this.action = '';
			this.target = '_self';
		}
    });

	var msg = '{{mensagem}}';
	if (msg != ''){
//		$('#dialog').dialog({minWidth:500}) ;
		var xy= noty({text: msg, timeout: 5000, type: '{{titulo_mensagem}}', layout:'topCenter' });
	}
$(document).ready(function() {
	$('.editavel').click(
		function() {
			var tokens = $(this).attr("id").split(":");
			var nome = '#NOME_COMPLETO'+tokens[0];
			var titulo = $(nome).val();
			titulo = titulo+': '+tokens[4];
			$('#edit #value').val();
			$('#edit #value').val($(this).html());
			$('#edit #id').empty().val($(this).attr("id"));
			$('#edit').dialog({minWidth:500, title:titulo}) ;
			$('#edit #resultado').empty();

		}
	);
    $('.editavelAuto').editable('atualize.php');

	$('.editavelCheck').editable(
		// Função para processar o ok
		function(value, settings) {
			// Limpa mensagens anteriores
			$.noty.closeAll();
			// Quebra os parametros obtidos no id do td
			var tokens = $(this).attr("id").split(":");
			// Chama a atualização via ajax.
			$.post("carregueSemMenu.php?controller=cCTRL_EDIT_IN_PLACE&metodo=AcionarAtualizacao",
				{id:$(this).attr("id"), value:value},
				function( data ) {
					ExibirRetornoAjax(data);
				},
				'json'
			);
			return(value);
		},
		{
			data   : " {'Sim':'Sim','Não':'Não'}",
			type   : 'select',
			submit : 'OK',
			cssclass: 'editInPlace'
		}
	);

	$('.editavelText').editable(
		// Função para processar o ok
		function(value, settings) {
			// Limpa mensagens anteriores
			$.noty.closeAll();
			// Quebra os parametros obtidos no id do td
			var tokens = $(this).attr("id").split(":");
			// Chama a atualização via ajax.
			$.post("carregueSemMenu.php?controller=cCTRL_EDIT_IN_PLACE&metodo=AcionarAtualizacao",
				{id:$(this).attr("id"), value:value},
				function( data ) {
					ExibirRetornoAjax(data);
				},
				'json'
			);
			return(value);
		},
		{
			type   : 'textarea',
			submit : 'OK',
			rows : 3,
			cssclass: 'editInPlaceText',
			style: '',
			width: 'none',
			placeholder: ''
		}
	);

	$('.editavelTextoSimples').editable(
		// Função para processar o ok
		function(value, settings) {
			// Limpa mensagens anteriores
			$.noty.closeAll();
			// Quebra os parametros obtidos no id do td
			var tokens = $(this).attr("id").split(":");
			// Chama a atualização via ajax.
			$.post("carregueSemMenu.php?controller=cCTRL_EDIT_IN_PLACE&metodo=AcionarAtualizacao",
				{id:$(this).attr("id"), value:value},
				function( data ) {
					ExibirRetornoAjax(data);
				},
				'json'
			);
			return(value);
		},
		{
			type   : 'text',
			submit : 'OK',
			cssclass: 'editInPlaceTextoSimples dir',
			style: '',
			width: 'none',
			placeholder: ''
		}
	);


	$('.editavelEmbarcacao').editable(
		// Função para processar o ok
		function(value, settings) {
			//console.log($(this).html());
			// Limpa mensagens anteriores
			$.noty.closeAll();
			// Quebra os parametros obtidos no id do td
			var tokens = $(this).attr("id").split(":");
			// Chama a atualização via ajax.
			$.post("carregueSemMenu.php?controller=cCTRL_EDIT_IN_PLACE&metodo=AcionarAtualizacao",
				{id:$(this).attr("id"), value:value},
				function( data ) {
					ExibirRetornoAjax(data);
				},
				'json'
			);
			return ($(this).find('option:selected').text());
 		},
		{
			type   : 'select',
			submit : 'OK',
			cssclass: 'editInPlaceText',
			style: '',
			width: 'none',
			placeholder: '',
			loadurl : "carregueSemMenu.php?controller=cCTRL_EMBARCACAO_PROJETO&metodo=EmbarcacoesDaEmpresaDoCandidatoJSON"
		}
	);

	$('#selecionar_todos').on('click',
		function(event) {
			var label = $("label[for='"+$(this).attr('id')+"']").html();

			if (label == 'todos'){
				$(this).prop("checked",true);
				$("#filtros input[type=checkbox]").prop("checked",true);
				$("label[for='"+$(this).attr('id')+"']").html('nenhum');
			}
			else{
				$(this).prop("checked",false);
				$("#filtros input[type=checkbox]").prop("checked",false);
				$("label[for='"+$(this).attr('id')+"']").html('todos');

			}
			return false;
		}
	);

	$('#seletorAll').on('click',
		function(event) {
			if($('#seletorAll').is(':checked')){
				$('.seletor').prop('checked', true);
			}
			else{
				$('.seletor').prop('checked', false);
			}
		}
	);


	$("#TRelat").tablesorter( {headers: { 0: { sorter: false}, 1: {sorter: false}}} );

});
var timeout;


function ExibirRetornoAjax(pRetorno){
	var tipoMsg = 'success';
	var timeout = false;
	if(pRetorno.codRet == 0){
		tipoMsg = 'success';
	}
	else{
		if(pRetorno.codRet == 1){
			tipoMsg = 'warning';
		}
		else{
			if (pRetorno.codRet == -1){
				tipoMsg = 'error';
				timeout = false;
			}
		}
	}
	$.noty.closeAll();
	if (pRetorno.msg != ''){
		var xx= noty({text: pRetorno.msg, timeout: timeout, type: tipoMsg, layout:'topCenter' });
	}
	ZeraMensagens();
}



function AtualizarCampo(pCampo){
	$.post("atualize.php", $('#formEdit').serialize(), function( data ) {
		var msg = $(data).filter('#msg').html();
		var classe = $(data).filter('#msg').attr("class") ;
		$( "#edit #resultado" ).empty().html( msg);
		$( "#edit #resultado" ).removeClass();
		$( "#edit #resultado" ).addClass(classe);

		var id = $('#formEdit #id').val();
		id = id.replace(/:/g, '\\:');
		$('#'+id).empty().html($('#formEdit #value').attr("value"));
      });
	return false;
}

   function addUser() {
      var valid = true;
      allFields.removeClass( "ui-state-error" );

      valid = valid && checkLength( name, "username", 3, 16 );
      valid = valid && checkLength( email, "email", 6, 80 );
      valid = valid && checkLength( password, "password", 5, 16 );

      valid = valid && checkRegexp( name, /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter." );
      valid = valid && checkRegexp( email, emailRegex, "eg. ui@jquery.com" );
      valid = valid && checkRegexp( password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9" );

      if ( valid ) {
        $( "#users tbody" ).append( "<tr>" +
          "<td>" + name.val() + "</td>" +
          "<td>" + email.val() + "</td>" +
          "<td>" + password.val() + "</td>" +
        "</tr>" );
        dialog.dialog( "close" );
      }
      return valid;
    }

</script>
