{% extends "intranet/base_commenu.html" %}

{% block conteudo %}
	<div class="titulo">
        <div class="texto">Total de arquivos por empresa
        </div>
    </div>
	<div class="conteudoInterno">
		{% if regs %}
    	<table class="grid">
    		<colgroup>
    			<col style="width:auto;"/>
    			<col style="width:150px;"/>
    			<col style="width:150px;"/>
    			<col style="width:150px;"/>
    		</colgroup>
    		<thead>
		    <tr>
				<th>Empresa</th>
				<th>Qtd</th>
				<th>Tamanho (Kb)</th>
				<th>Média (Kb)</th>
		    </tr>
		    </thead>
		    <tbody>
			{% for reg in regs %}
		    <tr>
				<td class="esq">{{ reg.no_razao_social }}</td>
				<td class="dir">{{ reg.qtd_total|number_format(0, ",", ".") }}</td>
				<td class="dir">{{ reg.tamanho_total|number_format(2, ",", ".") }}</td>
				<td class="dir">{{ reg.media_total|number_format(2, ",", ".") }}</td>
		    </tr>
			{% endfor %}
		    </tbody>
		</table>
		{% endif %}
	</div>
{% endblock %}
