<select id="CMP_{{nome}}" name="CMP_{{nome}}"   class="" style="{{style}}">
    {% for reg in regs %}
        {% if valor == reg.chave %}
        <option value="{{reg.chave}}" selected="selected">{{reg.descricao}}</option>
        {% else %}
        <option value="{{reg.chave}}">{{reg.descricao}}</option>
        {% endif %}
    {% endfor %}
</select>
