{% if nome_campo == '' %}
    {% set nome_campo = nome %}
{% endif %}
{% if controller == '' %}
    {% set controller = vars.controller %}
{% endif %}
{% if metodo == '' %}
    {% set metodo = vars.metodo %}
{% endif %}
{% if valor_chave == '' %}
    {% set valor_chave = vars.valor_chave %}
{% endif %}
{% if nome_chave == '' %}
    {% set nome_chave = vars.nome_chave %}
{% endif %}

<select id="CMP_{{nome}}" name="CMP_{{nome}}"   class="editavel" data-parametros='{"controller": "{{controller}}", "metodo": "{{metodo}}", "chave": "{{valor_chave}}", "xnome_chave": "{{nome_chave}}", "xnome_campo": "{{nome_campo}}", "tipo_campo": "18", "cd_usuario": "{{id_usuario}}"}' data-valor-orig="{{valor}}"/>
    {% for reg in regs_combo %}
        {% if valor == reg.chave %}
        <option value="{{reg.chave}}" selected="selected">{{reg.descricao}}</option>
        {% else %}
        <option value="{{reg.chave}}">{{reg.descricao}}</option>
        {% endif %}
    {% endfor %}
</select>
