{% extends "intranet/base_commenu.html" %}

{% block estiloadicional%}
    table.grid tr.atrasado td{color:red;font-weight:bold}
{% endblock %}
{% block conteudo%}
    {% include "intranet/formOpen.html" %}
    
<div class="titulo">
    <div class="texto">Agenda pendente</div>

</div>
<div class="conteudoInterno">
    <div class="filfiltros">
        <table class="filtros">
            <tbody>
                <tr>
                    <td>
                        <div class="filtro">
                            <div class="label">Responsável:</div>
                            <select id="FILTRO_cd_usuario" name="FILTRO_cd_usuario">
                                <option value="" 
                                        {% if cd_usuario == ''%}
                                        selected="selected"
                                        {% endif %}
                                        >(todos)</option>
                                {% for usuario in funcionarios %}
                                <option value="{{usuario.cd_usuario}}" 
                                        {% if usuario.cd_usuario == cd_usuario %}
                                        selected="selected"
                                        {% endif %}
                                        >{{usuario.nome}}</option>
                                {% endfor %}                                
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="filtro">
                            <div class="label">Status:</div>
                            <select id="FILTRO_id_status_sol" name="FILTRO_id_status_sol">
                                <option value="" 
                                        {% if id_status_sol == ''%}
                                        selected="selected"
                                        {% endif %}
                                        >(todas)</option>
                                {% for status in status_solicitacao %}
                                <option value="{{status.id_status_sol}}" 
                                        {% if status.id_status_sol == id_status_sol %}
                                        selected="selected"
                                        {% endif %}
                                        >{{status.no_status_sol}}</option>
                                {% endfor %}                                
                            </select>
                        </div>
                    </td>
                    <td width="60px"><input type="button" value="FILTRAR" title="Clique para atualizar a consulta" class="" onclick="javascript:ConfirmaAcao(this, 'Filtrar', '', '', '');return false;"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <table class="grid">
        <colgroup>
        {% for col in template.mCols %}
            <col width="{{col}}">
        {% endfor %}
        </colgroup>
        <thead>
            <tr class="">
                <th>OS</th>
                <th>Serviço</th>
                <th>Empresa</th>
                <th>Embarcação/proj.</th>
                <th>Candidato</th>
                <th>Solicitada em</th>
                <th>Responsável</th>
                <th>Status</th>
                <th>Enviada para<br/>BSB em</th>
                <th>Prazo de estada<br/>calculado</th>
                <th>Dias para expirar</th>
                <th>Justificativa</th>
            </tr>
        </thead>
        <tbody>
        {% for reg in os %}
            {% if reg.atrasado %}
            <tr class="1 atrasado">
            {% else %}
            <tr class="1">
            {% endif %}
                <td class="cen"><a href="/paginas/carregueComMenu.php?controller=cCTRL_ORDEMSERVICO&metodo=EditeProcesso&ID_SOLICITA_VISTO={{reg.id_solicita_visto}}&id_solicita_visto={{reg.id_solicita_visto}}" target="_blank">{{reg.nu_solicitacao}}</a></td>
                <td>{{reg.no_servico_resumido}}</td>
                <td>{{reg.no_razao_social}}</td>
                <td>{{reg.no_embarcacao_projeto}}</td>
                <td><a href="/operador/detalheCandidatoAuto.php?NU_CANDIDATO={{reg.nu_candidato}}" target="_blank">{{reg.nome_completo}} ({{reg.nu_candidato}})</a></td>
                <td class="cen">{{reg.dt_solicitacao_fmt}}</td>
                <td class="cen">{{reg.nome}}</td>
                <td class="cen">{{reg.no_status_sol}}</td>
                <td class="cen">{{reg.envio|raw}}</td>
                <td class="cen">{{reg.situacao_prazo_estada}}</td>
                <td class="cen" style="{{reg.estilo}}">{{reg.dias}}</td>
                <td >{{reg.situacao_texto|raw}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>    
    

    </form>
{% endblock %}
