<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
       {% block title %}
            <title>MV::{{ http.getTituloPagina }}</title>
       {% endblock %}
        <link rel="shortcut icon"  type="image/vnd.microsoft.icon" href="{{http.dominio}}/favicon.ico" />
        <meta http-equiv="Content-Type" content="text/html; charset={{http.charset}}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script type="text/javascript" src="/js/ajaxInterface.js"></script>
        <script type="text/javascript" src="/js/criamascara.js"></script>
        <script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="/js/jquery-ui-1.10.1.custom.min.js"></script>
        <script type="text/javascript" src="/js/jquery.ui.datepicker-pt-BR.js"></script>
        <script type="text/javascript" src="/js/jquery.alerts.js"></script>
        <script type="text/javascript" src="/js/jquery.floatThead.js"></script>        
        <script type="text/javascript" src="/js/jquery.Jcrop.min.js"></script>
        <script type="text/javascript" src="/js/jquery.quicksearch.js"></script>
        <script type="text/javascript" src="/js/jquery.maskedinput.js"></script>
        <script type="text/javascript" src="/js/jquery.grid.js"></script>
        <script type="text/javascript" src="/js/jquery.navMenu.js"></script>
        <script type="text/javascript" src="/js/funcoes.js"></script>
        <script type="text/javascript" src="/js/inicializacoes.js"></script>
        <script type="text/javascript" src="/js/tablesorter/jquery.tablesorter.js"></script>
        <script type="text/javascript" src="/js/jquery.maskMoney.js"></script>
        <script type="text/javascript" src="/js/jquery.floatingmessage.js"></script>
        <script type="text/javascript" src="/js/jquery.jeditable.mini.js"></script>
        <script type="text/javascript" src="/js/noty/jquery.noty.js"></script>
        <script type="text/javascript" src="/js/noty/layouts/top.js"></script>
        <script type="text/javascript" src="/js/noty/layouts/topCenter.js"></script>
        <script type="text/javascript" src="/js/noty/layouts/center.js"></script>
        <script type="text/javascript" src="/js/noty/themes/default.js"></script>
        <script type="text/javascript" src="/js/noty/jquery.noty.js"></script>
        <script type="text/javascript" src="/js/noty/layouts/topCenter.js"></script>
        <script type="text/javascript" src="/js/noty/themes/default.js"></script>
        <script type="text/javascript" src="/js/jquery.form.min.js"></script>
        <script type="text/javascript" src="/js/handlebars-v3.0.0.js"></script>

        <link href="/js/tablesorter/themes/blue/style.css" rel="stylesheet" type="text/css" />
        <link href="/css/jquery.grid.css" rel="stylesheet" type="text/css" />
        <link href="/css/jquery.navMenu.css" rel="stylesheet" type="text/css" />
        <link href="/css/start/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="/css/start/jquery.ui.theme.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="/css/jquery.Jcrop.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="/css/jquery.alerts.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="/css/ddsmoothmenu.css" rel="stylesheet" type="text/css" />
        <link href="/css/ddsmoothmenu-v.css" rel="stylesheet" type="text/css" />
        <link href="/estilos.css?x=20130901" rel="stylesheet" type="text/css"/>
        <link href="/externos/FortAwesome-Font-Awesome-13d5dd3/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <style>
        {% block estiloadicional %}
        {% endblock %}            
        </style>
        
    </head>
    <body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
       {% block scripts %}
       {% endblock %}
       {{ menu|raw }}
        <div class="conteudo">
            {% block conteudo %}
            {% endblock %}
        </div>
        <div id="formPopup" name="formPopup" style="display:none">vazio</div>
        {{ scriptsOnLoad|raw }}
    </body>
</html>
