<div class="filtro">
    <div class="label">{{label}}</div>
    <select id="FILTRO_{{nome}}" name="FILTRO_{{nome}}">
        <option value="" 
                {% if valor == '' %}
                selected="selected"
                {% endif %}
                >(todas)</option>
        {% for item in valores %}
        <option value="{{item.id_status_sol}}"
                {% if status.id_status_sol == id_status_sol %}
                selected="selected"
                {% endif %}
                >{{status.no_status_sol}}</option>
        {% endfor %}                                
    </select>
</div>
