{% extends "intranet/base_boot_commenu.html" %}

{% block conteudo %}
    <div class="titulo">
        <div class="texto">Olá {{usuario}}, bem vindo à intranet da Mundivisas!!!</div>
    </div>
    <div class="conteudoInterno">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="">Cadastros atualizados externamente</h3>
                    </div>

                    <div class="panel-body">
                        {% include 'intranet/candidato/com_cadastro_pendente.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
