<table class="{{ template.get_estilosAdicionaisGrid }}">
{% if template.mCols %}
    <colgroup>
    {% for col in template.mCols %}
        <col width="{{ col }}"/>
    {% endfor %}
    </colgroup>
{% endif %}
    <thead>
        <tr>
{% for campo in template.mCampo %}
            <th class="{{ campo.mClasse }}">{{ campo.mLabel }}</th>
{% endfor %}
        </tr>
    </thead>
