<div  class="xmenu">
    <ul>
        <li><a href="/index.php">Home</a></li>
{% if ehFuncionario %}
        <li><a href="#">Sistema</a>
            <ul>
    {% if ehAdmin %}
    		<li><a href="#">Controle de acesso</a>
                    <ul>
			<li><a href="/admin/permissao_acesso.php" target="_parent">Perfis </a></li>
			<li><a href="/admin/cargaCandidatos.php" target="_parent">Importação de Candidatos</a></li>
			<li><a href="/paginas/carregueComMenu.php?controller=cCTRL_USUARIOS&metodo=Liste" target="_parent">Usuários</a></li>
                    </ul>
		</li>										';
    {% endif %}
                <li><a href="#">Tabelas Auxiliares</a>
                    <ul>
                        <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_ESCO_LIST&metodo=Liste" target="_parent">Escolaridade</a></li>
                        <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_ECIV_LIST&metodo=Liste" target="_parent">Estado Civil</a></li>
                        <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_FUNC_LIST&metodo=Liste" target="_parent">Fun&ccedil;&atilde;o/Cargo</a></li>
                        <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_GPAR_LIST&metodo=Liste" target="_parent">Grau Parentesco</a></li>
                        <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_PAIS_LIST&metodo=Liste" target="_parent">Pa&iacute;s/Nacionalidade</a></li>
                        <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_PROF_LIST&metodo=Liste" target="_parent">Profiss&atilde;o</a></li>
                        <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_REPC_LIST&metodo=Liste" target="_parent">Reparti&ccedil;&atilde;o Consular</a></li>
                        <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_TAUT_LIST&metodo=Liste" target="_parent">Tipo Autoriza&ccedil;&atilde;o</a></li>
                        <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_TARQ_LIST&metodo=Liste">Tipos de arquivo</a></li>
    {% if temAcessoServico %}
                        <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_TSRV_LIST&metodo=Liste" target="_parent">Serviço - Tipos</a></li>
                        <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_SERV_LIST&metodo=Liste" target="_parent">Serviço</a></li>
                        <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_PACT_LIST&metodo=Liste" target="_parent">Pacotes</a></li>
                        <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_PTAX_LIST&metodo=Liste" target="_parent">Perfis de taxa</a></li>
    {% endif %}
                        <li><a href="/admin/auxiliares1.php?id=CNT" target="_parent">N&iacute;vel de Contato</a></li>
                    </ul>
                </li>
                <li><a href="#">Configurações</a>
                    <ul>
                        <li><a href="/operador/TextoEmailConfirmacao.php">Texto do e-mail de confirmação</a></li>
                        <li><a href="/operador/CotacaoDolar.php">Cotação do Dólar</a></li>
                    </ul>
                </li>
                <li><a href="/paginas/carregue.php?controller=cCTRL_ARQUIVO&metodo=monitoramentoTamanho" target="_parent">Monitoramento arquivos</a></li>
            </ul>
        </li>

    {% if temAcessoOs %}
        <li><a href="#">Ordens de Servi&ccedil;o</a>
            <ul>
        {% if temAcessoOsListar %}
            <li><a href="/intranet/geral/os_listar.php" target="_parent">Listar ordens de servi&ccedil;o</a></li>
        {% endif %}

        {% if temAcessoOsNova %}
            <li><a href="/operador/os_DadosOS.php?ID_SOLICITA_VISTO=0" target="_parent">Nova Ordem de Servi&ccedil;o</a></li>
        {% endif %}
            <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_PROR_PREC_LIST&metodo=Liste" target="_parent">Pré-cadastro prorrogações</a></li>
            <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_OS_ACOMP_LIST&metodo=Liste" target="_parent">Acompanhamento</a></li>
            <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_OS_ANDA_LIST&metodo=Liste" target="_parent">Andamento</a></li>
            <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_OS_HIST_STAT_LIST&metodo=Liste" target="_parent">Histórico de status</a></li>
            <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_CAND_PIT_LIST&metodo=Liste" target="_parent">PIT</a></li>
            <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_OS_PBSB_LIST&metodo=Liste" target="_parent">Protocolo BSB</a></li>
            <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_OS_PBSB_PROTOCOLO&metodo=Liste" target="_parent">Protocolo BSB - Protocolar</a></li>
            <li><a href="/intranet/geral/os_listar_protocolo_coleta.php" target="_parent">Protocolo de Coleta</a></li>
            <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_OS_PREG_LIST&metodo=Liste" target="_parent">Protocolo de Registro</a></li>
            <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_OS_TAXA_LIST&metodo=Liste" >Controle de taxas</a></li>

            $ret.= '		</ul>
						</li>';
            // }
        }
        if ($GLOBALS['usufunc'] == "S") {
            $ret.= '	<li><a href="#">Cadastros</a>
                <ul>
                    <li><a href="/intranet/geral/cand_listar.php">Candidatos</a></li>';
        }

        if (Acesso::permitido(Acesso::tp_Cadastro_Candidato_Incluir)) {
            $ret.= '			<li><a href="/operador/candidato_novo.php">Incluir candidato</a></li>';
        }

            $ret.= '			<li><a href="/intranet/geral/cand_listar_duplicados.php">Candidatos com duplicados</a></li>
								<li><a href="/paginas/carregueComMenu.php?controller=cCTRL_ORDEMSERVICO&metodo=ConsultarDescricoesAtividade">Descrições de atividades</a></li>
								<li><a href="/intranet/geral/empresas.php">Empresas</a></li>
								<li><a href="/paginas/carregueComMenu.php?controller=cCTRL_EMBP_LIST&metodo=Liste">Embarcações/Projetos</a></li>';
            if (Acesso::permitido(Acesso::tp_Cadastro_EmpresaNova)) {
                $ret.= '	    	<li><a href="/intranet/geral/novaEmpresa.php">Nova empresa</a></li>';
            }
            $ret .='			    </ul>
						</li>';

        $ret.= '	<li><a href="#">Relat&oacute;rios</a>
						<ul>
							<li><a href="/relat/rel_cand_sem_cpf.php" target="_parent">Candidatos sem CPF</a></li>
							<li><a href="/paginas/carregueComMenu.php?controller=cCTRL_CAND_CREW_LIST&metodo=Liste" target="_parent">Crew List</a></li>
							<li><a href="/paginas/carregueComMenu.php?controller=cCTRL_CANDIDATO&metodo=RelatorioPorProjeto" target="_parent">Estrangeiros por Projeto</a></li>
							<li><a href="/paginas/carregueComMenu.php?controller=cCTRL_CANDIDATO&metodo=ListarNecessitaProrrogacao" target="_parent">Necessidade de Prorrogação</a></li>
							<li><a href="/relat/rel_validade_passaporte.php" target="_parent">Prazo de validade de passaporte</a></li>
							<li><a href="/relat/rel_prorrog_nao_concluida.php" target="_parent">Prorrogações não concluídas</a></li>
							<li><a href="/relat/rel_mte_nao_coletado.php" target="_parent">Visto atual deferido mas não coletado</a></li>';
        if ($GLOBALS['ehAdmin'] == "S") {
            $ret .='		<li><a href="/paginas/carregueComMenu.php?controller=cCTRL_USUARIOS&metodo=ListeRevisoes" target="_parent">Evolução das revisões por usuário</a></li>
							<li><a href="/intranet/geral/evolucaoRevisoes.php" target="_parent">Evolução das revisões por dia</a></li>';
        }
        if ($GLOBALS['ehAdmin'] == "S" || cSESSAO::$mcd_usuario == 258) {
            $ret .='		<li><a href="/paginas/carregueComMenu.php?controller=cCTRL_PRODUTIVIDADE_ANALISTAS_LIST&metodo=Liste" target="_parent">Produtividade das analistas</a></li>';
        }
        $ret .='		</ul>
					 </li>';
        if (Acesso::permitido(Acesso::tp_Cobranca)) {
            $ret.= '<li><a href="#">Cobran&ccedil;a</a>
                        <ul>
                                <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_ORDEMSERVICO&metodo=ListeFinanceiro">Ordens de Serviço</a></li>
                                <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_ORDEMSERVICO&metodo=ListeNaoFaturadasPorSolicitante">Faturar OS liberadas</a></li>
                                <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_RESUMO_COBRANCA&metodo=Liste" >Resumos de Cobrança</a></li>
                                <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_TPRC_LIST&metodo=Liste" >Tabelas de preços</a></li>
                                <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_RESUMO_COBRANCA&metodo=DemonstrativoDiario" >Movimentação diária</a></li>
                                <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_EMPRESA_LIST_END_COB&metodo=Liste">Endereços de cobrança</a></li>
                                <li><a href="/paginas/carregueComMenu.php?controller=cCTRL_OS_FAT_LEGADO&metodo=Liste">Conferência de faturamento</a></li>
                        </ul>
                    </li>';
        }
        $ret .= '<li><a href="/paginas/carregueComMenu.php?controller=cCTRL_USUARIOS&metodo=RenoveMinhaSenha">Alterar senha</a></li>
                    <li><a href="/sair.php">Sair</a></li>';

        $ret .= '</ul>';
        $ret .= cINTERFACE_AMBIENTE::ControleLinguagem();
        $ret .= '</div>';

        $ret = '	<div id="cabheader">
						<div class="subheader">
							<div id="logo" class="slot-0">
								<img src="/img/mundivisas_logo.PNG" />
							</div>
							<div class="nav">' . $ret . '
							</div>
						</div>
					</div>
					';
{% endif %}
