{% if success or info or warning or error %}
	<div>
		{% if success %}
			<div class="alert alert-success" role="alert">{{success|raw}}</div>
		{% endif %}
		{% if info %}
			<div class="alert alert-info" role="alert">{{info|raw}}</div>
		{% endif %}
		{% if warning %}
			<div class="alert alert-warning" role="alert">{{warning|raw}}</div>
		{% endif %}
		{% if error %}
			<div class="alert alert-danger" role="alert">{{error|raw}}</div>
		{% endif %}
	</div>
{% endif %}
