/* temporario */
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

/* MENU RESPONSIVO */
.tinynav { display: none;} /* styles for desktop */

/*BASICO*/
@font-face {
	font-family: 'HelveticaLTStd-LightCond';
	src: url('font/helveticaneueltstd-th.otf');
	src: url('font/helveticaneueltstd-th.eot');
	src: url('font/helveticaneueltstd-th.eot?#iefix') format('embedded-opentype'),
	url('font/helveticaneueltstd-th.woff') format('woff'),
	url('font/helveticaneueltstd-th.ttf') format('truetype'),
	url('font/helveticaneueltstd-th.svg#helveticaneuelt_std_thinRg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	margin: 0;
	font: 10px Verdana, Arial, sans-serif;
	color:#7a7a7a;
	min-width: 290px;
}
a:link, a:visited {
	color:#037095;
	text-decoration: none;
}
a:hover, a:active {
	color:#037095;
	text-decoration: underline;
}
strong { font-weight:bold;}
h1, h2, h3, h4, h5, h6 {
	font-family:'Open Sans Condensed', sans-serif;
	color:#037095;
	clear:both;
	line-height: 1;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {text-decoration: none;}
h1 {}
h2 {}
h3 { font-size:3em;}
h4 { font-size:2.2em;}
h5 { font-size:1.8em;}
h6 { font-size:1.4em;}
p {}
::selection {
	background:#037095;
	color:#fff;
}
::-moz-selection {
	background:#037095;
	color:#fff;
}
ul, ol {
	margin: 0 0 10px 0;
	padding-left: 60px;
}
table {	width: 99%;}
th, tr td { padding: 10px 3px;}
tr.odd { background-color: white;}
pre, code, tt {
	font: 1em "andale mono", "lucida console", monospace;
	line-height: 1.5;
}
pre {
	background-color: #efefef;
	display: block;
	padding: 5px;
	margin: 5px 0;
	border: 1px solid #aaaaaa;
}
blockquote {
	border-left: 1px solid #CCCCCC;
	font-size: 0.97em;
	font-style: italic;
	margin: 0 40px;
	padding-left: 10px;
}
ul { list-style-type: disc;}
  ul ul { list-style-type: circle; }
    ul ul ul { list-style-type: square;}
      ul ul ul ul { list-style-type: circle;}
ol { list-style-type: decimal;}
  ol ol { list-style-type: lower-alpha;}
    ol ol ol { list-style-type: decimal;}

/*HEADER*/
#header {
	background: url(../img/bg-header.png) 0 -42px repeat-x;
	margin-bottom:20px;
	border-top: 5px solid #037095;
	color:#fff;
	height:70px;
}
#header ul{
	margin:0;
	padding:0;
}
#header a {
	color:#037095;
	display:block;
}
#header_left {float:left;}
#logo {	height:67px;}
#logo img{
	padding: 16px 0 8px 0;
	width:80%;
}
#header .title {
	font-size: 2.5em;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 22px 0;
	color: #037095;
	display: block;
	float:left;
	clear: none;
}
#header .nav  {	height: 25px; }
#header .nav li {
	list-style-type:none;
	float:left;
	margin: 0 30px 0 0;
	position:relative;
}
#header .nav li a {
	font-size:1.8em;
	font-family: 'Open Sans Condensed', sans-serif;
	padding:22px 0;
}
#header .nav li a:hover { text-decoration:none;}
#header .nav.option li {float:right;}

/* SEGUNDO NIVEL MENU */
#header .nav ul ul {
	background: #037095;
	position:absolute;
	display:none;
	left:0;
	top: 69px;
	z-index:99;
	border-radius: 5px;
	padding-bottom: 5px;
}
#header .nav.option ul ul { left: -255px; }
#header .nav ul .open ul { display:block; }
#header .nav ul ul li {
	float:none;
	margin:0;
	background:	#037095;
	height: 100%;
}
#header .nav ul ul li a {
	width:250px;
	color:#fff;
	font-size: 1.7em;
	height:100%;
	padding:10px 40px 10px 25px;
}
#header .nav ul ul li a:hover {
	background:#0c7da4;
	border:none;
}

/* CONTEUDO */
#main {	padding-bottom:45px;}
#title_main {
	float:left;
	padding-left:60px;
	margin-bottom: 15px;
	background:url(../img/icon-sprites.png) no-repeat;
}
#title_main h2 { padding: 12px 0 0 0;}
#title_main.candidate { background-position:-1219px -398px;}
#title_main.services { background-position:-1219px -243px;}
#title_main.tables { background-position:-1219px -541px;}
#title_main h2 .title {
	font-size:4.8em;
	letter-spacing: -2px;
}
#title_main h2 .registry {
	font-size:3.5em;
	color:#9fa1a1;
	letter-spacing: -1px;
}
#title_main h2 .status {
	font-size:2.5em;
	color:#9fa1a1;
	letter-spacing: -1px;
}
#top_main .info_box { clear:both; }
#top_main .info_box p{
	border:1px solid;
	background:url(../img/icon-sprites.png) no-repeat;
	padding: 10px 40px 10px 75px;
	margin-bottom:15px;
	font-size:1.1em;
}
#top_main .info_box.atention p{
	border-color:#fbe3ba;
	/*background-position:-1205px -150px;*/
	background-position:-726px -364px;
	background-color:#fffeee;
	color:#f6b544;
}
#top_main .info_box.atention::selection,
#top_main .info_box.atention strong::selection  {
	background:#fbe3ba;
	color:#fff;
}
#top_main .info_box.atention::-moz-selection,
#top_main .info_box.atention strong::-moz-selection  {
	background:#fbe3ba;
	color:#fff;
}
#top_main .info_box.error p{
	border-color:#fdd2d2;
	/*background-position:-1205px -102px;*/
	background-position:-726px -364px;
	background-color:#ffeeee;
	color:#fc9595;
}
#top_main .info_box.error::selection,
#top_main .info_box.error strong::selection  {
	background:#fc9595;
	color:#fff;
}
#top_main .info_box.error::-moz-selection,
#top_main .info_box.error strong::-moz-selection  {
	background:#fc9595;
	color:#fff;
}
.main_options {
	overflow: hidden;
	margin-bottom: 10px;
	padding-top: 17px;
	float:right;
}
.main_options ul {
	margin: 0;
	padding: 0;
}
.main_options li {
	list-style-type:none;
	float:left;
	margin-left: 5px;
	background:url(../img/icon-sprites.png) no-repeat;
}
.main_options li.alert { background-position:-56px -4px;}
.main_options li.print { background-position:-113px -4px;}
.main_options li.send  { background-position:-170px -4px;}
.main_options li.back  { background-position:-278px -4px;}
.main_options li.addvisa { background-position:-331px -4px;}
.main_options li.edit  { background-position:-380px -4px;}
.main_options li.save  { background-position:-226px -4px;}
.main_options li.savesend  { background-position:-445px -4px;}

.main_options li.alert:hover { background-position:-56px -55px;}
.main_options li.print:hover { background-position:-113px -55px;}
.main_options li.send:hover  { background-position:-170px -55px;}
.main_options li.back:hover  { background-position:-278px -55px;}
.main_options li.addvisa:hover { background-position:-331px -55px;}
.main_options li.edit:hover  { background-position:-380px -55px;}
.main_options li.save:hover  { background-position:-226px -55px;}
.main_options li.savesend:hover  { background-position:-445px -55px;}

.main_options li a {
	display:block;
	width:43px;
	height:40px;
	text-indent:-9999px;
}
#content_main { clear:both;}

/* TABS */
#content_main  {}
#content_main .tab { background:#f5f5f5;}
#content_main .tab ul{
	padding: 20px 0;
	margin:0;
}
#content_main .tab li {
	margin:0;
	padding:0;
	list-style-type: none;
}
#content_main .tab li a { 
	color:#037095;
	display:block;
	font-size:2em;
	padding: 15px 20px;
	margin-left: 15px;
	cursor:pointer;
	font-family: 'Open Sans Condensed', sans-serif;
}
#content_main .tab li a:hover {	text-decoration:none; }
#content_main .tab li a.active { background:#fff;}
#content_main .tab .box {
	padding: 25px;
	background: #fff;
	overflow: hidden;
	margin:20px;
	min-height:200px;
}


/* BOX */
#content_main .box h3 {	padding:15px 0; }
#content_main .box h4 {	padding:15px 0 10px 0; }
#content_main .box span h4 {
	padding:10px 0 5px;
	float: left;
	width: 100%;
}
#content_main .box p.info {
	padding: 5px 0;
	margin-right: 15px;
	color: #8f9090;
	font-style: italic;
	font-size: 1.2em;
}
#content_main .box input {
	padding:0;
	margin:0;
	border: 1px solid #e8e8e8;
	font: 100% Arial, sans-serif;
	color: #7a7a7a;
	background:#f5f5f5;
}
#content_main .box input[type=submit]
, #content_main .box input[type=button]
{
	padding:5px;
	margin:0;
	border: 1px solid #e8e8e8;
	font: 1.2em Arial, sans-serif;
	color: #7a7a7a;
	background:#f5f5f5;
}
#content_main .box input:focus {
	border-color:#037095;
	box-shadow: 0px 0px 15px -2px #c7c7c7;
}
#content_main .box select {
	margin:0;
	padding:1px 0;
	font: 1em Arial, sans-serif;
	width: 100%;
	color: #7a7a7a;
	background:#f5f5f5;
	border:1px solid #e8e8e8;
}
#content_main .box textarea {
	width:98%;
	margin: 0;
	border: 1px solid #e8e8e8;
	font: 1.2em Arial, sans-serif;
	color: #7a7a7a;
	background: #f5f5f5;
	height:180px;
}
#content_main .box input[type="file"] {
	width:98%;
	margin: 0;
	border: 1px solid #e8e8e8;
	font: 1.2em Arial, sans-serif;
	color: #7a7a7a;
	background: #f5f5f5;
}
#content_main .box ul {
	padding:0;
	margin:0;
	list-style-type:none;
	color:#6c6c6c;/*8f9090*/
}
#content_main .box li{
	float: left;
	width: 47%;
	font-size:1.1em;
	position:relative;
	padding: 5px 0;
	margin-right: 3%;
}
#content_main .box li:hover { color:#037095;}
#content_main .box li.title { width:100%; }
#content_main .box li .label {
	float: left;
	width: 43%;
	margin-right: 6%;
	padding: 2px 0;
}
#content_main .box li .content {
	float: left;
	width:50%;
}
#content_main .box li .content input[type=text] {
	width: 96.3%;
	padding: 1px 4px;
}
#content_main .box li .content input.edited { font-style:italic;}
#content_main .box li .content input[readonly=readonly],
#content_main .box li .content select[disabled],
#content_main .box li .content textarea[disabled]{
	background:none;
	border-color:#fff;
}
#content_main .box li .content select[disabled]{
	margin-left: -4px;
}

/* SERVICE BOX */

#content_main .service_box { padding:0 0 40px 0;}
#content_main .service_box .corner {
	height:73px;
	background:url(../img/icon-sprites.png) no-repeat;
}
#content_main .service_box .corner.right {
	width:12px;
	float:right;
	background-position:-1281px -5px;}
#content_main .service_box .corner.left {
	width:50px;
	float:left;
	background-position:-1193px -5px;
}
#content_main .service_box .header {
	height:73px;
	margin-bottom:40px;
	/*padding:18px 0 35px 0;*/
	background:url(../img/icon-sprites.png) no-repeat -1353px -4px;
}
#content_main .service_box h3 {
	color:#fff;
	float:left;
	padding: 17px 0;
}
#content_main .service_box .os_number {
	float:right;
	font-size:3em;
	color:#fff;
	margin-top: 3px;
	padding: 14px 20px;
	border-right:1px solid #177ea1;
	text-transform:uppercase;
	font-family: /*HelveticaLTStd-LightCond*/'Open Sans Condensed', sans-serif;
}
#content_main .service_box .icon {
	float:right;
	width:32px;
	height:70px;
	padding: 0 15px;
	margin-top: 3px;
	cursor:pointer;
	border-right:1px solid #177ea1;
	border-left:1px solid #026587;
	background:url(../img/icon-sprites.png) no-repeat;
}
#content_main .service_box .action_menu.icon {
	border-right:none;
	padding-right:5px;
	background-position: -795px 10px;
}
#content_main .service_box .adiction_menu.icon {
	background-position: -731px 11px;}
#content_main .service_box .menu .list {
	display:none;
	position:absolute;
	top:95px;
	border:solid 1px #e4e4e4;
	box-shadow:1px 1px 1px 1px #c4c4c4;
	background-color:#f5f5f5;
	border-radius:5px;
}
#content_main .service_box .action_menu .list { right:4% }
#content_main .service_box .adiction_menu .list { right:8% }
#content_main .service_box .menu li {
	float: none;
	width: 100%;
	height:100%;
	margin:0;
	padding:0;
}
#content_main .service_box .menu li:hover { background-color:#fff; }
#content_main .service_box .action_menu li { background-image: url(../img/icon-sprites.png);}

#content_main .service_box .action_menu li.edit { background-position: -730px -420px;}
#content_main .service_box .action_menu li.change { background-position: -730px -139px;}
#content_main .service_box .action_menu li.migrate { background-position: -730px -216px;}
#content_main .service_box .action_menu li.delete { background-position: -730px -313px;}

#content_main .service_box .action_menu li.edit:hover { background-position: -730px -472px;}
#content_main .service_box .action_menu li.change:hover { background-position: -730px -176px;}
#content_main .service_box .action_menu li.migrate:hover { background-position: -730px -268px;}
#content_main .service_box .action_menu li.delete:hover { background-position: -730px -360px;}

#content_main .service_box .menu .list li a {
	display:block;
	color:#7a7a7a;
	font-size:1.2em;
	line-height:12px;
	border-bottom:1px solid #f1f1f1;
	padding:15px 49px;
}
#content_main .service_box .action_menu .list li a { padding:15px 49px 15px 80px; }
#content_main .service_box .menu .list li a:hover {	text-decoration:none; }
#content_main .service_box .service_box_content { padding:0 0 0 50px;}
img.tip {
	cursor:help;
	position:absolute;
	top:7px;
	right: 52%;
}
.label.tip {
	width: 44% !important;
	margin-right: 9px !important;
}

/* TABELAS DE RESULTADOS */
#content_main .filtros h3 { margin-left:14px; }
#content_main .filtros ul {
	padding: 0;
	margin: 5px 0 15px 0;
	overflow: hidden;
}
#content_main .filtros li {
	float: left;
	width: 44.7%;
	position:relative;
	padding: 5px 0;
	list-style-type:none;
	margin: 0 0 0 5.3%;
	font-size: 1.1em;
}
#content_main .filtros li .label {
	float: left;
	width: 44%;
	margin-right: 6%;
	padding: 2px 0;
}
#content_main .filtros li .content {	
	float: left;
	width: 50%;
}
#content_main .filtros li .content input {
	margin: 0;
	border: 1px solid #e8e8e8;
	font: 1.2em Arial, sans-serif;
	color: #7a7a7a;
	background: #f5f5f5;
}
#content_main .filtros li .content input[type=text] {
	width: 96.3%;
	padding: 1px 4px;
}
#content_main .filtros li .content select {
	margin: 0;
	padding: 0;
	font: 1em Arial, sans-serif;
	width: 100%;
	color: #7a7a7a;
	background: #f5f5f5;
	border: 1px solid #e8e8e8;
}

/* BUTTONS */
#content_main .filtros .buttons_group {
	text-align:right;
	clear: both;
}
.search input[type=button] {	
	font-family: 'Open Sans Condensed', sans-serif;
	border: none;
	color: #fff;
	padding:2px 30px 2px 51px;
	cursor:pointer;
	background:#C9C9C9 no-repeat;
	font-size: 1.7em;
}

/* ICONS ON BUTTONS */
input.clear[type=button] {
	background-image: url(../img/icon-sprites.png);
	background-position:-730px -524px;
}
input.search[type=button] {
	background-image: url(../img/icon-sprites.png);
	background-position:-732px -564px;
	background-color: #037095;
}
input[type=submit] {
	background-image: url(../img/icon-sprites.png);
	background-position:-732px -564px;
	background-color: #037095;
        padding:5px;
}

#content_main .results h3 { margin-bottom:15px; }
#content_main .results table {
	border-top:1px solid #eee;
	width:100%;
}
#content_main .results table th{
	vertical-align: middle;
	font-size:1.2em;
}
#content_main .results table tbody tr { background:#f5f5f5;}
#content_main .results table tbody .even { background:#fff;}

/* SIDE BAR */
#sidebar_right .period_of_stay { margin-bottom: 15px; }
#sidebar_right .period_of_stay .label {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:1.8em;
	margin-bottom: -8px;
}
#sidebar_right .period_of_stay .info {
	font-family: 'Open Sans Condensed', sans-serif;
	color:#037095;
	font-size: 4em;
	letter-spacing: -2px;
}
#sidebar_right .box { margin-bottom:20px;}
#sidebar_right .box  h3 {
	color:#9fa1a1;
	font-size:3em;
	margin-bottom:10px;
}
#sidebar_right .view_all {
	float:right;
	margin-top:-33px;
}
#sidebar_right .view_all a{
	font-family: /*HelveticaLTStd-LightCond*/'Open Sans Condensed', sans-serif;
	color:#9fa1a1;
	font-size:1.8em;
}
#sidebar_right .box ul {
	padding:0;
	margin:0;
}
#sidebar_right .box li {
	list-style-type:none;
	font-size:1.1em;
	margin-bottom: 5px;
}
#sidebar_right .box li:hover { color:#037095;}
#sidebar_right .info_box li .label {
	margin-right: 5px;
	font-size: 0.9em;
}
#sidebar_right .info_box li .info {
	font-size:1.2em;
}
#sidebar_right .file_box li.iten {
	font-family: 'Open Sans Condensed', sans-serif;
	color:#fff;
	background:#037095;
	padding:10px 0 10px 0;
	margin-bottom:3px;
	position:relative;
	clear: both;
	overflow: hidden; 
}
#sidebar_right .file_box li.iten .name {
	text-transform:uppercase;
	font-size:1.5em;
	margin: 0 12px 5px 12px;
}
#sidebar_right .file_box li.iten .upload {margin: 0 12px;}
#sidebar_right .file_box li.iten .label_upload_date { font: 1em Verdana, Arial, sans-serif;}
#sidebar_right .file_box li.iten .upload_date { font-size:1.3em;}

/*
#sidebar_right .file_box li.iten .action {
	position:absolute;
	bottom: 11px;
	left: 10px;
	background:#037095;
	opacity:0;
}*/
#sidebar_right .file_box li.iten .action {
	margin: 5px 10px 0 10px;
	display:none;
}
#sidebar_right .file_box li.iten .action.open { display:block; }
#sidebar_right .file_box li.iten span.action_button {
	margin: 0 2px;
	float:left;
}
#sidebar_right .file_box li.iten span.action_button a {
	display:block;
	width:40px;
	height:40px;
	background:url(../img/icon-sprites.png) no-repeat;
}
#sidebar_right .file_box li.iten span.action_button.download a { background-position:-938px 0px;}
#sidebar_right .file_box li.iten span.action_button.open a { background-position:-993px 0px;}
#sidebar_right .file_box li.iten span.action_button.delete a { background-position:-1045px 0px;}

#sidebar_right .file_box li.iten span.action_button.download a:hover { background-position:-938px -65px;}
#sidebar_right .file_box li.iten span.action_button.open a:hover { background-position:-993px -65px;}
#sidebar_right .file_box li.iten span.action_button.delete a:hover { background-position:-1045px -65px;}

#listaarquivos .file_box li.iten {
	font-family: 'Open Sans Condensed', sans-serif;
	color:#fff;
	background:#037095;
	padding:10px 0 10px 0;
	margin-bottom:3px;
	position:relative;
	clear: both;
	overflow: hidden; 
}
#listaarquivos .file_box li.iten .name {
	text-transform:uppercase;
	font-size:1.5em;
	margin: 0 12px 5px 12px;
}
#listaarquivos .file_box li.iten span.action_button a {
	display:inline;
	width:40px;
	height:40px;
	margin-left:0;
	background:url(../img/icon-sprites.png) no-repeat;
}
#listaarquivos .file_box li.iten span.action_button.download a { background-position:-940px 20px;}
#listaarquivos .file_box li.iten span.action_button.download a:hover { background-position:-940px -45px;}


/* BALLON STYLE */
.balloon-file {
	background-color:#037095 !important;
	border:none !important;
	box-shadow:none !important;
	opacity:1 !important;
}
.balloon-file span.action_button { float:left;}
.balloon-file span.action_button a {
	display:block;
	width:40px;
	height:40px;
	background:url(../img/icon-sprites.png) no-repeat;
}
.balloon-file span.action_button.download a { background-position:-938px 0px;}
.balloon-file span.action_button.open a { background-position:-993px 0px;}
.balloon-file span.action_button.delete a { background-position:-1045px 0px;}

.balloon-file span.action_button.download a:hover { background-position:-938px -65px;}
.balloon-file span.action_button.open a:hover { background-position:-993px -65px;}
.balloon-file span.action_button.delete a:hover { background-position:-1045px -65px;}

.balloon {
	border:solid 1px #e4e4e4 !important;
	padding:9px 20px !important;
	font-size:1.1em !important;
	font-weight:normal !important;
	background-color:#f5f5f5 !important;
	color:#7a7a7a !important;
	box-shadow:1px 1px 1px 1px #c4c4c4 !important;
	opacity:0.9 !important;
	text-align:center !important;
}

/* RODAPE */
#footer {
	background:#037095;
	color:#fff;
	clear:both;
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 18px 0;
}
#footer span {	font-size:1.2em;}
.tinynav {
	margin: 12px 0;
	padding: 10px 0;
	font: 1em Arial, sans-serif;
	width: 100%;
	color: #7a7a7a;
	background: #f5f5f5;
	border: 1px solid #e8e8e8;
}
.footable-row-detail-inner {
	font-size: 1.1em;
	padding: 10px 10px 10px 38px;
}
.footable.breakpoint > tbody > tr.footable-row-detail { background: #fafafa; }

/* ajustes */
@media screen and (max-width: 720px) {
	body { font-size:12px;}
	#main { padding-bottom: 25px ;}
	.grid { padding:0 5px; }
	#header { height:130px; }
	#header .nav.main { float: left;}
	#header .nav.option { float: right;}
	.main_options {
		float: none;
		clear:both;
		}
	#logo { text-align: center; }
	#logo img { width: 120px;}
	.tinynav { display: block; }
	#title_main h2 .title { font-size:3.2em; }
    #header .nav ul{ display: none }
	#header .nav.main { width: 45%; }
	#header .nav.option { width: 45%; }
	#content_main .row>div { overflow: hidden; }
	#content_main .tab .box {
		padding:15px;
		margin: 10px;
	}
	#content_main .tab ul { padding: 20px 0 0 0; }
	#content_main .tab li a { margin: 0 10px; }
	#content_main .box li { width:100%;}
	#content_main .box li .label { width:100%; }
	#content_main .box li .content { width: 100%; }
	#content_main .box li .content input[type=text] {
		width: 98%; }
	#footer { text-align: center; }
	img.tip { right:0;}
	
	#content_main .filtros li {
		margin:0;
		width:100%;
	}
	#content_main .filtros li .label {
		margin:0;
		width:100%;
	}
	#content_main .filtros li .content input[type=text] {
		padding: 10px 4px;
		width:98%;
	}
	#content_main .filtros li .content select { width:100%; }
	#content_main .filtros li .content { width:100%; }
	#content_main .filtros li .content select {
		padding:15px 0;
		width: 100%;
	}
	#content_main .filtros .buttons_group {
		width: 99.7%;
		margin: 0 0 25px 0;
	}
	.search input[type=button] { width: 49.5%;}
	#content_main .results th,
	#content_main .results td { padding:15px 3px 15px 35px; }
}
@media screen and (min-width: 720px) and (max-width: 986px)  {
	.grid { padding:0; }
    .tinynav { display: block; }
	#header .nav select.tinynav2 { float:right;}
    #header .nav ul{ display: none }
	#logo img {
		padding: 19px 0 8px 0;
		width: 100%;
		}
	#content_main .tab>ul  { width: 120px;}
	#content_main .tab>div {margin-left: 0;}
	#content_main .tab .box { margin-left: 0; }
	#content_main .tab .box { padding: 15px; }
	#content_main .box li { width:100%;}
	#content_main .tab li a { padding: 15px 10px; }
	#sidebar_right .period_of_stay .label { font-size:1.4em;}
	#sidebar_right .period_of_stay .info {font-size: 3em;}
	#sidebar_right .file_box li.iten .name { font-size: 1.3em; }
	#sidebar_right .file_box li.iten .label_upload_date { display: none;}
	
	#content_main .filtros li {
		width: 99%;
		margin: 0 0 0 2.2%;
	}
	#content_main .filtros li .label { width: 42.7%; }
}
@media screen and (min-width: 986px) and (max-width: 1236px) {
	#sidebar_right .file_box li.iten span.action_button { margin: 0 -1px; }
	#content_main .tab .box { margin-left:-30px; }
	#content_main .box li { width: 47%;}
	#sidebar_right .view_all {
		float:none;
		margin-top:-12px;
	}
}
@media screen and (min-width: 1236px) {
	#content_main .tab .box { margin-left:-30px;}
	#content_main .box li { width: 47%;}
}