<!-- Acoes - inicio -->
<div class="main_options">
	<ul>
	{% for acao in template.acoes %}
		<li class="{{ acao.mno_classe }} action" title="{{ acao.mTitulo }}"><a href="#" id="{{ acao.mCodigo}}" onclick="EnvieAcao(this);">{{ acao.Label }}</a></li>
	{% endfor %}
	</ul>
</div>
<!-- Acoes - fim -->
