{% block head %}
	{% include 'public/head.html' %}
{% endblock %}
</head>
<body>	
{% block cabecalho %}
	{% include 'public/cabecalho.html' %}
{% endblock %}
	<div id="content" class="grid">
		{% block conteudo %}
		{% endblock %}
	</div>
{% include 'public/footer.html' %}
</body>
</html>
