<li>
	<p class="label">{{ campo.Label }}:</p>
	{% if campo.get_title != '' %}
		<img class="tip" title="{{campo.get_title}}" src="../img/help.png"/>
	{% endif %}
	<p class="content">
	{% if campo.mReadonly %}
		{{ campo.mValor|e }}
	{% else %}
		<input type="text" id="CMP_{{ prefixo }}{{ campo.mCampoBD }}" name="CMP_{{ prefixo }}{{ campo.mCampoBD }}" value="{{ campo.mValor }}" class="{{ campo.mClasse }} cmp">
	{% endif %}

	</p>
</li>
