<li>
	<p class="label">{{ label }}:</p>
	{% if title != '' %}
		<img class="tip" title="{{title}}" src="../img/help.png"/>
	{% endif %}
	<p class="content"><input type="file" id="CMP_{{ nome }}" name="CMP_{{ nome }}" class="{{ classe }}"></p>
</li>
