{% if readonly %}
	{% set width = 'height:auto;' %}
{% else %}
	{% set width = '' %}
{% endif %}
<li>
    <p class="label">{{ label }}:</p>
    {% if title != '' %}
        <img class="tip" title="{{title}}" src="../img/help.png"/>
    {% endif %}
    <p class="content"><textarea id="CMP_{{ nome }}" name="CMP_{{ nome }}" class="{{ classe }} cmp" {% if readonly %} disabled {% endif %} style="{{ width }}">{{ valor }}</textarea></p>
</li>
