<li>
	<p class="label">{{ campo.Label }}:</p>
	{% if campo.get_title != '' %}
		<img class="tip" title="{{campo.get_title}}" src="../img/help.png"/>
	{% endif %}
	<p class="content"><input type="file" id="CMP_{{ campo.mCampoBD }}" name="CMP_{{ campo.mCampoBD }}" class="{{ campo.mClasse }}"></p>
</li>
