<li>
	<p class="label">{{ campo.Label }}:</p>
	{% if campo.get_title != '' %}
		<img class="tip" title="{{campo.get_title}}" src="../img/help.png"/>
	{% endif %}
	<p class="content"><textarea id="CMP_{{ prefixo }}{{ campo.mCampoBD }}" name="CMP_{{ prefixo }}{{ campo.mCampoBD }}" class="{{ campo.mClasse }} cmp" {% if campo.mReadonly %} disabled {% endif %}>{{ campo.mValor }}</textarea></p>
</li>
