<li>
    <p class="label">{{ label|raw }}:</p>
    {% if title != '' %}
            <img class="tip" title="{{title}}" src="../img/help.png"/>
    {% endif %}
    <p class="content">
    {% if readonly %}
            {{ valor|e }}
    {% else %}
            <input type="password" id="CMP_{{nome}}" name="CMP_{{nome}}" value="{{ valor }}" class="{{ classe }} cmp">
    {% endif %}
    </p>
</li>
