<li>
	<p class="label">{{ campo.Label }}:</p>
	{% if campo.get_title != '' %}
		<img class="tip" title="{{campo.get_title}}" src="../img/help.png"/>
	{% endif %}
	<p class="content">
		<select id="CMP_{{ prefixo }}{{ campo.mCampoBD }}" name="CMP_{{ prefixo }}{{ campo.mCampoBD }}" {% if campo.mReadonly %} disabled {% endif %}>
	    {% for valor in campo.FormatoMustache.valores %}
	    	<option value="{{ valor.valor }}" {% if valor.selected %} selected {% endif %}>{{ valor.descricao|raw }}</option>
		{% endfor %}
		</select>
	</p>
</li>
