<li>
    <p class="label">{{ label|raw }}:</p>
    {% if title != '' %}
        <img class="tip" title="{{title}}" src="../img/help.png"/>
    {% endif %}
    <p class="content">
        <select id="CMP_{{ nome }}" name="CMP_{{ nome }}" {% if readonly %} disabled {% endif %}>
            {% for valor in valores %}
                <option value="{{ valor.valor }}" {% if valor.valor == valor_atual%} selected {% endif %}>{{ valor.descricao|raw }}</option>
            {% endfor %}
        </select>
    </p>
</li>
