<!-- Filtros - inicio -->
{% if qtdFiltrosVisiveis > 0 %}
<div class="filtros">
    <ul>
    {% set prefixo = 'FILTRO_' %}
    {% for campo in filtros %}
        {% if campo.mVisivel %}
            {% if campo.mPainel != '' %}
                {% include "public/titulo_painel.html" %}
            {% endif %}
            {% if campo.mTipo == 6 %}
                {% include "public/CAMPO_TEXTO.html" %}
            {% endif %}
            {% if campo.mTipo == 2 %}
                {% include "public/CAMPO_DATA.html" %}
            {% endif %}
            {% if campo.mTipo == 7 %}
                {% include "public/CAMPO_MEMO.html" %}
            {% endif %}
            {% if campo.mTipo == 9 %}
                {% include "public/CAMPO_SIMNAO.html" %}
            {% endif %}
            {% if campo.mTipo == 18 %}
                {% include "public/COMBO_GERAL.html" %}
            {% endif %}
            {% if campo.mTipo == 22 %}
                {% include "public/CAMPO_FILE.html" %}
            {% endif %}
        {% endif %}
    {% endfor %}
    </ul>
    <div class="buttons_group">
        <input type="button" class="clear" value="Clear form" title="Clear form">
        <input type="button" class="search" value="Search" title="Search candidates" onClick="$('#{{ template.nome }}').submit();"> 
	</div>
</div>
{% endif %}
<!-- Filtros - fim -->
