<!-- Footer - inicio -->
	<div id="footer">
		<div class="grid">
			<div class="row">
                            {% if nu_empresa_prestadora == 1 %}
				<span>Dataweb | &copy; Mundivisas 2004</span>
                            {% else %}
                                <span>&copy; BCS Visas 2014</span>
                            {% endif %}
			</div>
		</div>
	</div>
<!-- Footer - fim -->
