<html>
	<head>
		<style>
			*, body{font-family: Verdana, Arial, sans-serif;}
			h1{
				font-family: inherit;
				text-align: center;
				font-size: 20px;
				margin-top: 0px;
				padding-top: 0px;
			}
			div.titulo{
				font-family: inherit;
				font-size:14px;
				font-weight: bold;
				margin-top:30px;
				margin-bottom:5px;
			}
			table{
				font-family: inherit;
				font-size:12px;
				margin:0;
				padding:0;
				border-spacing: 0;
				border-collapse: collapse;
				width:100%;
			}
			table tr td{
				padding: 3px;
				font-family: inherit;
				font-size:inherit;
				border: solid 1px #000;
				vertical-align: bottom;
				page-break-inside: avoid;
				border-top: none;
			}
			table tr th{
				padding: 3px;
				font-family: inherit;
				font-size:inherit;
				font-weight: bold;
				border: solid 1px #000;
				border-bottom: none;
				vertical-align: top;
				text-align: left;
				padding-bottom: 10px;
			}
			table tr.deps td{
				border: solid 1px #000;
			}
			div.inseparavel{
				page-break-inside: avoid;				
			}
			table.semLinhas tr td
			,table.semLinhas tr th{
				border: none;
				font-family: inherit;
			}
			table tbody{
				page-break-inside: avoid;				
			}
			@media all {
				.page-break	{ display: none; }
			}

			@media print {
				.page-break	{ display: block; page-break-before: always; }
			}
		</style>
	</head>
	<body>
		<h1>Formulário de Requerimento de Autorização de Trabalho</h1>
		<div class="titulo">1. REQUERIMENTO, COM FUNDAMENTO LEGAL:</div> 
		<table>
			<tbody>
			<tr><th>1. Lei/Decreto/Resolução:</th></tr>
			<tr><td>{{ servico.NO_TIPO_AUTORIZACAO }}</td></tr>				
			</tbody>
		</table>
		<div class="titulo">2. DO REQUERENTE</div> 
		<table>
			<tr>
				<th colspan="4">2. Requerente</th>
				<th style="width:35%">3. Ativ. Econômica (CNAE)</th>
			</tr>
			<tr>
				<td colspan="4">{{ empresa.NO_RAZAO_SOCIAL }}</td>
				<td>{{ empresa.CO_ATIVIDADE_ECONOMICA }}</td>
			</tr>
			<tr>
				<th colspan="4">4. Endereço</th>
				<th>5. Cidade</th>
			</tr>
			<tr>
				<td colspan="4">{{ empresa.NO_ENDERECO | raw }} {{ empresa.NO_COMPLEMENTO_ENDERECO | raw }} - {{ empresa.NO_BAIRRO | raw }}</td>
				<td>{{ empresa.NO_MUNICIPIO | raw }}</td>
			</tr>
			<tr>
				<th colspan="2">6. UF</th>
				<th colspan="2">7. CEP</th>
				<th>8. Telefone</th> 
			</tr>
			<tr>
				<td colspan="2">{{ empresa.CO_UF }}</td>
				<td colspan="2">{{ empresa.NU_CEP }}</td>
				<td>({{ empresa.NU_DDD }}){{ empresa.NU_TELEFONE }}</td>
			</tr>
			<tr>
				<th colspan="4">9. Correio Eletrônico</th>
				<th>10. CNPJ/CPF</th>
			</tr>
			<tr>
				<td colspan="4">{{ empresa.NO_EMAIL_EMPRESA }}</td>
				<td>{{ empresa.NU_CNPJ }}</td>
			</tr>
		</table>
		
		<div class="titulo">2.1. DADOS ESPECÍFICOS DA EMPRESA</div>
		<table>
			<tr>
				<th colspan="4">11. Objeto Social (resumo):</th>
			</tr>
			<tr>
				<td colspan="4" style="font-size:{{ tamanho_letra }}">{{ empresa.TE_OBJETO_SOCIAL | raw }}</td>
			</tr>
			<tr>
				<th colspan="2">12. Capital Social inicial:</th>
				<th colspan="2">13. Capital Social atual:</th>
			</tr>
			<tr>
				<td colspan="2">{{ empresa.VA_CAPITAL_INICIAL }}</td>
				<td colspan="2">{{ empresa.VA_CAPITAL_ATUAL }}</td>
			</tr>
			<tr>
				<th colspan="2">14. Data da constituição:</th>
				<th colspan="2">15. Data da última alteração contratual:</th>
			</tr>
			<tr>
				<td colspan="2">{% include "public/data_fmt.html" with{ 'campo' : empresa.DT_CONSTITUICAO_EMPRESA } only %}</td>
				<td colspan="2">{% include "public/data_fmt.html" with{ 'campo' : empresa.DT_ALTERACAO_CONTRATUAL } only %}</td>
			</tr>
			<tr>
				<th colspan="4">16. Pessoa(s) jurídica(s) estrangeira(s) associada(s):</th>
			</tr>
			<tr>
				<td colspan="4">{{ empresa.NO_EMPRESA_ESTRANGEIRA }}</td>
			</tr>
			<tr>
				<th colspan="4">17. Relação das principais associadas, quando se tratar de Sociedade Anônima:</th>
			</tr>
			<tr>
				<td colspan="4">
				{% if qtd_afiliadas > 0 %}
					<table class="semLinhas">
						<tr>
							<th>Nome</th>
							<th>CNPJ</th>
							<th>Nacionalidade</th>
							<th>Capital votante</th>
							<th>Capital total</th>
						</tr>
					{% for afiliada in afiliadas %}
						<tr>
							<td>{{ afiliada.NO_ASSOCIADA }}</td>
							<td>{{ afiliada.NU_CNPJ }}</td>
							<td>{{ afiliada.NO_NACIONALIDADE }}</td>
							<td>{{ afiliada.NO_CAPITAL_VOTANTE }}</td>
							<td>{{ afiliada.NO_CAPITAL_TOTAL }}</td>
						</tr>
					{% endfor %}
					</table>
				{% else %}
				--
				{% endif %}	
				</td>
			</tr>
			<tr>
				<th colspan="4">18. Valor do investimento de capital estrangeiro:</th>
			</tr>
			<tr>
				<td colspan="4">{{ empresa.VA_INVESTIMENTO_ESTRANGEIRO }}</td>
			</tr>
			<tr>
				<th colspan="2">19. Data do último investimento:</th>
				<th colspan="2">20. Data de registro no Banco Central do Brasil:</th>
			</tr>
			<tr>
				<td colspan="2">{% include "public/data_fmt.html" with{ 'campo' : empresa.DT_INVESTIMENTO_ESTRANGEIRO } only %}</th>
				<td colspan="2">{% include "public/data_fmt.html" with{ 'campo' : empresa.DT_CADASTRO_BC } only %}</th>
			</tr>
		</table>
		<div class="page-break"></div>
		<table>
			<tr>
				<th colspan="4">21. Administrador (es) - Nome e cargo:</th>
			</tr>
			<tr>
				<td colspan="4" style="font-size:{{ tamanho_letra }}">
				{% if qtd_administradores > 0 %}
					<b>Administradores</b><br/>
					<table class="semLinhas">
					{% for adm in administradores %}
						<tr>
							<td style="font-size:{{ tamanho_letra }}">{{ adm.NM_ADMIN }}</td>
							<td style="font-size:{{ tamanho_letra }}">{{ adm.NM_CARGO }}</td>
						</tr>
					{% endfor %}
					</table>
				{% endif %}
				{% if qtd_diretores > 0 %}
					<br/><b>Diretores</b><br/>
					<table class="semLinhas">
					{% for dir in diretores %}
						<tr>
							<td style="font-size:{{ tamanho_letra }}">{{ dir.NM_ADMIN }}</td>
							<td style="font-size:{{ tamanho_letra }}">{{ dir.NM_CARGO }}</td>
						</tr>
					{% endfor %}
					</table>
				{% endif %}
				{% if qtd_representantes > 0 %}
					<br/><b>Representantes dos funcionários</b><br/>
					<table class="semLinhas">
					{% for rep in representantes %}
						<tr>
							<td style="font-size:{{ tamanho_letra }}">{{ rep.NM_ADMIN }}</td>
							<td style="font-size:{{ tamanho_letra }}">{{ rep.NM_CARGO }}</td>
						</tr>
					{% endfor %}
					</table>
				{% endif %}
				</td>
			</tr>
			<tr>
				<th colspan="4">22 Número total de empregados:</th>
			</tr>
			<tr>
				<td colspan="4">{{ empresa.QT_EMPREGADOS  }}</td>
			</tr>
			<tr>
				<th colspan="2">22.1 Número atual de empregados brasileiros:</th>
				<th colspan="2">22.2 Número atual de empregados estrangeiros:</th>
			</tr>
			<tr>
				<td colspan="2">{{ empresa.QT_EMPREGADOS - empresa.QT_EMPREGADOS_ESTRANGEIROS }}</td>
				<td colspan="2">{{ empresa.QT_EMPREGADOS_ESTRANGEIROS }}</td>
			</tr>
			<tr>
				<th colspan="4">23. Justificativa para a contratação do estrangeiro:</th>
			</tr>
			<tr>
				<td colspan="4" style="font-size:{{ tamanho_letra }}">
				{% if autorizacao.DS_JUSTIFICATIVA != '' %}
					{{ autorizacao.DS_JUSTIFICATIVA | raw }}
				{% else %}
					{{ embarcacao.mDS_JUSTIFICATIVA | raw }}
				{% endif %}
				{%if autorizacao.TE_DESCRICAO_ATIVIDADES != ''%}
				<br/><br/><b>Descrição das atividades:</b><br/>{{ autorizacao.TE_DESCRICAO_ATIVIDADES|raw }}
				{% endif %}
				</td>
			</tr>
		</table>
		<div class="page-break"></div>
		<div class="titulo"> 3. DO ESTRANGEIRO</div> 
		<table>
			<tr>
				<th colspan="6">24. Nome </th>
			</tr>
			<tr>
				<td colspan="6">{{ candidato.NOME_COMPLETO }}</td>
			</tr>
			<tr>
				<th colspan="6">25 Filiação:</th>
			</tr>
			<tr>
				<td colspan="6"><b>Pai:</b> {{ candidato.NO_PAI }}<br/><b>Mãe:</b> {{ candidato.NO_MAE }}</td>
			</tr>
			<tr>
				<th colspan="3">26. Sexo</th>
				<th colspan="3">27. Estado civil</th>
			</tr>
			<tr>
				<td colspan="3">{{ candidato.CO_SEXO }}</td>
				<td colspan="3">{{ candidato.NO_ESTADO_CIVIL }}</td>
			</tr>
			<tr>
				<th colspan="3">28. Data de nascimento</th>
				<th colspan="3">29. Escolaridade</th>
			</tr>
			<tr>
				<td colspan="3">{% include "public/data_fmt.html" with{ 'campo' : candidato.DT_NASCIMENTO } only %}</th>
				<td colspan="3">{{ candidato.NO_ESCOLARIDADE }}</td>
			</tr>
			<tr>
				<th colspan="3">30. Profissão</th>
				<th colspan="3">31. Nacionalidade</th>
			</tr>
			<tr>
				<td colspan="3">{{ candidato.NO_PROFISSAO }}</td>
				<td colspan="3">{{ candidato.NO_NACIONALIDADE }}</td>
			</tr>
			<tr>
				<th colspan="3">32. Documento de viagem - Validade</th>
				<th colspan="3">33. Função no Brasil</th>
			</tr>
			<tr>
				<td colspan="3">{{ candidato.NU_PASSAPORTE }} - {% include "public/data_fmt.html" with{ 'campo' : candidato.dt_validade_passaporte_orig } only %}</td>
				<td colspan="3">{{ autorizacao.no_funcao|raw }}</td>
			</tr>
			<tr>
				<th colspan="3">34. CBO</th>
				<th colspan="3">35. Local de trabalho</th>
			</tr>
			<tr>
				<td colspan="3">{{ autorizacao.nu_cbo }}</td>
				<td colspan="3">{{ autorizacao.DS_LOCAL_TRABALHO }}</td>
			</tr>
			<tr>
				<th colspan="6">36. Informar última remuneração percebida pelo estrangeiro no exterior:</th>
			</tr>
			<tr>
				<td colspan="6">{{ autorizacao.VA_RENUMERACAO_MENSAL }}</td>
			</tr>
			<tr>
				<th colspan="6">37. Informar remuneração que o estrangeiro irá perceber no País:</th>
			</tr>
			<tr>
				<td colspan="6">{{ autorizacao.VA_REMUNERACAO_MENSAL_BRASIL }}</td>
			</tr>
			<tr>
				<th colspan="6">38. Experiência profissional: relação das empresas nas quais foi empregado, funções exercidas com a respectiva duração, local e data, por ordem cronológica, discriminando as atividades compatíveis com as que o candidato desempenhara no Brasil.</th>
			</tr>
			<tr>
				<td colspan="6" style="font-size:{{ tamanho_letra }}">{{ candidato.TE_TRABALHO_ANTERIOR_BRASIL | raw }}</td>
			</tr>
		</table>
		<div class="page-break"></div>
		<table>
			<tr>
				<th colspan="6">39. Dependentes</th>
			</tr>
			<tr class="deps">
				<td>Nome</td>
				<td>Parentesco</td>
				<td>Data nasc.</td>
				<td>Nacionalidade</td>
				<td>Documento de viagem</td>
				<td>Validade</td>
			</tr>
			{% for dependente in dependentes %}
			<tr class="deps">
				<td>{{ dependente.NOME_COMPLETO }}</td>
				<td>{{ dependente.no_grau_parentesco }}</td>
				<td>{% include "public/data_fmt.html" with{ 'campo' : dependente.DT_NASCIMENTO } only %}</td>
				<td>{{ dependente.no_nacionalidade }}</td>
				<td>{{ dependente.NU_PASSAPORTE }}</td>
				<td>{% include "public/data_fmt.html" with{ 'campo' : dependente.DT_VALIDADE_PASSAPORTE_ORIG } only %}</td>
			</tr>
			{% endfor %}
			<tr>
				<th colspan="3">40. Tipo de visto:</th>
				<th colspan="3">41. Prazo:</th>
			</tr>
			<tr>
				<td colspan="3">{{ servico.NO_CLASSIFICACAO_VISTO }}</td>
				<td colspan="3">{{ autorizacao.DT_PRAZO_ESTADA_SOLICITADO }}</td>
			</tr>
			<tr>
				<th colspan="6">42. Repartição consular brasileira no exterior:</th>
			</tr>
			<tr>
				<td colspan="6">{{ autorizacao.no_reparticao_consular }}</td>
			</tr>
		</table>
		<div class="inseparavel">		
			<div class="titulo">4. DO REPRESENTANTE LEGAL:</div>
			<table>
				<tr>
					<th>43. Nome:</th>
					<th>44. CPF:</th>
					<th>45. Correio eletrônico:</th>
				</tr>
				<tr>
					<td>{{ procurador.no_procurador }}{% if procurador2 is defined %}<br/>{{ procurador2.no_procurador }}{% endif %}</td>
					<td>{{ procurador.nu_cpf }}{% if procurador2 is defined %}<br/>{{ procurador2.nu_cpf }}{% endif %}</td>
					<td>{{ procurador.no_email }}{% if procurador2 is defined %}<br/>{{ procurador2.no_email }}{% endif %}</td>
				</tr>
			</table>
		</div>
		<div class="inseparavel">		
			<div class="titulo">5. DECLARAÇÃO GERAL DE RESPONSABILIDADE:</div>
			<table>
				<tr>
					<td style="border: solid 1px black;">46. {{ empresa.NO_RAZAO_SOCIAL }}, representada por {{ procurador.no_procurador }}{% if procurador2 is defined %} e por {{ procurador2.no_procurador }}{% endif %}
						, DECLARA, sob as penas da Lei, em relação ao(s) estrangeiro(s) indicado(s) neste requerimento e seu(s) dependente(s) durante a sua permanência em Território Nacional, que: 
						<br/>a) Assume a responsabilidade por todas e quaisquer despesas médicas e/ou hospitalares do estrangeiro e seus dependentes (se houver); 
						<br/>b) Assume a responsabilidade pela repatriação do estrangeiro e de seus dependentes (se houver), ao país de origem; 
						<br/>c) Caso o(s) estrangeiro(s) continue(m) a perceber remuneração no exterior, comprometo-me a oferecer a tributação no Brasil, conforme determina a Secretaria da Receita Federal.
						<br/>{{ alinea_d|raw }}
						<br/>
					</td>
				</tr>
			</table>
			<div class="titulo">6. TERMO DE RESPONSABILIDADE:
			<table>
				<tr>
					<td colspan="2" style="border: solid 1px black;border-bottom:none;">
						47. Declaro, sob as penas do art. 299 do Código Penal Brasileiro, serem verdadeiras as informações transcritas neste documento, comprometendo-me, inclusive, a comprová-las, mediante a apresentação dos documentos próprios a fiscalização.</th>
					</td>
				</tr>
				<tr>
					<td style="border:solid 1px black; border-top: none; border-right: none; text-align: center;padding-top: 30px; vertical-align: bottom;">
					{% if procurador.imagem != '' %}
                                                <img src="data:image/jpeg;base64,{{procurador.assinatura|raw}}"/>
					{% endif %}
						<hr style="width:50%;color: #000;margin-top:0;">
						{{ procurador.no_procurador }}
						<br/>{{ procurador.no_funcao }}
						<br/>CPF {{ procurador.nu_cpf }}
					</td>
					{% if procurador2 is defined %}
						<td style="border:solid 1px black; border-top: none; border-left: none; text-align: center;padding-top: 30px; vertical-align: bottom;">
						{% if procurador2.imagem != '' %}
                                                    <img src="data:image/jpeg;base64,{{procurador2.assinatura|raw}}"/>
						{% endif %}
							<hr style="width:50%;color: #000;margin-top:0;">
							{{ procurador2.no_procurador }}
							<br/>{{ procurador2.no_funcao }}
							<br/>CPF {{ procurador2.nu_cpf }}
						</td>
					{% endif %}
				</tr>
			</table>
		</div>
	</body>
</html>
