<!DOCTYPE html>
<head>
	<title>{{ pagina.titulo }}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!--[if lt IE 9 ]><link rel="stylesheet" href="./css/720_grid.css" type="text/css"><![endif]-->
	<link rel="stylesheet" href="../novocss/720_grid.css" type="text/css" media="screen and (min-width: 720px)">
	<link rel="stylesheet" href="../novocss/986_grid.css" type="text/css" media="screen and (min-width: 986px)">
	<link rel="stylesheet" href="../novocss/1236_grid.css" media="screen and (min-width: 1236px)">
    <link rel="stylesheet"  href="../novocss/footable-0.1.css" type="text/css" />

    <link rel="stylesheet" href="../novocss/reset.css" />
	<link rel="stylesheet" href="../novocss/style.css" />
	<link rel="stylesheet" href="../FortAwesome-Font-Awesome-13d5dd3/css/font-awesome.min.css" />

    <script type="text/javascript" src="../novojs/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../novojs/jquery.balloon.js"></script>
    <script type="text/javascript" src="../novojs/tinynav.min.js"></script>
    <script type="text/javascript" src="../novojs/footable-0.1.js" ></script>
    <script type="text/javascript" src="../novojs/footable.sortable.js"></script>
    <script type="text/javascript" src="../novojs/script.js"></script>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Open Sans Condensed'] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1.0.31/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
    <script>
        function EnvieAcao(pcampo){
            $('#CMP___acao').val($(pcampo).attr('id'));
            $('#CMP___acao_sucesso').val($(pcampo).attr('id'));
            $(pcampo).closest('form').submit();
        }
    </script>
