{% extends "public/base.html" %}
{% block head %}
	 {{ parent() }}
	<style type="text/css">
	body {	background:url(../img/bg-login.PNG) repeat; }
	.login_box {
		width:329px;
		margin:50px auto;
		border-radius: 10px;
		box-shadow: 0px 0px 15px -2px #c7c7c7;
	}
	.login_box .top {
		background:url(../img/bg-top_login.png) no-repeat;
		height: 59px;
		padding:12px 22px 0 22px;
	}
	.login_box .top h1 {
		color:#fff;
		font-size:24px;
	}
	.login_box .top h1 span{
		color:#5cbfe0;
		font-size: 18px;
	}
	.login_box .content {
		background:#fff;
		padding: 35px 22px 45px 22px;
		border-radius: 0 0 10px 10px;
	}
	.login_box .content label {
		font-family: 'Open Sans Condensed', sans-serif;
		color: #037095;
		font-size: 19px;
	}
	.login_box .content label span {
		color: #989b9c;
		font-size:16px;
	}
	.login_box .content input[type="text"],
	.login_box .content input[type="password"] {
		padding: 10px 15px;
		margin: 5px 0 20px 0;
		border: 1px solid #e8e8e8;
		font: 1.2em Arial, sans-serif;
		color: #7a7a7a;
		background: #f5f5f5;
		font-size: 15px;
		width: 89%;
		border-radius: 5px;
	}
	.login_box .content input[type="text"]:focus,
	.login_box .content input[type="password"]:focus {
		border-color:#037095;
		box-shadow: 0px 0px 15px -2px #c7c7c7;
	}
	.login_box .content input[type="submit"]{
		background:url(../img/bg-button-login.PNG) center center no-repeat;
		color:#fff;
		text-align:center;
		cursor:pointer;
		border:0;
		width: 122px;
		height: 39px;
		float: right;
		font-size: 18px;
		font-family: 'Open Sans Condensed', sans-serif;
	}
	.login_box .content a.problems {
		color: #989b9c;
		font-size:9px;
	}
	
	.info_box{
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 19px;
		color: #989b9c;
	}
	@media screen and (max-width: 720px) {
		#header { height:70px; }
	}
	</style>
{% endblock  %}

{% block cabecalho %}
	{% include 'public/cabecalho_login.html' %}
{% endblock  %}

{% block conteudo %}
	<div class="row">
		<div id="main" class="slot-0-1-2-3-4-5">
			<div id="content_main">
            	<div class="login_box">
                	<div class="top">
            			<h1>Seja bem vindo ao Dataweb<br /><span>Welcome to Dataweb</span></h1>
                    </div>
                    <div class="content">
                    	<form name="{{ template.nome }}" id="{{ template.nome }}" method="post" enctype="multipart/form-data" accept-charset="ISO-8859-1">
							{% for campo in template.campos_controle %}
								<input type="hidden" id="CMP_{{ campo.mCampoBD }}" name="CMP_{{ campo.mCampoBD }}" value="{{ campo.mValor }}"/>
							{% endfor %}
                        	<label>Usuário <span>Username</span></label>
                            <input name="CMP_login" id="CMP_login" type="text" value="{{ campo[login].mValor }}">
                            <label>Senha <span>Password</span></label>
                            <input name="CMP_nm_senha" id="nm_senha" type="password" value="{{ campo[nm_senha].mValor }}">
							{% include "public/notificacao.html" with {'notificacao' : template.notificacao } only %}                        
                            <input name="" type="submit" value="login">
                        </form>
                        <a href="#">Problemas para acesssar? <br />Problem to access?</a>
                    </div>
                </div>
            </div>
		</div>
	</div>
{% endblock  %}
