<ul class="slot-0">
{% for aba in menu_lateral.abas %}
	<li><a href="{{ aba.getLinkComParametros }}" id="{{ aba.mCodigo }}" onclick="EnvieAcao(this);" class="{{ aba.mno_classe }}" target="{{ aba.mTarget }}">{{ aba.Label }}</a></li>
{% endfor %}
</ul>
