<!--public/menu_links.html-->
<ul>
{% for item in menu.itens %}
	{% if item.tipo == 'menu' %}
		<li class="active"><a href="#">{{ item.titulo }}</a>
			{% include "public/menu_links.html" with { 'menu' : item } only %}
		</li>
	{% else %}
		<li><a href="{{ item.href }}" {% if item.target %}target="{{item.target}}"{% endif %}>{{ item.titulo }}</a></li>
	{% endif %}
{% endfor %}
</ul>
