<!-- notificacao - inicio -->
{% if notificacao.get_msg != '' %}
<div class="info_box {{ notificacao.get_tipoMsgTwig }}">
	<p>{{ notificacao.get_msg | raw }}</p>
</div>
{% endif %}
<!-- notificacao - fim -->
