{% extends "public/base.html" %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        body {	background:url(../img/bg-login.PNG) repeat; }
        .login_box {
            width:329px;
            margin:50px auto;
            border-radius: 10px;
            box-shadow: 0px 0px 15px -2px #c7c7c7;
        }
        .login_box .top {
            background:url(../img/bg-top_login.png) no-repeat;
            height: 59px;
            padding:12px 22px 0 22px;
        }
        .login_box .top h1 {
            color:#fff;
            font-size:24px;
        }
        .login_box .top h1 span{
            color:#5cbfe0;
            font-size: 18px;
        }
        .login_box .content {
            background:#fff;
            padding: 35px 22px 45px 22px;
            border-radius: 0 0 10px 10px;
        }
        .login_box .content label {
            font-family: 'Open Sans Condensed', sans-serif;
            color: #037095;
            font-size: 19px;
        }
        .login_box .content label span {
            color: #989b9c;
            font-size:16px;
        }
        .login_box .content input[type="text"],
        .login_box .content input[type="password"] {
            padding: 10px 15px;
            margin: 5px 0 20px 0;
            border: 1px solid #e8e8e8;
            font: 1.2em Arial, sans-serif;
            color: #7a7a7a;
            background: #f5f5f5;
            font-size: 15px;
            width: 89%;
            border-radius: 5px;
        }
        .login_box .content input[type="text"]:focus,
        .login_box .content input[type="password"]:focus {
            border-color:#037095;
            box-shadow: 0px 0px 15px -2px #c7c7c7;
        }
        .login_box .content input[type="submit"]{
            background:url(../img/bg-button-login.PNG) center center no-repeat;
            color:#fff;
            text-align:center;
            cursor:pointer;
            border:0;
            width: 122px;
            height: 39px;
            float: right;
            font-size: 18px;
            font-family: 'Open Sans Condensed', sans-serif;
        }
        .login_box .content a.problems {
            color: #989b9c;
            font-size:9px;
        }

        .info_box{
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 19px;
            color: #989b9c;
        }
        @media screen and (max-width: 720px) {
            #header { height:70px; }
        }
    </style>
{% endblock  %}

{% block cabecalho %}
    {% include 'public/cabecalho_login.html' %}
{% endblock  %}

{% block conteudo %}
    <div class="row">
        <div id="main" class="slot-0-1-2-3-4-5">
            <div id="content_main">
                <div class="login_box">
                    <div class="top">
                        <h1>Forgotten/new password<br /><span>Dataweb</span></h1>
                    </div>
                    <div class="content" style="padding-top:22px;">
                        <h2 style="font-size:20px; line-height: normal; padding-bottom:22px;">Inform your e-mail so we cand send you a new password</h2>
                        <form method="post" enctype="multipart/form-data" accept-charset="ISO-8859-1" action="/paginas/carreguePublico.php?controller=cCTRL_USUARIO_EXTERNO&metodo=postNewPassword">
                            <label>E-mail</label>
                            <input name="CMP_email_pessoal" id="CMP_email_pessoal" type="text" value="{{email_pessoal}}">
                            {% include "public/notificacao.html" %}                        
                            <input name="" type="submit" value="send">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}
