<style>
    *{font-family: Verdana;}
    table {width:100%;border-collapse:collapse;margin-left:20px;}
    th {vertical-align:top;text-align:left;margin-left:10px;margin-right:10px;border-bottom:solid 1px #cccccc;}
    div.sep {font-size:12pt;color:#999999;font-weight:bold;border-bottom:dotted 1px #999999;vertical-align:bottom;width:100%;margin-top:20px;margin-left:20px;margin-bottom:10px;}
    td {border-bottom:solid 1px #cccccc;}
    table.grid {border-bottom:solid 3px #cccccc;}
    table.grid th{text-align:left;border-bottom:solid 3px #cccccc;}
</style>
<body style="font-family: sans; font-size: 10pt;">
    <table style="border-bottom:solid 6px #999999;margin-left:0;">
        <tr>
            <td style="font-size:42pt;color:#999999;font-weight:bold">OS {{ tela.NU_SOLICITACAO }}
            {% if tela.mid_solicita_visto_pacote > 0 %}
            <br/><span style="font-size:14px">Pertence ao pacote da OS {{ OSPacote.mNU_SOLICITACAO }}</span>
            {% endif %}
            </td>
            <td style="text-align:right"><img align="right" src="/imagens/logo_mundivisas_PANTONE.jpg" style="width:90mm"/></td>
        </tr>
    </table>
    <div style="text-align:right;vertical-align:bottom;font-weight:bold;">
        Cliente : {{ tela.NO_RAZAO_SOCIAL }}<br/>
        CNPJ : {{ tela.NU_CNPJ }}<br/>
        Endere&ccedil;o : {{ tela.NO_ENDERECO }}<br/>
        Servi&ccedil;o : &quot;{{ tela.NO_SERVICO_RESUMIDO }}&quot;
        </div>
    <div class="sep">Detalhes</div>
    <table>
        <tr><th width="180px">Empresa COBRAN&Ccedil;A</th><td>{{ tela.NO_RAZAO_SOCIAL_REQUERENTE }}</td></tr>
        <tr><th>Emb./Proj. REAL</th><td>{{ OS.mNO_EMBARCACAO_PROJETO_COBRANCA }}&nbsp;</td></tr>
        <tr><th>Tipo de cobran&ccedil;a</th><td>{{ tela.tppr_tx_nome }}&nbsp;</td></tr>
        <tr><th>Prazo solicitado</th><td>{{ tela.DT_PRAZO_ESTADA_SOLICITADO }}&nbsp;</td></tr>
        <tr><th>Solicitante</th><td>{{ tela.no_solicitador }}&nbsp;</td></tr>
        <tr><th>Data da solicita&ccedil;&atilde;o</th><td>{{ tela.dt_solicitacao }}&nbsp;</td></tr>
        <tr><th>Respons&aacute;vel</th><td>{{ tela.NO_USUARIO_TECNICO }}&nbsp;</td></tr>
        <tr><th>Observa&ccedil;&otilde;es</th><td>{{ tela.de_observacao }}&nbsp;</td></tr>
    </table>';
    {% if candidatos is defined %}
    <div class="sep">Candidatos</div>
        <table class="grid">
        {% for candidato in candidatos %}
            <tr><th colspan="2">Nome completo</th><th>Nacionalidade</th><th>Passaporte</th><th>RNE</th></tr>
            {% if candidato.nu_candidato_parente != '' %}
                <tr><td>&nbsp;</td><td>{{ candidato.no_grau_parentesco }}: {{ candidato.NOME_COMPLETO }}</td>
            {% else %}
                <tr><td colspan="2">{{ candidato.NOME_COMPLETO }}</td>
            {% endif %}
            </td><td>{{ candidato.NO_NACIONALIDADE }}</td><td>{{ candidato.NU_PASSAPORTE }}</td><td>{{ candidato.NU_RNE }}</td></tr>';
        {% endfor %}
        </table>
    </div>
    {% endif %}
    <div class="sep">Cadastro</div>
    <table>
        <tr><th width="150px">Criada por</th><td>{{ tela.NO_USUARIO_CADASTRO }}</td></tr>
        <tr><th>Em</th><td>{{ tela.dt_cadastro }}</td></tr>
    </table>
</body>
