<html>
	<head>
		<style>
                        br {mso-data-placement:same-cell;}
			col{mso-width-source:auto;}
			td {border:.5pt solid windowtext;font-family: Calibri; font-size:11.0pt;}
			.titulo{background:#8DB4E2;font-size:14.0pt;text-align:center;font-weight:700;}
			.subTitulo{background: #999;text-align:center;font-weight:700;}
			.semBorda{border:none}
		</style>
			
	</head>
	<body>
		<table>
			<tr>
				<td class=titulo>DATA</td>
				<td class=titulo>{{ data }}</td>
				<td class=titulo colspan="4">{{ escopo }}</td>
				<td class=titulo colspan="9">CONTROLE DE ENVIO DE PROCESSOS PARA MV-BRASÍLIA</td>
			</tr>
			<tr>
				<td class=semBorda colspan="15">&nbsp;</td>
			</tr>
			<tr>
				<td class=titulo colspan="15">MINISTÉRIO DO TRABALHO E EMPREGO - M T E</td>
			</tr>
			<tr>
				<td class=subTitulo>#</td>
				<td class=subTitulo>EMPRESA</td>
				<td class=subTitulo>CANDIDATO</td>
				<td class=subTitulo>PASSAPORTE</td>
				<td class=subTitulo>NACIONALIDADE</td>
				<td class=subTitulo>PROCESSO</td>
				<td class=subTitulo>EMBARCAÇÃO REAL</td>
				<td class=subTitulo>EMBARCAÇÃO PROC.</td>
				<td class=subTitulo>RN</td>
				<td class=subTitulo>REPARTIÇÃO CONSULAR</td>
				<td class=subTitulo>PRAZO<br/>PRETENDIDO</td>
                                <td class=subTitulo>NÚM.<br/>PROTOCOLO</td>
				<td class=subTitulo>PROTOCOLADO EM</td>
                                <td class=subTitulo>QTD<br/>AUTENT. RJ:</td>
                                <td class=subTitulo>QTD<br/>AUTENT. BSB:</td>
			</tr>
{% for processo in mte %}
			<tr>
				<td>{{ processo.num }} </td>
				<td>{{ processo.no_razao_social }} </td>
				<td>{{ processo.nome_completo }} </td>
				<td>{{ processo.nu_passaporte }} </td>
				<td>{{ processo.no_nacionalidade }} </td>
				<td>{{ processo.no_servico_resumido }} </td>
				<td>{{ processo.no_embarcacao_projeto_cobranca }} </td>
				<td>{{ processo.no_embarcacao_projeto }} </td>
				<td>{{ processo.no_reduzido_tipo_autorizacao }} </td>
				<td>{{ processo.no_reparticao_consular }} </td>
				<td>{{ processo.dt_prazo_estada_solicitado }} </td>
				<td>{{ processo.nu_protocolo}} </td>
				<td>{{ processo.dt_requerimento }}</td>
				<td>{{ processo.soli_qt_autenticacoes }} </td>
				<td>{{ processo.soli_qt_autenticacoes_bsb }} </td>
			</tr>
{% endfor %}
			<tr>
				<td class=semborda colspan="15">&nbsp;</td>
			</tr>
			<tr>
				<td class=titulo colspan="15">MINISTÉRIO DA JUSTIÇA - M J</td>
			</tr>
			<tr>
				<td class=subTitulo>#</td>
				<td class=subTitulo>EMPRESA</td>
				<td class=subTitulo>CANDIDATO</td>
				<td class=subTitulo>PASSAPORTE</td>
				<td class=subTitulo>NACIONALIDADE</td>
				<td class=subTitulo>PROCESSO</td>
				<td class=subTitulo>EMBARCAÇÃO REAL</td>
				<td class=subTitulo>EMBARCAÇÃO PROJ.</td>
				<td class=subTitulo>RN</td>
				<td class=subTitulo>REPARTIÇÃO CONSULAR</td>
				<td class=subTitulo>PRAZO<br/>PRETENDIDO</td>
                                <td class=subTitulo>NÚM.<br/>PROTOCOLO</td>
				<td class=subTitulo>PROTOCOLADO EM</td>
                                <td class=subTitulo>QTD<br/>AUTENT. RJ:</td>
                                <td class=subTitulo>QTD<br/>AUTENT. BSB:</td>
			</tr>
{% for processo in mj %}
			<tr>
				<td>{{ processo.num }} </td>
				<td>{{ processo['no_razao_social'] }}</td>
				<td>{{ processo.nome_completo }} </td>
				<td>{{ processo.nu_passaporte }} </td>
				<td>{{ processo.no_nacionalidade }} </td>
				<td>{{ processo.no_servico_resumido }} </td>
				<td>{{ processo.no_embarcacao_projeto_cobranca }} </td>
				<td>{{ processo.no_embarcacao_projeto }} </td>
				<td>{{ processo.no_reduzido_tipo_autorizacao }} </td>
				<td>{{ processo.no_reparticao_consular }} </td>
				<td>{{ processo.dt_prazo_estada_solicitado }} </td>
				<td>{{ processo.nu_protocolo}} </td>
				<td>{{ processo.dt_requerimento }}</td>
				<td>{{ processo.soli_qt_autenticacoes }} </td>
				<td>{{ processo.soli_qt_autenticacoes_bsb }} </td>
			</tr>
{% endfor %}
			<tr>
				<td class=semBorda colspan="12">&nbsp;</td>
			</tr>
			<tr>
				<td class=titulo colspan="12">OUTROS DOCUMENTOS e/ou PENDÊNCIAS</td>
			</tr>
			<tr>
				<td class=subTitulo colspan='3'>De</td>
				<td class=subTitulo colspan='4'>Para</td>
				<td class=subTitulo colspan='4'>Documento</td>
				<td class=subTitulo>Pendência do malote</td>
			</tr>
		</table>
	</body>
</html>
