<ul class="slot-0">
    <li><a href="/paginas/carregueConvidado.php?controller=cCTRL_CONVIDADO_DR&amp;metodo=getEditarInfo&nu_candidato_tmp={{nu_candidato_tmp}}" id="INFO" onclick="EnvieAcao(this);" class="{% if ativa == 'INFO'%}active{% endif%}" target="_self">Information</a></li>
    <li><a href="/paginas/carregueConvidado.php?controller=cCTRL_CONVIDADO_DR&amp;metodo=getEditarDocumentos&nu_candidato_tmp={{nu_candidato_tmp}}" id="DOCS" onclick="EnvieAcao(this);" class="{% if ativa == 'DOCS'%}active{% endif%}" target="_self">Documents</a></li>
    <li><a href="/paginas/carregueConvidado.php?controller=cCTRL_CONVIDADO_DR&amp;metodo=getEditarExperiencia&nu_candidato_tmp={{nu_candidato_tmp}}" id="EXPE" onclick="EnvieAcao(this);" class="{% if ativa == 'EXPE'%}active{% endif%}" target="_self">Experience</a></li>
    <li><a href="/paginas/carregueConvidado.php?controller=cCTRL_CONVIDADO_DR&amp;metodo=getEditarArquivos&nu_candidato_tmp={{nu_candidato_tmp}}" id="FILE" onclick="EnvieAcao(this);" class="{% if ativa == 'FILES'%}active{% endif%}" target="_self">Files</a></li>
    {% if candidato.id_status_edicao == 2 or candidato.id_status_edicao == 1 %}
    <li><a href="/paginas/carregueConvidado.php?controller=cCTRL_CONVIDADO_DR&amp;metodo=getEnviar&nu_candidato_tmp={{nu_candidato_tmp}}" id="ENVIAR" onclick="EnvieAcao(this);" class="{% if ativa == 'ENVIAR'%}active{% endif%}" target="_self">Send changes</a></li>
    {% endif %}
</ul>
