{% include 'cliente/head.html' %}
<body>	
    {% block cabecalho %}
        {% include 'cliente/cabecalho.html' %}
    {% endblock %}
    <div id="content" class="grid">
        {% block conteudo %}
        {% endblock %}
    </div>
    {% include 'public/footer.html' %}
    <script>
        $(".cmpDat").mask('99/99/9999', {placeholder: "dd/mm/yyyy"});
    </script>
</body>
</html>
