<!-- Cabecalho - inicio -->
<div id="header">
    <div class="grid">
        <div class="row">
            <div id="logo" class="slot-0">
                {% if nu_empresa_prestadora == 1 %}
                <img src="../img/mundivisas_logo.PNG" />
                {% else %}
                <h1 class="title">BCS Visas </h1>
                {% endif %}
            </div>
            <div class="nav main slot-1-2-3-4-5">
                <h1 class="title">{{ titulo }}</h1>
            </div>
        </div>
    </div>
</div>
<!-- Cabecalho - fim -->
