<!-- Cabecalho com menus inicio -->
<div id="header">
    <div class="grid">
        <div class="row">
            <div id="logo" class="slot-0">
                {% if nu_empresa_prestadora == 1 %}
                    <img src="../img/mundivisas_logo.PNG" />
                {% else %}
                    <h1 class="title">BCS Visas </h1>
                {% endif %}
            </div>
            <div class="nav option slot-1-2-3">
            {% if conv.mnu_candidato_tmp == '' %}
                <ul>
                    <li><a href="/paginas/carregueConvidado.php?controller=cCTRL_CONVIDADO&metodo=getPreenchimentos">All DRs</a></li>
                </ul>
            {% endif %}
            </div>
            <div class="nav option slot-4-5">
                <ul>
                    <li><a href="/sair.php">Exit</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Cabecalho com menus - fim -->
