{% extends "convidado/base.twig" %}

{% block cabecalho %}
    {% include "convidado/cabecalho_commenu.twig" %}
{% endblock %}

{% block conteudo %}
    <div id="content" class="grid">
        <div class="row">
            <div id="main" class="slot-0-1-2-3-4-5">
                <div id="top_main" class="row">
                    <div id="title_main" class="candidate">
                        <h2><span class="title">{{candidato.mNOME_COMPLETO}}</span></h2>
                    </div>
                    {% include "public/notificacao.html" %}
                </div>

                <div id="content_main" class="row">
                    <div class="row tab">
                        {% include "convidado/abas.twig" %}
                        <form action="/paginas/carregueConvidado.php?controller=cCTRL_CONVIDADO_DR&metodo=postEditarArquivos" method="post" enctype="multipart/form-data" accept-charset="ISO-8859-1">
                            <input type="hidden" name="nu_candidato_tmp" value="{{nu_candidato_tmp}}"/>
                            <div class="slot-1-2-3-4">
                                <div class="box">
                                    <h3>New file</h3>
                                    <ul>
                                        {% include "public/CAMPO_FILE.twig" with {'label': "File", 'nome': 'arquivo'} %}
                                    {% if not readonly %}
                                        <li>
                                            <input type="submit" value="Send"/>
                                        </li>
                                    {% endif %}
                                    </ul>
                                    <br/>
                                    <br/>
                                    <h3>Files</h3>
                                    <div id="listaarquivos">
                                        <ul class="file_box">
                                            {% for arquivo in arquivos %}
                                                <li class="iten">
                                                    <p class="name">
                                                        <span title="Download" class="action_button download"><a href="/paginas/carregueConvidado.php?controller=cCTRL_CANDIDATO_CLIENTE&metodo=download&NU_SEQUENCIAL={{ arquivo.NU_SEQUENCIAL }}" target="_blank"></a></span>
                                                            {{ arquivo.NO_TIPO_ARQUIVO }}
                                                    </p>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
