{% extends "convidado/base.twig" %}

{% block cabecalho %}
    {% include "convidado/cabecalho_commenu.twig" %}    
{% endblock %}    

{% block conteudo %}
    <input type="hidden" name="postado" value="1"/>
    <div id="content" class="grid">
        <div class="row">
            <div id="main" class="slot-0-1-2-3-4-5">
                <div id="top_main" class="row">
                    <div id="title_main" class="candidate">
                        <h2><span class="title">{{candidato.mNOME_COMPLETO}} - Personal Data</span> </h2>
                    </div>
                    {% include "public/notificacao.html" %}
                </div>

                <div id="content_main" class="row">
                    <div class="row tab">
                        {% include "convidado/abas.twig" %}
                        <form action="/paginas/carregueConvidado.php?controller=cCTRL_CONVIDADO_DR&metodo=postEditarInfo" method="post" accept-charset="ISO-8859-1">
                            <input type="hidden" name="nu_candidato_tmp" value="{{nu_candidato_tmp}}"/>
                            <div class="slot-1-2-3-4">
                                <div class="box">
                                    <h3>Personal Information</h3>
                                    <ul>
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'First name', 'nome': 'NO_PRIMEIRO_NOME',  'valor': candidato.mNO_PRIMEIRO_NOME, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Middle name', 'nome': 'NO_NOME_MEIO',  'valor': candidato.mNO_NOME_MEIO, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Last name', 'nome': 'NO_ULTIMO_NOME',  'valor': candidato.mNO_ULTIMO_NOME, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Contact email', 'nome': 'email_pessoal',  'valor': candidato.memail_pessoal, 'readonly': readonly} %}
                                        {% include "public/COMBO_GERAL.twig" with {'label': 'Nationality', 'nome': 'CO_NACIONALIDADE', 'valor_atual': candidato.mCO_NACIONALIDADE, 'valores': nacionalidades, 'readonly': readonly} %}
                                        {% include "public/CAMPO_DATA.twig"  with {'label': 'Date of birth', 'nome': 'DT_NASCIMENTO',  'valor': candidato.mDT_NASCIMENTO, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Place of birth', 'nome': 'NO_LOCAL_NASCIMENTO',  'valor': candidato.mNO_LOCAL_NASCIMENTO, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Father&#039;s full name:', 'nome': 'NO_PAI',  'valor': candidato.mNO_PAI, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Mother&#039;s full name', 'nome': 'NO_MAE',  'valor': candidato.mNO_MAE, 'readonly': readonly} %}
                                        {% include "public/COMBO_GERAL.twig" with {'label': 'Father&#039;s nationality', 'nome': 'co_pais_nacionalidade_pai', 'valor_atual': candidato.mco_pais_nacionalidade_pai, 'valores': nacionalidades, 'readonly': readonly}%}
                                        {% include "public/COMBO_GERAL.twig" with {'label': 'Mother&#039;s nationality', 'nome': 'co_pais_nacionalidade_mae',  'valor_atual': candidato.mco_pais_nacionalidade_mae,'valores': nacionalidades, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Marital status', 'nome': 'NO_ESTADO_CIVIL_EM_INGLES',  'valor': candidato.mNO_ESTADO_CIVIL_EM_INGLES, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Highest level of education', 'nome': 'NO_ESCOLARIDADE_EM_INGLES',  'valor': candidato.mNO_ESCOLARIDADE_EM_INGLES, 'readonly': readonly} %}
                                        {% include "public/COMBO_GERAL.twig" with {'label': 'Gender', 'nome': 'CO_SEXO', 'valor_atual': candidato.mCO_SEXO, 'valores': sexos, 'readonly': readonly}%}
                                        <li class="title">
                                            <h4>Home address</h4>
                                        </li>
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Address', 'nome': 'NO_ENDERECO_RESIDENCIA',  'valor': candidato.mNO_ENDERECO_RESIDENCIA, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'City', 'nome': 'NO_CIDADE_RESIDENCIA',  'valor': candidato.mNO_CIDADE_RESIDENCIA, 'readonly': readonly} %}
                                        {% include "public/COMBO_GERAL.twig" with {'label': 'Country:', 'nome': 'CO_PAIS_RESIDENCIA', 'valor_atual': candidato.mCO_PAIS_RESIDENCIA, 'valores': paises, 'readonly': readonly} %}
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Phone #', 'nome': 'NU_TELEFONE_CANDIDATO',  'valor': candidato.mNU_TELEFONE_CANDIDATO, 'readonly': readonly} %}
                                        <li class="title">
                                            <h4>Consulate Information</h4>
                                        </li>
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Consulate where the visa will be collected', 'nome': 'NO_REPARTICAO_CONSULAR',  'valor': candidato.mNO_REPARTICAO_CONSULAR, 'readonly': readonly} %}
                                    </ul>
                                    {% if not disabled %}
                                        <div style="clear: both;">&nbsp;</div>
                                        <div style="display: box; margin:auto; text-align:center;">
                                            <input type="submit" name="save" value="Save" title="Save changes to continue later"/>
                                        </div>        
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
