{% extends "convidado/base.twig" %}

{% block cabecalho %}
    {% include "convidado/cabecalho_commenu.twig" %}    
{% endblock %}    

{% block conteudo %}
    <input type="hidden" name="postado" value="1"/>
    <div id="content" class="grid">
        <div class="row">
            <div id="main" class="slot-0-1-2-3-4-5">
                <div id="top_main" class="row">
                    <div id="title_main" class="candidate">
                        <h2><span class="title">{{candidato.mNOME_COMPLETO}} - Documents</span></h2>
                    </div>
                    {% include "public/notificacao.html" %}
                </div>

                <div id="content_main" class="row">
                    <div class="row tab">
                        {% include "convidado/abas.twig" %}
                        <form action="/paginas/carregueConvidado.php?controller=cCTRL_CONVIDADO_DR&metodo=postEditarDocumentos" method="post" accept-charset="ISO-8859-1">
                            <input type="hidden" name="nu_candidato_tmp" value="{{nu_candidato_tmp}}"/>
                            <div class="slot-1-2-3-4">
                                <div class="box">
                                    <h3>Passport Information</h3>
                                    <ul>
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Number', 'nome': 'NU_PASSAPORTE',  'valor': candidato.mNU_PASSAPORTE, 'readonly': readonly} %}
                                        {% include "public/COMBO_GERAL.twig" with {'label': 'Issuing government', 'nome': 'CO_PAIS_EMISSOR_PASSAPORTE',  'valor_atual': candidato.mCO_PAIS_EMISSOR_PASSAPORTE,'valores': paises, 'readonly': readonly} %}
                                        {% include "public/CAMPO_DATA.twig" with {'label': 'Issue date', 'nome': 'DT_EMISSAO_PASSAPORTE',  'valor': candidato.mDT_EMISSAO_PASSAPORTE, 'readonly': readonly} %}
                                        {% include "public/CAMPO_DATA.twig" with {'label': 'Expiry date', 'nome': 'DT_VALIDADE_PASSAPORTE',  'valor': candidato.mDT_VALIDADE_PASSAPORTE, 'readonly': readonly} %}
                                        <li class="title">
                                            <h4>Seaman's book</h4>
                                        </li>
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': "Seaman's book number", 'nome': 'NO_SEAMAN',  'valor': candidato.mNO_SEAMAN, 'readonly': readonly} %}
                                        {% include "public/CAMPO_DATA.twig" with {'label': 'Issue date', 'nome': 'DT_EMISSAO_SEAMAN',  'valor': candidato.mDT_EMISSAO_SEAMAN, 'readonly': readonly} %}
                                        {% include "public/CAMPO_DATA.twig" with {'label': 'Expiry date', 'nome': 'DT_VALIDADE_SEAMAN',  'valor': candidato.mDT_VALIDADE_SEAMAN, 'readonly': readonly} %}
                                        {% include "public/COMBO_GERAL.twig" with {'label': 'Issuing government', 'nome': 'CO_PAIS_SEAMAN',  'valor_atual': candidato.mCO_PAIS_SEAMAN,'valores': paises, 'readonly': readonly} %}
                                        <li class="title">
                                            <h4>RNE</h4>
                                        </li>
                                        {% include "public/CAMPO_TEXTO.twig" with {'label': 'Number', 'nome': 'NU_RNE',  'valor': candidato.mNU_RNE, 'readonly': readonly} %}
                                    </ul>
                                    {% if not disabled %}
                                        <div style="clear: both;">&nbsp;</div>
                                        <div style="display: box; margin:auto; text-align:center;">
                                            <input type="submit" name="save" value="Save" title="Save changes to continue later"/>
                                        </div>        
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
