{% extends "convidado/base.twig" %}

{% block cabecalho %}
    {% include "convidado/cabecalho_commenu.twig" %}    
{% endblock %}    

{% block conteudo %}
    <div id="content" class="grid">
        <div class="row">
            <div id="main" class="slot-0-1-2-3-4-5">
                <div id="top_main" class="row">
                    <div id="title_main" class="candidate">
                        <h2><span class="title">Data requests</span></h2>
                    </div>
                    {% include "public/notificacao.html" %}
                </div>
                <div id="content_main" class="search">

                    <div class="results">
                        <h3>Results</h3>
                        <table class="footable">                            
                            <colgroup>
                                <col width="">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore="">Name</th>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore="">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for linha in linhas %}                                
                                <tr class="">
                                    <td>
                                        <a href="/paginas/carregueConvidado.php?controller=cCTRL_CONVIDADO_DR&metodo=getEditarInfo&nu_candidato_tmp={{ linha.nu_candidato_tmp}}">{{ linha.nome_completo}}</a>
                                    </td>
                                    <td>{{ linha.status}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
