<ul>
{% for aba in abas.abas %}
    {% if aba.visivel %}
        {% if aba.ativa %}
        <li><a href="#{{ aba.nome }}" class="ativo">{{ aba.titulo }}</a></li>
        {% else %}
        <li><a href="{{ aba.link }}">{{ aba.titulo }}</a></li>
        {% endif %}
    {% endif %}
{% endfor %}
</ul>
