{% extends "intranet/base_commenu.html" %}

{% block conteudo %}
{% include '/intranet/os/titulo.html' %}
<div class="conteudoInterno">
    <div id="tabsOS" class="aba">
        {% include '/intranet/os/abas.html' %}
        <form method="post" action="/paginas/carregue.php?controller=cCTRL_ORDEMSERVICO&metodo=postEmpresaServico">
            <input type="hidden" id="nu_servico_ant" name="nu_servico_ant" value="{{os.mnu_servico}}"/>
        <div id="DadosOs">
            <div style="padding-left:10px;padding-right:10px;">
                <table class="edicao">
                    <colgroup>
                        <col width="18%"/>
                        <col width="28%"/>
                        <col width="5%"/>
                        <col width="18%"/>
                        <col width="28%"/>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>Empresa DO PROCESSO</th><td>{% include '/intranet/campos/campo_combo.html' with {'nome': 'nu_empresa', 'regs': empresas} %}</td>
                            <td>&#160;</td>
                            <th>Serviço</th><td id="container_nu_servico">{% include '/intranet/campos/campo_combo.html' with {'nome': 'nu_servico', 'regs': servicos} %}</td>
                        </tr>
                        <tr>
                            <td id="containerArquivos">
                                
                            </td>
                        </tr>
                    </tbody>                        
                    <tbody id="tbodyCandidato" style="display: none;">
                        <tr>
                            <th>Candidatos</th>
                            <td colspan="4">
                                <input type="button"  onclick="javascript:adicionarCandidato();" style="width:auto" value="Adicionar candidato" accesskey="A"/>
                                <div id="containerCandidatos" ></div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody id="tbodyDadosos" style="display: none;">
                        <tr>
                            <th>Emb/projeto PROCESSO</th><td>{% include '/intranet/campos/campo_combo.html' with {'nome': 'nu_empresa', 'regs': empresas} %}</td>
                            <td>&#160;</td>
                            <th>Empresa COBRANÇA</th><td>{% include '/intranet/campos/campo_combo.html' with {'nome': 'nu_empresa_requerente', 'regs': empresas_cobranca} %}</td>
                        </tr>
                        <tr>
                            <th>Solicitante</th><td><input type="text" name="no_solicitador" id="no_solicitador" value="" class="cmpTxt cmp"/></td>
                            <td>&#160;</td>
                            <th>Emb/projeto REAL</th><td>{% include '/intranet/campos/campo_combo.html' with {'nome': 'NU_EMBARCACAO_PROJETO', 'regs': empresas_cobranca} %}</td>
                        </tr>
                        <tr>
                            <th>Prazo solicitado</th><td><input type="text" name="DT_PRAZO_ESTADA_SOLICITADO" id="DT_PRAZO_ESTADA_SOLICITADO" value="" class="cmpTxt cmp"/></td>
                            <td>&#160;</td>
                            <th>Data da solicitação</th><td><input type="text" name="dt_solicitacao" id="dt_solicitacao" value="" class="cmpDat cmp"/></td>
                        </tr>
                        <tr>
                            <th>Responsável</th><td>{% include '/intranet/campos/campo_combo.html' with {'nome': 'cd_tecnico', 'regs': responsaveis} %}</td>
                            <td>&#160;</td>
                            <th>Observações</th><td><textarea id="de_observacao" name="de_observacao" class="cmpMEMO cmp" rows="5"></textarea></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="barraBotoesRodape">
                <input type="submit" value="Próximo" id="salvar"/>
            </div>
            <div id="error"></div>
            
        </div>
        </form>
    </div>
</div>
<div class="conteudo" id="adicionar" style="display: none;">
    <div class="titulo"><div style="float:left">Adicionar candidato</div>&nbsp;</div>
	<form method="post" id="pesquisa">
            <div style="margin-left:5px;margin-top:5px;">
                    Filtro:
                    {% include '/intranet/campos/campo_combo.html' with {'nome': 'nu_empresa_filtro', 'regs': empresas} %}
                    <input type="text" name="nome_completo" id="nome_completo" value=""/>
                    <input type="button" value="Pesquisar" onclick="pesquisarCandidatos();" id="btnPesquisarCandidatos"/>
                    <input type="button" id="adicionarNovo" value="Cadastrar novo" onclick="$('#novoCand').show();$('#NO_NOME_COMPLETO').val($('#nomeCandidato').val());" style="margin-left:5px;"/>
            </div>
            <div id="novoCand" style="background-color:#dfe4ff;padding:3px;margin:5px;border:solid 1px #3969A5;display:none;">
                    <form>
                    <center><div style="margin:10px;font-weight:bold;">ATENÇÃO: Certifique-se de que o candidato não está cadastrado antes de incluir um novo</div></center>
                    Nome:<input type="text" name="NO_NOME_COMPLETO" id="NO_NOME_COMPLETO" maxlength="130" size="40">
                            <input type="button" value="Incluir" onclick="IncluirCandidato();"/>
                            <input type="button" value="Fechar" onclick="$('#novoCand').hide();"/>
                    </form>
            </div>
            <div id="novoCandAguarde" style="background-color:#dfe4ff;padding:5px;margin:5px;border:solid 1px #3969A5;display:none;">
                <div id="msgCand">(candidato sendo incluído... aguarde)</div>
            </div>
                <div id="resultadoPesquisa"></div>
        </form>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    var servicos;
    $(document).ready(function(){
        $('#CMP_nu_empresa').change(function(e){
            $('#container_nu_servico').html('(Carregando...)');
            $('#tbodyCandidato').hide();
            var url = '/paginas/carregue.php?controller=cCTRL_SERVICO&metodo=servicosDaEmpresa&nu_empresa=' + this.value+"&nu_servico=0";
            $.get(url
                , function(data){
                    $('#container_nu_servico').html(data.combo);
                    ativaTriggerServico();
                    servicos = data.servicos;
                }
                , "json"
            );
        });

        ativaTriggerServico();

    });

    function adicionarCandidato(){
        $('#adicionar').dialog({width: 780, height: 550});
    }

    function ativaTriggerServico(){
        $('#CMP_nu_servico').change(function(e){
            var pertence_pacote = servicos[$(this).val()].pertence_pacote;
            // Adicionar logica para abrir a OS ou verificar se existe OS pendente.
            if ($(this).val() > 0){
                $('#tbodyCandidato').show();
            }
        });
    }
    
    function removerCandidato(id_solicita_visto, nu_candidato){
        $.get( "/paginas/carregue.php?controller=cCTRL_ORDEMSERVICO&metodo=excluaCandidato"
            , {id_solicita_visto: id_solicita_visto, nu_candidato: nu_candidato}
            , function( data ) {
                $('#cand'+nu_candidato).remove();
                alert('Candidato removido com sucesso!');
            }
            , "json"
        );
    }
    
    function pesquisarCandidatos(){
        var url = '/paginas/carregue.php?controller=cCTRL_CANDIDATO&metodo=pesquisarParaOs';
        var dados = $('#pesquisa').serialize();
        $('#btnPesquisarCandidatos').attr('value', '(aguarde...)');
        $('#resultadoPesquisa').html('<div style="margin:auto; padding-top:50px; text-align:center;"><i class="icon-spinner icon-spin icon-3x"></i></div>');
        dados = dados+'&nu_servico='+$('#CMP_nu_servico').val();
        dados = dados+'&nu_empresa='+$('#CMP_nu_empresa').val();
        $.post( url, dados)
            .done(function( data ) {
                $('#resultadoPesquisa').html(data);
            });
        $('#btnPesquisarCandidatos').val('Pesquisar');
    }
</script>
{% endblock %}
