<div class="conteudo" style="margin-top:15px;">
    <div class="conteudoInterno">
        <div class="ui-widget ui-widget-header ui-corner-top" style="padding:10px;">
            <div class="texto">{{titulo}}</div>    
        </div>
        <div class="ui-corner-bottom" style="border: solid 1px #72B9D7; border-top:none; padding: 10px; ">
            <form name="adicionarArquivo" id="adicionarArquivo" method="post" enctype="multipart/form-data" action="/paginas/carregueComEstilos.php?controller=cCTRL_ARQUIVO&metodo=postAdicionarArquivoOs">
                <input type="hidden" id="CMP___altura" name="CMP___altura" value="300">
                <input type="hidden" id="CMP___largura" name="CMP___largura" value="850">
                <input type="hidden" id="id_solicita_visto" name="id_solicita_visto" value="{{id_solicita_visto}}">
                <input type="hidden" id="nu_solicitacao" name="nu_solicitacao" value="{{nu_solicitacao}}">
                <table class="edicao">
                    <colgroup>
                        <col width="30%">
                        <col width="70%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>Arquivo</th><td><input type="file" name="ARQUIVO" accept="image/*;capture=camera"/></td>
                        </tr>
                        <tr>
                            <th>Tipo</th><td>{% include "public/COMBO_GERAL_PURO.twig" with {'nome': 'ID_TIPO_ARQUIVO',  'valor_atual': '','valores': tipos_arquivo} %}</td>
                        </tr>
                        <tr>
                            <th>Candidato </th><td>{% include "public/COMBO_GERAL_PURO.twig" with {'nome': 'nu_candidato',  'valor_atual': '','valores': candidatos} %}</td>
                        </tr>
                    </tbody>
                </table>
                {% if msg %}
                    <div class="ui-widget" style="padding: 5px;">
                    {% if msg.tipo == 'error' %}
                        <div class="ui-state-error ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
                    {% else %}
                        <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
                    {% endif %}                            
                            <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>{{msg.texto}}</p>
                        </div>
                    </div>
            {% endif %}
            <div class="barraBotoesRodape">
                <input type="submit" value="Enviar" title="Clique para pesquisar pelo candidato destino" class="">
            </div>
            </form>
        </div>
        <br/>
        <div class="ui-widget ui-widget-header ui-corner-top" style="padding:10px;">
            <div class="texto">Arquivos já adicionados</div>    
        </div>
        <div class="ui-corner-bottom" style="border: solid 1px #72B9D7; border-top:none; padding: 10px; ">
            <table class="grid">
            {% for arquivo in arquivos %}
                <tr>
                    <td>{{arquivo.NO_TIPO_ARQUIVO}}: "{{arquivo.NO_ARQ_ORIGINAL}}"</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    </div>
</div>
