<div class="conteudo" id="adicionar" style="display: none;">
    <div class="titulo"><div style="float:left">Adicionar candidato</div>&nbsp;</div>
    <form method="post" id="pesquisa">
        <div style="margin-left:5px;margin-top:5px;">
            Filtro:
            {% include '/intranet/campos/campo_combo.html' with {'nome': 'nu_empresa_filtro', 'regs': empresas} %}
            <input type="text" name="nome_completo" id="nome_completo" value=""/>
            <input type="button" value="Pesquisar" onclick="pesquisarCandidatos();" id="btnPesquisarCandidatos"/>
            <input type="button" id="adicionarNovo" value="Cadastrar novo" onclick="$('#novoCand').show();
                    $('#NO_NOME_COMPLETO').val($('#nomeCandidato').val());" style="margin-left:5px;"/>
        </div>
        <div id="novoCand" style="background-color:#dfe4ff;padding:3px;margin:5px;border:solid 1px #3969A5;display:none;">
            <form>
                <center><div style="margin:10px;font-weight:bold;">ATENÇÃO: Certifique-se de que o candidato não está cadastrado antes de incluir um novo</div></center>
                Nome:<input type="text" name="NO_NOME_COMPLETO" id="NO_NOME_COMPLETO" maxlength="130" size="40">
                <input type="button" value="Incluir" onclick="IncluirCandidato();"/>
                <input type="button" value="Fechar" onclick="$('#novoCand').hide();"/>
            </form>
        </div>
        <div id="novoCandAguarde" style="background-color:#dfe4ff;padding:5px;margin:5px;border:solid 1px #3969A5;display:none;">
            <div id="msgCand">(candidato sendo incluído... aguarde)</div>
        </div>
        <table border="0" width="100%" class="grid" style="margin-top:10px;">
            <colgroup>
                <col style="width:150px;"/>
                <col style="width:150px;"/>
                <col style="width:auto"/>
                <col style="width:150px;"/>
                <col style="width:80px;"/>
                <col style="width:80px;"/>
                <col style="width:80px;"/>
            </colgroup>
            <tr>
                <td align=center>Ação</td>
                <td align=center><b>Candidato</td>
                <td align=center><b>Empresa</td>
                <td align=center><b>Pai</td>
                <td align=center><b>Nascimento</td>
                <td align=center><b>Passaporte</td>
                <td align=center><b>Dt cadastro</td>
            </tr>
            {% for candidato in candidatos %}
                <tr class="{{candidato.classe}}" onmouseover="this.style.backgroundColor = '#dfe4ff';" onmouseout="this.style.backgroundColor = '#ffffff';">
                    <td align="center" class="button acao" style="vertical-align: middle; padding: 3px;">
                        {% if candidato.inclusao_disponivel %}
                            <a href="#" onClick="adicionarCandidato('{{candidato.nu_candidato}}');">Criar OS</a>
                        {% else %}
                            {% if candidato.os_aberta %}                
                                <a href="#" onClick="">OS existentes</a>
                            {% else %}
                                (Pacote OS {{candidato.os_pendente.nu_solicitacao}})<br/>
                                <a href="/operador/os_DadosOs">Executar OS</a>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td><a href="" class="textoazulpeq">{{candidato.nome_completo}}</a>{{candidato.obs}}</td>
                    <td>{{candidato.no_razao_social}}</td>
                    <td>{{candidato.no_pai}}</td>
                    <td align=center>{{candidato.dt_nascimento_fmt}}</td>
                    <td align=center>{{candidato.nu_passaporte}}</td>
                    <td align=center>{{candidato.dt_ult_alteracao_fmt}}</td>
                </tr>
            {% endfor %}
        </table>        </form>
</div>
</div>
