<div>{{msg}}</div>
<table border="0" width="100%" class="grid" style="margin-top:10px;">
    <colgroup>
        <col style="width:150px;"/>
        <col style="width:150px;"/>
        <col style="width:auto"/>
        <col style="width:150px;"/>
        <col style="width:80px;"/>
        <col style="width:80px;"/>
        <col style="width:80px;"/>
    </colgroup>
    <tr>
        <td align=center>Ação</td>
        <td align=center><b>Candidato</td>
        <td align=center><b>Empresa</td>
        <td align=center><b>Pai</td>
        <td align=center><b>Nascimento</td>
        <td align=center><b>Passaporte</td>
        <td align=center><b>Dt cadastro</td>
    </tr>
    {% for candidato in candidatos %}
        <tr class="{{candidato.classe}}" onmouseover="this.style.backgroundColor = '#dfe4ff';" onmouseout="this.style.backgroundColor = '#ffffff';">
            <td align="center" class="button acao" style="vertical-align: middle; padding: 3px;">
                {% if candidato.inclusao_disponivel %}
                    <a class="botao" href="#" onClick="btnAdicionarCandidatoClick('{{candidato.nu_candidato}}');">Adicionar</a>
                {% else %}
                    {% if candidato.os_aberta %}                
                        <a class="botao" href="#" onClick="javascript:window.opener.location = '/operador/os_DadosOS.php?ID_SOLICITA_VISTO={{candidato.os_aberta.id_solicita_visto}}';">OS {{candidato.os_aberta.nu_solicitacao}}</a>
                    {% else %}
                        <a class="botao" href="#" onClick="javascript:window.opener.location = '/operador/os_DadosOS.php?ID_SOLICITA_VISTO={{candidato.os_pendente.id_solicita_visto}}';" title="">Executar OS pendente<br/>(Pacote OS {{candidato.os_pendente.nu_solicitacao_pacote}})</a>
                        <a class="botao" href="#" onClick="btnAdicionarCandidatoClick('{{candidato.nu_candidato}}');" title="">Adicionar mesmo assim</a>
                    {% endif %}
                {% endif %}
            </td>
            <td><a href="" class="textoazulpeq">{{candidato.nome_completo}}</a>{{candidato.obs}}</td>
            <td>{{candidato.no_razao_social}}</td>
            <td>{{candidato.no_pai}}</td>
            <td align=center>{{candidato.dt_nascimento_fmt}}</td>
            <td align=center>{{candidato.nu_passaporte}}</td>
            <td align=center>{{candidato.dt_ult_alteracao_fmt}}</td>
        </tr>
    {% endfor %}
</table>
