<!DOCTYPE html>
<html>
    <head>
        <link href="/estilos.css?x=20130901" rel="stylesheet" type="text/css"/>
        <meta http-equiv="Content-Type" content="text/html; charset={{http.charset}}" />
        <style>
            a.botao{
                width: 120px;
            }
            </style>
    </head>
    <body>
        <div class="conteudo" id="adicionar" >
            <div class="titulo"><div style="float:left">Adicionar candidato</div>&nbsp;</div>
            <form method="post" id="pesquisa">
                <div style="margin-left:5px;margin-top:5px;">
                    Filtro:
                    {% include '/intranet/campos/campo_combo.html' with {'nome': 'nu_empresa_filtro', 'regs': empresas} %}
                    <input type="hidden" name="nu_empresa" value="{{nu_empresa}}"/>
                    <input type="hidden" name="nu_servico" value="{{nu_servico}}"/>
                    <input type="hidden" name="id_solicita_visto" value="{{id_solicita_visto}}"/>
                    <input type="text" name="nome_completo" id="nome_completo" value="{{nome_completo}}"/>
                    <input type="submit" value="Pesquisar" id="btnPesquisarCandidatos"/>
                    <input type="button" id="adicionarNovo" value="Cadastrar novo" onclick="$('#novoCand').show();
                            $('#NO_NOME_COMPLETO').val($('#nomeCandidato').val());" style="margin-left:5px;"/>
                </div>
                <div id="novoCand" style="background-color:#dfe4ff;padding:3px;margin:5px;border:solid 1px #3969A5;display:none;">
                    <form>
                        <center><div style="margin:10px;font-weight:bold;">ATENÇÃO: Certifique-se de que o candidato não está cadastrado antes de incluir um novo</div></center>
                        Nome:<input type="text" name="NO_NOME_COMPLETO" id="NO_NOME_COMPLETO" maxlength="130" size="40">
                        <input type="button" value="Incluir" onclick="IncluirCandidato();"/>
                        <input type="button" value="Fechar" onclick="$('#novoCand').hide();"/>
                    </form>
                </div>
                <div id="novoCandAguarde" style="background-color:#dfe4ff;padding:5px;margin:5px;border:solid 1px #3969A5;display:none;">
                    <div id="msgCand">(candidato sendo incluído... aguarde)</div>
                </div>
                    <div>{{msg}}</div>
                <table border="0" width="100%" class="grid" style="margin-top:10px;">
                    <colgroup>
                        <col style="width:150px;"/>
                        <col style="width:150px;"/>
                        <col style="width:auto"/>
                        <col style="width:150px;"/>
                        <col style="width:80px;"/>
                        <col style="width:80px;"/>
                        <col style="width:80px;"/>
                    </colgroup>
                    <tr>
                        <td align=center>Ação</td>
                        <td align=center><b>Candidato</td>
                        <td align=center><b>Empresa</td>
                        <td align=center><b>Pai</td>
                        <td align=center><b>Nascimento</td>
                        <td align=center><b>Passaporte</td>
                        <td align=center><b>Dt cadastro</td>
                    </tr>
                    {% for candidato in candidatos %}
                        <tr class="{{candidato.classe}}" onmouseover="this.style.backgroundColor = '#dfe4ff';" onmouseout="this.style.backgroundColor = '#ffffff';">
                            <td align="center" class="button acao" style="vertical-align: middle; padding: 3px;">
                                {% if candidato.inclusao_disponivel %}
                                    <a class="botao" href="#" onClick="adicionarCandidato('{{candidato.nu_candidato}}');">Adicionar</a>
                                {% else %}
                                    {% if candidato.os_aberta %}                
                                        <a class="botao" href="#" onClick="javascript:window.opener.location='/operador/os_DadosOS.php?ID_SOLICITA_VISTO={{candidato.os_aberta.id_solicita_visto}}';">OS {{candidato.os_aberta.nu_solicitacao}}</a>
                                    {% else %}
                                        <a class="botao" href="#" onClick="javascript:window.opener.location='/operador/os_DadosOS.php?ID_SOLICITA_VISTO={{candidato.os_pendente.id_solicita_visto}}';" title="">Executar OS pendente<br/>(Pacote OS {{candidato.os_pendente.nu_solicitacao_pacote}})</a>
                                        <a class="botao" href="#" onClick="adicionarCandidato('{{candidato.nu_candidato}}');" title="">Adicionar mesmo assim</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td><a href="" class="textoazulpeq">{{candidato.nome_completo}}</a>{{candidato.obs}}</td>
                            <td>{{candidato.no_razao_social}}</td>
                            <td>{{candidato.no_pai}}</td>
                            <td align=center>{{candidato.dt_nascimento_fmt}}</td>
                            <td align=center>{{candidato.nu_passaporte}}</td>
                            <td align=center>{{candidato.dt_ult_alteracao_fmt}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </div>
    </body>
    <script>
        function adicionarCandidato(nu_candidato){
            msg = window.opener.ajaxIncluir('CANDIDATO', nu_candidato);
            alert(msg);
        }

    </script>
</html>
