<table class="grid candidatos">
    <tbody><tr>
            <th width="50px">Ações</th>
            <th width="auto">Nome</th>
            <th width="auto">Deps</th>
            <th width="60px">Qtd OS<br>abertas</th>
            <th width="auto">Empresa atual</th>
            <th width="auto">Emb./proj. atual</th>
            <th width="120px">Nacionalidade</th>
            <th width="100px">Passaporte</th>
            <th style="text-align:center">Cadastro</th>
        </tr>
        {% for candidato in candidatos %}
            {% include '/intranet/os/candidato.twig' %}
        {% endfor %}
    </tbody>
</table>
