<tr class="" id="cand{{candidato.nu_candidato}}">
    <input type="hidden" name="nu_candidato[]" value="{{candidato.nu_candidato}}" />
    <td style="text-align:center;">
        <a href="#" onclick="javascript:btnRemoverCandidatoClick({{os.mID_SOLICITA_VISTO}},{{candidato.nu_candidato}});" class="remove_candidato" title="clique para remover esse candidato"><img src="/imagens/grey16/Trash.png"/></a>
    </td>
    <td><a href="/operador/detalheCandidatoAuto.php?NU_CANDIDATO={{candidato.nu_candidato}}" target="_blank">{{candidato.nome_completo}}</a></td>
    <td style="text-align:center;" class="button">
        {% if candidato.nu_candidato_parente %}
            --
        {% else %}
        <a href="/operador/detalheCandidatoAuto.php?NU_CANDIDATO={{candidato.nu_candidato}}&painelAtivo=6" target="_blank">Dependentes</a>
        {% endif %}
    </td>
    <td style="text-align:center;">--</td>
    <td>{{candidato.no_razao_social}}</td>
    <td>{{candidato.no_embarcacao_projeto}}</td>
    <td>{{candidato.no_nacionalidade}}</td>
    <td>{{candidato.nu_passaporte}}</td>
    <td style="text-align:center;" class="button">
        {% if os.mID_SOLICITA_VISTO > 0 %}
            {% if (candidato.autc_fl_revisado ==1 ) %}
                <i class="icon-ok"></i><br/><span style="font-size:10px;color:#999;">(por {{candidato.usua_tx_apelido}}</span>
            {% else %}
                <a href="/paginas/carregueComMenu.php?controller=cCTRL_CAND_REVISAR_OS&metodo=Edite&NU_CANDIDATO={{candidato.nu_candidato}}&id_solicita_visto={{os.mID_SOLICITA_VISTO}}" target="_blank">Revisar</a>
            {% endif %}
        {% else %}
            --
        {% endif %}
    </td>
</tr>
