{% extends "intranet/base_commenu.html" %}

{% block conteudo %}
{% include '/intranet/os/titulo.html' %}
<div class="conteudoInterno">
    <div id="tabsOS" class="aba">
        {% include '/intranet/os/abas.html' %}

        <div id="Despesas">
            <div style="padding-left:10px;padding-right:10px;">
                <div class="barraBotoesTitulo" style="float:none;">
                    <a href="/paginas/carregue.php?controller=cCTRL_DESPESAS_OS&metodo=adicionar&id_solicita_visto={{ os.mID_SOLICITA_VISTO}}" class="">Adicionar nova</a>
                </div>
                <div style="clear:both;">&nbsp;</div>
                {% if regs %}
                <table class="grid">
                    <colgroup>
                        <col style="width:60px;"/>
                        <col style="width:auto;"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Ação</th>
                            <th>ID</th>
                            <th class="esq">Candidato</th>
                            <th class="esq">Funcionário</th>
                            <th class="esq">Despesa</th>
                            <th class="esq">Tarefa</th>
                            <th class="esq">De</th>
                            <th class="esq">Até</th>
                            <th class="dir">Valor</th>
                            <th class="dir">Qtd.</th>
                            <th class="esq">Observação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reg in regs %}
                        {% set vars = {'nome_chave': 'desp_id', 'valor_chave': reg.desp_id, 'controller': 'cCTRL_UPDT_DESP', 'metodo': 'AtualizeCampoPadrao'} %}
                        <tr>
                            <td class="cen"><a href="/paginas/carregue.php?controller=cCTRL_DESPESAS_OS&metodo=excluir&id_solicita_visto={{ os.mID_SOLICITA_VISTO }}&desp_id={{ reg.desp_id }}" title="Excluir essa despesa"><img src="/imagens/grey16/Trash.png"></td>
                            <td class="cen">{{ reg.desp_id }}</td>
                            <td class="esq">
                                {% include '/intranet/campos/coluna_combo.html' with{'nome': 'nu_candidato', 'valor': reg.nu_candidato, 'nome_campo': 'nu_candidato', 'regs_combo': candidatos} %}
                            </td>
                            <td class="esq">
                                {% include '/intranet/campos/coluna_texto.html' with{'nome': 'desp_tx_funcionario', 'valor': reg.desp_tx_funcionario, 'nome_campo': 'desp_tx_funcionario'} %}
                            </td>
                            <td class="esq">
                                {% include '/intranet/campos/coluna_combo.html' with{'nome': 'id_tipo_despesa', 'valor': reg.id_tipo_despesa, 'nome_campo': 'id_tipo_despesa', 'regs_combo': tipos} %}
                            </td>
                            <td class="esq">
                                {% include '/intranet/campos/coluna_texto.html' with{'nome': 'desp_tx_tarefa', 'valor': reg.desp_tx_tarefa, 'nome_campo': 'desp_tx_tarefa'} %}
                            </td>
                            <td class="esq">
                                {% include '/intranet/campos/coluna_datahora.html' with{'nome': 'desp_dt_inicio', 'valor': reg.desp_dt_inicio_fmt, 'nome_campo': 'desp_dt_inicio'} %}
                            </td>
                            <td class="esq">
                                {% include '/intranet/campos/coluna_datahora.html' with{'nome': 'desp_dt_fim', 'valor': reg.desp_dt_fim_fmt, 'nome_campo': 'desp_dt_fim'} %}
                            </td>
                            <td class="dir">
                                {% include '/intranet/campos/coluna_valor.html' with{'nome': 'desp_vl_valor', 'valor': reg.desp_vl_valor} %}
                            </td>
                            <td class="dir">
                                {% include '/intranet/campos/coluna_valor.html' with{'nome': 'desp_vl_qtd', 'valor': reg.desp_vl_qtd} %}
                            </td>
                            <td class="esq">
                                {% include '/intranet/campos/coluna_text.html' with{'nome': 'desp_tx_observacao', 'valor': reg.desp_tx_observacao} %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
