{% extends "intranet/base_commenu.html" %}

{% block conteudo %}
{% include '/intranet/os/titulo.html' %}
<div class="conteudoInterno">
    <div id="tabsOS" class="aba">
        {% include '/intranet/os/abas.html' %}
        <form method="post" action="/paginas/carregue.php?controller=cCTRL_ORDEMSERVICO&metodo=postEmpresaServico">
            <input type="hidden" id="id_solicita_visto" name="id_solicita_visto" value="{{os.mID_SOLICITA_VISTO}}"/>
            <input type="hidden" id="nu_empresa_locked" name="nu_empresa_locked" value="{{os.mNU_EMPRESA}}"/>
            <input type="hidden" id="nu_servico_locked" name="nu_servico_locked" value="{{os.mNU_SERVICO}}"/>
        <div id="DadosOs">
            <div style="padding-left:10px;padding-right:10px;">
                <table class="edicao">
                    <colgroup>
                        <col width="18%"/>
                        <col width="28%"/>
                        <col width="5%"/>
                        <col width="18%"/>
                        <col width="28%"/>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>Empresa DO PROCESSO</th><td>{% include '/intranet/campos/campo_combo.html' with {'nome': 'nu_empresa', 'regs': empresas, 'valor': os.mNU_EMPRESA} %}</td>
                            <td>&#160;</td>
                            <th>Serviço</th><td id="container_nu_servico">{% include '/intranet/campos/campo_combo.html' with {'nome': 'nu_servico', 'regs': servicos, 'valor': os.mNU_SERVICO} %}</td>
                        </tr>
                    </tbody>                        
                    <tbody id="tbodyDadosos" style="display:none;">
                        <tr>
                            <th>Empresa COBRANÇA</th><td>{% include '/intranet/campos/campo_combo.html' with {'nome': 'nu_empresa_requerente', 'regs': empresas_cobranca, 'valor': os.mnu_empresa_requerente} %}</td>
                            <td>&#160;</td>
                            <th>Emb/projeto PROCESSO</th><td id="container_nu_embarcacao_projeto">{% include '/intranet/campos/campo_combo.html' with {'nome': 'nu_embarcacao_projeto', 'regs': emb_projetos, 'valor': os.mNU_EMBARCACAO_PROJETO} %}</td>
                        </tr>
                        <tr>
                            <th>Solicitante</th><td><input type="text" name="no_solicitador" id="no_solicitador" value="{{os.mno_solicitador}}" class="cmpTxt cmp"/></td>
                            <td>&#160;</td>
                            <th>Emb/projeto REAL</th><td id="container_nu_embarcacao_projeto_cobranca">{% include '/intranet/campos/campo_combo.html' with {'nome': 'nu_embarcacao_projeto_cobranca', 'regs': emb_projetos, 'valor': os.mNU_EMBARCACAO_PROJETO_COBRANCA} %}</td>
                        </tr>
                        <tr>
                            <th>Prazo solicitado</th><td><input type="text" name="DT_PRAZO_ESTADA_SOLICITADO" id="DT_PRAZO_ESTADA_SOLICITADO" value="{{os.mDT_PRAZO_ESTADA_SOLICITADO}}" class="cmpTxt cmp"/></td>
                            <td>&#160;</td>
                            <th>Data da solicitação</th><td><input type="text" name="dt_solicitacao" id="dt_solicitacao" value="{{os.mdt_solicitacao}}" class="cmpDat cmp"/></td>
                        </tr>
                        <tr>
                            <th>Responsável</th><td>{% include '/intranet/campos/campo_combo.html' with {'nome': 'cd_tecnico', 'regs': responsaveis, 'valor': os.mcd_tecnico} %}</td>
                            <td>&#160;</td>
                            <th>Observações</th><td><textarea id="de_observacao" name="de_observacao" class="cmpMEMO cmp" rows="5">{{os.de_observacao}}</textarea></td>
                        </tr>
                    </tbody>
<input type="hidden" id="lista" value=""/>
                    <tbody id="tbodyCandidato" style="display:none;">
                        <tr>
                            <th>Candidatos</th>

                            <td colspan="4">
                                <div id="containerCandidatos" >
                                    {% include '/intranet/os/candidatos.twig' %}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="barraBotoesRodape">
                <input type="button"  onclick="javascript:pesquisarCandidato();" style="width:auto;" value="Adicionar candidato" accesskey="A"/>
                <input type="submit" value="Próximo" id="salvar"/>
                <input type="button" id="btnAlterarEmpresaServico" onclick="javascript:alterarEmpresaServico();" value="Alterar empresa/serviço" style="display:none;"/>
            </div>
            <div id="error"></div>            
        </div>
        </form>
    </div>
</div>
<div class="conteudo" id="modCandidatos" style="display: none;">
    <div class="titulo"><div style="float:left">Adicionar candidato</div>&nbsp;</div>
	<form method="post" id="pesquisa">
            <div style="margin-left:5px;margin-top:5px;">
                    Filtro:
                    {% include '/intranet/campos/campo_combo.html' with {'nome': 'nu_empresa_filtro', 'regs': empresas} %}
                    <input type="text" name="nome_completo" id="nome_completo" value=""/>
                    <input type="button" value="Pesquisar" onclick="btnCandidatoPesquisarClick();" id="btnPesquisarCandidatos"/>
                    <input type="button" id="adicionarNovo" value="Cadastrar novo" onclick="$('#novoCand').show();$('#NO_NOME_COMPLETO').val($('#nomeCandidato').val());" style="margin-left:5px;"/>
            </div>
            <div id="novoCand" style="background-color:#dfe4ff;padding:3px;margin:5px;border:solid 1px #3969A5;display:none;">
                    <form>
                    <center><div style="margin:10px;font-weight:bold;">ATENÇÃO: Certifique-se de que o candidato não está cadastrado antes de incluir um novo</div></center>
                    Nome:<input type="text" name="NO_NOME_COMPLETO" id="NO_NOME_COMPLETO" maxlength="130" size="40">
                            <input type="button" value="Incluir" onclick="IncluirCandidato();"/>
                            <input type="button" value="Fechar" onclick="$('#novoCand').hide();"/>
                    </form>
            </div>
            <div id="novoCandAguarde" style="background-color:#dfe4ff;padding:5px;margin:5px;border:solid 1px #3969A5;display:none;">
                <div id="msgCand">(candidato sendo incluído... aguarde)</div>
            </div>
                <div id="resultadoPesquisa"></div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var servicos;
    $(document).ready(function(){
        $('#CMP_nu_empresa').change(function(e){
            $('#container_nu_servico').html('(Carregando...)');
            $('#tbodyCandidato').hide();
            var nu_empresa = this.value;
            var url = '/paginas/carregue.php?controller=cCTRL_SERVICO&metodo=servicosDaEmpresa&nu_empresa=' + nu_empresa +"&nu_servico=0";
            $.get(url
                , function(data){
                    $('#container_nu_servico').html(data.combo);
                    nu_servico_associaEvento();
                    servicos = data.servicos;
                    liberaInclusaoCandidatos();
                    nu_embarcacao_projeto_reload(nu_empresa, 'nu_embarcacao_projeto');
                    nu_embarcacao_projeto_reload(nu_empresa, 'nu_embarcacao_projeto_cobranca');
                }
                , "json"
            );        
        });

        nu_servico_associaEvento();

    });

    function nu_empresa_change(cmbNuEmpresa){
    }

    function liberaInclusaoCandidatos(){
        if ($('#CMP_nu_servico').val() != '' && $('#CMP_nu_empresa') != ''){
            $('#tbodyCandidato').show();
            $('#CMP_nu_servico').attr('disabled', 'disabled');
            $('#CMP_nu_empresa').attr('disabled', 'disabled');
            $('#tbodyDadosos').show();
            $('#btnAlterarEmpresaServico').show();
        }
    }

    function alterarEmpresaServico(){
        $('#CMP_nu_servico').removeAttr('disabled');
        $('#CMP_nu_empresa').removeAttr('disabled');
        $('#tbodyCandidato').hide();
        $('#tbodyDadosos').hide();
        $('#btnAlterarEmpresaServico').hide();
    }


    function nu_embarcacao_projeto_reload(nu_empresa, nome){
        var url = '/paginas/carregue.php?controller=cCTRL_EMBARCACAO_PROJETO&metodo=daEmpresa&nu_empresa=' + nu_empresa +"&nome="+nome;
        $.get(url
            , function(data){
                $('#container_'+nome).html(data.combo);
            }
            , "json"
        );
    }
    
    function pesquisarCandidato(){
        $('#modCandidatos').dialog({width: 780, height: 550});
    }

    function nu_servico_associaEvento(){
        $('#CMP_nu_servico').change(function(e){
            var pertence_pacote = servicos[$(this).val()].pertence_pacote;
            // Adicionar logica para abrir a OS ou verificar se existe OS pendente.
            liberaInclusaoCandidatos();
        });
    }
    
    function btnRemoverCandidatoClick(id_solicita_visto, nu_candidato){
        var id_solicita_visto = $('#id_solicita_visto').val();
        var lista = $('#lista').val();
        if (id_solicita_visto == 0 || id_solicita_visto == ''){
            console.log(lista);
            lista = retiraCandidatoDaLista(lista, nu_candidato);
            $('#lista').val(lista);

        } else {
            $.get( "/paginas/carregue.php?controller=cCTRL_ORDEMSERVICO&metodo=excluaCandidato"
                , {id_solicita_visto: id_solicita_visto, nu_candidato: nu_candidato}
                , function( data ) {
                    var msg = data.msg;
                    var html = data.html;
                    $('#containerCandidatos').html(html);
                    jAlert(msg, 'Atenção');
                }
                , "json"
            );            
        }
        return;
    }

    function retiraCandidatoDaLista(lista, nu_candidato){
        var xPos = lista.indexOf(nu_candidato);
        if (xPos>=0){
            var lista_nova = '';
            var arr = lista.split(',');
            xVirg = '';
            xI = 0;
            while (xI<arr.length){
                if (arr[xI]!=pNU_CANDIDATO){
                        lista_nova = lista_nova+xVirg+arr[xI];
                        xVirg = ',';
                }		
                xI++;
            } 		
        } else {
            lista_nova = lista;
        }
        return lista_nova;
    }

    function btnCandidatoPesquisarClick(){
        var url = '/paginas/carregue.php?controller=cCTRL_CANDIDATO&metodo=pesquisarParaOs';
        var dados = $('#pesquisa').serialize();
        $('#btnPesquisarCandidatos').attr('value', '(aguarde...)');
        $('#resultadoPesquisa').html('<div style="margin:auto; padding-top:50px; text-align:center;"><i class="icon-spinner icon-spin icon-3x"></i></div>');
        dados = dados+'&nu_servico='+$('#CMP_nu_servico').val();
        dados = dados+'&nu_empresa='+$('#CMP_nu_empresa').val();
        $.post( url, dados)
            .done(function( data ) {
                $('#resultadoPesquisa').html(data);
            });
        $('#btnPesquisarCandidatos').val('Pesquisar');
    }
    /**
     * Adiciona candidatos à OS.
     * @param {type} nu_candidato
     * @returns {undefined}
     */
    function btnAdicionarCandidatoClick(nu_candidato){
        // Diferenciar inclusão em novas OS da inclusão em OS existentes...
        var id_solicita_visto = $('#id_solicita_visto').val();
        var lista = $('#lista').val();
        if (id_solicita_visto == 0 || id_solicita_visto == ''){
            if (lista == ''){
                lista = nu_candidato;
            } else {
                lista = lista+','+nu_candidato;
            }
            $('#lista').val(lista);
            $.get( "/paginas/carregue.php?controller=cCTRL_ORDEMSERVICO&metodo=getCandidatos"
                , {id_solicita_visto: id_solicita_visto, nu_candidato: nu_candidato, lista: lista}
                , function( data ) {
                    var msg = data.msg;
                    var html = data.html;
                    $('#containerCandidatos').html(html);
                    jAlert(msg, 'Atenção');
                }
                , "json"
            );
        } else {
            // Chama inclusão recarreando grid de candidatos
            $.get( "/paginas/carregue.php?controller=cCTRL_ORDEMSERVICO&metodo=getAdicioneCandidato"
                , {id_solicita_visto: id_solicita_visto, nu_candidato: nu_candidato}
                , function( data ) {
                    var msg = data.msg;
                    var html = data.html;
                    $('#containerCandidatos').html(html);
                    jAlert(msg, 'Atenção');
                }
                , "json"
            );
        }
    }
    
    function CarregarCandidatos(pID_SOLICITA_VISTO, pNomeContainer, pNomeChaves, pAlterar){
        if($('#'+pNomeChaves).val()!=''){
            var url = '/LIB/CANDIDATO_LISTA_SOL.php?id_solicita_visto='+pID_SOLICITA_VISTO+'&lista='+$('#'+pNomeChaves).val()+'&alterar='+pAlterar;
            $.ajax({
                url: url,
                success: function(data) {
                    $('#'+pNomeContainer).html(data);
                }
            });
        }
        else{
            $('#'+pNomeContainer).html('(nenhum candidato adicionado)');
        }
    }
</script>
{% endblock %}
