{% extends "intranet/base_boot_comheader.twig" %}

{% block conteudo %}
<div class="titulo">
    <div class="texto">Certidões de trâmite (teste)
    </div>
</div>
<div class="conteudoInterno">
    {% if regs %}
    <table class="grid">
        <colgroup>
            <col style="width:60px;"/>
            <col style="width:auto;"/>
        </colgroup>
        <thead>
            <tr>
                <th>OS</th>
                <th>Empresa</th>
                <th>Serviço</th>
                <th>Processo</th>
                <th>Certidão de trâmite</th>
            </tr>
        </thead>
        <tbody>
            {% for reg in regs %}
            <tr>
                <td class="cen"><a href="/paginas/carregueComMenu.php?controller=cCTRL_ORDEMSERVICO&metodo=EditeProcesso&id_solicita_visto={{ reg.id_solicita_visto}}" target="_blank">{{ reg.nu_solicitacao}}</a></td>
                <td class="esq">{{ reg.no_razao_social }}</td>
                <td class="esq">{{ reg.no_servico_resumido }}</td>
                <td class="esq">{{ reg.nu_protocolo }}</td>
                <td class="esq"><a href="#" onclick="javascript:abreCertidao('{{ reg.nu_protocolo }}');">Link</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <iframe src="http://portal.mj.gov.br/EstrangeiroWEB/conparametros_certidao.asp" id="mj"></iframe>

</div>
{% endblock %}
{% block popups %}
<script>

</script>
{% endblock %}
