<div style="clear:both;"></div>    
<div class="titulo">
    <div class="texto">
        {% if pacote %}
        <span style="font-size:10px;">Pacote: <a href="/paginas/carregue.php.php?ID_SOLICITA_VISTO={{pacote.mID_SOLICITA_VISTO}}&id_solicita_visto={{pacote.mID_SOLICITA_VISTO}}" style="text-decoration:underline;" target="_blank">OS {{pacote.mNU_SOLICITACAO}}</a> {{pacote.mNO_SERVICO_RESUMIDO}}<i class="icon-caret-down"></i><br></span>
        {% endif %}
        Ordem de serviço {{ os.mNU_SOLICITACAO }}&nbsp;&nbsp;<span style="font-size:12px;">({{ os.mNO_STATUS_SOL }}){{ subtitulo }}</span>
    </div>
    <div style="float:right;margin-left:10px;margin-top:4px;">
        <form method="post" onsubmit="return FormValido();">
            <input type="hidden" id="CMP_solicita_visto_ctrlEnvio" name="CMP_solicita_visto_ctrlEnvio" value="1">
            <input type="hidden" id="CMP___edicao" name="CMP___edicao" value="operacoes_os">
            <input type="hidden" id="CMP___acao" name="CMP___acao" value="">
            <input type="hidden" id="CMP___altura" name="CMP___altura" value="">
            <input type="hidden" id="CMP___largura" name="CMP___largura" value="">
            <input type="hidden" id="CMP___titulo" name="CMP___titulo" value="">
            <input type="hidden" id="CMP_id_solicita_visto" name="CMP_id_solicita_visto" value="{{ os.mID_SOLICITA_VISTO }}">
            <ul id="menubar" class="menubar menu-layout">
                <li class="ui-corner-left menu-default">
                    <a href="/intranet/geral/os_listar.php"> <img src="/imagens/icons/layout_content.png"> Listar OS </a>
                </li>

                <li class="menu-default"><img src="/imagens/icons/application_cascade.png"><u>A</u>ção
                    <ul class="ui-corner-all">
                        <li><img src="/imagens/open.png"> <input type="button" value="Abrir OS" title="Clique para abrir a OS {{ os.mNU_SOLICITACAO }}" class="acaoMenu" onclick="javascript:ConfirmaAcao(this, 'Abrir_OS', '', '');"></li>

                        <li><img src="/imagens/delete.gif"> <input type="button" value="Excluir OS" onclick="ConfirmaAcao(this, 'Excluir_OS', '<b>Você confirma a exclusão dessa OS?<br/>Todos as informações sobre esse processo registradas nos candidatos serão perdidas.<br/>Os arquivos dos candidatos não serão afetados.<br/><br/><center><i>(ATENÇÃO: Essa operação não pode ser desfeita)</i></center></b>', 'Excluir OS');" title="Clique para excluir essa OS" class="acaoMenu"></li>
                        <li><img src="/imagens/icons/email_go.png"><a href="GeradorEmail.php?ID_SOLICITA_VISTO={{ os.mID_SOLICITA_VISTO }}"> E-mail de confirmação</a></li>
                        <li><a href="#" onclick="AcionaProcesso(this);
                                return false;" data-parameters="{&quot;controller&quot;: &quot;cCTRL_OS_STATUS&quot;, &quot;metodo&quot;: &quot;RetornarAoStatusInicial&quot;, &quot;id_solicita_visto&quot;: &quot;59669&quot;, &quot;cd_usuario&quot;: &quot;38&quot;}">Retornar ao status inicial</a></li>
                    </ul>
                </li>

                <li class="menu-default">
                    <a href="/LIB/OS_rel.php?ID_SOLICITA_VISTO=59669" target="_blank">
                        <img src="/imagens/icons/printer.png"> Ordem de Serviço
                    </a>
                </li>

                <li class="ui-corner-right menu-default">
                    <input type="hidden" id="naoConformidade" name="naoConformidade" value="1">
                    <img src="/imagens/action_encerrado.png">
                    <input type="button" value="NC" title="Indicar não conformidade" style="border:1px solid #c0c0c0;padding:0px;margin:0px;font-size:8pt;" onclick="javascript:ConfirmaAcao(this, 'Inverter_NC', '', '');">
                </li>

            </ul>
        </form>
    </div>
    <div style="clear:both;"></div>    
</div>
