{% extends "intranet/base_commenu.html" %}

{% block conteudo %}
	<div class="titulo">
		<div style="float:right; font-size:12px; text-align:right;">
	     	{% if processo.mid_solicita_visto %}
				Ordem de serviço: <a  style="font-size:inherit; text-decoration: underline;" href="/paginas/carregueComMenu.php?controller=cCTRL_ORDEMSERVICO&metodo=EditeProcesso&id_solicita_visto={{ processo.mid_solicita_visto }}" target="_blank">{{ os.mNU_SOLICITACAO }}</a>
			{% endif %}
	        <br/>Candidato: <a style="font-size:inherit;  text-decoration: underline;" href="/operador/detalheCandidatoAuto.php?NU_CANDIDATO={{ processo.mcd_candidato }}" target="_blank">{{ candidato.mNOME_COMPLETO }} ({{ processo.mcd_candidato }})</a>		
		</div>
        <div class="texto">Histórico do processo
        </div>
    </div>
	<div class="conteudoInterno">
		{% if regs %}
    	<table class="grid">
    		<colgroup>
    			<col style="width:140px;"/>
    			<col style="width:200px;"/>
    			<col style="width:auto;"/>
    			<col style="width:100px;"/>
    		</colgroup>
    		<thead>
		    <tr>
				<th colspan="2">Alterado</th>
				<th rowspan="2">Alterações</th>
				<th rowspan="2">Evento</th>
		    </tr>
		    <tr>
				<th>Em</th>
				<th>Por</th>
		    </tr>
		    </thead>
		    <tbody>
			{% for reg in regs %}
		    <tr>
				<td class="cen">{{ reg.hmte_dt_evento_fmt }}</td>
				<td class="esq">{{ reg.nome }}</td>
				<td class="esq">{{ reg.hmte_tx_observacao }}</td>
				<td class="cen">{{ reg.dt_requerimento_fmt }}</td>
		    </tr>
			{% endfor %}
		    </tbody>
		</table>
		{% endif %}
	</div>
{% endblock %}
