<html>
	<head>
		<style>
		* {font-family: Arial Narrow,Arial,sans-serif; }
		div{margin-top:30px;}
		p{margin-top:30px;}
		td{vertical-align: top;}
		p {
		    text-indent: 50px;
		}
		table.cand{margin-left:50px; border: solid 1px #000; border-collapse: collapse;}
		table.cand tr td {padding:10px; border:solid 1px #000;}
		table.cand tr th {padding:10px; border:solid 1px #000; background-color:#ccc;}
		</style>
	</head>
	<body style="margin-left:30px; margin-right:30px;">
		<div style="">
			AO<br/>
			MINISTÉRIO DA JUSTIÇA<br/>
			SECRETARIA NACIONAL DE JUSTIÇA<br/>
			DIVISÃO DE PERMANÊNCIA DE ESTRANGEIROS<br/>
			BRASÍLIA - DF
		</div>
		<table style="margin-top:30px;">
			<tr>
				<td>Att.: </td><td>Ilmo. Dr. João Guilherme Lima Granja Xavier da Silva<br/>
		        Diretor do Departamento de Estrangeiros</td>
			    </tr>
		</table>
		<div style="text-decoration: underline;">
		Ref.: Cancelamento da prorrogação<br/>
		Processo: {{ processo_prorrog.nu_protocolo_fmt }}<br/>
		Estrangeiro: {{ cand.mNOME_COMPLETO}}
		</div>
		<p>
		Ilmo. Sr. Coordenador,<br/>
		<br/>
		<p>
		A {{ empresa.mNO_RAZAO_SOCIAL }}, vem através desta, solicitar a V.Sa. o cancelamento da Prorrogação do visto de trabalho no processo em epígrafe para o candidato abaixo relacionado.</p>
		<br/>
		<table class="cand">
			<tr>
				<th>Nome</th><th>Passaporte</th>
			</tr>
			<tr>
				<td>{{ cand.mNOME_COMPLETO }}</td><td>{{ cand.mNU_PASSAPORTE }}</td>
			</tr>
		</table>
		<p>
		Rio de Janeiro, {{ dia }} de {{ mes }} de {{ ano }}.
		</p>

		<div style="margin-top:150px;">
		{% if exibe_assinatura == '1' and procurador.get_imagem != '' %}
	    		<img src="data:image/jpeg;base64,{{procurador.get_assinatura_encoded|raw}}"/><br/>
		{% endif %}
			<strong>{{ procurador.no_procurador }}</strong><br/>
			{{ funcao.mNO_FUNCAO }}<br/>
			OAB/RJ {{ procurador.nu_identidade }}<br/>
			CPF/MF {{ procurador.nu_cpf }}<br/>
		</p>
	</body>
</html>
