{% extends "cliente/base.html" %}

{% block cabecalho %}
    {% include "cliente/cabecalho_commenu.html" %}    
{% endblock %}    

{% block conteudo %}
<form name="{{ template.nome }}" id="{{ template.nome }}" method="post" enctype="multipart/form-data" accept-charset="ISO-8859-1">
    <input type="hidden" id="CMP_NU_EMPRESA" name="CMP_NU_EMPRESA" value="{{ nu_empresa }}"/>
    <input type="hidden" id="CMP_psol_id" name="CMP_psol_id" value="{{ psol_id }}"/>
    <div id="content" class="grid">
        <div class="row">
            <div id="main" class="slot-0-1-2-3-4-5">
                <div id="top_main" class="row">
                    <div id="title_main" class="candidate">
                        <h2><span class="title">Create new service request</span></h2>
                    </div>
                    {% include "public/notificacao.html" %}
                </div>
                <div id="content_main" class="search">
                    <div class="filtros">
                        <ul>
                            <li>
                                <p class="label">Vessel/project name:</p>
                                <p class="content">
                                    <select id="CMP_NU_EMBARCACAO_PROJETO" name="CMP_NU_EMBARCACAO_PROJETO">
                                        {% for valor in embarcacoes %}
                                            <option value="{{ valor.valor }}" {% if valor.valor == valor_atual%} selected {% endif %}>{{ valor.descricao|raw }}</option>
                                        {% endfor %}
                                    </select>
                                </p>
                            </li>
                            <li>
                                <p class="label">Request type:</p>
                                <p class="content">
                                    <select id="CMP_NU_SERVICO" name="CMP_NU_SERVICO">
                                        {% for valor in servicos %}
                                            <option value="{{ valor.valor }}" {% if valor.valor == valor_atual%} selected {% endif %}>{{ valor.descricao|raw }}</option>
                                        {% endfor %}
                                    </select>
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="results">
                        <h3>Candidates</h3>
                        <table class="footable">                            
                            <colgroup>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore="">First name</th>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore="">Middle name</th>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore="">Last name</th>
                                    <th class="" data-class="expand" data-hide="" data-type="" data-sort-ignore="">E-mail</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for linha in linhas %}                                
                                <tr class="{{ linha.get_class }}">
                                    {% for campo in linha.campos %}
                                    {% if campo.get_ehVisivel %}
                                    <td>{{ campo.mValor|raw }}</td>
                                    {% endif %}
                                    {% endfor %}
                                    {% if qtdAcoesLinhaVisiveis > 0 %}
                                    <td>
                                        {#% for acao in linha.acoesLinha %}
                                        <a href="#" id="{{ acao.mCodigo}}" onclick="EnvieAcao(this);">{{ acao.Label }}</a>                     
                                        {% endfor %#}
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
