{% extends "cliente/base.html" %}

{% block style %}
<style>
	.box li{float:none !important; margin-bottom:5px; display: block;}
</style>
{% endblock %}

{% block cabecalho %}
    {% include "cliente/cabecalho_commenu.html" %}
{% endblock %}

{% block conteudo %}
<div style="min-height: 400px">
	<form id="" method="post" action="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_CLIENTE&metodo=postAlterarSenha" accept-charset="ISO-8859-1">
		<input type="hidden" value="1" name="foipostado"/>
    <div id="content" class="grid">
        <div class="row">
            <div id="main" class="slot-0-1-2-3-4-5">
                <div id="top_main" class="row">
                    <div id="title_main" class="candidate">
                        <h2><span class="title">Change password</span></h2>
                    </div>
                    {% include "public/notificacao.html" %}
                </div>
                <div id="content_main">
                    <div class="box">
                        <ul>
                            {% include "public/CAMPO_SENHA.twig" with {'label': 'Current password', 'nome': 'senhaAtual',  'valor': '', 'readonly': false} %}<br/>
                            {% include "public/CAMPO_SENHA.twig" with {'label': 'New password', 'nome': 'senhaNova',  'valor': '', 'readonly': false} %}<br/>
                            {% include "public/CAMPO_SENHA.twig" with {'label': 'Repeat ', 'nome': 'senhaNovaRep',  'valor': '', 'readonly': false} %}
                        </ul>
	                    <div style="clear: both;">&nbsp;</div>
	                    <div style="text-align:center;">
	                        <input type="submit" name="save" value="Send invitation" title=""/>
	                    </div>
                    </div>
                 </div>
                </div>
            </div>
        </div>
	</form>
</div>
{% endblock %}
