{% extends "cliente/base.html" %}

{% block cabecalho %}
	{% include 'cliente/cabecalho_commenu.html' %}
{% endblock %}


{% block conteudo %}
	<form name="{{ template.nome }}" id="{{ template.nome }}" method="post" enctype="multipart/form-data" accept-charset="ISO-8859-1">
	{% for campo in template.campos_controle %}
		<input type="hidden" id="CMP_{{ campo.mCampoBD }}" name="CMP_{{ campo.mCampoBD }}" value="{{ campo.mValor }}"/>
	{% endfor %}
		<div class="row">
			<div id="main" class="slot-0-1-2-3-4">
				<div id="top_main" class="row">
					<div id="title_main" class="candidate">
						<h2>
							<span class="title">{{ template.titulo }}</span>
							<span class="registry"></span>
							<span class="status"></span>
						</h2>
					</div>
					{% include "public/acoes.html" %}
					{% include "public/notificacao.html" with{ 'notificacao' : template.notificacao } only %}
				</div>
				<div id="content_main" class="row">
					<div class="row tab">
						{% include "public/menu_lateral.html" with { 'menu_lateral' : template.menu_lateral } %}
						<div class="slot-1-2-3-4">
							<div class="box" style="min-height:280px">
								<h3>New file</h3>
								<ul>
							    {% for campo in template.campos %}
						            {% if campo.mVisivel %}
							            {% if campo.mPainel != '' %}
											{% include "public/titulo_painel.html" %}
							            {% endif %}
							            {% if campo.mTipo == 6 %}
											{% include "public/CAMPO_TEXTO.html" %}
							            {% endif %}
							            {% if campo.mTipo == 2 %}
											{% include "public/CAMPO_DATA.html" %}
							            {% endif %}
							            {% if campo.mTipo == 7 %}
											{% include "public/CAMPO_MEMO.html" %}
							            {% endif %}
							            {% if campo.mTipo == 9 %}
											{% include "public/CAMPO_SIMNAO.html" %}
							            {% endif %}
							            {% if campo.mTipo == 18 %}
											{% include "public/COMBO_GERAL.html" %}
							            {% endif %}
							            {% if campo.mTipo == 22 %}
											{% include "public/CAMPO_FILE.html" %}
							            {% endif %}
							        {% endif %}
	    						{% endfor %}
								</ul>
								<h3>{{ template.titulo_painel }}</h3>
								<div id="listaarquivos">
									<ul class="file_box">
									{% for arquivo in template.complemento.arquivos %}
									<li class="iten">
										<p class="name">
											<span title="Download" class="action_button download"><a href="/operador/download.php?arq={{ arquivo.url }}&nmf={{ arquivo.NO_ARQ_ORIGINAL }}"></a></span>
											{{ arquivo.NO_TIPO_ARQUIVO }}
										</p>
									</li>
									{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			{% include "cliente/barra_direita.html" %}
		</div>
	</form>
	<!-- close content -->
{% endblock %}
