<li id="{{ arquivo.NU_SEQUENCIAL }}" class="iten">
    <p class="name">{{ arquivo.NO_TIPO_ARQUIVO }}</p>
    <div class="upload">
        <span class="label_upload_date">upload in</span>
        <span class="upload_date">{{ arquivo.DT_INCLUSAO_FMT }}</span>
    </div>
    <div class="action">
        <span title="Download" class="action_button download"><a href="/operador/download.php?arq={{ arquivo.url }}&nmf={{ arquivo.NO_ARQ_ORIGINAL }}"></a></span>
        <!-- <span title="Open" class="action_button open"><a href="#"></a></span> -->
        <!-- <span title="Delete" class="action_button delete"><a href="#"></a></span> -->
    </div>
</li>
