<div id="sidebar_right" class="slot-5">
    <div class="period_of_stay">
        <div class="label">Current period of Stay</div>
        <div class="info">{{ prazo_estada }}</div>
    </div>
    <div class="info_box box">
        <h3>Summary</h3>
        <div class="content">
            <ul>
                <li><p class="label">Empresa:</p><p class="info">{{ empresa.mNO_RAZAO_SOCIAL }}</p><li>
                <li><p class="label">Projeto/ Embarcação:</p><p class="info">{{ embarcacao.NO_EMBARCACAO_PROJETO }}</p><li>
                <li><p class="label">Status:</p><p class="info">{{ status }}</p><li>
            </ul>
        </div>
    </div>
    <div class="file_box box">
        <h3>Lastest Files</h3>
        <span class="view_all"><a href="/paginas/carregueCliente.php?controller=cCTRL_CAND_CLIE_EDIT_FILE&metodo=Edite&NU_CANDIDATO={{ template.complemento.candidato.nu_candidato }}">view all</a></span>
        <div class="content">
            <ul>
            {% for arquivo in template.complemento.arquivos | slice(0,4)%}
                {% include "cliente/barra_arquivo.html" %}    
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
