<!DOCTYPE html>
<head>
    <title>{{ pagina.titulo }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!--[if lt IE 9 ]><link rel="stylesheet" href="./css/720_grid.css" type="text/css"><![endif]-->
    <link rel="stylesheet" href="../novocss/720_grid.css" type="text/css" media="screen and (min-width: 720px)">
    <link rel="stylesheet" href="../novocss/986_grid.css" type="text/css" media="screen and (min-width: 986px)">
    <link rel="stylesheet" href="../novocss/1236_grid.css" media="screen and (min-width: 1236px)">
    <link rel="stylesheet"  href="../novocss/footable-0.1.css" type="text/css" />

    <link rel="stylesheet" href="../novocss/reset.css" />
    <link rel="stylesheet" href="../novocss/style.css" />
    <link href="/externos/FortAwesome-Font-Awesome-13d5dd3/css/font-awesome.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="../novojs/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../novojs/jquery.balloon.js"></script>
    <script type="text/javascript" src="../novojs/tinynav.min.js"></script>
    <script type="text/javascript" src="../novojs/footable-0.1.js" ></script>
    <script type="text/javascript" src="../novojs/footable.sortable.js"></script>
    <script type="text/javascript" src="../novojs/script.js"></script>
    <script type="text/javascript" src="../js/jquery.maskedinput.js"></script>
    <script>
        function EnvieAcao(pcampo){
            $('#CMP___acao').val($(pcampo).attr('id'));
            $('#CMP___acao_sucesso').val($(pcampo).attr('id'));
            $(pcampo).closest('form').submit();
        }

        function abreCertidao(numero){
            var urlCertidao = 'http://portal.mj.gov.br/EstrangeiroWEB/resultado_certidao.asp?auxAnalise=12&CampoTabela=tbDocumento_NumeroDoc&CampoPesquisado='+numero;
            var urlAtivacao = 'http://portal.mj.gov.br/EstrangeiroWEB/resultado_certidao_analise.asp?CampoTabela=tbDocumento_NumeroDoc&CampoPesquisado='+numero;
            var x= window.open(urlAtivacao, numero);
            setTimeout(function(){
                var y= window.open(urlCertidao, numero);
            }, 3000);
        }

    </script>
    {% block style %}
    {% endblock %}
</head>
<body>
    {% block cabecalho %}
        {% include 'cliente/cabecalho.html' %}
    {% endblock %}
    <div id="content" class="grid">
        {% block conteudo %}
        {% endblock %}
    </div>
    {% block conteudofull %}
    {% endblock %}
    {% include 'public/footer.html' %}
    <script>
        $(".cmpDat").mask('99/99/9999', {placeholder: "dd/mm/yyyy"});

    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
