<!-- Cabecalho com menus inicio -->
<div id="header">
    <div class="grid">
        <div class="row">
            <div id="logo" class="slot-0">
                <img src="../img/mundivisas_logo.PNG" />
            </div>
            <div class="nav main slot-1-2-3-4">
                {% include "public/menu_links.html" with {'menu' : pagina.menu.esquerdo } only %}
            </div>
            <div class="nav option slot-5">
                {% include "public/menu_links.html" with {'menu' : pagina.menu.direito } only %}
            </div>
        </div>
    </div>
</div>
<!-- Cabecalho com menus - fim -->
