{% extends "cliente/base.html" %}
{% block conteudo %}
<form name="{{ template.nome }}" id="{{ template.nome }}" method="post" enctype="multipart/form-data" accept-charset="ISO-8859-1">
{% for campo in template.controles %}
	<input type="hidden" id="CMP_{{ campo.mCampoBD }}" name="CMP_{{ campo.mCampoBD }}" value="{{ campo.mValor }}"/>
{% endfor %}

	<div id="content" class="grid">
		<div class="row">
			<div id="main" class="slot-12">
				<div id="top_main" class="row">
					<div id="title_main" class="candidate">
						<h2>
							<span class="title">{{ titulo_tela }}</span>
							<span class="registry"></span>
							<span class="status"></span>
						</h2>
					</div>
					{% include "public/acoes.html" %}
					{% include "public/notificacao.html" with{ 'notificacao' : template.notificacao } only %}
				</div>
				<div id="content_main" class="row">
					<div class="row tab">
						{% include "public/menu_lateral.html" %}
						<div class="slot-1-2-3-4-5">
							<div class="box">
								<h3>{{titulo_painel}}</h3>
								<ul>
							    {% for campo in campos %}
						            {% if campo.mVisivel %}
							            {% if campo.mPainel != '' %}
											{% include "public/titulo_painel.html" %}
							            {% endif %}
							            {% if campo.mTipo == 6 %}
											{% include "public/CAMPO_TEXTO.html" %}
							            {% endif %}
							            {% if campo.mTipo == 2 %}
											{% include "public/CAMPO_DATA.html" %}
							            {% endif %}
							            {% if campo.mTipo == 7 %}
											{% include "public/CAMPO_MEMO.html" %}
							            {% endif %}
							            {% if campo.mTipo == 9 %}
											{% include "public/CAMPO_SIMNAO.html" %}
							            {% endif %}
							            {% if campo.mTipo == 18 %}
											{% include "public/COMBO_GERAL.html" %}
							            {% endif %}
							            {% if campo.mTipo == 22 %}
											{% include "public/CAMPO_FILE.html" %}
							            {% endif %}
							        {% endif %}
        						{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<!-- close content -->
{% endblock %}
