{% extends "cliente/base.html" %}

{% block cabecalho %}
    {% include 'cliente/cabecalho_commenu.html' %}
{% endblock %}


{% block conteudo %}
    {% for campo in template.campos_controle %}
        <input type="hidden" id="CMP_{{ campo.mCampoBD }}" name="CMP_{{ campo.mCampoBD }}" value="{{ campo.mValor }}"/>
    {% endfor %}
    <div class="row">
        <div id="main" class="slot-0-1-2-3-4">
            <div id="top_main" class="row">
                <div id="title_main" class="candidate">
                    <h2>
                        <span class="title">{{ template.titulo }}</span>
                        <span class="registry"></span>
                        <span class="status"></span>
                    </h2>
                </div>
                {% include "public/notificacao.html" with{ 'notificacao' : template.notificacao } only %}
            </div>
            <div id="content_main" class="row">
                <div class="row tab">
                    {% include "public/menu_lateral.html" with { 'menu_lateral' : template.menu_lateral } %}
                    <div class="slot-1-2-3-4">
                        <form name="{{ template.nome }}" id="{{ template.nome }}" method="post" enctype="multipart/form-data">
                            <div class="box">
                                <h3>Personal Information</h3>
                                <ul>
                                    {% include "public/CAMPO_TEXTO.twig" with {'label': 'First name', 'nome': 'NO_PRIMEIRO_NOME',  'valor': candidato.mNO_PRIMEIRO_NOME, 'readonly': readonly} %}
                                    {% include "public/CAMPO_TEXTO.twig" with {'label': 'Middle name', 'nome': 'NO_NOME_MEIO',  'valor': candidato.mNO_NOME_MEIO, 'readonly': readonly} %}
                                    {% include "public/CAMPO_TEXTO.twig" with {'label': 'Last name', 'nome': 'NO_ULTIMO_NOME',  'valor': candidato.mNO_ULTIMO_NOME, 'readonly': readonly} %}
                                    <li>
                                        <p class="label">Contact email:</p>
                                        <p class="content">
                                            <input type="text" id="CMP_NO_EMAIL_CANDIDATO" name="CMP_NO_EMAIL_CANDIDATO" value="{{candidato.mNO_EMAIL_CANDIDATO}}" class=" cmp" {{disabled}}>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="label">Home Address:</p>
                                        <p class="content">
                                            <input type="text" id="CMP_NO_ENDERECO_RESIDENCIA" name="CMP_NO_ENDERECO_RESIDENCIA" value="{{candidato.mNO_ENDERECO_RESIDENCIA}}" class=" cmp" {{disabled}}>

                                        </p>
                                    </li>
                                    <li>
                                        <p class="label">Home Address - City:</p>
                                        <p class="content">
                                            <input type="text" id="CMP_NO_CIDADE_RESIDENCIA" name="CMP_NO_CIDADE_RESIDENCIA" value="{{candidato.mNO_CIDADE_RESIDENCIA}}" class=" cmp" {{disabled}}>

                                        </p>
                                    </li>
                                    {% include "public/COMBO_GERAL.twig" with {'label': 'Home address - Country:', 'nome': 'CO_PAIS_RESIDENCIA', 'valor_atual': candidato.mCO_NACIONALIDADE, 'valores': paises, 'readonly': readonly} %}
                                    <li>
                                        <p class="label">Phone #:</p>
                                        <p class="content">
                                            <input type="text" id="CMP_NU_TELEFONE_CANDIDATO" name="CMP_NU_TELEFONE_CANDIDATO" value="{{candidato.mNU_TELEFONE_CANDIDATO}}" class=" cmp" {{disabled}}>

                                        </p>
                                    </li>
                                    {% include "public/COMBO_GERAL.twig" with {'label': 'Nationality', 'nome': 'CO_NACIONALIDADE', 'valor_atual': candidato.mCO_NACIONALIDADE, 'valores': nacionalidades, 'readonly': readonly} %}
                                    <li>
                                        <p class="label">Place of birth:</p>
                                        <p class="content">
                                            <input type="text" id="CMP_NO_LOCAL_NASCIMENTO" name="CMP_NO_LOCAL_NASCIMENTO" value="{{candidato.mNO_LOCAL_NASCIMENTO}}" class=" cmp" {{disabled}}>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="label">Father&#039;s full name:</p>
                                        <p class="content">
                                            <input type="text" id="CMP_NO_PAI" name="CMP_NO_PAI" value="{{candidato.mNO_PAI}}" class=" cmp" {{disabled}}>

                                        </p>
                                    </li>
                                    {% include "public/COMBO_GERAL.twig" with {'label': 'Father&#039;s nationality', 'nome': 'co_pais_nacionalidade_pai', 'valor_atual': candidato.mco_pais_nacionalidade_pai, 'valores': nacionalidades, 'readonly': readonly}%}
                                    <li>
                                        <p class="label">Mother&#039;s full name:</p>
                                        <p class="content">
                                            <input type="text" id="CMP_NO_MAE" name="CMP_NO_MAE" value="{{candidato.mNO_MAE}}" class=" cmp" {{disabled}}>

                                        </p>
                                    </li>
                                    {% include "public/COMBO_GERAL.twig" with {'label': 'Mother&#039;s nationality', 'nome': 'co_pais_nacionalidade_mae',  'valor_atual': candidato.mco_pais_nacionalidade_mae,'valores': nacionalidades, 'readonly': readonly} %}
                                    <li>
                                        <p class="label">Marital status:</p>
                                        <p class="content">
                                            <input type="text" id="CMP_NO_ESTADO_CIVIL_EM_INGLES" name="CMP_NO_ESTADO_CIVIL_EM_INGLES" value="{{candidato.mNO_ESTADO_CIVIL_EM_INGLES}}" class=" cmp" {{disabled}}>

                                        </p>
                                    </li>
                                    {% include "public/COMBO_GERAL.twig" with {'label': 'Sex', 'nome': 'CO_SEXO',  'valor_atual': candidato.mCO_SEXO,'valores': sexos, 'readonly': readonly} %}
                                    <li>
                                        <p class="label">Date of birth:</p>
                                        <p class="content">
                                            <input type="text" id="CMP_DT_NASCIMENTO_CLIE" name="CMP_DT_NASCIMENTO" value="{{candidato.mDT_NASCIMENTO}}" class=" cmpDat" {{disabled}}>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="label">Highest level of education:</p>
                                        <p class="content">
                                            <input type="text" id="CMP_NO_ESCOLARIDADE_EM_INGLES" name="CMP_NO_ESCOLARIDADE_EM_INGLES" value="{{candidato.mNO_ESCOLARIDADE_EM_INGLES}}" class=" cmp" {{disabled}}>
                                        </p>
                                    </li>
                                    <li class="title">
                                        <h4>Consulate Information</h4>
                                    </li>
                                    <li>
                                        <p class="label">Consulate where the visa will be collected:</p>
                                        <p class="content">
                                            <input type="text" id="CMP_NO_REPARTICAO_CONSULAR" name="CMP_NO_REPARTICAO_CONSULAR" value="{{candidato.mNO_REPARTICAO_CONSULAR}}" class=" cmp" {{disabled}}>
                                        </p>
                                    </li>
                                </ul>
                                {% if not disabled %}
                                    <div style="clear: both;">&nbsp;</div>
                                    <div style="display: box; margin:auto; text-align:center;">
                                        <input type="submit" name="save" value="Save" title="Save changes to continue later"/>
                                    </div>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% include "cliente/barra_direita.html" %}
    </div>
    <!-- close content -->
{% endblock %}
