{% extends "cliente/base.html" %}

{% block cabecalho %}
	{% include 'cliente/cabecalho_commenu.html' %}
{% endblock %}


{% block conteudo %}
	<form name="{{ template.nome }}" id="{{ template.nome }}" method="post" enctype="multipart/form-data">
	{% for campo in template.campos_controle %}
		<input type="hidden" id="CMP_{{ campo.mCampoBD }}" name="CMP_{{ campo.mCampoBD }}" value="{{ campo.mValor }}"/>
	{% endfor %}
		<div class="row">
			<div id="main" class="slot-0-1-2-3-4">
				<div id="top_main" class="row">
					<div id="title_main" class="candidate">
						<h2>
							<span class="title">{{ template.titulo }}</span>
							<span class="registry"></span>
							<span class="status"></span>
						</h2>
					</div>
					{% include "public/notificacao.html" with{ 'notificacao' : template.notificacao } only %}
				</div>
				<div id="content_main" class="row">
					<div class="row tab">
						{% include "public/menu_lateral.html" with { 'menu_lateral' : template.menu_lateral } %}
						<div class="slot-1-2-3-4">
							<div class="box">
								<h3>{{ template.titulo_painel }}</h3>
							    {% for processo in template.complemento.candidato.processos %}
							    	<h4>{{ processo.template.titulo }}</h4>
									<ul>
								    {% for campo in processo.template.campos %}
							            {% if campo.mVisivel %}
								            {% if campo.mPainel != '' %}
												{% include "public/titulo_painel.html" %}
								            {% endif %}
								            {% if campo.mTipo == 6 %}
												{% include "public/CAMPO_TEXTO.html" %}
								            {% endif %}
								            {% if campo.mTipo == 2 %}
												{% include "public/CAMPO_DATA.html" %}
								            {% endif %}
								            {% if campo.mTipo == 7 %}
												{% include "public/CAMPO_MEMO.html" %}
								            {% endif %}
								            {% if campo.mTipo == 9 %}
												{% include "public/CAMPO_SIMNAO.html" %}
								            {% endif %}
								            {% if campo.mTipo == 18 %}
												{% include "public/COMBO_GERAL.html" %}
								            {% endif %}
								            {% if campo.mTipo == 22 %}
												{% include "public/CAMPO_FILE.html" %}
								            {% endif %}
								        {% endif %}
	        						{% endfor %}
									</ul>
	    						{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			{% include "cliente/barra_direita.html" %}
		</div>
	</form>
	<!-- close content -->
{% endblock %}
