<!DOCTYPE html>
<head>
	<title>{{ pagina.titulo }}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!--[if lt IE 9 ]><link rel="stylesheet" href="./css/720_grid.css" type="text/css"><![endif]-->
	<link rel="stylesheet" href="../novocss/720_grid.css" type="text/css" media="screen and (min-width: 720px)">
	<link rel="stylesheet" href="../novocss/986_grid.css" type="text/css" media="screen and (min-width: 986px)">
	<link rel="stylesheet" href="../novocss/1236_grid.css" media="screen and (min-width: 1236px)">
    <link rel="stylesheet"  href="../novocss/footable-0.1.css" type="text/css" />
    <link href="/externos/FortAwesome-Font-Awesome-13d5dd3/css/font-awesome.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="../novocss/reset.css" />
	<link rel="stylesheet" href="../novocss/style.css" />

    <script type="text/javascript" src="../novojs/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../novojs/jquery.balloon.js"></script>
    <script type="text/javascript" src="../novojs/tinynav.min.js"></script>
    <script type="text/javascript" src="../novojs/footable-0.1.js" ></script>
    <script type="text/javascript" src="../novojs/footable.sortable.js"></script>
    <script type="text/javascript" src="../novojs/script.js"></script>
    <script type="text/javascript" src="../js/jquery.maskedinput.js"></script>
	<script>
		function EnvieAcao(pcampo){
			$('#CMP___acao').val($(pcampo).attr('id'));
			$('#CMP___acao_sucesso').val($(pcampo).attr('id'));
			$(pcampo).closest('form').submit();
		}

		function abreCertidao(numero){
		    var urlCertidao = 'http://portal.mj.gov.br/EstrangeiroWEB/resultado_certidao.asp?auxAnalise=12&CampoTabela=tbDocumento_NumeroDoc&CampoPesquisado='+numero;
		    var urlAtivacao = 'http://portal.mj.gov.br/EstrangeiroWEB/resultado_certidao_analise.asp?CampoTabela=tbDocumento_NumeroDoc&CampoPesquisado='+numero;
		    var x= window.open(urlAtivacao, numero);
		    setTimeout(function(){
		        var y= window.open(urlCertidao, numero);
		    }, 3000);
		}

	</script>
	<style>
	    table.interna{ font-size:10px;}
	    table.interna tr th{
	        font-weight: bold;
	        border-bottom: solid 1px #7a7a7a;
	    }
	    table.interna tr:last-child td{
	        border-bottom: solid 1px #7a7a7a;
	    }
	    table.interna tr td{
	        border-top: solid 1px #F5F5F5;
	    }

	</style>


</head>
