{% extends "cliente/base.html" %}

{% block cabecalho %}
    {% include "cliente/cabecalho_commenu.html" %}
{% endblock %}

{% block conteudo %}
<form name="{{ template.nome }}" id="{{ template.nome }}" method="post" enctype="multipart/form-data" accept-charset="ISO-8859-1">
    {% for campo in template.controles %}
    <input type="hidden" id="CMP_{{ campo.mCampoBD }}" name="CMP_{{ campo.mCampoBD }}" value="{{ campo.mValor }}"/>
    {% endfor %}
    <div id="content" class="grid">
        <div class="row">
            <div id="main" class="slot-0-1-2-3-4-5">
                <div id="top_main" class="row">
                    <div id="title_main" class="candidate">
                        <h2><span class="title">{{ titulo_tela }}</span></h2>
                    </div>
                    {% include "public/notificacao.html" %}
                </div>
                <div id="content_main" class="search">
                    {% include "public/filtros.html" %}

                    <div class="results">
                        <h3>Results</h3>
                        <table class="footable">
                            <colgroup>
                                {% for campo in campos %}
                                <col width="{{ campo.get_width }}">
                                {% endfor %}
                            </colgroup>
                            <thead>
                                <tr>
                                    {% for campo in campos %}
                                    {% if campo.get_ehVisivel %}
                                    <th class="{{ campo.mClasse }}" data-class="expand" data-hide="" data-type="" data-sort-ignore="">{{ campo.Label | raw }}</th>
                                    {% endif %}
                                    {% endfor %}
                                    {% if qtdAcoesLinhaVisiveis > 0 %}
                                    <!-- <th  data-sort-ignore="true">Actions</th> -->
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for linha in linhas %}
                                <tr class="{{ linha.get_class }}">
                                    {% for campo in linha.campos %}
                                    {% if campo.get_ehVisivel %}
                                    <td>{{ campo.mValor|raw }}</td>
                                    {% endif %}
                                    {% endfor %}
                                    {% if qtdAcoesLinhaVisiveis > 0 %}
                                    <td>
                                        {#% for acao in linha.acoesLinha %}
                                        <a href="#" id="{{ acao.mCodigo}}" onclick="EnvieAcao(this);">{{ acao.Label }}</a>
                                        {% endfor %#}
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
