{% extends "cliente/base.html" %}

{% block style %}
<style>
	.box li{float:none !important; margin-bottom:5px; display: block;}
</style>
{% endblock %}

{% block cabecalho %}
    {% include "cliente/cabecalho_commenu.html" %}
{% endblock %}

{% block conteudo %}
<div style="min-height: 400px">
    <div id="content" class="grid">
        <div class="row">
            <div id="main" class="slot-0-1-2-3-4-5">
                <div id="top_main" class="row">
                    <div id="title_main" style="background-image: none;">
                        <h2><span class="title">{{mensagem|raw}}</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
