{% extends "cliente/base.html" %}

{% block cabecalho %}
    {% include "cliente/cabecalho_commenu.html" %}
{% endblock %}

{% block conteudo %}
    <div id="content" class="grid">
        <div class="row">
            <div id="main" class="slot-0-1-2-3-4-5">
                <div id="top_main" class="row">
                    <div id="title_main" class="candidate">
                        <h2><span class="title">Data Requests Pending</span></h2>
                    </div>
                    {% include "public/notificacao.html" %}
                </div>
                <div id="content_main" class="search">
                    <div class="results">
                        {% if linhas|length > 0 %}
                        <h3>Results</h3>
                        <table class="footable">
                            <colgroup>
                                <col width="">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th data-class="expand" data-hide="" data-type="" data-sort-ignore="">Name</th>
                                    <th data-class="expand" data-hide="" data-type="" data-sort-ignore="">Filler</th>
                                    <th data-class="expand" data-hide="" data-type="" data-sort-ignore="">E-mail</th>
                                    <th data-class="expand" data-hide="" data-type="" data-sort-ignore="">Vessel/project</th>
                                    <th data-class="expand" data-hide="" data-type="" data-sort-ignore="">Service</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for linha in linhas %}
                                <tr class="">
                                    <td><a href="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_CLIENTE&metodo=editarInfo&nu_candidato_tmp={{linha.nu_candidato_tmp}}">{{ linha.nome_completo|raw }}</a></td>
                                    <td>{{ linha.nome|raw }}</td>
                                    <td>{{ linha.email|raw }}</td>
                                    <td>{{ linha.no_embarcacao_projeto|raw }}</td>
                                    <td>{{ linha.no_servico_resumido_em_ingles|raw }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <h3>There are no pending data requests</h3>
                        {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
