{% extends "cliente/base.html" %}

{% block cabecalho %}
    {% include "cliente/cabecalho_commenu.html" %}
{% endblock %}

{% block conteudo %}
    <div id="content" class="grid">
        <div class="row">
            <div id="main" class="slot-0-1-2-3-4-5">
                <div id="top_main" class="row">
                    <div id="title_main" class="candidate">
                        <h2><span class="title">Prorrogations</span></h2>
                    </div>
                    {% include "public/notificacao.html" %}
                </div>
                <form id="listarCandidatos" method="post" enctype="multipart/form-data" accept-charset="ISO-8859-1">
                    <input type="hidden" value="1" name="foipostado"/>
                    <div id="content_main" class="search">
                        <div class="filtros">
                            <ul>
                                <li>
                                    <p class="label">Vessel/project name:</p>
                                    <p class="content">
                                        {% include 'intranet/campos/campo_combo.html' with {'valor': nu_embarcacao_projeto, 'nome':'nu_embarcacao_projeto', 'regs': embarcacoes }%}
                                    </p>
                                </li>
                                <li>
                                    <p class="label">Name:</p>
                                    <p class="content"><input type="text" id="CMP_nome_completo" name="CMP_nome_completo" value="{{nome_completo}}" class=" cmp"></p>
                                </li>
                            </ul>
                            <div class="buttons_group">
                                <input type="button" class="clear" value="Clear form" title="Clear form">
                                <input type="button" class="search" value="Search" title="Search candidates" onclick="$('#listarCandidatos').submit();"> 
                            </div>
                        </div>
                    </div>
                </form>
                <div id="content_main">
                    <div class="results">
                        <h3>Results</h3>
                        <table class="footable">
                            <colgroup>
                                <col width="">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th data-class="expand" data-hide="" data-type="" data-sort-ignore="">Name</th>
                                    <th data-class="expand" data-hide="" data-type="" data-sort-ignore="">Vessel/project name</th>
                                    <th data-class="expand" data-hide="" data-type="" data-sort-ignore="">Nationality</th>
                                    <th data-class="expand" data-hide="" data-type="" data-sort-ignore="">Passport #</th>
                                    <th data-class="expand" data-hide="" data-type="" data-sort-ignore="">Visa type</th>
                                    <th data-class="expand" data-hide="" data-type="" data-sort-ignore="">Prorrogation process #</th>
                                    <th data-class="expand" data-hide="" data-type="" data-sort-ignore="">Date requested (dd/mm/yyyy)</th>
                                    <th data-class="expand" data-hide="" data-type="" data-sort-ignore="">Certidão de trâmite</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for linha in linhas %}
                                <tr class="">
                                    <td><a href="/paginas/carregueCliente.php?controller=cCTRL_CANDIDATO_CLIENTE&metodo=editarInfo&nu_candidato_tmp={{linha.nu_candidato_tmp}}">{{ linha.nome_completo|raw }}</a></td>
                                    <td>{{ linha.no_embarcacao_projeto|raw }}</td>
                                    <td>{{ linha.no_nacionalidade_em_ingles|raw }}</td>
                                    <td>{{ linha.nu_passaporte|raw }}</td>
                                    <td>{{ linha.no_servico_resumido_em_ingles|raw }}{{linha.nu_servico_pp}}</td>
                                    <td>{{ linha.nu_protocolo }}</td>
                                    <td>{{ linha.dt_requerimento_fmt }}</td>
                                    <td><a href="#" onclick="javascript:abreCertidao('{{ linha.nu_protocolo }}');">Link</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block scripts %}
<script type="text/javascript">
    function abreCertidao(numero){
        var urlCertidao = 'http://portal.mj.gov.br/EstrangeiroWEB/resultado_certidao.asp?auxAnalise=12&CampoTabela=tbDocumento_NumeroDoc&CampoPesquisado='+numero;
        var urlAtivacao = 'http://portal.mj.gov.br/EstrangeiroWEB/resultado_certidao_analise.asp?CampoTabela=tbDocumento_NumeroDoc&CampoPesquisado='+numero;
        var x= window.open(urlAtivacao, numero);
        setTimeout(function(){
            var y= window.open(urlCertidao, numero);
        }, 3000);
        
    }

</script>
    {% endblock %}
