{% if msg != '' %}
    <div style="border: solid 1px #cccccc; background-color: #5bc0de; color: #fff; padding: 20px;margin-bottom: 10px;">{{msg|raw}}</div>
{% endif %}

    <table class="edicao dupla padded" style="width:auto">
        <colgroup>
            <col width="80px"></col>
            <col width="auto"></col>
            <col width="auto"></col>

        </colgroup>
        <form id="frmNovoArquivo" method="post"  enctype="multipart/form-data" action="/paginas/carregueComMenu.php?controller=cCTRL_ARQUIVO&metodo=postArquivosDoCandidato">
        <tr>
            <input type="hidden" id="NU_CANDIDATO" name="NU_CANDIDATO" value="{{NU_CANDIDATO}}"/>
            <input type="hidden" id="retornar_para" name="retornar_para" value="{{retornar_para}}"/>
            <td colspan="2">
                <img src="../imagens/icons/add.png" onclick="javascript:frmNovoArquivo.submit();" style="cursor:pointer" title="Clique para adicionar o arquivo" style="vertical-align:middle"/>
            </td>
            <td >
                {% include "public/COMBO_GERAL_PURO.twig" with {'nome': 'ID_TIPO_ARQUIVO',  'valor_atual': '','valores': tipos_arquivo} %}
            </td>
            <td colspan="2">
                <input type="file" id="ARQUIVO" name="ARQUIVO" style="width:auto"/>
            </td>
        </tr>
        </form>
        <tr class="limpa">
            <td colspan="4" style="text-align:center">
                <input type="button" value="Refresh" onclick="javascript:refreshArquivos();" style="width:auto"/>
            </td>
        </tr>
        <tr class="limpa">
            <td colspan="4" style="padding-top:15px; padding-bottom: 5px;font-weight: bold; font-size: 11px;">Arquivos adicionados pela Mundivisas</td>
        </tr>
        {% for arquivo in arquivos %}
            {% if not arquivo.mFL_ADICIONADO_PELO_CANDIDATO %}
                <tr>
                    <td>
                        <a class="img" href="download.php?arq={{arquivo.caminhoRealInstancia}}&nmf={{arquivo.mNO_ARQ_ORIGINAL}}"><img src="/imagens/icons/downld.gif" title="clique para baixar esse arquivo" style="border:none" /></a>
                            {% if podeExcluir %}
                                {% if arquivo.ehOS%}
                                &nbsp;<img src="/imagens/icons/vazio.png" title="Você não pode excluir esse arquivo por aqui." />
                            {% else %}
                                &nbsp;<img src="/imagens/remove.png" title="clique para remover esse arquivo" onclick="javascript:excluirArquivo('{{arquivo.mNU_SEQUENCIAL}}');" style="cursor:pointer"/>
                            {% endif %}
                        {% endif %}
                        {% if arquivo.existe %}
                            {% if arquivo.ehImagem %}
                                <a href="javascript:CarregarArquivo('{{arquivo.urlRealInstancia}}', '{{arquivo.numeroOs}}', '{{arquivo.ehOS}}');"><i class="icon-ambulance"></i></a>
                            {% else %}
                                <a href="{{arquivo.urlRealInstancia}}" target="_blank"><img src="/imagens/icons/magnifier.png"/></a>
                            {% endif %}
                        {% endif %}

                    </td>
                    <td>{{arquivo.numeroOs}}</td>
                    <td>({{arquivo.mCO_TIPO_ARQUIVO}}) {{arquivo.mNO_TIPO_ARQUIVO}}</td>
                    <td>{{arquivo.mNO_ARQ_ORIGINAL}}</td>
                    <td>
                        {% if arquivo.existe %}
                            ok
                        {% else %}
                            arquivo não encontrado<br/>({{arquivo.caminhoRealInstancia}})
                        {% endif %}
                    </td>

                </tr>
            {% endif %}
        {% endfor %}
        <tr class="limpa">
            <td colspan="3" style="padding-top:15px; padding-bottom: 5px;font-weight: bold; font-size: 11px;">Arquivos adicionados pelo candidato</td>
        </tr>
        {% for arquivo in arquivos %}
            {% if arquivo.mFL_ADICIONADO_PELO_CANDIDATO %}
                <tr>
                    <td>
                        <a class="img" href="download.php?arq={{arquivo.caminhoRealInstancia}}&nmf={{arquivo.mNO_ARQ_ORIGINAL}}"><img src="/imagens/icons/downld.gif" title="clique para baixar esse arquivo" style="border:none" /></a>
                            {% if podeExcluir %}
                                {% if arquivo.ehOS%}
                                &nbsp;<img src="/imagens/icons/vazio.png" />
                            {% else %}
                                &nbsp;<img src="/imagens/remove.png" title="clique para remover esse arquivo" onclick="javascript:excluirArquivo('{{arquivo.mNU_SEQUENCIAL}}');" style="cursor:pointer"/>
                            {% endif %}
                        {% endif %}
                        {% if arquivo.existe %}
                            {% if arquivo.ehImagem %}
                                <a href="javascript:CarregarArquivo('{{arquivo.urlRealInstancia}}', '{{arquivo.numeroOs}}', '{{arquivo.ehOS}}');"><img src="/imagens/icons/magnifier.png"/></a>
                            {% else %}
                                <a href="{{arquivo.urlRealInstancia}}" target="_blank"><img src="/imagens/icons/magnifier.png"/></a>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>--</td>
                    <td>
                        <select id="CMP_ID_TIPO_ARQUIVO" name="CMP_ID_TIPO_ARQUIVO">
                            {% for valor in tipos_arquivo %}
                                <option value="{{ valor.valor }}" {% if valor.valor == arquivo.mTP_ARQUIVO %} selected {% endif %}>{{ valor.descricao|raw }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>{{arquivo.mNO_ARQ_ORIGINAL}}</td>
                    <td>
                        {% if arquivo.existe %}
                            ok
                        {% else %}
                            arquivo não encontrado<br/>({{arquivo.caminhoRealInstancia}})
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</form>
{% if arquivos|length > 0 %}
    (Total: {{arquivos|length}}  arquivos disponíveis)
{% else %}
    (nenhum arquivo disponível)
{% endif %}

<script>
    function refreshArquivos() {
        var container = $('#frmNovoArquivo').parent();
        var url = '/paginas/carregue.php?controller=cCTRL_ARQUIVO&metodo=getArquivosDoCandidato&NU_CANDIDATO=' + $('#frmNovoArquivo > #NU_CANDIDATO').val();
        $(container).html('Atualizando... (aguarde) ');
        $(container).load(url);
    }

    function excluirArquivo(nu_sequencial) {
        if (jConfirm('Confirma a exclusão desse arquivo? Essa operação não pode ser desfeita!', 'Atenção!', function (r) {
            if (r) {
                var container = $('#frmNovoArquivo').parent();
                var url = '/paginas/carregue.php?controller=cCTRL_ARQUIVO&metodo=removerDoCandidato&nu_sequencial='+nu_sequencial+'&nu_candidato=' + $('#frmNovoArquivo > #NU_CANDIDATO').val();
                $(container).html('Atualizando... (aguarde) ');
                $(container).load(url);
            }
        }));
    }
</script>
