{% extends "intranet/base_boot_commenu.html" %}

{% block conteudo %}
    <div class="titulo">
        <div class="texto">Candidatos com cadastro atualizado externamente que ainda não foram analisados
        </div>
    </div>
    <div class="conteudoInterno">
        {% if cadastros_pendentes %}
            <table class="table table-striped small">
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Ação</th>
                    <th>Empresa</th>
                    <th>Emb./Projeto</th>
                    <th>Candidato</th>
                    <th>Arquivo</th>
                    <th>Enviado em</th>
                </tr>

                {% set i = 1 %}
                {% for arq in arquivos %}
                    <tr>
                        <td class="text-center">{{i}}</td>
                        <td class="text-center"><a href="/paginas/candidato_comparar_externo.php?NU_CANDIDATO={{ arq.NU_CANDIDATO }}" class="btn btn-primary btn-xs " target="_blank"><i class="icon-edit"></i></a></td>
                        <td>{{arq.no_razao_social}}</td>
                        <td>{{arq.responsaveis}}</td>
                        <td>{{arq.no_embarcacao_projeto}}</td>
                        <td>{{arq.NOME_COMPLETO}}</td>
                        <td>{{arq.dt_envio_edicao_fmt}}</td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
            </table>
        {% endif %}    </div>
{% endblock %}
