<tr class="subTitulo"><td colspan="5">Arquivos informados</td></tr>
{% for arq in arquivos %}
<tr ><td colspan="5"><a href="/paginas/carregue.php?controller=cCTRL_ARQUIVO&metodo=download&NU_SEQUENCIAL={{ arq.NU_SEQUENCIAL }}" target="_blank">{{arq.NO_ARQ_ORIGINAL}}</a></td></tr>
{% endfor %}
