{% if cadastros_pendentes %}
    <table class="table table-striped small">
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Ação</th>
            <th>Empresa</th>
            <th>Emb./Projeto</th>
            <th>Candidato</th>
            <th>Enviado em</th>
        </tr>

        {% set i = 1 %}
        {% for cand in cadastros_pendentes %}
            <tr>
                <td class="text-center">{{i}}</td>
                <td class="text-center"><a href="/paginas/carregue.php?controller=cCTRL_DR&metodo=getImportarDr&nu_candidato_tmp={{ cand.nu_candidato_tmp }}" class="btn btn-primary btn-xs " target="_blank"><i class="icon-edit"></i></a></td>
                <td>{{cand.no_razao_social}}</td>
                <td>{{cand.no_embarcacao_projeto}}</td>
                <td>{{cand.NOME_COMPLETO}}</td>
                <td>{{cand.dt_envio_edicao_fmt}}</td>
            </tr>
            {% set i = i + 1 %}
        {% endfor %}
    </table>
{% endif %}
