<!DOCTYPE HTML>
<html>
	<body style="font-family: Arial, sans-serif;">
		<div class="header" style="background-color: #F4F4F4;border-top: 5px solid #037095;width:100%; padding: 10px;">
			<img src="http://dataweb.mundivisas.com.br/img/mundivisas_logo.PNG" style="width:200px;"/>
		</div>
		<div style="margin-top:20px;padding-left:10px; padding-right:10px;">
			<p style="margin-top:2px;margin-bottom:10px;">Greetings, {{destinatario}}.</p>
			<p style="margin-top:2px;margin-bottom:10px;">This is a message from Mundivisas's Dataweb System.</p>
			<p style="margin-top:2px;margin-bottom:10px;">Thanks for filling the data.</p>
			<p style="margin-top:2px;margin-bottom:10px;">Here you can get a PDF copy of the information you filled.</p>
			<p style="margin-top:10px;margin-bottom:20px;"><a href="{{linkDR}}">GET FORM PDF COPY </a></p>
			 
			<p style="margin-top:2px;margin-bottom:20px;">Please review it carefully and choose one of the two options below:</p>
			<div style="padding: 10px; padding-left:60px; padding-right: 60px; text-align: center;">
				<div style=""><a href="{{linkCONFIRMA}}" style="margin-bottom:5px; padding:20px; background-color: #35AA47; color: #fff; font-weight: bold; display:block; text-decoration: none;">YES, ALL THE INFORMATIONS ON THE FORM ARE CORRECT</a></div>
				<div style=""><a href="{{linkCANCELA}}" style="padding:20px; background-color: #D84A38; color: #fff; font-weight: bold; display:block; text-decoration: none;">NO, I NEED TO REVIEW SOME INFORMATION</a></div>
			</div>

			<p style="margin-top:10px;margin-bottom:10px;">This is an automatically generated e-mail. Please do not answer directly and send new messages to this account. Your e-mail will not be read.</p>
			<p style="margin-top:10px;margin-bottom:6px;">In case of any doubts instead please reach one of the following contacts, responsible for your companyâ€™s visa processes:</p>
			 
			<div style="margin-top:5px; margin-bottom:10px;">
				<p style="margin-top:2px;margin-bottom:2px;">{{ponto_focal.nome}}</p>
				<p style="margin-top:2px;margin-bottom:2px;">{{ponto_focal.nm_email}}</p>
			</div>
			<div style="margin-top:5px; margin-bottom:10px;">
				<p style="margin-top:2px;margin-bottom:2px;">{{gestor.nome}}</p>
				<p style="margin-top:2px;margin-bottom:2px;">{{gestor.nm_email}}</p>
			</div>
			<div style="margin-top:5px; margin-bottom:10px;">
				<p style="margin-top:2px;margin-bottom:2px;">{{gestor_cliente.nome}}</p>
				<p style="margin-top:2px;margin-bottom:2px;">{{gestor_cliente.nm_email}}</p>
			</div>
		</div>
	</body>
</html>
