<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.0 Transitional//EN\">
<html>
	<body style="font-family: Arial, sans-serif;">
		<div class="header" style="background-color: #F4F4F4;border-top: 5px solid #037095;width:100%; padding: 10px;">
			<img src="http://dataweb.mundivisas.com.br/img/mundivisas_logo.PNG" style="width:200px;"/>
		</div>
		<div style="margin-top:20px;padding-left:10px; padding-right:10px;">
			<p style="margin-top:2px;margin-bottom:10px;">Greetings, {{destinatario}}.</p>
			<p style="margin-top:2px;margin-bottom:10px;">This is a message from Mundivisas's Dataweb System.</p>
			<p style="margin-top:2px;margin-bottom:10px;">A {{servico.mNO_SERVICO_RESUMIDO}} Brazilian visa process has been requested by {{empresa.mNO_RAZAO_SOCIAL}} for you.</p>
			<p style="margin-top:2px;margin-bottom:10px;">In order to initiate it, please access the following link and fill in the required information. By the time you click SEND, in the end of the page, all fields must have been fulfilled.</p>
			<p style="margin-top:10px;margin-bottom:10px;"><a href="{{dominio}}/paginas/carregueConvidado.php?metodo=getLogin&conv_id={{conv.mconv_id}}&chave={{conv.mchave}}">CLICK HERE</a></p>
			<p style="margin-top:10px;margin-bottom:6px;">This is the first step of your visa process. Check below for information on the steps until the visa achievement and average time for some of these steps:</p>
			<p style="margin-top:2px;margin-bottom:2px;">1.&nbsp;&nbsp;<strong>YOU:</strong> Fulfillment of the form</p>
			<p style="margin-top:2px;margin-bottom:2px;">2.&nbsp;&nbsp;<strong>MUNDIVISAS:</strong> Confirmation of receipt</p>
			<p style="margin-top:2px;margin-bottom:2px;">3.&nbsp;&nbsp;<strong>MUNDIVISAS:</strong> Preparation of the process for the work permit (1-2 work days)</p>
			<p style="margin-top:2px;margin-bottom:2px;">4.&nbsp;&nbsp;<strong>MINISTRY OF LABOR:</strong> Analysis and approval of the process for the work permit (15-20 days)</p>
			<p style="margin-top:2px;margin-bottom:10px;">5.&nbsp;&nbsp;<strong>YOU, CONTRACTED AGENT OR MUNDIVISASâ€™ PARTNER:</strong> Application and collect of the visa at the Brazilian consulate (7 days on most repartitions)</p>


			<p style="margin-top:10px;margin-bottom:10px;">Please Note: On the last step you will be required to present documents to the Brazilian consulate that might take several days to obtain in your country. It shall be wise to initiate gathering these documents as soon as possible to avoid any delays on your travel.</p>
			<p style="margin-top:2px;margin-bottom:6px;">These documents are:</p>
			<div style="margin-left:20px;">
				<p style="margin-top:2px;margin-bottom:2px;">&bull;&nbsp;Birth certificate containing the names of your parents (for EU citizens, the EU model may be required depending on the consulate).</p>
				<p style="margin-top:2px;margin-bottom:2px;">&bull;&nbsp;Criminal Records from the country you have lived for the last 1 year or more.</p>
			</div>
			 

			<p style="margin-top:10px;margin-bottom:10px;">This is an automatically generated e-mail. Please do not answer directly and send new messages to this account. Your e-mail will not be read.</p>
			<p style="margin-top:10px;margin-bottom:6px;">In case of any doubts instead please reach one of the following contacts, responsible for your companyâ€™s visa processes:</p>
			 
			<div style="margin-top:5px; margin-bottom:10px;">
				<p style="margin-top:2px;margin-bottom:2px;">{{ponto_focal.nome}}</p>
				<p style="margin-top:2px;margin-bottom:2px;">{{ponto_focal.nm_email}}</p>
			</div>
			<div style="margin-top:5px; margin-bottom:10px;">
				<p style="margin-top:2px;margin-bottom:2px;">{{gestor.nome}}</p>
				<p style="margin-top:2px;margin-bottom:2px;">{{gestor.nm_email}}</p>
			</div>
			<div style="margin-top:5px; margin-bottom:10px;">
				<p style="margin-top:2px;margin-bottom:2px;">{{gestor_cliente.nome}}</p>
				<p style="margin-top:2px;margin-bottom:2px;">{{gestor_cliente.nm_email}}</p>
			</div>
		</div>
	</body>
</html>
