{% extends "intranet/base_boot_comheader.twig" %}

{% block conteudo %}
    <div class="titulo">
        <div class="texto">Enviar novo DATA REQUEST
        </div>
    </div>
    <div style="margin:10px;">
        {% include 'intranet/msg.twig' %}
    </div>
    <div class="conteudoInterno">
        <form class="form-horizontal" method="post" action="/paginas/carregue.php?controller=cCTRL_DR&metodo=postEnviarNovo">
            <input type="hidden" name="foipostado" value="1"/>
            <div class="panel panel-primary" style>
                <div class="panel-heading">Preencha os campos

                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="exampleInputName2" class="col-sm-2 control-label">Empresa</label>
                        <div class="col-sm-10">
                            <select id="nu_empresa" name="nu_empresa">
                                {% for valor in empresas %}
                                    <option value="{{ valor.chave }}" {% if valor.chave == nu_empresa %} selected {% endif %}>{{ valor.descricao|raw }}</option>
                                {% endfor %}
                            </select>
                             <p class="help-block" id="ponto_focal" style="display: none;">Ponto focal:</p>
                             <p class="help-block" id="gestor" style="display: none;">Gestor:</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2" class="col-sm-2 control-label">Embarcação/projeto</label>
                        <div class="col-sm-10" id="containerEmbproj">
                            <select id="nu_embarcacao_projeto" name="nu_embarcacao_projeto">
                                {% for valor in embarcacoes_projeto %}
                                    <option value="{{ valor.chave }}" {% if valor.chave == nu_embarcacao_projeto %} selected {% endif %}>{{ valor.descricao|raw }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2" class="col-sm-2 control-label">Serviço</label>
                        <div class="col-sm-10" id="containerServico">
                            <select id="nu_servico" name="nu_servico">
                                {% for valor in servicos %}
                                    <option value="{{ valor.chave }}" {% if valor.chave == nu_servico %} selected {% endif %}>{{ valor.descricao|raw }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2" class="col-sm-2 control-label">Nome</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nome" name="nome" placeholder="" value="{{nome}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="email" name="email" placeholder="" value="{{email}}">
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-2">
                            <input type="submit" value="Enviar" class="btn btn-primary btn-sm"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
                
        {% if cadastros_pendentes %}
            <table class="table table-striped small floaThead">
                <colgroup>
                    <col width="50px"/>
                    <col width="70px"/>
                    <col width="auto"/>
                    <col width="auto"/>
                    <col width="auto"/>
                    <col width="auto"/>
                    <col width="auto"/>
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Ação</th>
                        <th>Empresa<br/><span style="font-style: italic; color:#999;">Emb.Proj</span></th>
                        <th>Candidato</th>
                        <th>Serviço</th>
                        <th style="text-align: center;">Status</th>
                        <th style="text-align: center;">Cadastro</th>
                        <th style="text-align: center;">Enviado em</th>
                    </tr>
                </thead>
                <tbody>
                {% set i = 1 %}
                {% set conv_id_ant = '' %}
                {% for cand in cadastros_pendentes %}
                    {% if conv_id_ant != cand.conv_id %}
                        {% if cand.conv_id != '' %}
                        <tr>
                            <th colspan="8">{{cand.nome}} ({{cand.email}}) - {{cand.no_servico_resumido}} 
                        {% if cand.id_solicita_visto %}
                            <a href="/operador/os_DadosOS.php?&ID_SOLICITA_VISTO={{cand.id_solicita_visto_conv_id}}&id_solicita_visto={{cand.id_solicita_visto_conv_id}}" class="btn btn-success btn-xs" target="_blank">OS {{cand.nu_solicitacao_conv_id}}</a>
                        {% else %}
                            <a href="/paginas/carregue.php?controller=cCTRL_DR&metodo=getAbreOsConvidado&conv_id={{ cand.conv_id }}" class="btn btn-primary btn-xs" target="_blank"><i class="icon-magic"></i> Criar OS</a>
                        {% endif %}

                            </th>
                        </tr>
                        {% else %}
                        <tr>
                            <th colspan="8">(Avulsos)</th>
                        </tr>
                        {% endif %}
                        {% set conv_id_ant = cand.conv_id %}

                    {% endif %}
                    <tr>
                        <td class="text-center">{{i}}</td>
                        <td class="text-center">
                        {% if cand.id_status_edicao != '5' %}
                            <a href="/paginas/carregue.php?controller=cCTRL_DR&metodo=getImportarDr&nu_candidato_tmp={{ cand.nu_candidato_tmp }}" class="btn btn-primary btn-xs " target="_blank"><i class="icon-edit"></i></a>
                        {% else %}
                            <a href="#" class="btn btn-success btn-xs " title="DR ja importado"><i class="icon-check"></i></a>
                        {% endif %}

                            <a href="#" onclick="confirmaExclusao('{{ cand.nu_candidato_tmp }}');" class="btn btn-danger btn-xs "><i class="icon-trash"></i></a>
                        </td>
                        <td>{{cand.no_razao_social}}
                            <br/><span style="font-style: italic; color:#999;">{{cand.no_embarcacao_projeto}}</span>
                            <br/><span style="font-style: italic; color:#999; font-size: 10px; pardding-top:4px;">{{cand.responsaveis|raw}}</span>
                        </td>
                        <td>
                            {% if cand.id_status_edicao != '5' %}
                                {{cand.NOME_COMPLETO}}
                            {% else %}
                                <a href="/operador/detalheCandidatoAuto.php?NU_CANDIDATO={{cand.nu_candidato}}" target="_blank">{{cand.nome_completo_definitivo}} ({{cand.nu_candidato}})</a>
                            {% endif %}
                        </td>
                        <td>{{cand.no_servico_resumido}}
                        {% if cand.id_solicita_visto %}
                            <br/><a href="/operador/os_DadosOS.php?&ID_SOLICITA_VISTO={{cand.id_solicita_visto}}&id_solicita_visto={{cand.id_solicita_visto}}" class="btn btn-success btn-xs" target="_blank">OS {{cand.nu_solicitacao}}</a>
                        {% else %}
                            {% if not cand.conv_id %}
                                <br/><a href="/paginas/carregue.php?controller=cCTRL_DR&metodo=getAbreOsDr&nu_candidato_tmp={{ cand.nu_candidato_tmp }}" class="btn btn-primary btn-xs" target="_blank"><i class="icon-magic"></i> Criar OS</a>
                            {% endif %}
                        {% endif %}
                        </td>
                        <td style="text-align: center;">{{cand.status}}</td>
                        <td style="text-align: center;">{{cand.cadastro|raw}}</td>
                        <td style="text-align: center;">{{cand.dt_envio_edicao_fmt}}</td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    <div class="modal fade" id="confirmaExcl">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirma a exclusao desse DR?</h4>
                </div>
                <div class="modal-body">
                    Essa operação não poderá ser desfeita, e as informaçoes preenchidas pelo cliente serão perdidas.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                    <a id="link_exclusao" href="#" class="btn btn-primary" >Sim, confirmo!</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
{% block popups %}
    <script>
        {% if msg %}
            jAlert('{{msg}}');
        {% endif %}
        $(document).ready(function(){
            $('#nu_empresa').change(function(){
                $('#ponto_focal').hide();
                $('#gestor').hide();
                atualizaServico();
                atualizaResponsaveis();
                atualizaEmbarcacaoProjeto();
            });
            atualizaResponsaveis();
        });
        function atualizaServico(){
            var url = '/paginas/carregue.php?controller=cCTRL_COMBO&metodo=servicosDaEmpresa';
            var data = { nu_empresa: $('#nu_empresa').val() } ;
            $('#containerServico').html('(atualizando...)');
            $.post(url, data, function(data, status){
                $('#containerServico').html(data);
            });
        }

        function atualizaResponsaveis(){
            var url = '/paginas/carregue.php?controller=cCTRL_EMPRESA&metodo=responsaveis&nu_empresa='+$('#nu_empresa').val();
            $.getJSON(url, function(data, status){
                console.log(data);
                var pf = 'Ponto focal: '+data.pontofocal;
                console.log(pf);
                var g = 'Gestor '+data.gestor;
                $('#ponto_focal').html(pf);
                $('#gestor').html(g);
                $('#ponto_focal').show();
                $('#gestor').show();
            } );
        }

        function atualizaEmbarcacaoProjeto(){
            var url = '/paginas/carregue.php?controller=cCTRL_COMBO&metodo=embarcacoesDaEmpresa';
            var data = { nu_empresa: $('#nu_empresa').val() } ;
            $('#containerEmbproj').html('(atualizando...)');
            $.post(url, data, function(data, status){
                $('#containerEmbproj').html(data);
            });

        }

    </script>
{% endblock %}
