<div style="margin:auto; background-color: #DADADA; font-weight: bold; padding-top: 15px; padding-left: 3px; font-size: 10px;">
    Homonimos <input type="text" id="nome_completo" style="padding:2px; font-size:10px;" /><a href="#" onclick="javascript:pesquisarHomonimos();" style=" background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0.4, rgb(245,245,245)),color-stop(0.7, rgb(224,224,224)),color-stop(0.85, rgb(217,217,217))); padding:2px 6px; font-size:inherit; font-family: inherit; border-radius: 4px; border:solid 2px #C0C0C0; color:#4389C0;">Pesquisar<a/>
</div>
<div style="margin:auto;" id="homonimos">
    {% include "intranet/candidato/homonimos_tmp.twig" %}
</div>

<script>
    function pesquisarHomonimos(){
        $('#homonimos').load('/paginas/carregue.php?controller=cCTRL_CANDIDATO&metodo=pesquisarHomonimos&nome='+$('#nome_completo').val().replace(' ', '%20')+'&nu_candidato_tmp={{nu_candidato_tmp}}');        
    }
</script>
