    {% if homonimos %}
        <table class="edicao dupla padded" style="width:100%">
            <colgroup>
                <col width="50px"/>
                <col width="80px"/>
            </colgroup>
            <tr>
                <th>Açao</th>
                <th>ID</th>
                <th>Empresa</th>
                <th>Nome</th>
                <th>Mae</th>
                <th>Pai</th>
                <th>Data nascimento</th>
                <th>Nacionalidade</th>
                <th>Passaporte</th>
            </tr>
            {% for candidato in homonimos %}
                <tr>
                    <td><a href="/paginas/carregue.php?controller=cCTRL_CANDIDATO_EXTERNO&metodo=associeExistente&nu_candidato={{candidato.NU_CANDIDATO}}&nu_candidato_tmp={{nu_candidato_tmp}}" title="Associar o cadastro temporário a esse candidato"><img src="/imagens/icons/connect.png"/></a></td>
                    <td>{{candidato.NU_CANDIDATO}}</td>
                    <td>{{candidato.no_razao_social}}</td>
                    <td><a href="/operador/detalheCandidatoAuto.php?NU_CANDIDATO={{candidato.NU_CANDIDATO}}" target="_blank">{{candidato.NOME_COMPLETO}}</a></td>
                    <td>{{candidato.NO_MAE}}</td>
                    <td>{{candidato.NO_PAI}}</td>
                    <td>{{candidato.dt_nascimento_fmt}}</td>
                    <td>{{candidato.no_nacionalidade}}</td>
                    <td>{{candidato.NU_PASSAPORTE}}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}        
        Nenhum homonimo encontrado
    {% endif %}
