{% set atributo = 'm' ~ campo %}
{% if not valor_cand %}
	{% set valor_cand = attribute(cand, atributo) %}
{% endif %}

<tr class="warning">
    <th>{{label}}</th>
    <td>
		<select id="CMP_{{campo}}" name="CMP_{{campo}}"   class="" style="">
		    {% for reg in regs %}
		        {% if valor_cand == reg.chave %}
		        	<option value="{{reg.chave}}" selected="selected">{{reg.descricao}}</option>
		        {% else %}
		        	<option value="{{reg.chave}}">{{reg.descricao}}</option>
		        {% endif %}
		    {% endfor %}
		</select>
    </td>
    <td style="text-align:center;">
    	&nbsp;
    </td>
    <td><input type="text" id="CMP_{{campo2}}" name="CMP_{{campo}}2" value="{{valor_dr}}" class="cmpTxt cmp" disabled="disabled"></td>
</tr>
