{% if experiencias %}
{% set i = 0 %}
<table class="interna">
    <colgroup>
        <col style="width:20px;"/>
        <col style="width:auto;"/>
        <col style="width:200px;"/>
        <col style="width:100px;"/>
        <col style="width:100px;"/>
        <col style="width:auto;"/>
    </colgroup>
    <tr>
        <th>#</th>
        <th>Company</th>
        <th>Occupation</th>
        <th>From</th>
        <th>To</th>
        <th>Activities</th>
    </tr>
    {% for exp in experiencias %}
    {% set i = i+1 %}
    <tr>
        <td>{{i}}</td>
        <td>{{exp.epro_no_companhia}}</td>
        <td>{{exp.epro_no_funcao}}</td>
        <td>{{exp.epro_dt_inicio_fmt}}</td>
        <td>{{exp.epro_dt_fim_fmt}}</td>
        <td>{{exp.epro_tx_atribuicoes}}</td>
    </tr>
    {% endfor %}
</table>{% endif %}
