{% extends "intranet/base_boot_comheader.twig" %}

{% block estilos %}
<style type="text/css">
tr.success th, tr.success td{
    color: #000;
}
.success{
    border: none;
}
.table input{
    font-size:11px;
    width:100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.table select{
    font-size:11px;
    width:100%;
    margin: 2px;
}
.table textarea{
    font-size:11px;
    width:100%;
}
.table tbody tr th{
    font-size:11px;
    padding: 3px;
}
.table tbody tr td{
    padding: 3px;
    padding-right: 8px;
    font-size:11px;
}
.table tr.subTitulo td{
    padding-top:10px;
    vertical-align: bottom;
    border-top: none;
    font-weight: bold;
    font-size: 14px;
}

.formtb tbody tr th{
    text-align: right !important;
    vertical-align: middle;
}

table.interna{ font-size:10px;}
table.interna tr th{
    font-weight: bold;
    border-bottom: solid 1px #7a7a7a;
    text-align: left;
}
table.interna tr:last-child td{
    border-bottom: solid 1px #7a7a7a;   
}
table.interna tr td{
    border-top: solid 1px #F5F5F5;   
}


</style>

{% endblock %}

{% block conteudo %}
<div class="conteudo">
    <div style="padding:8px;">
        <div class="titulo" style="padding:0px; float:left;">DATA REQUEST: "{{dr.mNOME_COMPLETO}}"</div>
        <div style="clear:both;"></div>
    </div>
    <div style="padding-left:8px;padding-right:8px;">
        {% include 'intranet/msg.twig' %}
        {% if servico.mNU_SERVICO > 0 and cand.mNU_CANDIDATO > 0 %}
            <div class="panel panel-primary" style>
                <div class="panel-heading">Serviço solicitado</div>
                <div class="panel-body">
                    {{servico.mNO_SERVICO_RESUMIDO}} {% if podeAbrirOs %} <a href="/paginas/carregue.php?controller=cCTRL_DR&metodo=getAbreOsDr&nu_candidato_tmp={{dr.mnu_candidato_tmp}}" class="btn btn-primary">Abrir OS</a>{% else %} (abra a OS pela lista){% endif %}
                </div>
            </div>
        {% endif %}
            <div class="panel panel-primary" >
                <div class="panel-heading">Atualmente associado a</div>
                <div class="panel-body">
            {% if cand.mNU_CANDIDATO > 0 %}
                    <table class="table" style="width:100%; margin-bottom: 0;">
                        <colgroup>
                            <col width="50px">
                            <col width="50px">
                            <col width="auto">
                            <col width="auto">
                            <col width="120px">
                            <col width="120px">
                            <col width="120px">
                            <col width="80px">
                            <col width="auto">
                            <col width="80px">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>Ação</th>
                                <th>ID</th>
                                <th>Empresa</th>
                                <th>Nome</th>
                                <th>Mãe</th>
                                <th>Pai</th>
                                <th>Data nascimento</th>
                                <th>Nacionalidade</th>
                                <th>Passaporte</th>
                            </tr>
                            <tr>
                                <td><a href="/paginas/carregue.php?controller=cCTRL_DR&metodo=getDesvinculeCandidato&nu_candidato_tmp={{dr.nu_candidato_tmp}}" title="Desvincula o DR desse candidato" class="btn btn-danger btn-xs"><i class="icon-signout"></i></a></td>
                                <td>{{cand.mNU_CANDIDATO}}</td>
                                <td>{{empresa.mNO_RAZAO_SOCIAL}}</td>
                                <td><a href="/operador/detalheCandidatoAuto.php?NU_CANDIDATO={{cand.mNU_CANDIDATO}}" target="_blank">{{cand.mNOME_COMPLETO}}</a></td>
                                <td>{{cand.mNO_MAE}}</td>
                                <td>{{cand.mNO_PAI}}</td>
                                <td>{{cand.mDT_NASCIMENTO}}</td>
                                <td>{{cand.mNO_PAIS}}</td>
                                <td>{{cand.mNU_PASSAPORTE}}</td>
                            </tr>
                        </tbody>
                    </table>
            {% else %}
            Nenhum estrangeiro associado a esse DR.
            {% endif %}
                </div>
        </div>
    {% if dr.mid_status_edicao == 4 %}
        <div class="panel panel-primary" style>
            <div class="panel-heading">Outros homônimos que podem ser associados</div>
            <div class="panel-body">

                <div style="margin:auto; background-color: #DADADA; font-weight: bold; padding-top: 15px; padding-left: 3px; font-size: 10px;">
                    Homônimos <input type="text" id="nome_completo" style="padding:2px; font-size:10px;"><a href="javascript:pesquisarHomonimos();" class="btn btn-xs btn-primary">Pesquisar</a>
                </div>
                <div id="containerHomonimos" class="wrapper" style="max-height: 200px; overflow:auto; text-align: center;">
                    {% include 'intranet/candidato/importa_dr_homonimos.twig' %}
                </div>
            </div>
        </div>
    {% endif %}
        <div class="panel panel-primary" style>
            <div class="panel-heading">Importar campos</div>
            <div class="panel-body">

                <form name="cTEMPLATE_CANDIDATO_EXTERNO" id="cTEMPLATE_CANDIDATO_EXTERNO" method="post" enctype="application/x-www-form-urlencoded" class="form-horizontal" action="/paginas/carregue.php?controller=cCTRL_DR&metodo=postImportarDr">
                    <input type="hidden" id="CMP_NU_CANDIDATO" name="CMP_NU_CANDIDATO" value="{{dr.mNU_CANDIDATO}}">
                    <input type="hidden" id="CMP_nu_candidato_tmp" name="CMP_nu_candidato_tmp" value="{{dr.mnu_candidato_tmp}}">
                    <input type="hidden" id="fechar" name="fechar" value="0">

                    <table class="table table-hover formtb">
                        <colgroup>
                            <col width="18%">
                            <col width="38%">
                            <col width="5%">
                            <col width="38%">
                        </colgroup>
                        <tbody>
                            <tr class="subTitulo">
                                <td colspan="5">Dados pessoais</td>
                            </tr>
                            {% include 'intranet/candidato/importa_dr_texto.twig' with {'label': 'Primeiro nome', 'campo': 'NO_PRIMEIRO_NOME'} %}
                            {% include 'intranet/candidato/importa_dr_texto.twig' with {'label': 'Nome do meio', 'campo': 'NO_NOME_MEIO'} %}
                            {% include 'intranet/candidato/importa_dr_texto.twig' with {'label': 'Último nome', 'campo': 'NO_ULTIMO_NOME'} %}
                            {% include 'intranet/candidato/importa_dr_texto.twig' with {'label': 'Nome do pai', 'campo': 'NO_PAI'} %}
                            {% include 'intranet/candidato/importa_dr_select.twig' with {'label': 'Nacionalidade pai', 'campo': 'co_pais_nacionalidade_pai', 'regs': nacionalidades} %}
                            {% include 'intranet/candidato/importa_dr_texto.twig' with {'label': 'Nome da mãe', 'campo': 'NO_MAE'} %}
                            {% include 'intranet/candidato/importa_dr_select.twig' with {'label': 'Nacionalidade mãe', 'campo': 'co_pais_nacionalidade_mae', 'regs': nacionalidades} %}
                            {% include 'intranet/candidato/importa_dr_select.twig' with {'label': 'Nacionalidade', 'campo': 'CO_NACIONALIDADE', 'regs': nacionalidades} %}
                            {% include 'intranet/candidato/importa_dr_mixed.twig' with {'label': 'Escolaridade', 'campo': 'CO_NIVEL_ESCOLARIDADE', 'campo2': 'NO_ESCOLARIDADE_EM_INGLES', 'valor_cand': cand.mCO_NIVEL_ESCOLARIDADE, 'valor_dr': dr.mNO_ESCOLARIDADE_EM_INGLES, 'regs': escolaridades} %}
                            {% include 'intranet/candidato/importa_dr_mixed.twig' with {'label': 'Estado civil', 'campo': 'CO_ESTADO_CIVIL', 'campo2': 'NO_ESTADO_CIVIL_EM_INGLES2', 'valor_cand': cand.mCO_ESTADO_CIVIL, 'valor_dr': dr.mNO_ESTADO_CIVIL_EM_INGLES, 'regs': estados_civis} %}
                            {% include 'intranet/candidato/importa_dr_select.twig' with {'label': 'Sexo', 'campo': 'CO_SEXO', 'regs': sexos} %}
                            {% include 'intranet/candidato/importa_dr_data.twig' with {'label': 'Data de nascimento', 'campo': 'DT_NASCIMENTO'} %}
                            {% include 'intranet/candidato/importa_dr_texto.twig' with {'label': 'Local de nascimento', 'campo': 'NO_LOCAL_NASCIMENTO'} %}
                            {% include 'intranet/candidato/importa_dr_texto.twig' with {'label': 'RNE', 'campo': 'NU_RNE'} %}


                            <tr class="subTitulo even"><td colspan="5">Dados de salário</td></tr>
                            {% include 'intranet/candidato/importa_dr_texto.twig' with {'label': 'Salário mensal', 'campo': 'VA_REMUNERACAO_MENSAL'} %}
                            {% include 'intranet/candidato/importa_dr_texto.twig' with {'label': 'Salário mensal no Brasil', 'campo': 'VA_REMUNERACAO_MENSAL_BRASIL'} %}
                            <tr class="subTitulo"><td colspan="5">Endereço residencial</td></tr>
                            {% include 'intranet/candidato/importa_dr_texto.twig' with {'label': 'Endereço', 'campo': 'NO_ENDERECO_RESIDENCIA'} %}
                            {% include 'intranet/candidato/importa_dr_texto.twig' with {'label': 'Cidade', 'campo': 'NO_CIDADE_RESIDENCIA'} %}
                            {% include 'intranet/candidato/importa_dr_select.twig' with {'label': 'País', 'campo': 'CO_PAIS_RESIDENCIA', 'regs': paises} %}
                            {% include 'intranet/candidato/importa_dr_texto.twig' with {'label': 'Telefone', 'campo': 'NU_TELEFONE_CANDIDATO'} %}

                            <tr class="subTitulo even"><td colspan="5">Endereço comercial</td></tr>
                            {% include 'intranet/candidato/importa_dr_texto.twig' with {'label': 'Endereço', 'campo': 'NO_ENDERECO_EMPRESA'} %}
                            {% include 'intranet/candidato/importa_dr_texto.twig' with {'label': 'Cidade', 'campo': 'NO_CIDADE_EMPRESA'} %}
                            {% include 'intranet/candidato/importa_dr_select.twig' with {'label': 'País', 'campo': 'CO_PAIS_EMPRESA','regs': paises} %}
                            {% include 'intranet/candidato/importa_dr_texto.twig' with {'label': 'Telefone', 'campo': 'NU_TELEFONE_EMPRESA'} %}

                            <tr class="subTitulo"><td colspan="5">Passporte</td></tr>
                            {% include 'intranet/candidato/importa_dr_texto.twig' with {'label': 'Número do passaporte', 'campo': 'NU_PASSAPORTE'} %}
                            {% include 'intranet/candidato/importa_dr_data.twig' with {'label': 'Data de emissão', 'campo': 'DT_EMISSAO_PASSAPORTE'} %}
                            {% include 'intranet/candidato/importa_dr_data.twig' with {'label': 'Data de expiração', 'campo': 'DT_VALIDADE_PASSAPORTE'} %}
                            {% include 'intranet/candidato/importa_dr_select.twig' with {'label': 'País', 'campo': 'CO_PAIS_EMISSOR_PASSAPORTE', 'regs': paises} %}
                            {% include 'intranet/candidato/importa_dr_mixed.twig' with {'label': 'Consulado onde o visto será coletado', 'campo': 'CO_REPARTICAO_CONSULAR', 'campo2': 'NO_REPARTICAO_CONSULAR', 'valor_cand': cand.mCO_REPARTICAO_CONSULAR, 'valor_dr': dr.mNO_REPARTICAO_CONSULAR, 'regs': reparticoes} %}

                            <tr class="subTitulo"><td colspan="5">Seaman's book</td></tr>
                            {% include 'intranet/candidato/importa_dr_texto.twig' with {'label': 'Número do Seamans book', 'campo': 'NO_SEAMAN'} %}
                            {% include 'intranet/candidato/importa_dr_data.twig' with {'label': 'Data de emissão', 'campo': 'DT_EMISSAO_SEAMAN'} %}
                            {% include 'intranet/candidato/importa_dr_data.twig' with {'label': 'Data de expiração', 'campo': 'DT_VALIDADE_SEAMAN'} %}
                            {% include 'intranet/candidato/importa_dr_select.twig' with {'label': 'País emissor', 'campo': 'CO_PAIS_SEAMAN', 'regs': paises} %}

                            <tr class="subTitulo even"><td colspan="5">Descrição das atividades</td></tr>
                            <tr >
                                <th>Empresa</th>
                                <td><input type="text" value="{{empresa.mNO_RAZAO_SOCIAL}}" class="cmpTxt cmp" disabled="disabled"></td>
                                <td style="text-align:center;">&nbsp;</td>
                                <td><input type="text" value="{{empresa.mNO_RAZAO_SOCIAL}}" class="cmpTxt cmp" disabled="disabled"></td>
                            </tr>
                            {% include 'intranet/candidato/importa_dr_select.twig' with {'label': 'Embarcação/projeto', 'campo': 'NU_EMBARCACAO_PROJETO', 'regs': projetos} %}
                            {% include 'intranet/candidato/importa_dr_mixed.twig' with {'label': 'Função', 'campo': 'CO_FUNCAO', 'campo2': 'NO_FUNCAO_EM_INGLES', 'valor_cand': cand.mCO_FUNCAO, 'valor_dr': dr.mNO_FUNCAO_EM_INGLES, 'regs': funcoes} %}
                            {% include 'intranet/candidato/importa_dr_mixed.twig' with {'label': 'Profissão', 'campo': 'CO_PROFISSAO_CANDIDATO', 'campo2': 'NO_FUNCAO_EM_INGLES', 'valor_cand': cand.mCO_PROFISSAO_CANDIDATO, 'valor_dr': dr.mNO_PROFISSAO_EM_INGLES, 'regs': profissoes} %}
                            {% include 'intranet/candidato/importa_dr_select.twig' with {'label': 'Local da embarcação/projeto', 'campo': 'loca_id', 'regs': locais} %}
                            <tr class="subTitulo"><td colspan="5">Experiência anterior</td></tr>
                            {% include 'intranet/candidato/importa_dr_textarea.twig' with {'label': 'Experiência anterior', 'campo': 'TE_TRABALHO_ANTERIOR_BRASIL'} %}
                        </tbody>
                    </table>
                    <div style="text-align: center;">
                    {% if dr.mid_status_edicao == '' or dr.mid_status_edicao == 1 or  dr.mid_status_edicao == 2   %}
                        <!-- Aguardando o preenchimento e envio -->
                        <a href="#" class="btn">DR aguardando preenchimento do candidato</a>
                    {% elseif dr.mid_status_edicao == 3   %}
                        <!-- Aguardando o preenchimento e envio -->
                        <a href="/paginas/carregue.php?controller=cCTRL_DR&metodo=getEnviarParaAprovacao&nu_candidato_tmp={{dr.mnu_candidato_tmp}}" class="btn btn-primary">(Re)enviar para aprovação do cliente</a>
                    {% elseif dr.mid_status_edicao == 4 %}
                        <!-- ENVIADO - Aguardando a criação do candidato para enviar para revisao -->
                        {% if dr.mNU_CANDIDATO > 0 %}
                            <button type="submit" title="Clique para atualizar as informações cadastrais do candidato" class="btn btn-primary"><i class="icon-save"></i> Salvar alterações</button>
                            <button type="submit" title="Clique para atualizar as informações cadastrais do candidato" class="btn btn-primary"><i class="icon-save"></i> Salvar alterações e encerrar DR</button>
                        {% else %}
                            <button type="button" title="Clique para salvar os dados em um novo candidato" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="icon-save"></i> Salvar criando novo</button>
                        {% endif %}
                    {% elseif dr.mid_status_edicao == 5 %}
                        <a href="#" class="btn">DR finalizado</a>
                    {% endif %}
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-primary" style>
            <div class="panel-heading">Experiência detalhada</div>
            <div class="panel-body">
            <table class="table condensed">
                <tr>
                    <th>Empresa</th>
                    <th>Desde</th>
                    <th>Até</th>
                    <th>Função</th>
                    <th>Descrição atividades</th>
                </tr>
            {% for exp in experiencias %}
                <tr>
                    <td>{{exp.epro_no_companhia}}</td>
                    <td>{{exp.epro_dt_inicio_fmt}}</td>
                    <td>{{exp.epro_dt_fim_fmt}}</td>
                    <td>{{exp.epro_no_funcao}}</td>
                    <td>{{exp.epro_tx_atribuicoes|raw}}</td>
                </tr>
            {% endfor %}
            </table>
            </div>
        </div>
        <div class="panel panel-primary" style>
            <div class="panel-heading">Arquivos informados</div>
            <div class="panel-body">
                <div class="well well-sm">Os arquivos serão automaticamente migrados para o candidato associado quando o DR for importado</div>
                {% include 'intranet/candidato/importa_dr_arquivos.twig' %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Criação de novo candidato</h4>
            </div>
            <div class="modal-body">
                <p>Você entende que está cadastrando um novo estrangeiro para esse DR, ao invés de associá-lo a um dos estrangeiros existentes? Você quer mesmo criar um novo estrangeiro no sistema?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Não! Cancelar</button>
                <button id="btnConfirmar" type="button" class="btn btn-success" onclick="enviar();">Sim, confirmar!</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
    var $table;
    $(document).ready(function(){
        ajustaTabelaHomonimos();
    });

    function CopiaValoresCampos(pNome, pDe, pPara) {
        $('#CMP_' + pNome + pPara).val($('#CMP_' + pNome + pDe).val());
        atualizaClasses('CMP_' + pNome + pPara);
    }
    $('.monitorado').change(function(){
        var id = $(this).attr('id');
        atualizaClasses(id);
    });

    function fechar(){
        $('#fechar').val('1');
        $("#cTEMPLATE_CANDIDATO_EXTERNO").submit();
    }

    function atualizaClasses(id){
        var id2 = id+'2';
        if ($('#'+id).val() == $('#'+id2).val()){
            $('#'+id).parents('tr').removeClass('danger');
            $('#'+id).parents('tr').addClass('success');
        } else {
            $('#'+id).parents('tr').removeClass('success');
            $('#'+id).parents('tr').addClass('danger');
        }
    }

    function pesquisarHomonimos(){
        var url = '/paginas/carregue.php?controller=cCTRL_DR&metodo=getHomonimos';
        $table.floatThead('destroy');
        $('#containerHomonimos').html('<i class="icon-spin icon-spinner"></i> Carregando... (aguarde)');
        $('#containerHomonimos').load(url,  { "nu_candidato_tmp": $('#CMP_nu_candidato_tmp').val(), "nome_completo": $('#nome_completo').val() }, function(){
            ajustaTabelaHomonimos();
        });
    }

    function ajustaTabelaHomonimos(){
        $table = $('#containerHomonimos table');
        $table.floatThead({
            scrollContainer: function($table){
                return $table.closest('.wrapper');
            }
        });
    }

    function enviar(){
        $('#btnConfirmar').text('Aguarde...');
        $('#btnConfirmar').prop('disabled', true);
        $('#cTEMPLATE_CANDIDATO_EXTERNO').submit();
    }
</script>

{% endblock %}
