{% set atributo = 'm' ~ campo %}
{% if not valor_cand %}
	{% set valor_cand = attribute(cand, atributo) %}
{% endif %}
{% if not valor_dr %}
	{% set valor_dr = attribute(dr, atributo) %}
{% endif %}


{% if valor_dr != valor_cand %}
	{% set class = 'danger' %}
{% else %}
	{% if valor_cand == '' %}
		{% set class = 'warning' %}
	{% else %}
		{% set class = 'success' %}
	{% endif %}
{% endif %}

<tr class="{{class}}">
    <th>{{label}}</th>
    <td><textarea id="CMP_{{campo}}" name="CMP_{{campo}}" rows="5" class="cmpTxt cmp monitorado">{{valor_cand|raw}}</textarea></td>
    <td style="text-align:center;">{% include 'intranet/candidato/importa_dr_botao.twig' %}</td>
    <td><textarea id="CMP_{{campo}}2" name="CMP_{{campo}}2" rows="5" class="cmpTxt cmp" disabled="disabled">{{valor_dr|raw}}</textarea></td>
</tr>
