{% set atributo = 'm' ~ campo %}
{% if not valor_cand %}
	{% set valor_cand = attribute(cand, atributo) %}
{% endif %}
{% if not valor_dr %}
	{% set valor_dr = attribute(dr, atributo) %}
{% endif %}


{% if valor_dr != valor_cand %}
	{% set class = 'danger' %}
{% else %}
	{% if valor_cand == '' %}
		{% set class = 'warning' %}
	{% else %}
		{% set class = 'success' %}
	{% endif %}
{% endif %}

<tr class="{{class}}">
    <th>{{label}}</th>
    <td>
		<select id="CMP_{{campo}}" name="CMP_{{campo}}"   class="monitorado" style="">
		    {% for reg in regs %}
		        {% if valor_cand == reg.chave %}
		        	<option value="{{reg.chave}}" selected="selected">{{reg.descricao}}</option>
		        {% else %}
		        	<option value="{{reg.chave}}">{{reg.descricao}}</option>
		        {% endif %}
		    {% endfor %}
		</select>
    </td>
    <td style="text-align:center;">{% include 'intranet/candidato/importa_dr_botao.twig' %}</td>
    <td>
    	<select id="CMP_{{campo}}2" name="CMP_{{campo}}2"   class="" style="" disabled="disabled">
		    {% for reg in regs %}
		        {% if valor_dr == reg.chave %}
		        	<option value="{{reg.chave}}" selected="selected">{{reg.descricao}}</option>
		        {% else %}
		        	<option value="{{reg.chave}}">{{reg.descricao}}</option>
		        {% endif %}
		    {% endfor %}
		</select>
	</td>
</tr>
