{% if dr.mid_status_edicao == 4   %}
	<button onclick="javascript:CopiaValoresCampos('{{campo}}', '2', ''); return false;" class="btn btn-xs btn-success"><i class="icon icon-inve icon-arrow-left"></i></button>
{% else %}
	&nbsp;
{% endif %}
