    <table class="table small" style="width:100%; margin-bottom:0;">
        <colgroup>
            <col width="50px">
            <col width="50px">
            <col width="auto">
            <col width="auto">
            <col width="120px">
            <col width="120px">
            <col width="120px">
            <col width="80px">
            <col width="auto">
        </colgroup>
        <thead>
            <tr>
                <th style="background-color: #fff; text-align: center;">Ação</th>
                <th style="background-color: #fff; text-align: center;">ID</th>
                <th style="background-color: #fff; text-align: left;">Empresa</th>
                <th style="background-color: #fff; text-align: left;">Nome</th>
                <th style="background-color: #fff; text-align: left;">Mãe</th>
                <th style="background-color: #fff; text-align: left;">Pai</th>
                <th style="background-color: #fff; text-align: center;">Data nascimento</th>
                <th style="background-color: #fff; text-align: left;">Nacionalidade</th>
                <th style="background-color: #fff; text-align: center;">Passaporte</th>
            </tr>
        </thead>
        <tbody>
            {% if msg %}
                <tr><td colspan="9">{{msg}}</td></tr>
            {% else %}
                {% if homonimos %}
                    {% for homonimo in homonimos %}
                    <tr>
                        <td style="text-align: center;"><a href="/paginas/carregue.php?controller=cCTRL_DR&metodo=getAssociaDrACandidato&nu_candidato={{homonimo.NU_CANDIDATO}}&nu_candidato_tmp={{dr.nu_candidato_tmp}}" title="Associar o DR a esse candidato" class="btn btn-primary btn-xs"><i class="icon-signin"></i></a></td>
                        <td style="text-align: center;">{{homonimo.NU_CANDIDATO}}</td>
                        <td style="text-align: left;">{{homonimo.no_razao_social}}</td>
                        <td style="text-align: left;"><a href="/operador/detalheCandidatoAuto.php?NU_CANDIDATO={{homonimo.NU_CANDIDATO}}" target="_blank">{{homonimo.NOME_COMPLETO}}</a></td>
                        <td style="text-align: left;">{{homonimo.NO_MAE}}</td>
                        <td style="text-align: left;">{{homonimo.NO_PAI}}</td>
                        <td style="text-align: center;">{{homonimo.dt_nascimento_fmt}}</td>
                        <td style="text-align: left;">{{homonimo.no_nacionalidade}} ({{homonimo.no_pais}})</td>
                        <td style="text-align: center;">{{homonimo.NU_PASSAPORTE}}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </tbody>
    </table>
