{% if arquivos %}
<table class="table">
      {% for arquivo in arquivos %}
            <tr>
                  <td colspan="5"><a href="/paginas/carregue.php?controller=cCTRL_ARQUIVO&amp;metodo=download&amp;NU_SEQUENCIAL={{arquivo.NU_SEQUENCIAL}}" target="_blank">{{arquivo.NO_ARQ_ORIGINAL}}</a></td>
            </tr>
      {% endfor %}
</table>
{% endif %}
