            <nav>
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% for i in 0..qtdPag %}
                    <li><a href="/paginas/carregue.php?controller=cCTRL_DR&metodo=listarPendentes&pag={{i}}">{{i+1}}</a></li>
                {% endfor %}
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
