{% extends "intranet/base_boot_comheader.twig" %}

{% block conteudo %}
    <div class="titulo">
        <div class="texto">DATA REQUESTs Pendentes
        </div>
    </div>
    <div class="conteudoInterno">
        <form class="form-inline" method="post">
            <input type="hidden" name="foipostado" value="1"/>
            <div class="panel panel-primary" style>
                <div class="panel-heading">Filtros
                    <div class="btn-group pull-right"><input type="submit" value="Pesquisar" class="btn btn-warning btn-sm"/></div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputName2">Status</label>
                                <select id="escopo" name="escopo">
                                    <option value="todas" {% if escopo == 'todas' %} selected {% endif %}>Todos</option>
                                    <option value="pendentes" {% if escopo == 'pendentes' %} selected {% endif %}>Somente pendentes</option>
                                    <option value="expirados" {% if escopo == 'expirados' %} selected {% endif %}>Expirados</option>
                                    <option value="importados" {% if escopo == 'importados' %} selected {% endif %}>Importados</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputName2">Nome</label>
                                <input type="text" class="form-control" id="nome_completo" name="nome_completo" placeholder="" value="{{nome_completo}}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputName2">Empresa</label>
                                <select id="nu_empresa" name="nu_empresa">
                                    {% for valor in empresas %}
                                        <option value="{{ valor.chave }}" {% if valor.chave == nu_empresa %} selected {% endif %}>{{ valor.descricao|raw }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
                
        {% if cadastros_pendentes %}
            <table class="table table-striped small floaThead">
                <colgroup>
                    <col width="50px"/>
                    <col width="100px"/>
                    <col width="auto"/>
                    <col width="auto"/>
                    <col width="auto"/>
                    <col width="auto"/>
                    <col width="auto"/>
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Ação</th>
                        <th>Empresa<br/><span style="font-style: italic; color:#999;">Emb.Proj</span></th>
                        <th>Candidato</th>
                        <th>Serviço</th>
                        <th style="text-align: center;">Status</th>
                        <th style="text-align: center;">Cadastro</th>
                        <th style="text-align: center;">Enviado em</th>
                    </tr>
                </thead>
                <tbody>
                {% set i =  1 %}
                {% set conv_id_ant = '' %}
                {% for cand in cadastros_pendentes %}
                    {% if conv_id_ant != cand.conv_id %}
                        {% if cand.conv_id != '' %}
                        <tr>
                            <th colspan="8" style="vertical-align: middle;">{{cand.nome}} ({{cand.email}}) - {{cand.no_servico_resumido}} 
                            {% if cand.qtdDrs > 0 %}
                                <a href="/paginas/carregue.php?controller=cCTRL_DR&metodo=getAbreOsConvidado&conv_id={{ cand.conv_id }}" class="btn btn-primary btn-xs" target="_blank"><i class="icon-magic"></i> Criar OS</a>
                            {% endif %}
                            </th>
                        </tr>
                        {% else %}
                        <tr>
                            <th colspan="8">(Avulsos)</th>
                        </tr>
                        {% endif %}
                        {% set conv_id_ant = cand.conv_id %}

                    {% endif %}
                    <tr>
                        <td class="text-center">{{i}}</td>
                        <td class="text-center">
                        {% if cand.id_status_edicao != '5' %}
                            <a href="/paginas/carregue.php?controller=cCTRL_DR&metodo=getImportarDr&nu_candidato_tmp={{ cand.nu_candidato_tmp }}" class="btn btn-primary btn-xs " target="_blank"><i class="icon-edit"></i></a>
                        {% else %}
                            <a href="#" class="btn btn-success btn-xs " title="DR ja importado"><i class="icon-check"></i></a>
                        {% endif %}
                            <a href="#" onclick="confirmaExclusao('{{ cand.nu_candidato_tmp }}');" class="btn btn-danger btn-xs "><i class="icon-trash"></i></a>
                        </td>
                        <td>{{cand.no_razao_social}}
                            <br/><span style="font-style: italic; color:#999;">{{cand.no_embarcacao_projeto}}</span>
                            <br/><span style="font-style: italic; color:#999; font-size: 10px; pardding-top:4px;">{{cand.responsaveis|raw}}</span>
                        </td>
                        <td>
                            {% if cand.id_status_edicao != '5' %}
                                {{cand.NOME_COMPLETO}}
                            {% else %}
                                <a href="/operador/detalheCandidatoAuto.php?NU_CANDIDATO={{cand.nu_candidato}}" target="_blank">{{cand.nome_completo_definitivo}} ({{cand.nu_candidato}})</a>
                            {% endif %}
                        </td>
                        <td>{{cand.no_servico_resumido}}
                        {% if cand.id_status_edicao == '5' %}
                            {% if cand.id_solicita_visto %}
                                <br/><a href="/operador/os_DadosOS.php?&ID_SOLICITA_VISTO={{cand.id_solicita_visto}}&id_solicita_visto={{cand.id_solicita_visto}}" class="btn btn-success btn-xs" target="_blank">OS {{cand.nu_solicitacao}}</a>
                            {% else %}
                                {% if not cand.conv_id %}
                                    <br/><a href="/paginas/carregue.php?controller=cCTRL_DR&metodo=getAbreOsDr&nu_candidato_tmp={{ cand.nu_candidato_tmp }}" class="btn btn-primary btn-xs" target="_blank"><i class="icon-magic"></i> Criar OS</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        </td>
                        <td style="text-align: center;">{{cand.status}}</td>
                        <td style="text-align: center;">{{cand.cadastro|raw}}</td>
                        <td style="text-align: center;">{{cand.dt_envio_edicao_fmt}}</td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    <div class="modal fade" id="confirmaExcl">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirma a exclusao desse DR?</h4>
                </div>
                <div class="modal-body">
                    Essa operação não poderá ser desfeita, e as informaçoes preenchidas pelo cliente serão perdidas.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                    <a id="link_exclusao" href="#" class="btn btn-primary" >Sim, confirmo!</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
{% block popups %}
    <script>
        {% if msg %}
            jAlert('{{msg}}');
        {% endif %}

        function confirmaExclusao(nu_candidato_tmp) {
            $('#link_exclusao').attr('href', '/paginas/carregue.php?controller=cCTRL_DR&metodo=excluir&nu_candidato_tmp='+nu_candidato_tmp);
            $('#confirmaExcl').modal();
        }
    </script>
{% endblock %}
