<form method="post" onsubmit="return FormValido();">
    <input type="hidden" id="CMP_vprocesso_prorrog_ctrlEnvio" name="CMP_vprocesso_prorrog_ctrlEnvio" value="1">
    <input type="hidden" id="CMP___edicao" name="CMP___edicao" value="processo_prorrog_edit">
    <input type="hidden" id="CMP___acao" name="CMP___acao" value="">
    <input type="hidden" id="CMP___altura" name="CMP___altura" value="300">
    <input type="hidden" id="CMP___largura" name="CMP___largura" value="800">
    <input type="hidden" id="CMP___titulo" name="CMP___titulo" value="">
    <input type="hidden" id="CMP_nu_servico" name="CMP_nu_servico" value="14">
    <input type="hidden" id="CMP_codigo" name="CMP_codigo" value="36455">
    <input type="hidden" id="CMP_cd_candidato" name="CMP_cd_candidato" value="45419">
    <input type="hidden" id="CMP_cd_solicitacao" name="CMP_cd_solicitacao" value="">
    <input type="hidden" id="CMP_codigo_processo_mte" name="CMP_codigo_processo_mte" value="54554">
    <input type="hidden" id="CMP_id_solicita_visto" name="CMP_id_solicita_visto" value="">
    <div class="ui-widget tituloProcesso ">
    	{% if proc.mid_solicita_visto > 0 %}
    	OS {{os.mNU_SOLICITACAO}} Prorrogação {{ status_cobranca_os.mstco_tx_nome|upper }}
    	{% else %}
    	&nbsp;&nbsp;--&nbsp;&nbsp; Prorrogação
    	{% endif %}
        <div class="barraBotoesTitulo">
            <input type="button" value="Salvar" title="Salvar as alterações" class="" onclick="javascript:ConfirmaAcao(this, 'SALVAR', '', '', '');return false;">
        </div>
    </div>
    <div class="detalheProcesso ">
        <table class="edicao dupla">
            <colgroup>
	            <col width="18%">
	            <col width="28%">
	            <col width="5%">
	            <col width="18%">
	            <col width="28%">
           	</colgroup>
           	<tbody>
           		<tr>
           			<th>Número do Protocolo</th>
           			<td>
           				<input type="text" id="CMP_nu_protocolo" name="CMP_nu_protocolo" value="08000.024589/2015-38" class="cmpTxt processo cmpMte">&nbsp;
           				<input type="button" value="MTE" onclick="javascript:veracomp(08000.024589/2015-38,'MTE','08000024589201538');" class="botaoLink" style="width:auto;padding:0;padding-top:0;margin:0;padding-left:1px;padding-right:1px;" title="Clique para ver o processo no Ministério do Trabalho">&nbsp;
           				<input type="button" value="MJ" onclick="javascript:AbrePagina('MJ', 'http://portal.mj.gov.br/EstrangeiroWEB/resultado_prorrogacao.asp?CodigoProcesso=08000.024589/2015-38');" class="botaoLink" style="width:auto;padding:0;padding-top:0;margin:0;padding-left:1px;padding-right:1px;" title="Clique para ver o processo no Ministério da Justiça">
           			</td>
           			<td>&nbsp;</td>
           			<th>Data de envio BSB</th>
           			<td><input type="text" id="CMP_dt_envio_bsb" name="CMP_dt_envio_bsb" value="14/08/2015" class="cmpDat cmp hasDatepicker"><img class="ui-datepicker-trigger" src="/images/calendar3.png" alt="..." title="..."></td>
           		</tr>
	            <tr>
	            	<th>Data de Requerimento</th>
	            	<td><input type="text" id="CMP_dt_requerimento" name="CMP_dt_requerimento" value="17/08/2015" class="cmpDat cmp hasDatepicker"><img class="ui-datepicker-trigger" src="/images/calendar3.png" alt="..." title="..."></td><td>&nbsp;</td>
	            	<th>Prazo Pretendido</th>
	            	<td><input type="text" id="CMP_dt_prazo_pret" name="CMP_dt_prazo_pret" value="17/08/2017" class="cmpDat cmp hasDatepicker"><img class="ui-datepicker-trigger" src="/images/calendar3.png" alt="..." title="..."></td>
	            </tr>
            	<tr>
            		<th>Data publicação DOU</th>
            		<td><input type="text" id="CMP_dt_publicacao_dou" name="CMP_dt_publicacao_dou" value="" class="cmpDat cmp hasDatepicker"><img class="ui-datepicker-trigger" src="/images/calendar3.png" alt="..." title="..."></td>
            		<td>&nbsp;</td>
            		<th>Página do DOU</th>
            		<td><input type="text" id="CMP_nu_pagina_dou" name="CMP_nu_pagina_dou" value="" class="cmpTxt cmp"></td>
            	</tr>
            	<tr>
            		<th>Status</th>
            		<td>
            		{% if (proc.mid_solicita_visto > 0) %}
            			{% include 'intranet/campos/campo_combo.html' with{'nome': "id_status_solicitacao", 'regs': status_solicitacao} %}
            		{% else %}
            			{% include 'intranet/campos/campo_combo.html' with{'nome': "id_status_conclusao", 'regs': status_conclusao} %}
            		{% endif %}
            		</td>
            	</tr>
            	<tr>
            		<th>Observação</th>
            		<td colspan="4"><textarea id="CMP_observacao" name="CMP_observacao" class="cmpMEMO cmp" rows="5"></textarea></td>
            	</tr>
            	<tr class="subTitulo">
            		<td colspan="5" style="border-top:none;">Pré-cadastro</td>
            	</tr>
            	<tr>
            		<th>Número do pré-cadastro</th>
            		<td><input type="text" id="CMP_nu_pre_cadastro" name="CMP_nu_pre_cadastro" value="" class="cmpTxt cmp"></td><td>&nbsp;</td>
            		<th>Data do pré-cadastro</th>
            		<td><input type="text" id="CMP_dt_pre_cadastro" name="CMP_dt_pre_cadastro" value="" class="cmpDat cmp hasDatepicker"><img class="ui-datepicker-trigger" src="/images/calendar3.png" alt="..." title="..."></td>
            	</tr>
            	<tr>
            		<th>Data de envio BSB</th>
            		<td><input type="text" id="CMP_dt_envio_bsb_pre_cadastro" name="CMP_dt_envio_bsb_pre_cadastro" value="" class="cmpDat cmp hasDatepicker"><img class="ui-datepicker-trigger" src="/images/calendar3.png" alt="..." title="..."></td><td>&nbsp;</td>
            		<th>Data de Requerimento</th>
            		<td><input type="text" id="CMP_dt_requerimento_pre_cadastro" name="CMP_dt_requerimento_pre_cadastro" value="" class="cmpDat cmp hasDatepicker"><img class="ui-datepicker-trigger" src="/images/calendar3.png" alt="..." title="..."></td>
            	</tr>
			</tbody>
    	</table>
	</div>
</form>
