<select id="{{ nome }}" name="{{ nome }}" {% if readonly %} disabled {% endif %}>
    {% for valor in valores %}
        <option value="{{ valor.chave }}" {% if valor.chave == valor_atual%} selected {% endif %}>{{ valor.descricao|raw }}</option>
    {% endfor %}
</select>
