{% extends "intranet/base_commenu.html" %}

{% block conteudo %}
	<div class="titulo">
        <div class="texto">Fornecedores (importados do Sankhya)
        </div>
    </div>
	<div class="conteudoInterno">
		{% if regs %}
    	<table class="grid">
    		<colgroup>
    			<col style="width:60px;"/>
    			<col style="width:auto;"/>
    		</colgroup>
    		<thead>
		    <tr>
				<th>ID</th>
				<th>Nome</th>
		    </tr>
		    </thead>
		    <tbody>
			{% for reg in regs %}
		    <tr>
				<td class="cen">{{ reg.id_fornecedor }}</td>
				<td class="esq">{{ reg.nome }}</td>
		    </tr>
			{% endfor %}
		    </tbody>
		</table>
		{% endif %}
	</div>
{% endblock %}
